[2019-10-08 23:46] LisaAlmarode commented on #468
In 3.0.78, looks just like my most recent graphic.

[2019-10-09 00:04] LisaAlmarode commented on #513
The basic issue is fixed, so I am fine to remove the November 19 label.

I'm not entirely sure I follow the details of the discussion. Are there some behaviors that are incorrect, or do you want to improve the underlying code?

(Boy, do I dislike autocomplete!  It slowed things down like crazy (perhaps since I'm remote), and I accidentally entered wrong code.  I suggest the default be off).

[2019-10-09 00:06] LisaAlmarode commented on #527
I think for November 19 that multiple logins should be disabled, if they can't be patched up enough.  Disable and re-enable of buttons seems reasonable.

[2019-10-09 16:26] ericwinger commented on #540
So far not much to report. Dolphin appears to get stuck inside one of it's own ``ifCurtailed:`` blocks during some sort of termination in the variable list view. Jadeite code, so far, does not appear to be implicated.

[2019-10-09 17:58] LisaAlmarode opened #547 "Status bar should not shrink porportionally (3.0.78)"
In taking a browser screen shot, I see the camera icon was cropped to quarter-size and not recognizably a camera.

This is exaggerated, but this illustrates the problem.

![image](https://user-images.githubusercontent.com/13142166/66507106-6fded280-ea83-11e9-82d7-9d3a8529750f.png)

[2019-10-09 18:08] ericwinger commented on #527
Login button disabled after login in Oscar 3.0.79.  For full support of multiple sessions, please open a new feature request issue with specifications.

[2019-10-09 18:13] LisaAlmarode opened #548 "Title for debugger window"
The title bar for the debugger is "Jadeite Debugger for...".  I'd prefer this to be just "Debugger for...", since I'd then be able to identify it the task bar at the bottom of my screen.

The project browser, implementors and senders, process browser have all had the leading jadeite removed (good)

The leading jadeite is still there on the SUnit Browser - nice to remove it here, too.

I like the l

[2019-10-09 18:16] LisaAlmarode opened #549 "User Browser hard-to-find, and while otherwise read-only, allows you to add user (3.0.78)"
We have a User Browser that is available as an icon on the console icon bar, but does not have a menu item.  This needs to be added as a menu item - otherwise we will forget it's there and it will decay.

Mostly this appears to be read-only, so is fine in spite of some layout issues.  However, it does appear to allow you to add a user via a popup menu.  This should be disabled.

[2019-10-09 18:27] LisaAlmarode opened #550 ""Reformat source" without save is not working right in method browsers (3.0.78)"
In a Method Browser with a method selected, I select "reformat source".  The source is reformatted and the method pane turns green.

The undo menu item does not work (problem 1).

If I click in the white space to clear the text pane, I click no for "stay on unsaved method"... which gives a purple rectangle artifact.  Then when I click on the method again I get an error dialog "Array does not under

[2019-10-09 18:30] LisaAlmarode commented on #550
Side observation of another deficiency in the method browser, the text pane popup menu:  in the PB, the save, undo and redo menu items are disabled if there were no changes.  In the MB, these menu items are always enabled.

[2019-10-09 20:23] LisaAlmarode opened #551 "OtherPassword privilege perhaps-unnecessarily required (3.0.78)"
With a (non-DataCurator/SystemUser) user with CodeModification but NOT with OtherPassword privilege, some things work but some other things don't work.   While there are some gotchas in using symboldictionary and symbollists without OtherPassword in this old server version, it seems like the specific failures here seem to be using symbol dictionaries as temporary dictionaries when perhaps ordinary

[2019-10-09 20:28] LisaAlmarode commented on #551
Also get this from time to time in the debugger, when attempting to find popup menu.
![image](https://user-images.githubusercontent.com/13142166/66517624-4d0ae900-ea98-11e9-9e73-9a2b93c71210.png)

[2019-10-09 20:43] LisaAlmarode commented on #144
I believe in 3.0.78 that I can run without #rowanCompile and with GsPackagePolicy current enabled = false, and save methods and creates classes and suchlike.  OtherPassword still required for some operations cf issue #551

[2019-10-09 21:08] LisaAlmarode commented on #536
The usual reformat source shortcut is control-shift-O.

In 3.0.78, In the debugger, the reformat menu item works, but claims to use control-R as the shortcut.  In fact, either control-R nor control-shift-O perform a reformat (they put little red DC2s or SIs in the source pane)

I think the debugger also creates sticky reformatting (reformat, click off, don't save, return to method later).

[2019-10-09 21:12] ericwinger commented on #536
@LisaAlmarode I'm a bit confused. Here is what I see in 3.0.78.

![image](https://user-images.githubusercontent.com/36212516/66520802-b55cc900-ea9e-11e9-9417-9a891029d1fd.png)

[2019-10-09 21:55] dalehenrich opened #552 "(3.0.77) Changes menu item returns changes for Rowan project only"
When I ask for changes on projects other than Rowan, I seem to only get Rowan changes ... a look at RowanProjectServices>>changes is a possible clue. Note that Rowan is wired in as a constant:
[code]

[2019-10-10 02:25] LisaAlmarode opened #553 "Jadeite settings in preferences file (3.0.78)"
transcript writes enabled makes my system very slow.  Long ago we added a very basic preferences disk file (you can view it using Console Browse menu item Browse Preferences File), which for me has transcriptEnabled false.  In 3.0.77 and earlier, after I login transcript writes enabled is always off and never slows me down ever.

Starting with 3.0.78, my setting is ignored, and transcript writes e

[2019-10-10 02:33] LisaAlmarode commented on #536
![image](https://user-images.githubusercontent.com/13142166/66534594-8d378f00-eacb-11e9-9c38-3703d208ac2d.png)

[2019-10-10 15:39] ericwinger commented on #536
Oh wait, ``Reformat Source Ctrl+Shft+O`` was fixed in the debugger to work in 3.0.78 but the shortcut was fixed in 3.0.79.

I'll close for review when 3.0.79 is release.

[2019-10-10 15:40] ericwinger commented on #536
Also see #542

[2019-10-10 18:51] LisaAlmarode commented on #553
The format used in v77 and earlier has changed in v78; a colon is now required.  The legal values should be documented somewhere, possibly in a newly created file.

- [x] assuming this is how you figure out the settings, there should be an option to create a new file even if one exists rather than having to go look in your directory for some file.

 - [x] all legal tokens for settings should be in

[2019-10-10 18:59] LisaAlmarode commented on #553
- [x] Also; on login, you get an index out of bound error dialog if there's an empty line in the preferences file.  It continues and appears to work, but the error isn't enjoyable to see.

[2019-10-10 19:38] ericwinger opened #554 "Find Class... location"
Currently, menu option ``Find Class...`` is in two places - on the console's ``Browse`` menu and on the browser's ``Jadeite`` menu.  (There is no ``Browse`` menu in the projects menu bar)

@dalehenrich suggests we make it consistent which presumably means putting it on the ``Jadeite`` menu in the console.

Need @LisaAlmarode opinion - Should ``Find Class...`` be moved to the ``Jadeite`` menu on th

[2019-10-10 20:08] dalehenrich commented on #554
You incorrectly presume that I want the item on the Jadeite menu ... My personal opinion is that the set of menus presented "should be the same" for "all of the windows" ... if that were true, then I would want the `Find class` menu item under the `Class` menu ... you are free to ignore my opinions:)

[2019-10-10 21:02] ericwinger commented on #468
Lisa-tested fix in 3.0.79

[2019-10-10 21:02] #468 closed, assigned to LisaAlmarode

[2019-10-10 23:46] ericwinger commented on #553
@LisaAlmarode - Can you provide better default text for the preferences file? Here is a draft:

[code]

[2019-10-11 18:13] LisaAlmarode commented on #425
Raised the priority since this really does seem like a missing piece.

[2019-10-11 18:28] LisaAlmarode commented on #541
Verified that in the right side middle pane, if you have something selected in the upper right pane such that the middle right pane is not empty, the popup menu contains select all, but the select all is not enabled. In this case, if you left-click into the pane so focus is on that pane, though, this menu item (and the others) do become enabled.

Somewhat worse: if there is not anything selected i

[2019-10-11 18:36] LisaAlmarode commented on #552
In 3.0.78, I verified that after I changed a method in RowanSample1, Tonel, Rowan, and Izmir, each of these projects, the changes menu item only returns the set of changes in that correct project.

The contents of RowanProjectService >> changes in my image is

	| jadeServer |
	jadeServer := Rowan platform jadeServerClassNamed: #JadeServer.
	changes := Array new.
	self packageNames do:[:packageName

[2019-10-11 18:55] LisaAlmarode opened #555 "Make class/instance tab status more visible (3.0.78)"
This is a follow-on to issue #530.  It is very hard to notice if you are on the instance or class side; it was easier in GBS, where the class/instance was on the top of the pane.  A boder line being a few pixels lower in the middle of the windows is much harder to see.

I would suggest making the selected tab's title bold.  A color change would work too.  Or some other idea.

[2019-10-11 19:06] LisaAlmarode commented on #554
No, I don't like the find class on the jadeite menu.  On the console, I rather want the Jadeite menu item for system wide settings (see my other request to move the display etc. to the edit menu).  The PB Jadeite menu item "New Project Browser" is the same as the Console Browse "Browse Projects", so the inconsitency is not limited to find class.

While I also believe that the menus should be the s

[2019-10-11 19:26] LisaAlmarode opened #556 "Funny orange boxes enabled for Sunit tab, but error"
I saw some orange arrows and a red x on the upper right of my PB.  When I click on these I get error dialogs such as "JadeiteSUnitInClassPresenter does not understand #moveCardRight".

It appears that these boxes are disabled normally (correctly when I have just one project tab open), but become enabled when I click on the Sunit tab for a test class.

[2019-10-11 19:34] LisaAlmarode opened #557 "Project Browser retains SUnit tab contents when new class selected (3.0.78)"
If I've got a test class selected, and click on the SUnit tab, I see a list of tests.

If I select a different, non-test class, and click in the SUnit tab, I incorrectly see the same list of tests as was presented for the previously selected test class.
This pane should be empty for a non-test class.

You can select and run tests, too, and it will run the test for the previously-selected test clas

[2019-10-11 19:46] LisaAlmarode commented on #291
in 3.0.78, I am happy to see the correct highlights when I open the debugger.

However...

If you highlight one of the tokens with a breakpoint (trying to remove it), you get the "Break at step point 22", NOT the "Clear break at step point 22", so you cannot remove the breakpoint in the debugger.

Worse: After you bring up the menu item to attempt to remove a breakpoint, which you cannot do, if yo

[2019-10-11 19:50] LisaAlmarode commented on #381
The main part of this bug works nicely. I still see the artifacts in the code-pane-maximized view, but I don't do this and so will wait on someone else being bothered.

[2019-10-11 20:49] LisaAlmarode commented on #544
This is not just an enhancement. Having to open a new browser in order to see methods that have had breakpoints added is a clumpsy workaround.

Jadeite's theme is that things automatically update, so probably newly breakpointed methods should automatically be added. as well as removing methods with the last breakpoint removed. But an update would be enough if this is too much to paste onto a metho

[2019-10-11 21:23] ericwinger commented on #553
Not closed but changes ready for review in 3.0.79

[2019-10-11 21:23] LisaAlmarode opened #558 "Added menu item "Browse Commit In Github" needs some work (3.0.78)"
This menu item got added at some point, but it is not very useful for end users, (that is, anyone other than Dale and Eric)

When I have selected RowanSample1, and use this menu item, I get a GitHub page that is 404,
[code]
When I select my own package, I get a Jadeite error dialog,
[code]
It should probably be disabled in cases that won't work.

[2019-10-11 21:38] LisaAlmarode opened #559 "Project Pane in Project Browser has lost multi-select (3.0.78)"
Used to be (and in UG) that you could select multiple projects in the project pane of the project browser. Now, I can't select more than one.

Multiple select of projects is working in the console.

[2019-10-11 21:51] LisaAlmarode commented on #553
It's not bad.
 - the order should match the menu in Jadeite, and not mix options and starting windows.
 - Some defaults should be changed.

[code]

[2019-10-11 21:56] ericwinger commented on #553
You didn't want them alphabetical?  Seems like that would be more predictable than trying to remember to change the order whenever we change the menu.

[2019-10-11 21:59] ericwinger commented on #559
That's correct. When I added the (NONE) project, it became obvious that a multi select was not going to work because of the weird nature of (NONE). Without going into a long discussion, managing multiple selections was going to be very difficult and probably not ever going to be right. Making it single selection was much cleaner. ... The project list is still multi-select for operations for multi-

[2019-10-11 21:59] #559 closed, assigned to ericwinger

[2019-10-11 22:08] dalehenrich commented on #425
I agree that this is a missing piece, but for November 19, it is not a requirement - and you did not tag it as November 19:)

[2019-10-11 22:42] dalehenrich commented on #554
In our current universe we have a `Browse menu` on the Console and a set of `Projects`, `Packages`, `Classes`, and `Methods` menus on the Project Browser ... The Console `Browser` menu is a partial collection of some menu items "cherry-picked" from the set of Project Browser menus.

I **expect** to find `Find class` on the Project Browser `Classes` menu, but right now it is on the `Jadeite` menu .

[2019-10-11 22:48] dalehenrich commented on #544
There **are** enabled and disable breakpoints and being able to browse `disabled` breakpoints would be useful ... a enabled/disabled/all filter on an automatically updating breakpoint browser would meet my use cases ...

[2019-10-11 22:55] dalehenrich commented on #558
Didn't know that menu item existed:) I like the idea, but I think it is a bit difficult to know whether or not a particular commit is actually available on github (you have to have pushed for the commit to be on github) ...
There is code available in the pharo community (requiring a port on our part ... and I guess a port to Dolphin for Jadeite?) that uses the github api that *could* be used to an

[2019-10-11 22:58] dalehenrich commented on #553
If you were to use STON format for all disk-based objects, we'd have a consistent  syntax that users and computers could share ... just a thought ...

[2019-10-11 22:58] dalehenrich commented on #553
accidental close

[2019-10-11 23:34] LisaAlmarode commented on #554
So I think you mean, the Find class... is wrong in both places; it's not only that you want them in the same place...  you also want them the place they would be intuitive (it's a different mental model than I use for menu items, which is more of applies-to-selected, so not really intuitive for me, but a case can be made).

I think an overhaul is needed whatever model we have, but I hesitate to tr

[2019-10-11 23:43] LisaAlmarode commented on #553
I think having to update both if you add or remove menu items is a feature.  Reordering the menu items without making any substantial changes that affect the preferences ought to be rare...

The list isn't currently long enough for alphabetization to matter... but I do want the menu item order to match, and if that gets long enough to require alphabetization in the prefs, then the menu items might

[2019-10-11 23:46] dalehenrich commented on #554
Agree 100%- I never thought this would be a target for November ... what we have now is better than what it was before ... but I'm putting in my $0.02 now ... i repeat that these are my opinions and they can be ignored:)

[2019-10-11 23:55] LisaAlmarode commented on #544
I'm not aware of how to enable or disable individual breakpoints, it's just a system-wide setting... am I missing something?  You can remove them, but then they are removed and can't be browsed.

The system wide disable breakpoints setting does seem to apply to only preexisting breakpoints; if breakpoints are disabled and you create a breakpoint, the new one not disabled.  And the disabled breakpo

[2019-10-11 23:58] dalehenrich commented on #544
@ericwinger and I talked about the need for a more detailed breakpoint browser and that's what I'm referring to ...again this is a future direction not an immediate requirement and whatever we do for Nov (if anything) won't be a final solution

[2019-10-11 23:59] dalehenrich commented on #544
see #545 for the report that kicked off the discussoin ...

[2019-10-12 00:00] LisaAlmarode opened #560 "Package/Projects/Class drop down menus get "break at step point 1" menu item (3.0.82)"
if you have a method selected with focus, the Projects, Packages, Classes, Categories methods all get a "Break at step point 1" menu item.

![image](https://user-images.githubusercontent.com/13142166/66691006-7d918500-ec48-11e9-8fe5-2ba24a49f0e8.png)

[2019-10-12 00:35] dalehenrich opened #561 "need to be able to see full class hierarchies (all the way to the leaf classes independent of package/symbol dictionary boundaries)"
I'm running into an issue where I am not able to a find any single view of a particular class hiararchy ... I'll include a couple of pictures and then we can talk about this when we're all in the office (not Nov target)...

What I would like to be able to do is see all of the subclasses of StashAbstractTool -- in one view ... I am trying to udertand the class hieracyhy and I would also want to be

[2019-10-12 01:27] dalehenrich commented on #561
This is the type of hierarchy view i'd like to see in one view:
![image](https://user-images.githubusercontent.com/623951/66692582-acadf380-ec54-11e9-8d56-7380885ec1b5.png)

[2019-10-14 17:04] LisaAlmarode commented on #561
There is a definite deficiency currently in our ability to see a full heirarchy and get a sense of what all classes are there... and my particular complaint also is that you can get the mistaken impression that a class has only one subclass.  Eric and I discussed this issue in person in the context of issue #156, but it wasn't going to be easy in the current browser.

[2019-10-14 17:29] dalehenrich commented on #561
... understood, that's whu this is only tagged enhancement ...

[2019-10-14 18:23] LisaAlmarode commented on #553
Verified in 7.0.79, all five configs are picked up.  Open even works on (NONE), and invalid name causes open without anything selected (correct).

If you forget the semicolon in a setting it can be hard to spot the error, and I think the code ought to be able to work around that... but this is minor, not worth worrying about.

[2019-10-14 18:37] LisaAlmarode commented on #553
The system defaults on login with no preferences files are not correct.

autocommitEnabled is false  -good
autocompleteEnabled is true --WRONG
breakpointsEnabled is true  -good
loggingEnabled is true --WRONG (for customers)
transcript writes is true --WRONG (for customers)

The text of the preferences file should match the defaults on startup.

[2019-10-14 20:53] LisaAlmarode commented on #542
This is the same as #536.

[2019-10-14 20:55] LisaAlmarode commented on #536
Working in 3.0.79, but there's still a stickiness issue, which is described under issue #550.

[2019-10-14 21:02] LisaAlmarode commented on #468
Working nicely in 3.0.79.  I note that a * matches exactly one character, which is slightly different wild-card semantics from the usual... might be nice to add a note to the dialog, but I guess folks would figure it out.

[2019-10-14 21:06] LisaAlmarode opened #562 ""Find next" should not open a dialog (3.0.79)"
After you've done a find, if you want to find the next instance, it's nice that the find next/F3 item exists.  However, if it opens up a new dialog you might as well just use the find, it's not faster.  Unless there's some subtle difference between find and find next, I'd like the find next/F3 key to just find the next match without opening a dialog.

[2019-10-14 21:09] LisaAlmarode opened #563 "Support multiple concurrent login sessions to GemStone"
As if v3.0.79, multiple logins are disallowed, per issue #527.  This is better than providing incorrect views (we were getting leakage across sessions).

However it would be nice to get this working, as time allows.

[2019-10-14 21:15] LisaAlmarode commented on #527
There are cases when you logout that the login does not become re-enabled.  This happens:
  - open the sunit browser
  - run tests
  - debug a test that has a assertion fail
  - open debugger
  - close console.  All windows go away except the login dialog, but the login dialog login button is still disabled.

[2019-10-14 21:18] LisaAlmarode opened #564 "Jadeite Login, Advanced tab, Debug GCI button needs to be a tad wider"
If you go to the advanced tab, there's a button labled "Debug GCI".  I clicked this (somewhat at random to see if I could get the Login button re-enabled).  While it looks fine when you start there, the act of clicking on it messes up the display.

![image](https://user-images.githubusercontent.com/13142166/66783686-4c55c680-ee8d-11e9-856e-af643742d1bc.png)

[2019-10-14 21:20] LisaAlmarode commented on #522
Looks fine in 3.0.79

[2019-10-14 21:28] LisaAlmarode commented on #524
autocommit is not enabled in workspaces, which seems somewhat incorrect.  Otherwise while I am not a personal fan it seems to be working and logically consistent.

[2019-10-14 21:37] LisaAlmarode opened #565 "Would like "browse selected" in the SUnit tab of the Project Browser (3.0.79)"
I have a test class hierarchy with inherited tests. When I'm running tests in my concrete subclass, I seem to regularly want to look at the source code for a particular test.  But since the source is in some superclass, that method is not listed in the methods pane.

There's nothing to describe what class that particular method is actually implemented in, and no way to get there; I have to guess a

[2019-10-14 21:48] LisaAlmarode opened #566 "Change SUnit menu items in Method Pane popup (3.0.79)"
The method pane has some menu items to run Sunit tests, and they are different from the other menu names that perform these operations, and are also very inconsistent between each other.  I'm often confused.

The method browser items are:
   Debug Tests
   Run All Tests
   Run Selected

Equivalents used elsewhere are:
   Run All
   Run Selected
   Debug

- [x] Items should be in the same order
- [

[2019-10-14 21:55] ericwinger commented on #291
Have a fix for both problems mentioned - incorrect "set" menu item and breakpoints moving in inner blocks. Fixed in 3.0.80

[2019-10-14 21:55] #291 closed, assigned to LisaAlmarode

[2019-10-14 22:02] LisaAlmarode commented on #515
I can't find the Clear All Breakpoints menu in 3.0.79.

![image](https://user-images.githubusercontent.com/13142166/66785947-9346ba80-ee93-11e9-82e1-67870780e6fa.png)

[2019-10-14 22:55] ericwinger commented on #550
I've got a fix in 3.0.80 to make ``reformat source`` un-doable. However, the second complaint is not related to reformatting. I'm going to close this bug and open a new one for that without the urgent label. It's a weird Dolphin artifact.

[2019-10-14 22:56] ericwinger opened #567 "Weird gui artifact in project browser after clicking on dialog"
From #550 .

If I click in the white space to clear the text pane, I click no for "stay on unsaved method"... which gives a purple rectangle artifact. Then when I click on the method again I get an error dialog "Array does not understand #start". It also shows the formatted, not the original text.

If I click on the same method in the project browser, the original method is restored and the method

[2019-10-14 22:56] ericwinger commented on #550
See #567

[2019-10-14 23:15] ericwinger commented on #556
Fixed in 3.0.80.  Moving system tabs was broken but only when sunit tab was selected.

[2019-10-14 23:42] LisaAlmarode opened #568 "Workspace popup menu gets ridiculously long menu items for Browse Senders/Implementors,"
If you are in a workspace, the popup menu (but not the drop downs from the menu bar) include browse class and browse senders or implementors.  But it doesn't distiguish a method, it's just whatevers highlighted.  When I highlight all to copy, the menu item is... ridiculous.  If nothing else at least the text could be truncated so it stays on the same monitor.

![image](https://user-images.githubus

[2019-10-15 00:47] LisaAlmarode commented on #553
I'm finding the preferences workspace/s slightly confusing as to the titles and names.

The Browse Preferences file opens with the title
   C:\GS\Oscar\Jadeite.prefs for SystemUser on stone...
and has added menu items
   Preferences Options Workspace
   Reset Preferences to default.

- [ ] I think this ought to have something in the title, indicating it's the Prefs File Browser - maybe instead, th

[2019-10-15 18:40] LisaAlmarode opened #569 "Method Compile on class update should not warn about unused temps (3.0.79)"
When you add an instance variable, class instance variable or class variable to a class...
You can get a bajillion dialogs in sequence, one for each method that is getting recompiled and has unused temps.  This is quite painful; I had to press yes on a dialog 14 times, as it turned out.

I've marked this November, but it may not actually be important in practice so it could be deferred.

![image](

[2019-10-15 19:01] ericwinger commented on #527
``GciSession current`` wasn't getting set to nil when the transcript was closed. Should see the ``Login`` button enabled properly now in 3.0.80 in [the scenario described] (https://github.com/GemTalk/Jadeite/issues/527#issuecomment-541926154).

[2019-10-15 19:01] #527 closed, assigned to LisaAlmarode

[2019-10-15 19:03] ericwinger commented on #547
@LisaAlmarode Is this really a requirement for November release?

[2019-10-15 20:41] LisaAlmarode commented on #547
No, not if it's too much work.  The cropping is quite noticeable even with just somewhat smaller windows, but it doesn't become unusable until the window is smaller than anyone would really use.

[2019-10-15 20:50] LisaAlmarode commented on #534
The menu item was added... but went missing per issue #515; should be re-added in that issue.

[2019-10-15 20:53] LisaAlmarode commented on #533
And OK with referring to it as a breakpoint browser since (at least we hope, as this went missing in 3.0.79 per recent comment in issue #515) it has the additional clear all breakpoints menu item.

[2019-10-15 21:12] LisaAlmarode commented on #520
This needs more work.  First of all, I suspect that issue #586 is the result of this fix and boy is that annoying for someone that does a lot of copy and paste.

In a workspace,  highlight the following gets good results (the --> line is what the popup menu item includes)
RBParser parseExpression: 'env:categoriesDo:'
  -> browse senders of parseExpression:
RBParser parseExpression: 'env:categories

[2019-10-15 21:24] LisaAlmarode commented on #517
Looks nice, but it is true that the method context is not available in the debugger though not quite so clear why.  I like the method context in the debugger in GBS.

[2019-10-15 21:40] LisaAlmarode commented on #530
This issue got a bit muddled. The bulk of this is discussion about the selection of class or instance doesn't seem to have any problems (other than new issue #555 reported).

The case where RowanClassService on the class side showed an empty dictionary is fixed in 3.0.79.

There were cases long ago in which some menu operations acted wonky (e.g. drag and drop moved methods to the class side), due

[2019-10-15 21:40] #530 closed, assigned to LisaAlmarode

[2019-10-15 21:43] dalehenrich opened #570 "(3.0.78 & V2.0) dependent project not updated in console when parent project is loaded"
In Rowan V2.0, dependent projects have been introduced and this means that when a project is loaded, it could cause one or more dependent projects to be loaded as well. I have noticed that in 3.0.78, only the project that is explicitly loaded gets refreshed and a subsequent `Refresh` is required to update the dependent project.

The `st_launcher` project depends upon the `stash` project, which mea

[2019-10-15 21:44] LisaAlmarode commented on #516
Problems don't reproduce in 3.0.79

[2019-10-15 22:07] LisaAlmarode opened #571 "Reformat source with no changes, and the method template (3.0.78)"
I tried reformatting the method template.  It changed.  I think our method template should conform to our formatting rules.

Then, I reformatted it again.  It turned green. Since there was no change, it would have been nice for it not to have turned green.

[2019-10-15 23:33] ericwinger commented on #541
The focus grab should behave the same as the debugger source pane now, effictive 3.0.80.

[2019-10-15 23:33] #541 closed, assigned to LisaAlmarode

[2019-10-16 01:23] dalehenrich opened #572 "(3.0.78) Cannot resolve class named #'DeafObject'"
This came up while browsing in the dictionary view ... never heard of a `DeafObject` class, but there it is:
[code]

[2019-10-16 17:26] dalehenrich opened #573 "Browse instvar readers/writer/both searching in all super/subclasses ..."

[2019-10-16 17:30] dalehenrich opened #574 "variable references showing unexpected methods"
The method shown does not have a reference to `args`, however there is a method in the hierarchy with the same selector that does:
 ![image](https://user-images.githubusercontent.com/623951/66943283-aaa2b680-efff-11e9-84ce-4f60e584fe09.png)

[2019-10-16 17:37] dalehenrich opened #575 "variables tab sort order inconsistency ..."
With variables tab active note that `_scriptName`sorts first (after selecting class):
![image](https://user-images.githubusercontent.com/623951/66943566-4b917180-f000-11e9-96c9-e2dea5d30688.png)
... when category tab clicked and returning to variables tab `_scriptName` sorts at bottom:
![image](https://user-images.githubusercontent.com/623951/66943534-39173800-f000-11e9-9c9b-68c77e86fecf.png)
Like

[2019-10-16 17:41] ericwinger commented on #515
@LisaAlmarode  Looks like there is some timing behavior going on as I see the ``Clear All Breakpoints`` menu item. Can you help me narrow the reproduction case?

![image](https://user-images.githubusercontent.com/36212516/66944122-703a1900-f001-11e9-98a2-24fdcdd200be.png)

[2019-10-16 17:51] ericwinger commented on #553
@LisaAlmarode  I'm confused by your comment. https://github.com/GemTalk/Jadeite/issues/553#issuecomment-541847476. ``Transcript Enabled`` and ``Auto Complete Enabled`` default to ``true``.

Here's the defaults that currently exist:
![image](https://user-images.githubusercontent.com/36212516/66944466-1423c480-f002-11e9-977f-563bfed0e17d.png)

Here's what I changed the default preferences file to ef

[2019-10-16 17:57] LisaAlmarode commented on #515
If you open the breakpoint browser from the methods pane of the Project Browser, the menu item isn't there.

[2019-10-16 18:08] LisaAlmarode commented on #553
I think autocomplete should be off by default, as it's a startling change (speaking from experience).  The simpler behavior should be the default. And the previously existing behavior - so I'll go along with leaving transcript writes enabled.

I don't see the funky initial settings now when I delete the prefs and restart... must not have deleted the prefs file enough...

[2019-10-16 18:25] ericwinger commented on #568
Got a fix for this in 3.0.80. There are any number of ways to truncate a menu item without losing the handy functionality this provides. Now Jadeite truncates the name when it encounters a space as it is possible to have ridiculously and legitimately long selectors.

[2019-10-16 21:33] ericwinger commented on #569
That is pretty ugly although one could make a case that compile warnings should be cleaned up by the programmer.  Nonetheless, I've suppressed CompileWarning's during the method recompilation phase of the class save in Oscar 3.0.80.

[2019-10-16 21:33] #569 closed, assigned to LisaAlmarode

[2019-10-16 22:07] ericwinger commented on #515
Fixed in 3.0.80. Clear All available regardless of where ``Browse Breakpoints`` is opened.

[2019-10-16 22:07] #515 closed, assigned to LisaAlmarode

[2019-10-17 00:53] LisaAlmarode opened #576 "Failed display operation in debugger middle right pane hangs (3.0.80)"
I put in a breakpoint in a test class, and opened a debugger to verify issue #541.  I had selected the first item in the upper left pane, so in the middle left pane, it was showing the class and method of the test case (in this case, ExampleTestCase>>#testInteger), the one that had the breakpoint.  I brought up the menu and clicked 'Display'.  What it did was partly paint an MNU walkback (which is

[2019-10-17 01:08] LisaAlmarode commented on #568
thank you!  It's much better.

But it could use more work...

  - I see my random text truncated with a trailing ..., and then search is on the whole thing.  Given that a space is not ever going to work, I think the appended ... is rather a waste of time, and if the user is going to search, make it be just on the first token.

  - A ridiculously long method name could in fact use the trailing ...

[2019-10-17 01:12] LisaAlmarode commented on #556
The orange buttons still get enabled when I click on the Sunit tab (with only one project tab).  The left and right don't error, but they shouldn't be enabled at all.

The x closes the current tab, leaving no tabs at all in the browser, which is wrong-er.  However, this can be deferred for November.

[2019-10-17 01:47] dalehenrich opened #577 "(3.0.80) On login, "SmallInteger does not understand isSeparator""
This has only happened in one of my 3 stones ... all three stones were built using the same version of Rowan ... the previous build using )scar-3.0.78 was logging in fine:
![image](https://user-images.githubusercontent.com/623951/66971181-0ba0ad80-f045-11e9-9a05-4eaf46f9874e.png)
No error file was produced ...

[2019-10-17 01:49] dalehenrich commented on #577
@ericwinger, tomorrow you should be able to do test logins ...

[2019-10-17 01:52] dalehenrich commented on #577
Here's the error i get when trying to login as DataCurator:
![image](https://user-images.githubusercontent.com/623951/66971399-f710e500-f045-11e9-9d0a-5f5e41befe63.png)
This does happen to be an image into which tODE has been loaded (as DataCurator) ... also this image is using legacy streams ...

[2019-10-17 01:54] dalehenrich opened #578 "(3.0.80) after closing the error dialg, login button goes inactive"
![image](https://user-images.githubusercontent.com/623951/66971495-53740480-f046-11e9-9a20-0d7ecfc30bd5.png)

[2019-10-17 15:34] dalehenrich commented on #577
I was able to use 3.0.78 to log into the pre-Oscar-3.0.78 merge without a problem ... and of course I'm getting an expected error when I try to use 3.0.78 against this stone:
![image](https://user-images.githubusercontent.com/623951/67024277-fe250b00-f0b8-11e9-8646-1e41e4a78a46.png)

[2019-10-17 16:17] ericwinger commented on #577
Have possible fix in server only code -
https://github.com/GemTalk/Rowan/commit/790f98a2b3e57f145871c856357ffc4c23bed1c9

[2019-10-17 16:23] ericwinger commented on #577
Dale confirmed fix. Will be in 3.0.81

[2019-10-17 16:23] #577 closed, assigned to LisaAlmarode

[2019-10-17 16:25] ericwinger commented on #577
@LisaAlmarode  - The confirmation test is that you have double byte / quad byte symbols in ``AllSymbols`` and can still login.

[2019-10-17 17:00] ericwinger commented on #578
I would expect less-than-desirable behavior from Jadeite after an unexpected error. The solution in this case is to close the login window and reopen Jadeite.

If that is not acceptable, I can wrap the login code in an error handler which fixes the conditions so the button will re-enable before showing the error dialog. However, that isn't a very good solution either.

Reassigning to @dalehenrich

[2019-10-17 17:43] LisaAlmarode opened #579 "Code formatter always reporting illegal source (3.0.80)"
![image](https://user-images.githubusercontent.com/13142166/67033555-e0f93800-f0ca-11e9-8118-5c4287b7069c.png)

[2019-10-17 17:44] dalehenrich commented on #578
I think that the code should always work correctly even in the presence of errors .... agree that it is not a high priority ... but for completeness this should be fixed ...

[2019-10-17 17:51] ericwinger commented on #579
Not sure what's happening as it's working for me with the same method. If you email me your stone's login information, I might be able to see what error ``RowanMethodService>>reformatSource`` is doing.

[2019-10-17 20:00] dalehenrich commented on #552
... just understood that the source for the method in my image is different than the source that you are seeing and that is likely to be a result of a merge mistake on my part when I made changes to how changes were handled for V2.0 ... I'll need to create a patch for V2.0

[2019-10-17 20:12] #552 closed, assigned to dalehenrich

[2019-10-17 22:30] martinmcclure opened #580 "Abort of new method -> "String does not understand #format:""
Jadeite 3.0.80, Rowan sha b9fe7fcf.

In a browser, define a new method.
Leaving the new method selected, press the toolbar abort button/
Pop-up "String does not understand #format:"

[2019-10-17 22:45] ericwinger commented on #401
Believe I have support added for debugger step through in 3.0.81

[2019-10-17 23:08] dalehenrich commented on #580
Just an additional note that both Martin and I are working in candidateV2.0 (specifically issue_308) ... so [merge mistakes](https://github.com/GemTalk/Jadeite/issues/552#issuecomment-543338055) could be a root cause ... this particular case looks like a STON issue (IIRC #format: is sent in the case of a STON parsing error and this message is not present in Dolphin)

[2019-10-18 00:05] ericwinger commented on #579
``Interval>>stonOn:``  not committed to package but lived in my stone.
Therefore the bug didn't reproduce for me until I changed stones.
Method committed and issue resolved in 3.0.81.

[2019-10-18 00:05] #579 closed, assigned to LisaAlmarode

[2019-10-18 16:26] ericwinger opened #581 "(3.0.81) Implementors Of.../Senders Of... doesn't show selection list"
In recent work related to symbol retrieval, the symbol suggestions when you use ``Browse Implementors Of...\\ or ``Browse Senders Of ...`` got broken. You get an empty list which is not helpful.

[2019-10-18 17:57] ericwinger commented on #581
Fixed in 3.0.82

[2019-10-18 17:57] #581 closed, assigned to LisaAlmarode

[2019-10-18 18:45] ericwinger commented on #573
Should be fixed in 3.0.82

[2019-10-18 19:34] LisaAlmarode commented on #577
I created a DoubleByteSymbol... as a value in UserGlobals.  I presume this puts it in AllSymbols.  Was able to login fine in 3.0.81, but it completely breaks my access to UserGlobals.  Will file a separate bug.

[2019-10-18 19:39] LisaAlmarode opened #582 "SymbolDictionary browser completely broken by an unreadable value in a Global"
if you do something like this in topaz:
run
UserGlobals at: #bad put: '£¥š' asSymbol
%
so that:
run
bad class name
%
DoubleByteSymbol

You can login but any attempt to go to the (NONE) dictionary UserGlobals will result in
an error Can't gold $\x161.  You cannot look at anything in this dictionary at all.

[2019-10-18 19:50] LisaAlmarode commented on #527
I thought I saw a hole (where it wasn't reenabled) after an exit... but I can't reproduce.  I'm calling this done, it's going to be easy to see if does occur.

[2019-10-18 19:51] LisaAlmarode commented on #401
Oops, hit wrong button

[2019-10-18 20:26] LisaAlmarode commented on #401
I think I understand the feature, and I believe it's working.

But it does need a better icon.  While cute, I don't think the little apple is appropriate here.

![image](https://user-images.githubusercontent.com/13142166/67125853-89ca9480-f1aa-11e9-9978-822fac3899fc.png)

Speaking of icons, I also still have the blue circle question mark in the upper left of the SUnit browser.

[2019-10-18 20:31] LisaAlmarode commented on #550
Reformat undo/redo working very nicely.  Stickiness gone.

[2019-10-18 20:37] LisaAlmarode commented on #536
While reformat works fine, there's still a stickiness problem.  This is only in the debugger; the PB working very nicely (issue #550), so reopening this to handle the specific issue with stickiness in the debugger.

In v3.0.81, if you are in the debugger and reformat, and click on another method it asks you if you want to stay on the changed method; if you say no, and then later click back to the

[2019-10-18 20:41] LisaAlmarode commented on #550
Another oops reopen.

[2019-10-18 20:42] #550 closed, assigned to LisaAlmarode

[2019-10-18 20:55] LisaAlmarode opened #583 "Undo/Redo in method list browser (3.0.81)"
When you first arrive at a method in the Project Browser, redo/undo/save are disabled.
When you first arrive at a method in the Method List Browser, redo/undo/save are enabled.

This is not correct: enablement should be the same.

(also note: in the Project Browser, delete is enabled, which deletes under whereever the cursor is when you bring up the popup).
Also, I see there's no edit menu on the

[2019-10-18 21:01] ericwinger commented on #401
Yes, I sent email on the icon. The apple is temporary.  I'll have it fixed up in the next few days.

If you have an issue with the SUnit browser, please open a new issue.

[2019-10-18 21:09] LisaAlmarode commented on #401
The Sunit issue has been open a long time, it's issue #346.

[2019-10-18 21:46] ericwinger commented on #582
@LisaAlmarode - I couldn't reproduce the exact problem but I did find a similar problem which I fixed. Can you put this code into ``RowanDictionaryService`` replacing the existing method and see if it fixes the specific case you're seeing?

[code]

[2019-10-18 22:13] ericwinger commented on #566
Should look like this as of 3.0.82.

![image](https://user-images.githubusercontent.com/36212516/67131502-c81b8000-f1b9-11e9-8196-dfd7fec58896.png)

[2019-10-18 22:13] #566 closed, assigned to LisaAlmarode

[2019-10-18 23:02] ericwinger commented on #576
Essentially, if you get an error while building a menu `F12` is your friend because the debugger is trying to be opened in the Dolphin dialog modal thread which prevents other processes from running. Hence the hang. I would expect that.

I would like to try to reproduce this to see if there's anything that can be done given this limitation. However, I'm confused by the reproduction case. Can you e

[2019-10-18 23:04] ericwinger commented on #580
Please let me know if this reproduces in 3.0.81 or later as I can't reproduce it. There was a missing method in my release. The issue described looks like it could have come from this area.

[2019-10-18 23:08] ericwinger commented on #578
I've reset the session on login errors in 3.0.82. Manual testing shows that the login button re-enables after an error.

[2019-10-18 23:08] #578 closed, assigned to LisaAlmarode

[2019-10-18 23:21] LisaAlmarode commented on #576
I don't select anything - I just open the popup when I'm over that pane, and select display.
The act of popping puts a selection point into the line somewhere, and display (per Jadeite norms) executes all of whatever line of text the selection point is on when nothing is selected.  It tries to execute ExampleTestCase>>#testInteger which hangs.

[2019-10-18 23:29] ericwinger commented on #575
Think I've got a fix for this in 3.0.82. Do the sort on the client now.

[2019-10-18 23:29] #575 closed, assigned to LisaAlmarode

[2019-10-21 16:41] ericwinger commented on #401
New icon will appear in 3.0.82.

[2019-10-21 16:41] #401 closed, assigned to LisaAlmarode

[2019-10-21 17:12] ericwinger commented on #553
It's my preference to set the autocomplete default to `true`. If one hasn't used the product before, it won't be a startling change. And if you don't like it, it's easy to disable permanently through preferences.

The alternative is to stumble across the feature by reading the manual or reading the preferences
 file or setting menu options then turn it on. Since I find it quite handy, I'd rather k

[2019-10-21 17:12] #553 closed, assigned to LisaAlmarode

[2019-10-21 17:16] ericwinger opened #584 "Would like changed method indicator on tab"
If multiple tabs are open in a project browser, finding the tab with your changed method is overly cumbersome. Adding a `*` or making the tab red to show changes are unsaved would be helpful. It also might be valuable to add a change indicator on the `Method Source` tab itself.

[2019-10-21 17:17] ericwinger commented on #582
No feedback yet. Believed fixed in 3.0.82.

[2019-10-21 17:17] #582 closed, assigned to LisaAlmarode

[2019-10-21 17:28] LisaAlmarode opened #585 "Additional preference: on login, automatically open workspace on file"
I would like to be able to automatically open workspaces from files, on login.

My original thought was how annoying it is that I can't keep the console workspace contents alive from session to session.  But opening a separate workspace is probably more useful.

[2019-10-21 22:58] LisaAlmarode opened #586 "Debugger layout regression, after step through added (3.0.81)"
When step through was added, it looks like the text for "Message Not Understood" was not moved with it, and is now covering up the circle-arrow restart icon.

Pre-release 82, and my 81:

![image](https://user-images.githubusercontent.com/13142166/67249011-fb107e80-f41a-11e9-9d3f-2d4b30db2135.png)

Some older version:
![image](https://user-images.githubusercontent.com/13142166/67249122-5d697f00-f41

[2019-10-21 23:51] LisaAlmarode opened #587 "Class definition compile errors not handles as nicely as method compile errors (3.0.81)"
Compile errors in compiling the class definition in the project browser either get an inline for a syntax error, or put up a walkback for something undefined.  It's not nearly as nice as the way method compile errors are handled.

![image](https://user-images.githubusercontent.com/13142166/67251098-bbe62b80-f422-11e9-973f-c4298f39baa6.png)

![image](https://user-images.githubusercontent.com/131421

[2019-10-22 01:00] LisaAlmarode opened #588 "Aesthetic, accuracy and completeness issues (3.0.81)"
- [x] The Project Browser Comparison and Project Tabs have an icon 'abc' next to them.  This seems neither useful, pretty, nor accurate.  At least, 'abc' implies a String, but Comparison Tab is two panes... neither editable... and them, tabs that are editable text, like the Class Documentation tab, don't have this icon.

- [x] There's an empty line in the Project tab text with a three-box icon, an

[2019-10-22 20:33] LisaAlmarode opened #589 "(NONE) sets SymbolDictionaries tab and popup menu, but does not update the Menu bar menu name (3.0.81)"
When you select the (NONE) package, it sets the tab in the packages pane to be "Dictionaries", and the popup menu changes; but the menu bar still has Packages and the Packages menu.

Of course the package menu is pretty much a waste of pixels since it has two items, Write Package and Unload Package, of which neither is implemented.

[2019-10-22 20:56] LisaAlmarode opened #590 "Inconsistency: Method List Browser calls categories "protocol" (3.0.81)"
There is a lot of unclarity between these terms in Smalltalk, but we should try to be consistent with a single GUI.

![image](https://user-images.githubusercontent.com/13142166/67331724-f8716000-f4d2-11e9-9189-a47ad41dd495.png)

[2019-10-22 21:13] ericwinger commented on #521
Have a version check system implemented. Fairly simplistic.  Checks the server & client versions which are held in class side methods in ``RowanService>>version``. If a client doesn't find that method or the server doesn't get sent that message, logins fail. If the versions don't match, logins fail. Warnings are provided with version numbers it was comparing. Version numbers are integers that repr

[2019-10-22 21:30] LisaAlmarode commented on #521
PLEASE don't fail... there should be a warning, yes, but logins should not fail; this was the agree-on behavior.

I log in with a mismatch version so I can then load the latest Rowan code...

[2019-10-22 21:49] ericwinger commented on #585
Should be able to open a workspace on a file or not in 3.0.82.

[2019-10-23 01:24] ericwinger commented on #521
@LisaAlmarode - Duly noted. No logout is done on a version failure.

[2019-10-23 02:21] LisaAlmarode commented on #521
If you take the new Jadeite 8.0.82 and try to login to a repository with Oscar 3.0.81, it puts up a not very appropriate error and does not allow login.  This isn't a regression per se since this didn't always work before, but it would be nice to fails in a slightly more informative way...

![image](https://user-images.githubusercontent.com/13142166/67350838-d2fb4b00-f500-11e9-9f01-6d69676c8624.pn

[2019-10-23 16:00] ericwinger commented on #519
Removing November 19 label. Not getting put in for November unfortunately.

[2019-10-23 16:01] ericwinger commented on #510
Necessary but not going to happen for November release.

[2019-10-23 16:02] ericwinger commented on #518
Would have been nice for November's release but not going to make it.

[2019-10-23 16:03] ericwinger commented on #574
So far not reproducable in time for the November release.

[2019-10-23 16:04] ericwinger commented on #540
Without a reproduction case or much of anything to go on, not going to get put into the November release. Still a priority though.

[2019-10-23 16:05] ericwinger commented on #586
Should be fixed in 3.0.82.

[2019-10-23 16:05] #586 closed, assigned to ericwinger

[2019-10-23 16:44] LisaAlmarode commented on #521
I will note that when I was using Jadeite 3.0.81 with Oscar-3.0.81, and loaded Oscar-3.0.82, it did give me an informative warning; and in Jadeite 3.0.81 on login to Oscar 3.0.82 is gives me an informative warning.

[2019-10-23 17:07] LisaAlmarode opened #591 "Project Brower run-all menu item leaves all tests selected (3.0.82)"
If you use the little running guy icon in the SUnit tab, or in the Sunit browser;
or the run all menu items in the SUnit browser,
or the control-shift-A in the Sunit Browser,
   it does not affect your selection in that browser.

However, the project browser method pane run-all does leave all tests selected, and the control-shift-A in that browser does too.  It means you lose the selection you did

[2019-10-23 17:30] LisaAlmarode commented on #581
I have no idea how to test - there are a lot of different Browse Implementors Of..., but none of them that I know bring up a list of "symbol suggestions".  Unless this means the one specific symbol appended to the menu?

[2019-10-23 17:35] LisaAlmarode opened #592 "Need to fix missing blue icon problems (3.0.82)"
![image](https://user-images.githubusercontent.com/13142166/67418935-996a2480-f580-11e9-9648-c49ac84f9e05.png)

![image](https://user-images.githubusercontent.com/13142166/67419010-bdc60100-f580-11e9-8427-6294c90b2501.png)

![image](https://user-images.githubusercontent.com/13142166/67418981-aedf4e80-f580-11e9-970d-08638c5ab2de.png)

[2019-10-23 17:46] ericwinger commented on #592
Missing .ico file. Should be fixed in 3.0.83

[2019-10-23 17:46] #592 closed, assigned to LisaAlmarode

[2019-10-23 17:46] ericwinger commented on #521
Should be fixed in 3.0.83.

[2019-10-23 17:46] #521 closed, assigned to LisaAlmarode

[2019-10-23 17:49] ericwinger commented on #581
@LisaAlmarode Oh, sorry.  Just use a wild card and you should see the selection list to choose from. That was broken in a recent release.

[2019-10-23 19:45] LisaAlmarode opened #593 "Browse Class in workspace on non-class has ugly error (3.0.82)"
I wasn't sure how smart the workspace Browse class menu item was.

So I added a letter after the class name ( Systema ) and highlighted it and used the Browse Class on the popup.

![image](https://user-images.githubusercontent.com/13142166/67428275-ae4fb380-f592-11e9-8cab-840b8c6f6404.png)

However, it does find Repository when I look in SystemRepository, which is somewhat smart.

[2019-10-23 21:05] LisaAlmarode opened #594 "Debugger toolbar and Debug menu order should match (3.0.82)"
Step through was added as the third icon from the left in the toolbar, but the fourth item in the Debug menu.  The order should match; these are confusingly similar enough as it is.

Also, there are quite a confusing lot of icons here; perhaps we can remove the non-implemented Run to Cursor (the arrow to double parens?)

[2019-10-23 21:10] ericwinger commented on #593
Got a targeted fix for this in Dolphin-only code for 3.0.83.

[2019-10-23 21:10] #593 closed, assigned to LisaAlmarode

[2019-10-23 21:48] LisaAlmarode commented on #581
... and feature added to docs.

[2019-10-23 21:54] ericwinger commented on #594
Fixed in 3.0.83

[2019-10-23 21:54] #594 closed, assigned to LisaAlmarode

[2019-10-23 21:57] LisaAlmarode commented on #585
I can't get this to work in 3.0.82.

This is my prefs file:
[code]
the file exists:

![image](https://user-images.githubusercontent.com/13142166/67437247-4191e480-f5a5-11e9-9ecc-5a86922dc7d6.png)

But on login, it opens the PB, but not the workspace.

[2019-10-23 22:02] LisaAlmarode commented on #582
In 3.0.82, it's handling this okay.  Globals even points out charsize > 1, and the inspector doesn't do badly either.

[2019-10-23 22:04] ericwinger commented on #590
Fixed in 3.0.83

[2019-10-23 22:04] #590 closed, assigned to LisaAlmarode

[2019-10-23 22:07] LisaAlmarode commented on #578
It sometimes take a couple of seconds to reenable, but it seems pretty reliable that it eventually does.

[2019-10-23 22:13] ericwinger commented on #585
Very odd. Full paths work for me. There are no spaces in your path (which I realize probably won't work as currently implemented).  If you move ``testws.gs`` to the working directory (where the .exe is) does it open?  Does a ``nil`` open a blank workspace ok?

[2019-10-23 22:23] LisaAlmarode commented on #553
Of the full set of people who have used this recent jadeite (that didn't themselves implement the feature), with a set size <= 2, at least 50% of them were in fact startled.  I was in fact very startled.

There are a number of open issues earlier in this issue, regarding menu names and window titles... but I'll open another issue so they don't get re-lost

[2019-10-23 22:29] LisaAlmarode opened #595 "Preferences file/workspace menus and preferences window titles unclear (3.0.82)"
I'm finding the preferences workspace/s slightly confusing as to the titles and names, and correspondence with the menus. This was reported in #553, but that issue got sidetracked on actual defaults.

The Browse Preferences file opens with the title
   C:\GS\Oscar\Jadeite.prefs for SystemUser on stone...
and has added menu items
   Preferences Options Workspace
   Reset Preferences to default.

-

[2019-10-23 22:42] LisaAlmarode opened #596 "variables tab sort order inclear/confusing (3.0.82"
This is sort of related to issue #575.  If you have instance variables in various superclasses, it would be nice to be able to figure out what was what.

In this example, I've got instvar names suffixed with the same number as the class.

![image](https://user-images.githubusercontent.com/13142166/67439420-fda1de00-f5aa-11e9-904e-d39b67dfa679.png)

I'd probably prefer, myself, the implementation o

[2019-10-23 22:46] LisaAlmarode commented on #585
This file is in the same dir as the exe, so presumably working directory; and no, nil does not open a blank workspace either.

[2019-10-23 22:58] ericwinger commented on #585
Very odd.  Are you sure that the preferences file that opens the workspace is called ``Jadeite.prefs`` and is in the same directory as the .exe?

[2019-10-23 23:06] LisaAlmarode opened #597 "Disabled Breakpoints only disables existing, doesn't impact one set later; why in preferences? (3.0.82)"
If you have an existing breakpoint in a test method, running it brings up the debugger.
If you click on the Jadeite menu option breakpoints enabled, so that breakpoints are disabled,
   then you can run the test method and it does not bring up the debugger.

If you then put a second breakpoint in the test method, (with breakpoints still disabled),
  running the test method brings up the debugger o

[2019-10-23 23:13] LisaAlmarode commented on #585
Same file it's always been - and it does opens the Project Browser, and set other options. You can look at it in person tomorrow...

[2019-10-24 18:02] ericwinger commented on #585
Think the problem is that the ``openWorkspace:`` method in ``JadeitePreferences`` was getting stripped out of the runtime. Fixed in 3.0.83.

[2019-10-24 18:02] #585 closed, assigned to LisaAlmarode

[2019-10-24 18:54] ericwinger opened #598 "Disabled breakpoints should be displayed"
Disabled breakpoints should be displayed with different highlighting. Currently, not visible even though Breakpoint Browser shows the method. Showing a yellow box would work.

[2019-10-24 18:54] ericwinger commented on #597
Should have a fix in 3.0.83. Need better highlighting for disabled breakpoints. Creating new issue #598 for that.

[2019-10-24 18:54] #597 closed, assigned to LisaAlmarode, ericwinger

[2019-10-24 19:06] ericwinger commented on #346
Possible fix in 3.0.83.

[2019-10-24 19:06] #346 closed, assigned to LisaAlmarode

[2019-10-24 19:30] LisaAlmarode commented on #560
Appears fixed in v3.0.82

[2019-10-24 19:50] LisaAlmarode opened #599 "PB Method drop-down menu intermittently loses "Go to defining package" (3.0.82)"
The Project Browser popup and drop-down Method menus normally include an item "Go to defining package <packagename>", which is disabled if no method is selected, etc.

However, if you set focus into the method text, this goes missing from the drop-down method menu, which now oddly ends in a line.  This is still there on the pop-up menu.

You can select different methods, and the menu item is still

[2019-10-24 19:52] LisaAlmarode commented on #560
I was incorrect; this does reproduce in 3.0.82; it's just completely unrelated to breakpoints and enablement thereof.

To reproduce: in PB, go to a method (find a long one).  Put focus on the method text, say, near the end.

Now, go to the menu bar drop-down menus.

The Project, Package, and Classes method all have the menu item "Break at step point 1".  This makes no sense.  The menu item "Break

[2019-10-24 19:57] LisaAlmarode commented on #576
In v3.0.82, I can do one inspect/display/etc, and I get a debugger.  If I close the debugger and repeat the inspect/display or whatever, then I get the hang.

[2019-10-24 20:02] LisaAlmarode commented on #423
As of sometime before 3.0.82, autocommit is now in the prefs file.
Default is off by default... for compatibility with previous.

[2019-10-24 20:02] #423 closed, assigned to LisaAlmarode

[2019-10-24 20:11] LisaAlmarode opened #600 "Method failing compile browser text has doubled single quotes (3.0.82)"
If you have the following method, for example:

[code]
and add a new instance variable unused to the class definition, you will get the methods failing recompile dialog:

![image](https://user-images.githubusercontent.com/13142166/67521385-9e51d580-f65f-11e9-9417-6e99b7daddd8.png)

Notice that this text has the single quotes doubled.  This means the method cannot be recompiled (if you just remove

[2019-10-24 20:13] LisaAlmarode commented on #318
The doubled single quotes is reported as issue ##600.

[2019-10-24 20:37] LisaAlmarode opened #601 "Remove or implement "not yet implemented" debugger run-to-cursor (3.0.83)"
The 6th debugger step icon (counting from the left) is "run to cursor" with an arrow pointing to parens.

If you click on it, it does this:

![image](https://user-images.githubusercontent.com/13142166/67523190-fdfdb000-f662-11e9-828b-541b23b9f58e.png)

While implementing it would be nice, meanwhile I think it should be removed, and added in when it is working.

This issue mentioned in #594

[2019-10-24 20:48] LisaAlmarode opened #602 "Browse Class only enabled for classnames that start with capital (3.0.83)"
While normally class names are capitalized, this isn't a rule and it appears to otherwise work find to have a class with a lowercase first letter.

However, in a workspace, the Browse Class popup menu item is not enabled if you highlight the name of a valid class that happens to start with a lowercase letter.

Since Browse Class browses a selected class name OR the class of a (captialized) Global,

[2019-10-24 20:53] LisaAlmarode opened #603 "When opening multiple browsers on startup, keep console first (3.0.83)"
With the feature that allows you to open multiple browsers and workspace on startup, you may now always have at least 4 windows open, which I see on the toolbar pane at the bottom of my window.  It's nice that these windows open per the order in the preferences file.

However, it's really annoying that the console is the last one in the list to get opened.  I often need to find the console... and

[2019-10-24 20:57] LisaAlmarode commented on #521
It's not a nice error if you try to login 3.0.58 or 3.0.67- it respectively gets a walkback and an error dialog. But these are old enough where elegance may be impossible.

[2019-10-24 20:57] LisaAlmarode commented on #585
working nicely in 3.0.83

[2019-10-24 21:02] LisaAlmarode commented on #597
disabling breakpoints makes more sense in v3.0.83.  The lack of highlighting is a problem, though.

[2019-10-24 21:04] LisaAlmarode commented on #401
Working!  and with Icons!

[2019-10-24 21:46] LisaAlmarode opened #604 "Copy class when class exists changes browser focus to wrong class (3.0.83)"
this is follow on to issue #506
If you copy a class and the name you pick already exists, you get a walkback.  This ought to be an error.

![image](https://user-images.githubusercontent.com/13142166/67527930-fe9b4400-f66c-11e9-8050-01ce45a6d850.png)

[2019-10-24 21:46] LisaAlmarode commented on #506
closing this; followon in new issue

[2019-10-24 21:46] #506 closed, assigned to ericwinger

[2019-10-24 21:48] ericwinger commented on #603
@LisaAlmarode  When you say "first" do you mean "on top"?

[2019-10-24 21:59] ericwinger commented on #548
Debugger title was a holdover for a brief period when the Jadeite debugger was in development. Removed Jadeite from label.
![image](https://user-images.githubusercontent.com/36212516/67528281-f0015c80-f66d-11e9-8963-b48c69347e8b.png)
SUnit browser fixed.
![image](https://user-images.githubusercontent.com/36212516/67528412-41a9e700-f66e-11e9-9b11-a1018abac196.png)
Log browser changed:
![image](http

[2019-10-24 22:31] LisaAlmarode commented on #548
I think I mean the leading Jadeite on the login window...

[2019-10-24 22:38] LisaAlmarode commented on #603
I'm talking about the order of opening... which controls the location on my windows task bar.

It might be as good to have a hot key to raise the console too.

[2019-10-24 23:53] ericwinger commented on #598
Should be fixed in 3.0.84. Will need some careful GUI hand-testing as it is a reasonably invasive change that is not easily testable.

Disabled breakpoints now appear as gray boxes. Enabled breakpoints appear as red (no change).  Also darkened the step point underlining for better visibility.

[2019-10-24 23:53] #598 closed, assigned to LisaAlmarode

[2019-10-24 23:57] ericwinger commented on #548
This is fixed in 3.0.84

[2019-10-24 23:57] #548 closed, assigned to LisaAlmarode

[2019-10-25 00:40] ericwinger commented on #603
I've implemented a hot key ``Ctrl-F7`` which raises the console from other windows in 3.0.84

[2019-10-25 00:40] #603 closed, assigned to LisaAlmarode

[2019-10-25 20:15] ericwinger commented on #556
Fixed in 3.0.84

[2019-10-25 20:15] #556 closed, assigned to LisaAlmarode

[2019-10-25 20:24] ericwinger commented on #601
Removed in 3.0.84 in both toolbar & `Debug` menu

[2019-10-25 20:24] #601 closed, assigned to LisaAlmarode

[2019-10-25 20:31] ericwinger commented on #604
Will get a nicer information dialog in 3.0.84.

[2019-10-25 20:37] ericwinger commented on #591
Fixed in 3.0.84.

[2019-10-25 20:37] #591 closed, assigned to LisaAlmarode

[2019-10-25 20:57] ericwinger commented on #547
Not perfect, but better. The autocommit camera button stays mostly visible with horizontal size changes. It still gets squished vertically, but can still be seen and used unless the window is scrunched beyond reasonable expectations.

[2019-10-25 22:24] LisaAlmarode commented on #547
The camera can handle narrow now, but now wide has a problem with the status bar.  Reopen since that's kind of unattractive.

And, as Eric notes, it's still a problem with short and with tall.

This illustrates the problem in 3.0.84 with wide (and tall)
![image](https://user-images.githubusercontent.com/13142166/67608021-5dc78a00-f73b-11e9-9e55-baf292bd6731.png)

[2019-10-25 22:30] LisaAlmarode commented on #604
It's a nice error.  However, clicking "okay" seems to bring me to the new class, which is in a different project and package... not what I wanted since I am going to forget what class, I was in and wanting to copy.

[2019-10-25 22:41] LisaAlmarode opened #605 "Configurable method text underline of step points (3.0.84)"
In this version the color of the step point underline was made slightly darker (at my request).  I think I like this - certainly much easier to add breakpoints - but it's slightly more distracting and might impact code readability.

It might be nice to make this user-configurable.

[2019-10-25 22:48] LisaAlmarode opened #606 "On breakpoint enable/disable, breakpoint/method list browsers not updated (3.0.84)"
When you have open project browser, breakpoint browser, and method list, all with breakpoints showing in red say,

and you disable breakpoints, using the menu item...

the highlight is not updated in the breakpoint or method list browsers, they are still red. PB is updated and correct.

If you click on and off a method in any of the browser, all the browsers do get updated.

[2019-10-25 22:53] LisaAlmarode opened #607 "Debugger does not have correct breakpoint display (3.0.84)"
The debugger is always showing breakpoints in gray!

[2019-10-25 23:08] LisaAlmarode opened #608 "Mysteriously vanishing underlines (3.0.84)"
method text is underlines to indicate breakpoints.  Sometimes when I compile methods I end up with the method not having underlines.

One way this happens is to have the same method in two panes, e.g. both a method list and the PB.  Make a trivial change and save in one browser.  The method displayed in the other browser loses its underlines.  You can still add breakpoints, though.

[2019-10-25 23:09] ericwinger commented on #607
Fixed in 3.0.85

[2019-10-25 23:09] #607 closed, assigned to ericwinger

[2019-10-25 23:14] ericwinger commented on #604
It's not taking you to the new class since the copy failed and there is no new class. However, it may take you to the package where the class is defined if you were in an extension package. I'm not sure that's really all that bad.

[2019-10-25 23:36] ericwinger commented on #547
Fixed in 3.0.85

[2019-10-25 23:36] #547 closed, assigned to LisaAlmarode

[2019-10-25 23:55] LisaAlmarode commented on #604
Well, it's bad if your goal was to copy a class (which is hard to argue).  I want focus to return to the class that I was copying from, so I can try the copy again using a different target name.

Currently, it's taking you now to whatever the package is that contained the existing class whose name you tried to use, which may be completely unrelated to what you're currently working in.

For example

[2019-10-28 18:02] LisaAlmarode opened #609 "Debugger problems with unsaved reformat and breakpoint in block"
If you have a breakpoint within a block, and you are in the debugger, and you reformat the code, but don't save - click off to another method on the stack (answering no to the question), and then you return to the original method....

The reformatting was sticky (it did not revert to the original source code)

The highlight for the debugger may be in the wrong place

If you are unlucky, it says il

[2019-10-28 18:12] LisaAlmarode opened #610 "Reformat is sticky in debugger (3.0.85)"
This was part of issue #536, which was reopened but got lost.  Filing separate issue although it may  overlap with issue #609.

If you are in the debugger and reformat, and click on another method it asks you if you want to stay on the changed method; if you say no, and then later click back to the original, you'll see the supposedly-discarded reformatted text.

It also preserves text code changes

[2019-10-28 18:13] LisaAlmarode commented on #536
Closing this, the leftover bit is filed as issue #610.

[2019-10-28 18:13] #536 closed, assigned to LisaAlmarode

[2019-10-28 22:25] ericwinger commented on #609
Have a safe fix in 3.0.86 ready to go.

[2019-10-28 22:25] #609 closed, assigned to LisaAlmarode

[2019-10-29 21:43] ericwinger commented on #134
Should have been fixed in release `3.0.85`

[2019-10-29 21:43] #134 closed

[2019-10-29 23:14] ericwinger commented on #596
I'm loath to make the variables in implementation order. In a long list or a deep hierarchy, variables are difficult to find. But I agree that bolding inst vars in the selected class would be helpful.

As far as how to make local variables stand out, italics and colors were harder to see or confusing (to me). Here are three that I think are better - just bold, just underline, and bold & underlined

[2019-10-29 23:34] ericwinger commented on #595
I think it needs some cleanup as well. What would you think if I made the Options/Default window read-only and had a different background color?

[2019-10-29 23:44] LisaAlmarode commented on #596
It's very hard to tell out of context, and my fonts are not identical... but I don't think I like underlining - it just seems like it will make them harder to see.  And in all those cases where you don't have any inherited instance variables, it's pointless to have the clutter of underline.

So... I'd go with just bold (since you ask).  It's not really critical to distinguish at a quick glance, si

[2019-10-29 23:49] ericwinger commented on #596
I personally don't think the italics works ... but just bold for locals works for me.

![image](https://user-images.githubusercontent.com/36212516/67817777-fa579800-fa6b-11e9-8e82-a5f79c67dad0.png)

[2019-10-30 16:30] ericwinger opened #611 "Use FileStreamPortable not FileStream"
Legacy extents do not understand ``FileStream`` but do understand ``FileStreamPortable``.

Need to remove references to ``FileStream`` that was introduced with the ``RowanLoggingService`` class.

[2019-10-30 17:11] ericwinger commented on #611
References removed in 3.0.86. - To verify, one can do a ``Browse References`` for ``FileStream``.

[2019-10-30 17:11] #611 closed, assigned to LisaAlmarode

[2019-10-30 17:13] ericwinger commented on #596
Should be fixed (bolded only solution) in 3.0.86.

[2019-10-30 17:13] #596 closed, assigned to LisaAlmarode

[2019-10-31 16:10] ericwinger opened #612 "Need Performance Improvement in auto complete symbol caching"
Customer notes that logins are quite slow when logging in. They confirmed that when symbols are not cached, there was a 3-5 second (about 30%)  improvement in performance.

Based on discussions, need to:
- [x] Make one round trip when caching symbols
- [x] Don't cache every symbol, just class names and selectors
- [x] Don't rebuild the cache after method or class creation.

Possibly:
- [x] Change

[2019-10-31 16:13] ericwinger commented on #612
Single round trip and selective caching done. https://github.com/GemTalk/Jadeite/commit/adb9dae98cd8b1a0c040900b4f8a66cc71ebdc7f

[2019-10-31 22:52] dalehenrich opened #613 "(3.0.85) debugger step over broken (3.5.0, Unicode comparison, Legacy streams)"
Presumably passing in 0 for `inFrame: anInteger`:
![image](https://user-images.githubusercontent.com/623951/67991326-0cfdd880-fbf6-11e9-9ddb-4f3729e86db9.png)
Running this test ... uncommitted work ....:
![image](https://user-images.githubusercontent.com/623951/67991392-4fbfb080-fbf6-11e9-8afa-2af703dc3c39.png)

[2019-11-01 20:54] ericwinger commented on #612
Enhancements made. Faster now and the symbol caching is done when autocomplete is manually turned on from the transcript.

[2019-11-01 20:54] #612 closed, assigned to LisaAlmarode

[2019-11-01 23:32] dalehenrich opened #614 "(3.0.85) should use `pass` and not `signal` in test framework"
Using pass will keep RowanMethodService out of the stack when one is debugging test failurs:
[code]

[2019-11-05 18:07] LisaAlmarode opened #615 "Leading * in find implementors... worked in 3.0.65 but not in 3.0.85"
Say you do browse implementors and enter *ddition.  In 3.0.65 this returns:

![image](https://user-images.githubusercontent.com/13142166/68233251-aab92500-ffb3-11e9-85c6-32d029597c9b.png)

However, in 3.0.85 it returns an empty list.

I thought that was how it worked.... I believe that's what I put in the 3.0.85 UG...

[2019-11-05 21:20] ericwinger commented on #615
Fixed in 3.0.86.

[2019-11-05 21:20] #615 closed, assigned to LisaAlmarode

[2019-11-05 21:22] dalehenrich opened #616 "(Oscar-3.0.85) method source for methodFailingRecompile looks like printString"
Note the doubled `'` in the method source below ... that looks to be a printString of the methodSource:
![image](https://user-images.githubusercontent.com/623951/68247199-24aad780-ffcf-11e9-9d0a-465ce786d7db.png)

[2019-11-05 22:42] ericwinger commented on #616
Fixed in 3.0.86

[2019-11-05 22:42] #616 closed, assigned to LisaAlmarode

[2019-11-05 23:11] ericwinger commented on #614
recommended change applied in 3.0.86.

[2019-11-05 23:11] #614 closed, assigned to LisaAlmarode

[2019-11-06 17:37] ericwinger opened #617 "Abort walkback if removing method from removed class"
This appears to be introduced in 3.0.86. Create a class & method then abort. Failure is in ``RowanClassService>>theClass`` which fails to exit early if the class is not in image.
Message is `nil does not understand

[2019-11-06 18:19] ericwinger commented on #617
Fix in Rowan https://github.com/GemTalk/Rowan/commit/29271813c79aa9a50eac92f813aeadb8471d35a5
Oscar 3.0.87

[2019-11-06 18:19] #617 closed, assigned to LisaAlmarode

[2019-11-06 18:47] LisaAlmarode commented on #609
Verified in 3.0.86-release candidate

[2019-11-06 18:51] LisaAlmarode commented on #600
same as #616

[2019-11-06 18:51] #600 closed, assigned to nobody

[2019-11-06 18:53] LisaAlmarode commented on #616
I've been complaining about this since AUGUST ! ! ! and elapsed time to fix apparently only an hour.  I shall have to be firmer in the future about fixing things.

[2019-11-06 18:57] ericwinger commented on #616
Your nags already have varying levels of firmness - like a high quality mattress. If they get much firmer it may impact programmer sleep cycles and thus productivity. :)

[2019-11-06 19:02] LisaAlmarode opened #618 "error if press sunit debug when focus in method pane (3.0.86 candidate)"
If you have a selected method in the sunit tab and set focus to the method pane:

![image](https://user-images.githubusercontent.com/13142166/68328762-c0e2e600-0084-11ea-88b4-527bc3672b20.png)

and then press the debug button on the side bar of the sunit tab, this happens:

![image](https://user-images.githubusercontent.com/13142166/68328827-e1ab3b80-0084-11ea-89c4-63fd6311249d.png)

[2019-11-06 19:11] ericwinger commented on #618
Should be a safe fix in 3.0.87.

[2019-11-06 19:11] #618 closed, assigned to LisaAlmarode

[2019-11-06 19:26] LisaAlmarode opened #619 "Recompiling class does not update subclasses (3.0.86 candidate)"
If you have a hierarchy of three classes, and you add an instance variable to the highest one, all the subclasses are recompiled.
However, the display shows the older version.

Here's right after adding the instance variable to the superclass:

![image](https://user-images.githubusercontent.com/13142166/68329407-0358f280-0086-11ea-96b8-fa0f04e99607.png)

Note that it doesn't show any versioning on

[2019-11-06 19:36] LisaAlmarode opened #620 "autocommit cannot be enabled from prefs file (3.0.86 candidate)"
If I have autocommit set in the preferences file, when I login, autocommit is not enabled.

![image](https://user-images.githubusercontent.com/13142166/68331308-a19a8780-0089-11ea-8d54-4f2b7cda85a1.png)

![image](https://user-images.githubusercontent.com/13142166/68331324-acedb300-0089-11ea-9d3a-4bc92302a486.png)

[2019-11-06 22:00] ericwinger commented on #620
If what I'm seeing is similar, you'll notice that autocommit is actually turned on when you open a browser. From then on, the transcript indicator is set properly.

I think the problem is just with the indicator on login.  If you believe it's more serious let me know

[2019-11-07 03:20] LisaAlmarode opened #621 "Debugger status bar turns yellow on save method change (3.0.87)"
![image](https://user-images.githubusercontent.com/13142166/68357492-64a2b500-00ca-11ea-9973-a7858a968a27.png)

[2019-11-07 15:58] dalehenrich opened #622 "(3.0.85) sort auto complete list by shortest match?"
Here's a screen shot, where I've typed `condition` and I'm aiming at `conditionalPackages` ... if the list were sorted by shortest match first, I'd be able to hit `tab` and be done:
![image](https://user-images.githubusercontent.com/623951/68404916-19bd8780-0134-11ea-8994-ebbb1459fa1f.png)
as it is I have to type `conditionalPackage` before I am a `tab` away ...
Just a thought ...

[2019-11-07 19:45] dalehenrich opened #623 "(3.0.85) when multiple packages selected the browser tab not updated with class name"
I expect the selected class name to show up in the tab:
![image](https://user-images.githubusercontent.com/623951/68421862-ef7bc200-0153-11ea-9693-7cbefb85c87c.png)

[2019-11-07 20:21] dalehenrich opened #624 "(3.0.85) A revert menu item in the changes browser would be useful"
I'm pretty sure that the current data structures don't have the necessary data, but we could arrange to provide the disk source for each modification/removal and the `Revert` menu item would simply replay the source:
![image](https://user-images.githubusercontent.com/623951/68424417-c873bf00-0158-11ea-8d57-9b2cfa6531db.png)
... this would be pretty useful when you want to revert only selected meth

[2019-11-07 20:22] dalehenrich commented on #624
... actually it looks like the complete source is in the disk pane, so the data **is** there, so it should be relatively easy to implement ...

[2019-11-08 21:19] LisaAlmarode opened #625 "Edits to non-rowanized class methods become instance methods (3.0.87)"
If you have a non-Rowan class (in UserGlobals), and you go to it in the projects browser and edit the source code for a new or existing class method, the method is saved as an instance method.  Class methods are just not editable!

[2019-11-12 01:26] LisaAlmarode opened #626 "Transcript writes enabled for operations that don't write to the transcript still impact performance (3.0.87-3.0.65)"
I see a performance impact when I have transcript writes on.  This includes an impact on performance of operations such as abort and saving a method, which do not in fact do any transcript writes.  Basically, there's a delay applied even when not writing to the transcript which doesn't seem very useful.

I also noticed that while the abort doesn't add any text, it does cause the bottom scroll bar

[2019-11-12 18:55] dalehenrich opened #627 "(3.0.85) inspect of an object with printing error in debugger ends up inspecting the Error"
Doing an inspect on the receiver in this case ends with an isnpector that is missing the fields in the receiver:
![image](https://user-images.githubusercontent.com/623951/68700920-9ee0dc00-053a-11ea-92eb-a6a59842575c.png)
Errors **printing** an object should not effect the list of fields visible in the inspector ... I open the inspector to help me understand the state of the object that is leading

[2019-11-13 19:52] LisaAlmarode opened #628 "Package with very large number of test classes/methods breaks SUnit browser (3.0.87)"
I created a project with one package with a whole lot of testClasses and testMethods.
It completely breaks the SUnit Browser.

This example is a bit over the top (2k classes 25k methods, all in one single package)... but this is a TOC set to 1100000KB.  Something isn't scaling.

My use case: Open SUnit Browser.  Click on the package in the left-side column.  This sits.  CPU is not affected.  After

[2019-11-14 17:39] ericwinger opened #629 "(3.0.87) performance of methods that update tests is painfully slow"
Customer reports very slow performance doing an abort from the console without other browsers open. Also, save method is very slow.  The problems were traced back to two methods which scan test methods for package & class updates.
[code]
Using non-released code, customer says commenting these methods out improved performance dramatically. Methods need performance improvements.

[2019-11-14 17:42] ericwinger opened #630 "(3.0.87) display of logging files broken in last release"
- Turn on logging (console Jadeite menu>Logging Enabled)
- Open a browser
- Turn off logging
- console Browse menu > Browse Logs. Get error.

The log display code does not account for recent changes to allow multiple updateTypes.

[2019-11-14 17:46] ericwinger opened #631 "(3.0.87) Implementors selection with wildcard displays blank window"
Recent fix for #615 not sufficient. Occasionally still see empty selection list. Could be that we're still depending on autocomplete symbols in some path.

Hint - if seen, turning on autocomplete makes the problem go away.

[2019-11-14 17:49] ericwinger opened #632 "(3.0.87) Opening workspace from Jadeite.prefs doesn't work on first login"
Customer reproduction case demonstrated. Subsequent logins, the workspace opens.
Preferences line looks like this:
`openWorkspace: i:\jadeite\00_workspace.gs`

Very odd. Need to reproduce in house.

[2019-11-14 17:51] ericwinger opened #633 "(3.0.87) Spaces in openWorkspace: preferences config option not handled"
Need to allow blanks in the ``openWorkspace:`` preference.

[2019-11-14 17:53] ericwinger opened #634 "(3.0.87) Open preferences browsers/workspace in same location."
Customer has requested a low-priority enhancement. Somehow specify the opening position and size of a preferences opened workspace. Should handle browsers as well.

[2019-11-14 17:54] ericwinger opened #635 "(3.0.87) Extra click after logout to reenable the login button"
- Login to Jadeite
- Logout
- Login button is disabled.
- Click on Login window somewhere.
- Login button becomes enabled.

Need to eliminate need for extra click.

[2019-11-14 19:36] ericwinger commented on #629
Improved performance of two methods by avoiding scan of every method in subclasses of `TestCase`.
Adding to this comment for @LisaAlmarode to review.

[code]
[code]

[2019-11-14 19:36] #629 closed, assigned to LisaAlmarode

[2019-11-15 02:51] ericwinger commented on #630
Believe this was fixed in this commit https://github.com/GemTalk/Jadeite/commit/a12ce33553cba72346c9e616cb94cca5313a74a6 for 3.0.88

[2019-11-15 02:51] #630 closed, assigned to LisaAlmarode

[2019-11-15 03:11] ericwinger commented on #635
Fixed in 3.0.88

[2019-11-15 18:38] ericwinger opened #636 "make autocomplete case insensitive"
Customer has requested that autocomplete be case insensitive. Example below.

![image](https://user-images.githubusercontent.com/36212516/68966858-eca45100-0793-11ea-941b-68445143789f.png)
![image](https://user-images.githubusercontent.com/36212516/68966874-f1690500-0793-11ea-9da9-56a7876d2dd5.png)

[2019-11-15 18:47] dalehenrich opened #637 "(3.0.85) GemStone Error on doit - possibly releasing oops too early"
![image](https://user-images.githubusercontent.com/623951/68967118-676d6c00-0794-11ea-84c1-bf366cf3cc6b.png)

While doIt's use services code, there still is a hook that gets the returned object's printString from the server in a second round trip by old Jade code. It is possible that the returned oop 129598209 was gc'd before the printString.

Not reliably reproducable.

[2019-11-15 19:06] jgfoster commented on #637
See https://kermit.gemtalksystems.com/bug?bug=48217 for a description of this server bug (fixed in 3.5.1) and a workaround: "use GciSaveObjs to put the result of GciNewUtf8String in the export set."

[2019-11-15 20:31] ericwinger commented on #631
`JadeiteSearch` class variables `AllClassNames` and (the inappropriately named) `AllSymbols` were not getting initialized properly because we were doing an `ifNil:` test instead of an `isEmpty` test.  Refactored the code a bit to remove redundancy as well.

Added sanity test to ensure that if the class vars are nil, they get initialized.

[2019-11-15 20:31] #631 closed, assigned to LisaAlmarode

[2019-11-15 21:08] ericwinger commented on #632
Preferences file from customer
[code]

[2019-11-15 23:35] ericwinger commented on #632
No luck on reproduction yet. Possibly, it's a file on a network drive and dolphin/windows can't find it immediately after the .exe is opened. Asked customer for file's location.

[2019-11-16 00:40] ericwinger commented on #633
Allow blanks in prefs - `openWorkspace:` - fixed in 3.0.88.

[2019-11-18 18:31] ericwinger commented on #636
Fixed in 3.0.88. Made insensitive & fixed a bug. MS CRT specified sort needed to make scintilla autocomplete work as expected.

[2019-11-18 20:09] ericwinger commented on #632
Fixed in 3.0.88

Searching for the workspace in ``File workingDirectory`` was not adequate. Instead, we want to look in the image directory for workspace files if a full path isn't specified. Jade code was setting the working directory after login so it worked on subsequent logins.

[2019-11-18 21:34] ericwinger commented on #620
As suspected, autocommit was getting enabled but the indicator in the transcript wasn't set soon enough. Fixed in 3.0.88.

[2019-11-18 21:34] #620 closed, assigned to LisaAlmarode

[2019-11-18 22:26] LisaAlmarode opened #638 "Set Compiler Environment causes error dialog (3.0.88pre-release3)"
I saw a strange menu item in the PB, Class >> set compiler environment.   I have no idea why this is here - it is new?  It appears to be only enabled in the menu bar menu, only when the SUnit pane is selected, but then it errors:

JadeiteSUnitInClassPresenter does not understand #setEnvironment

![image](https://user-images.githubusercontent.com/13142166/69098772-1a94ca00-0a0e-11ea-92bd-ac00a30b13

[2019-11-18 22:31] ericwinger commented on #638
@LisaAlmarode I'm not seeing this in either the .exe or development. Did you have to have a certain combination of class/method/packages selected?

[2019-11-18 22:33] ericwinger commented on #638
Cancel ... I see what you're saying. I think that's always been there but should be removed because we don't support multiple environments in Jadeite.

[2019-11-18 22:37] ericwinger commented on #638
Fixed in 3.0.88. Removed menu option

[2019-11-18 22:37] #638 closed, assigned to LisaAlmarode

[2019-11-18 23:01] LisaAlmarode commented on #633
About one time in 10 or so, the login button doesn't re-enable by itself.  However, I haven't yet been able to make it happen on purpose.  When I try to setup complicated sets of windows to trigger the not-reenablement... it very reliably works correctly.  So reopening, but leaving assigned to myself.

[2019-11-18 23:02] LisaAlmarode commented on #635
About one time in 10 or so, the login button doesn't re-enable by itself. However, I haven't yet been able to make it happen on purpose. When I try to setup complicated sets of windows to trigger the not-reenablement... it very reliably works correctly. So reopening, but leaving assigned to myself.

[2019-11-18 23:02] LisaAlmarode commented on #633
reclosing, reopened the wrong issue.  The spaces in paths for opening workspaces work very nicely although it's a bit unsettling to not use some kind of quotes or demarcation.

[2019-11-18 23:02] #633 closed, assigned to LisaAlmarode

[2019-11-19 00:00] LisaAlmarode commented on #632
The code is still not doing the correct thing, in v3.0.88.3 with respect to a second login.   Assuming the opening-workspace behavior should be the same for both the first and second login.

To reproduce, I set up a windows shortcut that specified a different working directory than the executable file.
[code]
This test involves four files:
[code]
Note that testws1.gs has the same name but differen

[2019-11-19 00:06] ericwinger commented on #632
Something to keep in mind is that the files must reside in the same directory as the image unless a full path is specified in the preferences file. I wouldn't expect the preferences file you provided to open them correctly because you're not specifying full paths for those files that aren't in the .exe directory.

[code]

Note - because I found a bit of a problem with the working directory, I chan

[2019-11-19 00:48] LisaAlmarode commented on #632
I don't mind the specific behavior, as long as it does the same thing on the first and second logins.

If a full path is required unless the file is in the executable directory, then it's opening the incorrect file (c:\gs\Oscar\operations\testws1.gs) on the first login; it should be opening c:\gs\Oscar\testws1.gs.

[2019-11-19 01:00] LisaAlmarode commented on #636
Features seems not quite complete, since the list of found selectors is sorted by case.... could be very hard to find what you're looking for.

![image](https://user-images.githubusercontent.com/13142166/69107001-ea0c5a80-0a24-11ea-9e61-5c9ae47fa57a.png)

[2019-11-19 01:10] dalehenrich commented on #636
If you're going to fiddle with sorting, please see if #622 would be a better approach ... it seems that sorting by match length with shortest matches first would address @LisaAlmarode issue, since the `lowercase` entries that differ only be case would be at the top of the list ... don't you think?

[2019-11-19 17:52] ericwinger commented on #632
This was a good catch. Found another place where `workingDirectory` was being used instead of the `imageDirectory`.  We should be consistent in our usage now.

Note if you specific `operations\testws1.gs` it will open a file in a directory relative to the image directory.

[2019-11-19 18:25] LisaAlmarode commented on #605
Customer did not care for the darker underlines.  That makes this feature much more important.

[2019-11-19 18:45] ericwinger commented on #636
@LisaAlmarode - What's your thoughts on Dale's proposal to skip alphabetic sorting in favor a pure size sort with shortest first?

Note - Sort may be a mute point because the underlying MS function call which builds the autocomplete window acts oddly with different sort orders. i.e. I may not be able to change sort order and still use this autocomplete feature as is. Rolling my own would take a bi

[2019-11-19 18:58] LisaAlmarode commented on #636
I'm not using this feature in practice, and I think it's the kind of thing you'd need to use for a while, to really know what would be better - so I'm fine trying Dale's from-the-field approach.

Hmm.  You'd still face the case issue, although not as badly.   E.g., if we add lowerCaseLatin and lowercaseLatin and lowerCASELatin, the same length strings as the *Greek methods.... it would matter.

[2019-11-19 19:04] ericwinger commented on #636
You can ignore my [note](https://github.com/GemTalk/Jadeite/issues/636#issuecomment-555650923). I think I got ignore case figured out. https://www.scintilla.org/ScintillaDoc.html#SCI_AUTOCSHOW

Before I implement "shortest first sort" here is an example of how it might look without alphabetization.
Is this ok @dalehenrich @LisaAlmarode ?
![image](https://user-images.githubusercontent.com/36212516/

[2019-11-19 19:47] LisaAlmarode commented on #636
One could make a point that if you've typed in a capital C then you might want to see the matches that case-match what you typed, before the ones that don't. However, can of worms here.

[2019-11-19 19:52] ericwinger commented on #636
To do that, we'd have to conditionally turn on case sensitivity whenever a capital was detected in the string. Not sure that's the customer's intent.  Closing as fixed in 3.0.88 and ready for review.

[2019-11-19 19:52] ericwinger commented on #622
Believe fixed in #636

[2019-11-19 19:52] #622 closed, assigned to LisaAlmarode

[2019-11-19 20:22] LisaAlmarode opened #639 "leading * in implementorsOf: acts like it also has a trailing * (3.0.88.3)"
I've got a test case with 6 methods: water_one, water_One, Water_one, one_water, one_Water, One_water.  There are also 4 base/rowan methods that include "Water" and 1 "water".

In both 3.0.88.3 and 3.0.87,
  ```water*```  returns 5 matches
  ```*water*``` returns 11 matches

But:
   in 3.0.87,   ``` *water``` returns 5 matches (correct)
   in 3.0.88.3,  ```*water``` returns 11 matches (that is, sa

[2019-11-19 21:21] ericwinger commented on #639
This is a good catch.  Have a fix in 3.0.88 to review.

[2019-11-19 21:21] #639 closed, assigned to LisaAlmarode

[2019-11-19 23:20] ericwinger commented on #635
Took another look at this. Think I found a more deterministic fix which seems to work better. Needs further retesting.

[2019-11-19 23:26] ericwinger commented on #605
Note - color restored to `gray` from `darkGray` for stepPoint underline in 3.0.88

[2019-11-20 04:17] LisaAlmarode commented on #636
Side note: turns out autocomplete expected initial-lowercase to a method (not, for example, allowing you to enter One_water or Water_one methods, mentioned in another issue), and it treats any initial-uppercase typing as a class name.

Method case insenitive seem solid.

However: Class names are not searched class-insensitive.

I have a lot of classnames that start with MAV.
When I type in MA I se

[2019-11-20 04:25] LisaAlmarode opened #640 "Error dialogs from PB menu items when on Sunit tab"
When you are on the Sunit tab, all the class drop down menu items give you error dialogs like this:

![image](https://user-images.githubusercontent.com/13142166/69208870-0635f780-0b0a-11ea-96a5-4cda9b4da200.png)

Same thing with Projects menu and preferences menu.

[2019-11-20 04:37] LisaAlmarode commented on #632
I'm afraid there is no change in behavior between 88-v3 and 88; see detailed comment above.  It still does different things for the first and second logins.

[2019-11-20 04:42] LisaAlmarode commented on #632
![image](https://user-images.githubusercontent.com/13142166/69209555-7a719a80-0b0c-11ea-9cd0-031debe67c81.png)

first login:

![image](https://user-images.githubusercontent.com/13142166/69209599-af7ded00-0b0c-11ea-894e-3a4964c60714.png)
second login:
![image](https://user-images.githubusercontent.com/13142166/69209684-02f03b00-0b0d-11ea-9039-3b1b448842b2.png)

[2019-11-20 16:40] ericwinger commented on #632
@LisaAlmarode I'll need to see the prefs file you're using.

[2019-11-20 16:47] ericwinger commented on #640
I don't see this.  Please be more specific on how you're trying to rename a class.

![image](https://user-images.githubusercontent.com/36212516/69258913-43ce6b00-0b72-11ea-840c-1ec995e265ef.png)

[2019-11-20 17:08] ericwinger opened #641 "Double click no longer expands hierarchy view"
Customer reports undesirable change in double click action on hierarchy view from 3.0.65 to 3.0.87. Double click no longer expands the entire list of subclasses.

![image](https://user-images.githubusercontent.com/36212516/69260692-218a1c80-0b75-11ea-8777-6cf713c314b4.png)

Or try with TestAsserter.
![image](https://user-images.githubusercontent.com/36212516/69260739-3797dd00-0b75-11ea-9abc-6a940e

[2019-11-20 17:34] LisaAlmarode commented on #640
Not just rename - all the class, preference, and project menu items do the same thing.
I'm happy that it works for you, though.

[2019-11-20 17:35] LisaAlmarode commented on #632
It's described in the early comment:
[code]

[2019-11-20 17:51] ericwinger commented on #640
Can you explain in more detail which menu item your pressing, in what menu, with what tabs selected, etc?

[2019-11-20 18:19] LisaAlmarode commented on #640
There aren't any details not already provided - it's not a subtle or complicated problem (for me!). All it takes: SUnit tab selected, drop down any of the listed menus and click on any of the menu items.

In pictures:

![image](https://user-images.githubusercontent.com/13142166/69265647-754d3380-0b7e-11ea-9eec-4f633c29eb88.png)

then press the mouse and this happens:

![image](https://user-images.

[2019-11-20 18:54] dalehenrich opened #642 "SUnit Browser should change icon to a `neutral icon` when running test manually ...."
... if you abandon the test for some reason (close debugger for example), the test will not shows as passing or failing ... and has an unknown state ... it would help me keep trak of which test I was manually working with as well as mark the test indeterminate state on last run ...

[2019-11-21 00:19] ericwinger commented on #641
Should be fixed in 3.0.89. Does a full expansion and has a menu option as well.

[2019-11-21 00:19] #641 closed, assigned to LisaAlmarode

[2019-11-21 04:54] LisaAlmarode commented on #641
Compared the behavior in 3.0.65 and 3.0.89-1.  Very happy to see that not only is the behavior fixed from 3.0.87-era, the full expansion now doesn't have stealth siblings - expansion shows the full set of classes, which fixes the unfixed complaint I had in the otherwise closed issue #156.  Not sure if there's a downside... doesn't seem slower than 65 to me.

@dalehenrich should review issue #561,

[2019-11-21 05:00] LisaAlmarode commented on #635
Still occurs about the same frequency and equally only after some time of doing stuff and not reproducible.

[2019-11-21 16:41] dalehenrich commented on #641
@LisaAlmarode I have updated to 3.9.89-1 **because** there is support for full hierarchy viewing ... it never occurred to me to double click on a class to get full hierarchy ... but now there is a menu item ...

[2019-11-21 16:55] dalehenrich commented on #561
Oscar-3.0.89-pre1 does seem to fill the bill (using 'Expand Full Hierarchy' menu item):
![image](https://user-images.githubusercontent.com/623951/69358464-beaf8880-0c3b-11ea-9636-3de854f16a69.png)
![image](https://user-images.githubusercontent.com/623951/69358691-1d750200-0c3c-11ea-8449-128c78036278.png)

@LisaAlmarode next time you are in the office let's talk about this some more ... if I am not

[2019-11-21 16:57] dalehenrich commented on #561
Here's the view before using 'Expand Full Hierarchy' menu ... no visual cue that **StashGsDevKitTool** has subclasses:
![image](https://user-images.githubusercontent.com/623951/69359108-d9cec800-0c3c-11ea-8dc2-af29c97a0699.png)

[2019-11-21 17:34] ericwinger commented on #640
Fixed in 3.0.89

[2019-11-21 17:34] #640 closed, assigned to LisaAlmarode

[2019-11-21 22:28] ericwinger commented on #625
@LisaAlmarode Could you try this experiment for me. Either in a workspace or topaz try running these methods and press resume at the warning.
[code]
I see that both methods end up on the instance side of the class. This would implicate Rowan instead of Jadeite.

[2019-11-21 23:32] dalehenrich opened #643 "(3.089pre-release1) Need to investigate package refresh after class rename"
When a class is renamed, multiple packages can be affected and all need to be refreshed. For example, if the class has subclasses in alternate packages from the renamed class's package. Need to refresh all the packages. Also, review if we are actually handling the rename class correctly.

![image](https://user-images.githubusercontent.com/623951/69385307-be32e400-0c73-11ea-8501-04765659c0ca.png)
T

[2019-11-21 23:49] dalehenrich commented on #643
It seems that the old class version is _stuck_

[2019-11-21 23:49] #643 closed, assigned to ericwinger

[2019-11-22 17:27] ericwinger opened #644 "(3.0.88) Need to remove rename class"
My rationale for summarily removing the rename class menu item is that there is a [previously reported Rowan bug](https://github.com/GemTalk/Rowan/issues/490) associated with moving classes with extension methods between packages that can be triggered by the rename class code and I don't want our customer to run into this corruption inadvertently. The root cause of the bug is creating a new class

[2019-11-22 17:31] ericwinger commented on #644
Removed in 3.0.89.

[2019-11-22 17:31] #644 closed, assigned to dalehenrich, LisaAlmarode

[2019-11-22 20:03] LisaAlmarode commented on #644
Verified menu item is not there.

[2019-11-22 20:17] LisaAlmarode opened #645 "Achieving the optimal in the class hierarchy tab (3.0.89)"
See issue #641 for some back story on this feature.

I am not entirely happy with the current behavior.

First - when you go to the hierarchy tab with say class RwDefinition selected, you see only the immediate subclasses (good) but NOT the little plus indicators that there are subclasses (bad).

I do think double-click should open only one level, and not be identical to expand-all.

Expand All is

[2019-11-22 20:18] LisaAlmarode commented on #641
I find it difficult to characterize the behavior in 3.0.65 (that is, there appears to be no logical construct that can be fitted over it); the changes in earlier 3.0.8x make things worse.  I'm not going to say the current behavior is optimal; but I think it might be a reasonable compromise.  I've filed separate issue #645 on the absence of perfection.

in 3.0.89 release, I can select Object and ex

[2019-11-22 20:34] LisaAlmarode opened #646 "Hover breakpoint display flickers annoyingly (3.0.89)"
When you're over a breakpoint, you get a hover help that says "step point #2" (for example).

If you move the mouse slightly, the first help goes away and another identical one pops up a few pixels away.

If you are moving slowly.... considering where you want to put the breakpoint... it comes across as a flicker.

This was in the debugger and it looked at first like Jadeite was busy doing somethi

[2019-11-22 22:36] ericwinger opened #647 "Adding class doesn't update autocomplete symbols"
When you add a new class in Jadeite, the class name should be cached for autocomplete. It wasn't. Fix in Rowan ``RowanBrowserService>>updateSymbols:`` to properly return the name of the cached class names and update it in the client.

[2019-11-22 22:37] ericwinger commented on #647
Fixed in 3.0.90.

[2019-11-22 22:37] #647 closed, assigned to ericwinger

[2019-11-23 20:23] dalehenrich opened #648 "(3.0.89) should be able to enable/disable breakpoints from menu in breakpoint browser and debugger"
It's a natural place to have that menu item .. when you have the breakpoint browser open you shouldn't have to hunt for the console to toggle breakpoints .. the debugger is another spot where it would be useful to toggle breakpoints on and off ... if I had to choose only one, I would want to be able to do that in the debugger ...

While I'm thinking about it the test browser is the other natural s

[2019-11-26 22:42] ericwinger opened #649 "TestCase's without tests should not show up in SUnit Browser"
This class should not show up in the sunit browser:

![image](https://user-images.githubusercontent.com/36212516/69678290-ffebd200-1059-11ea-8a72-a0e2cc5b1740.png)

Note that it is not specified as ``isAbstract`` but has no test cases.
A test that could be written compares the browser results to ``RwAbstractTest suite tests`` which is empty for this calss ``RwAbstractTest suite tests ==> anOrdered

[2019-11-26 22:46] LisaAlmarode commented on #649
Dale and I observed this on Thursday... I was supposed to verify and file an issue... it's due to the optimizations put in for 3.0.88, that packagesWithTests is no longer executing buildSuite.

[2019-11-26 22:48] ericwinger commented on #649
Yes, building a suite was very slow. The suggestion is to achieve the same list as the suite but faster. A test can be written to compare Jadeite results with suite results.

[2019-11-27 00:09] ericwinger commented on #370
@LisaAlmarode I think this can be done. However, I would need to change the calculation of character position from step points to include the latter parts of the keyword message. I *think* that the Dolphin class which does the actual blue highlighting of the keyword would need to be hooked into - perhaps `SmalltalkStyler`.  Aesthetically, we'd probably want to underline the full keyword message as

[2019-11-27 17:07] ericwinger commented on #606
Debugger breakpoints are the only breakpoints I see that are not updating properly. Breakpoint browser, method list browser, and project browser all seem to update in 3.0.89. Could you confirm?
![image](https://user-images.githubusercontent.com/36212516/69744452-0da26580-10f5-11ea-8f29-3ca5b8aa4713.png)

![image](https://user-images.githubusercontent.com/36212516/69744495-2448bc80-10f5-11ea-9777-c

[2019-11-27 18:16] ericwinger commented on #606
Have a debugger fix in the `waiting` branch in the Jadeite project. Will move to oscar after customer release finished. Tagging as `Move to Oscar` as a reminder.

[2019-11-28 00:45] dalehenrich opened #650 "(3.0.89) `Jadeite>>Auto Commit enabled` menu out of sync with auto commit state"
Note that the `Jadeite` menu does not have the `Auto Commit enabled` menu item marked, while the icon at the bottom of the project browser is green:
![image](https://user-images.githubusercontent.com/623951/69768317-f5523b00-1134-11ea-8c06-919ec512bf76.png)
I've been in habit of using the menu item to "tell me if autocommit is enabled" because the autocommit icon is not present in all windows and

[2019-11-28 00:51] LisaAlmarode commented on #650
I saw something like this - #620 - but it's all working correctly for me in 3.0.89.  Did you set this via preferences?

[2019-11-28 01:05] dalehenrich commented on #650
I have autocommit enabled in my prefs file ... and I tried to use the menu to turn it on/off(???), but the menu just stayed with it unselected ... I've seen this ever since I started using prefs file(?) and it wasn't until today that I remembered to look at the icon ... I was attempting to toggle the menu item but it stayed stuck off --- I did notice that the icon was toggling correctly ... but th

[2019-12-02 23:06] #606 closed, assigned to LisaAlmarode

[2019-12-02 23:28] ericwinger commented on #595
I'm in agreement with most of the recommended changes although I didn't use the exact language in the issue comment. Instead, I aimed for consistency. Also, I felt the word `settings` was more descriptive than `text`. There are pictures below.

I was not included to change the alphabetical order of the settings themselves. If someone opens the .prefs file in a Jadeite future with many more setting

[2019-12-02 23:28] #595 closed, assigned to LisaAlmarode

[2019-12-03 18:01] ericwinger opened #651 "Inspecting dictionary with double byte string fails"
Inspection still uses old Jade code which doesn't handle multi-byte strings when inspecting dictionaries. At minimum, we should still bring up an inspector without error but show that the string was unprintable.

Use case - put a double byte string into either the key or value of an entry in UserGlobals and try to inspect. Get walkback below.

The minimal fix should go into `JadeServer>>inspectDic

[2019-12-03 18:24] ericwinger commented on #651
To add & remove a unicode symbol to UserGlobals, see `RowanServicesTest new`, `unicode method` category.

[2019-12-03 18:27] ericwinger commented on #651
Here's a tenative fix/workaround. Full unicode support on client & server is the ultimate answer.
[code]

[2019-12-03 23:12] LisaAlmarode commented on #651
For the record, my testing code

[code]

[2019-12-03 23:18] LisaAlmarode commented on #647
Verified in 89 and  not 90. Applies to class names only, method names are updated in both versions.

[2019-12-04 00:26] LisaAlmarode opened #652 "Status bar and icon resizing still not ideal in Project Browser (3.0.90)"
This was originally reported as #547.  It's better after the changes in that issue, but still annoying.

Interesting, the Method List Browser behaves perfectly.  That can be a model to fix the Project Browser.  The Sunit browser also has a well-behaved status bar although it doesn't have the same compile issue.  The debugger cuts off similarly to the project browser.

![image](https://user-images.

[2019-12-04 00:43] LisaAlmarode opened #653 "Confusingly named "Jadeite Preferences" icon opens very ugly window (3.0.90)"
I was surprised to notice an icon on the Console with the label "Jadeite Preferences".  Oh, I said to myself, a shortcut to open the Jadeite Preferences File. Could be handy. But then I open it and see this... which, well, is one of the less attractive GUI windows I've faced.

Besides aesthetics,
- It is nice that you can apparently change system fonts here but it NEEDS ! an undo.
- The codefont b

[2019-12-04 00:54] LisaAlmarode commented on #603
Personally, having the console window not located next to the Jadeite window on the windows bottom task bar makes the opening-browsers feature a bit less usable for me, and the workaround is only marginally helpful.  But... this is given the way I work (on this machine/currently), and may not be a general problem.

[2019-12-04 01:11] LisaAlmarode commented on #650
This doesn't happen to me under normal circumstances.
However, I played around a bit with manual transaction mode, and after I confirmed you'd get bigger breakage than you report :-) , and restored normal mode... I'm now seeing the autocommit can be toggled from the green camera icon or the menu, but the menu bar refused to add a black dot.

This seems to reproduce the problems in 3.0.90:
- login,

[2019-12-04 17:32] ericwinger commented on #653
This is the toolbar button in question.
![image](https://user-images.githubusercontent.com/36212516/70166022-c9750f00-1678-11ea-8286-5386ad3c00ed.png)

- [ ] These are the old Jade preferences. It would be nice to incorporate this functionality into the new Jadeite preferences.

- [ ] While we're at it, it would also be nice to integrate the browser Preferences as well.
![image](https://user-image

[2019-12-04 17:51] ericwinger commented on #520
@LisaAlmarode - can you explain this comment? I suspect that there was a typo on the issue number as #586 was submitted on October 21st after your comment on October 15th.

[2019-12-04 18:30] ericwinger commented on #520
The problem with this example was that it started with a quote but the selection did not end with a quote.
`'abcde' perform: #copyFrom:to: with: 2 with: 3`
If Jadeite thinks you have a quoted string selected, it tries to help you by assuming that the entire contents of the string is a selector. That's handy in expressions like this:
`RBParser parseExpression: 'env:categoriesDo:'`
However, Jadeite

[2019-12-04 18:37] LisaAlmarode commented on #653
I see where the code font is used - it's for workspaces.  Apparently the Source Styler only applies to code in the method browsers, while the stealth dialog lets you change just the base font for workspaces.

If you did want say your comments to be in pink rather than green, you can change this is the method browsers; but you're stuck with the predefined colors in workspaces.

[2019-12-04 19:23] LisaAlmarode opened #654 "The new stealth-add rename doesn't skip method compile warnings (3.0.91)"
If you recompile a class and there are methods with unused temps, it used to put up a warning dialog for each one that you had to click on, which was very annoying.  This was fixed as issue #569

The re-added rename with the this-doesn't-to-this-and-that warning does some sort of copy or something, but what it does do is put up all the warning dialogs for unused temps, which is annoying here.  It

[2019-12-04 19:38] ericwinger commented on #568
The ellipses were coming from spaces that could, under some conditions, show up in a selector. If Jadeite detected spaces, it would truncate and add an ellipse.

After reflecting on this, when all other fiddling is done with the workspace's selection to try to get a searchable selector, I think it's probably better to remove spaces. Then, only add the ellipse if the resulting menu item text is > 5

[2019-12-04 22:22] ericwinger commented on #568
Fixed per description above.

[2019-12-04 23:31] dalehenrich opened #655 "(3.0.89) Debug All button in SUnit browser would be convenient"
Occasionally I need to run a set of tests when I've put a `self halt` or breakpoint in a particular method and I want to have the debugger come up and let me debug the cases when the `halt` or breakpoint is hit.

I just tried to do that with a breakpoint and pressed the `run all` icon in the SUnit browser and I ended up with 20 open debuggers before I hit an out of stack error ... when I was hopin

[2019-12-04 23:34] dalehenrich commented on #655
It looks I can get almost what I want by selecting all of the tests and then selecting all of the test methods ... but a shorter shortcut might still be useful

[2019-12-04 23:37] dalehenrich commented on #655
.... hmmm ... it seems that in order for this to work the way I want it to, it **is** necessary to bypass tests that failing because of errors, because once you hit a real error you cannot resume ... so never mind...

[2019-12-04 23:38] dalehenrich commented on #655
![image](https://user-images.githubusercontent.com/623951/70190888-0c9ca580-16ac-11ea-88f9-6fced3719a79.png)

[2019-12-04 23:39] dalehenrich commented on #655
... uh ... I should open separate bug

[2019-12-04 23:39] #655 closed, assigned to ericwinger

[2019-12-04 23:48] dalehenrich opened #656 "(3.0.89) Cannot use breakpoints or self halt when using debug icon in SUnit browser"
I'm trying to simulate the feature requested in #655, but using halt or breakpoint ends up with an `infinite` stack of ddebuggers:
![image](https://user-images.githubusercontent.com/623951/70190997-4e2d5080-16ac-11ea-8eb7-6a3718c68d4e.png)
I would like to deal with each debugger at a time ... in tODE, I call the feature something like `debug first`and the first debugger is brought up and the SUnit

[2019-12-05 00:04] ericwinger commented on #555
After looking at the available options for making the tab stand out, I think I'd rather invest some time into making a pair of radio buttons work. Then it could be right under the method list. Here's a crude mock-up.
![image](https://user-images.githubusercontent.com/36212516/70192147-b6c9fc80-16af-11ea-89bb-8bbe4caf478e.png)

[2019-12-05 05:22] LisaAlmarode opened #657 "Cannot inspect all of an array with more than 200 items (3.0.91)"
If you inspect the following:

[code]
The inspection is acting like it contains exactly and only 200 elements. When I was looking at a collection of all metaclass3 instances, this flummoxed me since I'm pretty sure there are more than 200 classes.

I also saw the elements not being protected from GC.  The inspector was open, and I could go up and down the elements, then some were nil and then they

[2019-12-05 17:10] ericwinger commented on #627
Many aspects of the inspection code still use the old Jade model which doesn't have a quick and dirty server side fix.  Probably worth a small port of  `JadeServer>>inspect:` to services and bringing back the instance variables even if the `printString` of the object fails.

[2019-12-05 17:12] ericwinger commented on #627
The client entry point is `JadeInspector>>displayObject`

[2019-12-05 17:49] dalehenrich opened #658 "(3.0.91) menu item to copy test summary or full test results on SUnit Browser"
When running a largish number of tests in SUnit Browser:
![image](https://user-images.githubusercontent.com/623951/70259755-ad8a6f80-1743-11ea-9447-008e5b2faad2.png)
It would be convenient to be able to extract the summary (36 run, 25 passed, 1 failures, 10 errors) or full test results:
[code]
The use case is that with multiple failures/errors, I want to be able to gauge progress as I make changes

[2019-12-05 20:13] AllenOtis opened #659 "Jadeite should support GciDebugConnectToGem"
When used with a GemStone64 v3.5.1 and above server,
Jadeite should be able to debug a gem that was configured with GEM_LISTEN_FOR_DEBUG=true

The Jadeite session needs to be established using GciDebugConnectToGem
and GciDebugStartDebugService   .

The gem will be listening on localhost only, so  if Jadeite is not on the gem's host it will need
to use an ssh tunnel.   Possibly GciDebugConnectToGem

[2019-12-05 20:39] LisaAlmarode commented on #636
Verified that class autocomplete **is** case sensitive in 3.0.91.

[2019-12-05 20:43] LisaAlmarode commented on #573
Verified fixed in 3.0.91. Since it wasn't closed, it wasn't doc'ed.

[2019-12-05 20:43] #573 closed, assigned to LisaAlmarode

[2019-12-05 20:49] LisaAlmarode commented on #651
With the proposed fix, my test cases error more gracefully.

[2019-12-05 21:26] LisaAlmarode opened #660 "Class autocomplete is not case insensitive (fix #636 not complete in 3.0.91)"
While method autocomplete is case insensitive, autocomplete for Classes (starting with capital letter) is still case sensitive.

I have a lot of classnames that start with MAV.
When I type in MA I see them. But not with Ma.

![image](https://user-images.githubusercontent.com/13142166/69208545-ca4e6280-0b08-11ea-9f19-972b31b5b765.png)

![image](https://user-images.githubusercontent.com/13142166/692

[2019-12-05 21:27] LisaAlmarode commented on #636
Created issue #660 for just the class case sensitivity.  Closing this issue.

[2019-12-05 21:27] #636 closed, assigned to ericwinger

[2019-12-05 21:53] LisaAlmarode opened #661 "Auto-open file path resolution not the same on first vs. subsequent logins (3.0.91)"
This is part of issue #632.

Say you have the following files:
  C:/GS/Oscar/Jadeite.prefs
  C:/GS/Oscar/jadeite91.exe
  C:/GS/Oscar/testws1.gs
  C:/GS/Oscar/testws3.gs
  C:/GS/Oscar/operations/testws1.gs
  C:/GS/Oscar/operations/testws4.gs

and the preferences file has:
openWorkspace: testws1.gs
openWorkspace: testws3.gs
openWorkspace: testws4.gs

And you start jadeite using a shortcut that speci

[2019-12-05 21:54] LisaAlmarode commented on #632
Filed a new issue for the different behavior on first and second logins.  Closing this issue, since the single issue for the customer is fixed.

[2019-12-05 21:54] #632 closed, assigned to ericwinger

[2019-12-05 22:42] LisaAlmarode commented on #625
Yes, the problem reproduces.  Reported on rowan as https://github.com/GemTalk/Rowan/issues/547.  Will close but leave in my review list hoping for a fix.

[2019-12-07 00:11] ericwinger opened #662 "Better handling of class inst var shadow compile errors"
When compiling a class, it would be desirable to group all inst var shadow errors together so that one could fix them in one fell swoop and continue the compilation. Currently, I believe that this is done one at a time which is annoying when pushing inst vars up or down in large batches.

See #587 for other class compile error needs.

[2019-12-07 18:38] dalehenrich opened #663 "(3.0.91) OOM when attempting to remove method with #new selector ..."
There are some 2000+ senders of #new and similar to the slow performance after doing a large set of changes ... I clicked on something after the method was removed (took a long time) then blew out of memory ... fortunately I had autoCommit on, so the method was removed, however the large number of new senders being passed around cause the OOM event ...

Putting into `December 2019` project because

[2019-12-09 17:53] ericwinger opened #664 "Would like hot keys in debugger"
Kind of like navigating vim, it would be nice to have Ctrl- characters to step, step into, step through, step over, step out, and resume. Keeping them together on the keyboard would be helpful. Like J,K,L,, etc.

[2019-12-09 17:54] ericwinger opened #665 "(3.0.91) Would like debugger to remember it's last location after resume"
@dalehenrich noticed that if he is debugging and repeatedly opening debuggers, when he moves the debugger window, it is annoying if the next debugger opened jumps back after resume.

I'm not sure how dolphin decides to position windows but using a "last position" methodology might work.

If #664 is implemented, that could also help.

[2019-12-09 18:27] dalehenrich opened #666 "(3.0.91) Dolphin error while setting breakpoint in debugger for 3.5.0"
Here's a snapshot of the error:
![image](https://user-images.githubusercontent.com/623951/70461847-703d1f00-1a6e-11ea-8f28-c8a4fb45bffe.png)
... and Dolphin stack:
[code]

[2019-12-09 18:30] dalehenrich commented on #666
Turns out that GemStone successfully set the breakpoint ... here's the breakpoint being hit in a new debugger after closing old debugger and running again:
![image](https://user-images.githubusercontent.com/623951/70462032-dfb30e80-1a6e-11ea-8f49-5ada55e5469a.png)

[2019-12-09 18:48] dalehenrich commented on #663
While removing a method that does not have a bunch of senders (in the same image as the original report), the performance is completely acceptable  ... so it occurs to me that Jadeite must be shipping the collection of methods that send the selector across the wire, however, the confirmation dialog is clearly only using the number of methods that send the selector, so the whole operation would run

[2019-12-10 17:38] ericwinger commented on #520
Fixed in 3.0.92

[2019-12-10 17:38] #520 closed, assigned to LisaAlmarode

[2019-12-10 17:39] ericwinger commented on #568
Fixed in 3.0.92

[2019-12-10 23:32] ericwinger commented on #518
I'm going to call this fixed in 3.0.92 so it can be reviewed.  It's a new feature so we can reopen it and enhance as need be.

[2019-12-10 23:33] ericwinger commented on #624
I've got a version of revert that works for methods (add, remove, change) in 3.0.92. Closing as fixed for review.

[2019-12-10 23:59] ericwinger commented on #657
There were some old limits still hanging around the inspector code on the server. Not sure why they were there but are removed. See server method `JadeServer64bit3x>>inspect:`

[2019-12-11 18:03] ericwinger commented on #604
I've added a check as you enter the new class name.  If it is an existing symbol, you are given the opportunity to retry entering a name. Cancel leaves you on the same class.

[2019-12-11 18:03] #604 closed, assigned to LisaAlmarode

[2019-12-11 18:43] ericwinger commented on #650
@LisaAlmarode AutoCommit is a Jadeite-specific feature. Is the request that we synchronize this with the transaction mode on the server?

If we want that, I'd recommend we open a new issue to provide Jadeite gui tools for manipulating the transaction mode and expect the user to use them. (Ad-hoc executions through the workspace are harder to keep in sync with the gui). Once we have those tools in

[2019-12-11 19:11] ericwinger commented on #660
Should be fixed in 3.0.92pre-release2.

[2019-12-11 19:11] #660 closed, assigned to LisaAlmarode

[2019-12-11 22:53] ericwinger commented on #665
Debugger now retains it's last position for the life time of the executable. In 3.0.92pre-release2.

[2019-12-11 23:29] ericwinger commented on #651
Going to call this fixed in 3.0.92pre-release2. A couple of tests were added based on @LisaAlmarode code and pass.

[2019-12-11 23:29] #651 closed, assigned to LisaAlmarode

[2019-12-12 21:33] ericwinger commented on #661
The working directory was getting set to the image directory only after the first login. This would give inconsistent results between the first and subsequent logins. See `JadeLoginShell>>onViewOpened` for sender that sets the working directory.

[2019-12-12 21:33] #661 closed, assigned to LisaAlmarode

[2019-12-12 21:52] LisaAlmarode commented on #650
It's not the transaction mode; any kind of execute in the workspace breaks the icon in the list.
- turn off autocommit
- do an execute
- turn on autocommit
- experience no icon in menu, although camera is green

[2019-12-12 21:58] ericwinger commented on #663
Should check to see if senders are getting returned to the client. Only need to return the count.

[2019-12-13 00:03] ericwinger commented on #650
Turns out the execution had nothing to do with the problem. Simply selecting the Workspace tab in the console did it.

When menu items are displayed, each item is passed to every presenter in the window. If the presenter implements the menu command, the presenter is asked to check the menu item. In the case of the autocommit menu item command, the presenter for the workspace, `CodeSourcePresenter`

[2019-12-13 00:03] #650 closed, assigned to LisaAlmarode

[2019-12-13 00:06] ericwinger commented on #650
fyi - This would have been a problem in some of the other console tabs as well.

[2019-12-13 02:00] ericwinger commented on #663
That was indeed the case. The code was foolishly returning method services when only the sender counts were needed. Fixed in 3.0.92pre-release2.

[2019-12-13 02:00] #663 closed, assigned to LisaAlmarode

[2019-12-13 02:23] ericwinger commented on #558
@LisaAlmarode @dalehenrich Should I just remove it?  It's pretty basic. It just grabs the project url &  sha and opens a browser.

[2019-12-13 02:29] ericwinger commented on #621
Fixed in 3.0.92. Should become the same color as when the debugger was opened.

[2019-12-13 02:29] #621 closed, assigned to LisaAlmarode

[2019-12-13 02:44] ericwinger commented on #560
Shouldn't see any breakpoint messages except on the context menu as of 3.0.92pre-release2

[2019-12-13 02:44] #560 closed, assigned to LisaAlmarode

[2019-12-13 17:48] dalehenrich commented on #558
You mean a web browser? Removing it is probably a good idea, at least until we get deeper into the business of supporting the git/github/bitbucket/gitlabs workflows ...

[2019-12-13 19:12] ericwinger commented on #599
Old code was arbitrarily removing menu items beyond an expected size. See `methodMenu:` implementors.

Once that bad code was removed, problem was fixed. However, that introduced a side effect such that method source menu items - break, browse implementors/senders - wouldn't remove themselves properly. Now we add/remove those latter three menu items in the same method that adds them which is safer

[2019-12-13 19:12] #599 closed, assigned to LisaAlmarode

[2019-12-13 19:23] ericwinger commented on #558
Removed in 3.0.92pre-release2

[2019-12-13 19:23] #558 closed, assigned to LisaAlmarode

[2019-12-13 22:39] ericwinger commented on #13
@LisaAlmarode This appears to have been fixed some time ago. Do you still see this problem?
https://github.com/GemTalk/Jadeite/commit/1e25e20d46cbd133d483d8533e198b19764fe499

[2019-12-13 22:54] ericwinger commented on #94
@dalehenrich Think we still need to support Alpha now? If not, I'll close this issue.

[2019-12-13 22:55] ericwinger commented on #95
3.5 support was setup quite some time ago. Although not officially released, it seems to be working well enough.

[2019-12-13 22:55] #95 closed

[2019-12-13 23:25] ericwinger commented on #142
@LisaAlmarode - Preferences were overhauled. Is this still an issue?

[2019-12-13 23:26] ericwinger commented on #148
@dalehenrich Is this still needed? We have a form of poison pill in that versions are checked on login - giving a warning message if the user is out of sync.

[2019-12-13 23:52] ericwinger commented on #197
Added in https://github.com/GemTalk/Jadeite/commit/46b5085db376b2ebba0766315a301c9b30ab2d72

[2019-12-13 23:52] #197 closed, assigned to LisaAlmarode

[2019-12-14 01:16] LisaAlmarode commented on #657
I tried this with:
| coll |
coll := Array new.
1 to: 2000000 do: [:i |
	coll add: 'entry', i asString].
coll

Perhaps surprisingly, it seems to have "worked" but the resulting inspector appears to be confused; as I move or drag the slider bar down, it shows non-sequential ranges, and I haven't been able to reach any given desired element by dragging the slider.  I can get at least to element 76k u

[2019-12-14 14:22] dalehenrich commented on #94
no longer an issue ...

[2019-12-14 14:24] dalehenrich commented on #148
the alpha jadeite is no longer an issue

[2019-12-14 14:28] dalehenrich commented on #657
In tODE I gave the user the  option of ineractively increasing/decreasing the number of elements displayed (via dialog) and that worked well ...

[2019-12-14 16:18] dalehenrich opened #667 "(3.0.91) Removing a large number of methods using method browser can be slow .."
I had 30-40 methods selected in a method browser based on senders of and it took quite a long time to remove all of the methods ... based on the rate of speed increase, I'd guess that after each individual method is removed the senders is calculated for all of the remaining methods in the list --- the removals go faster as the list gets shorter ... since the user is not prompted on each method tha

[2019-12-16 16:54] ericwinger commented on #94
Retiring.

[2019-12-16 16:54] #94 closed

[2019-12-16 16:55] ericwinger commented on #148
Retiring

[2019-12-16 16:55] #148 closed

[2019-12-16 17:07] ericwinger commented on #657
This [request ](https://github.com/GemTalk/Jadeite/issues/657#issuecomment-565665949) is really more of an enhancement to inspector functionality. Opening a new issue.

[2019-12-16 17:07] #657 closed, assigned to LisaAlmarode

[2019-12-16 17:15] ericwinger opened #668 "More efficient handling of large collections."
While the inspector will open on the expression below, it's not terribly useful. Should be faster and easier to see the entire range of elements. Need to enhance the inspector to do one of the following.

1. Add a "More" and "All" option to a collection inspector per [this suggestion](https://github.com/GemTalk/Jadeite/issues/657#issuecomment-565722658). Initial number of elements could be 200. Mo

[2019-12-16 17:16] ericwinger commented on #208
@dalehenrich  Are you suggesting a wild-card type search similar to `Browse Implementors` or `Browse Senders`?

[2019-12-16 18:07] dalehenrich commented on #208
@ericwinger since it was over a year ago, I don't recall recall the details of what I was thinking ... I had a similar need over the weekend where I wanted to find all of the test methods with 495 in the selector ... so wild card search would be useful ... the technique used in implementors and senders is somewhat annoying to me - when I looking for a pattern match I really want to see all of the

[2019-12-16 18:32] dalehenrich opened #669 "Could use better senders/implementors pattern matching ..."
As I point out [here](https://github.com/GemTalk/Jadeite/issues/208#issuecomment-566175357), I tend to  use the selector pattern (both senders and implementors) to find likely methods where I actually read the method or look at the class to know if it is the one(s) I am looking for.

It would be much more efficient (for the user) to get a list of all of the methods that match the pattern than a li

[2019-12-17 17:22] dalehenrich opened #670 "(3.0.91) cannot use senders/implementors menus in methods where step points don't exist"
In this method it is not possible to use the senders/implementors menu items in the `false ifTrue:[]` block, as the server does not produce step points for a `false ifTrue:[]` block:
[code]

[2019-12-17 20:39] LisaAlmarode commented on #142
Arguments of 1, 0, nil, 'true', 'false' do not error in the preferences file as of 3.0.92-2, but they always set the value to false, which seems not quite correct - an invalid argument should fall back to the default.  However, I'll close this since this is small fry.

[2019-12-17 20:39] #142 closed

[2019-12-17 20:58] LisaAlmarode commented on #568
Overall I've very happy with this; there's the right amount of detail before the ..., it generally handles class vs. method, it finds long methods.

However, there's one place in which the handling of Class name/selector is not correct, if you highlight text that contains a Class name and keyword selector, but not the argument of the keyword, it appears to be confused.

![image](https://user-image

[2019-12-17 22:10] LisaAlmarode commented on #520
The example works correctly in 3.0.92-2

[2019-12-17 22:16] LisaAlmarode commented on #665
Testing in 3.0.92-2, I thought this wasn't working... but turns out it requires that the debugger exit naturally.  If you close the debugger window using the (Windows) little x icon on the upper right (or the Windows drop-down in the upper left sparkle), the position is not remembered.

However, if you run to completion, the location is remembered.

Reopening this since it does appear to be not en

[2019-12-17 22:23] LisaAlmarode commented on #604
Much better behavior!

[2019-12-17 22:30] LisaAlmarode commented on #197
Another nail in the coffin of general menu consistency... but I have reviewed and it's there.

[2019-12-17 22:35] LisaAlmarode opened #671 "Project Browser changes menu item gets MNU (3.0.92-2)"
Very reliable, for Rowan and my own projects, in console and PB.
![image](https://user-images.githubusercontent.com/13142166/71039902-242b5380-20da-11ea-9c00-64f89e852883.png)

[2019-12-17 22:46] LisaAlmarode opened #672 "Ordering of Elements in Preferences File and the Jadeite settings menu items (3.0.92)"
The preferences file contains two kinds of settings: booleans that correspond to items in the Jadeite drop-down menu (one setting per), and instructions to open certain windows (multiples of any of these).

These are currently sorted together alphabetically, and they should be sorted separately, since the alphabetic sort puts one of the boolean flags alone at the end.  Eric speculates that alphabe

[2019-12-17 22:49] LisaAlmarode commented on #595
I like the new menu items and labels - it's been intuitive to use.

To avoid confusion, I filed a separate issue #672 on the ordering.

[2019-12-17 22:52] LisaAlmarode commented on #606
looks okay in 3.0.92-2

[2019-12-17 22:55] LisaAlmarode commented on #670
I believe this is a server limitation in 3.2.x.  @dalehenrich, what was the intention; implementing a workaround in jadeite for 3.2.x doesn't seem like the right answer... redesign the senders/implementors api is another rather heavy fix.

[2019-12-17 22:58] LisaAlmarode commented on #663
very snappy remove in 3.0.92

[2019-12-17 23:03] LisaAlmarode commented on #518
I get an error dialog when I attempt to use the method history menu item (drop down or pop up) on the project browser in 3.0.92-2

![image](https://user-images.githubusercontent.com/13142166/71041566-40c98a80-20de-11ea-8463-bb1d145bd887.png)

[2019-12-17 23:18] LisaAlmarode commented on #657
With this example, I have a non-squirrelly inspector with 65553 elements, but with 65554 elements, scrolled down the the bottom shows indexes 21, 22, etc.  So, this bug is fixed for collections up to a bit over 65k.

It would be more correct to cut off the element display, rather than display it in such a broken way.  But hopefully the new feature can be implemented before the next public release,

[2019-12-17 23:29] LisaAlmarode commented on #668
The inspector is broken (in 3.0.92-2) with more than (in this test) 65553 elements.  For the next customer release, we should make sure that the inspector either handles larger numbers of elements, or just doesn't even try.

I kind of like the single large inspector; the GBS ones with having to scroll through ranges to find the ones I want can be very annoying, especially if it's alphabetic (e.g.

[2019-12-17 23:30] LisaAlmarode commented on #657
Hopefully issue #668 means this can be closed.

[2019-12-17 23:33] LisaAlmarode commented on #661
In 3.0.92-2, the second behavior works for both logins, which makes me happy.

[2019-12-17 23:48] LisaAlmarode commented on #667
Moving this to oscardale, which is not meant to be ignored.  We aren't currently adding new issues to the December project: Eric has requested a new "current work" post-December project, but this is pending some discussions (Thursday), since we should have the goal first and then the project.  oscardale has got too big to be easily usable... we will move issues from oscardale into the next project

[2019-12-17 23:55] LisaAlmarode commented on #478
I am not testing jadeite in 3.5

[2019-12-17 23:57] LisaAlmarode commented on #612
I have not been able to detect this performance issue, but customer hasn't complained.

[2019-12-17 23:58] LisaAlmarode commented on #631
wasn't able to reproduce, so can't confirm fix

[2019-12-18 00:09] LisaAlmarode commented on #134
This was fixed as part of some other complaints a while back; things look fine in 3.0.92

[2019-12-18 00:22] LisaAlmarode commented on #13
Close as old and probably obsolete.

[2019-12-18 00:22] #13 closed

[2019-12-18 00:23] LisaAlmarode commented on #629
This is part of performance issues for November release that is good enough for customer, so call this good.

[2019-12-18 00:27] LisaAlmarode commented on #351
Recently discovered existing feature (console icon bar, leftmost icon that looks like a hand picking a menu), opens up a rather unattractive preferences dialog that allows you to control the system font.

[2019-12-18 00:27] #351 closed, assigned to nobody

[2019-12-18 00:29] LisaAlmarode commented on #282
With the jadeite preferences allowing me to auto-open a workspace, this feature magically has been implemented!

[2019-12-18 00:29] #282 closed, assigned to ericwinger

[2019-12-18 00:30] LisaAlmarode commented on #580
Closing, assuming it was something about the old version or a merge issue.

[2019-12-18 00:30] #580 closed, assigned to ericwinger

[2019-12-18 00:39] dalehenrich commented on #672
In general I prefer any list to be sorted alphabetically ... in my case I haven't memorized the names so I don't always know what it's name is so alphabetical sorting is as good as random sorts ... chunked groups of similar settings might make scanning a bit easier ... I have a default set of settings that I like and I copy the prefs file without looking when I install a new Jadeite, so at this po

[2019-12-18 00:48] dalehenrich commented on #670
My intention is to be able to do senders/implementors for all selectors in a method ... I can do senders/implementors in a workspace without step points, so I should be able to do the same thing in a method ... If the server doesn't provide step points for all messages in a method, then perhaps step points shouldn't be used for senders/implementors ... I put the `false ifTrue:` statement there, be

[2019-12-18 00:52] dalehenrich commented on #667
Does it not reproduce, or do you think that slow removal of methods is not a bug ... it was really slow ...

[2019-12-18 00:54] dalehenrich commented on #478
I'm using 3.5.0 daily and can confirm that the 3.5.0 libraries have bee present since June ...

[2019-12-18 02:28] LisaAlmarode commented on #667
Generally the "bug" tag would be for something that is actually producing wrong or invalid results, which is a boolean condition vs. ugly or slow results, which are a scale... I was debating if a performance tag would be useful.  Performance issues are best rated on a P scale.

[2019-12-18 14:26] dalehenrich commented on #667
... oh, you are talking technicalities ... would it make sense to leave technicalities up to you?

I have only been thinking in terms of feature/bug ... and I appreciate that you and Eric need to have finer grain detail for project management, but don't expect me to keep track of what you are thinking (which project to use is another case in point ...) give me one project to add my issues too for

[2019-12-18 18:17] dalehenrich opened #673 "(3.0.91) list of methods in SUnit browser not updated when new methods added to superclass"
... Yes the tests in question were added to an abstract test class (`isAbstract` returns true) and I'm looking at the concrete test class (subclass) in the SUnitBrowser ...

[2019-12-18 18:29] ericwinger commented on #668
@LisaAlmarode I'm open to how we display inspectors on collections. Here is one proposal:

![image](https://user-images.githubusercontent.com/36212516/71112777-1b418d00-2181-11ea-897c-cb4e212f4c2b.png)

The default number of indexed items is open. I selected 1000 randomly.
Thoughts?

[2019-12-19 00:52] LisaAlmarode commented on #668
I like this better than the sets-of-ranges solution, and 1000 is probably a good size... though I worry about customer performance.
However, if you have a very large collection, and display all just bring it all into the inspector... it will just run into the unusable-inspector-scroll-with-over-65k-elements (which is probably a dolphin thing).

[2019-12-19 19:02] dalehenrich opened #674 "(3.0.91) clicking on hierarchy tab shows direct subclasses as if they have extension methods when they do not"
![image](https://user-images.githubusercontent.com/623951/71201473-f3b8f600-224e-11ea-942a-ef07db968f01.png)
There are no extension methods in `AbstractBagEnumerator`.

[2019-12-30 18:16] ericwinger opened #675 "Add Rewrite tool to Jadeite"
Copied from Jade issue: https://github.com/jgfoster/Jade/issues/243

[2019-12-30 22:57] ericwinger commented on #668
Should be improved in 3.0.92.

[2019-12-30 23:13] ericwinger commented on #518
@LisaAlmarode Can you capture the stack from this error in this issue? It should be the last stack in jadeite.errors.

[2019-12-31 01:13] ericwinger commented on #518
The dolphin browser I usurped came with a lot of hidden dependencies which weren't present in the runtime image. Think I've got the immediate problem fixed.

[2019-12-31 01:13] #518 closed, assigned to LisaAlmarode

[2020-01-08 23:34] ericwinger commented on #104
Should be able to save elements of an object now. Done over a series of commits in Jadeite & Rowan. Last commit was https://github.com/GemTalk/Jadeite/commit/b0c2a56a7b8e09b2e964f319ea74dfacedddee18

[2020-01-08 23:35] #671 closed, assigned to LisaAlmarode

[2020-01-08 23:56] ericwinger commented on #435
At least in the inspector, this should be better than before as of 3.0.92. Good enough to warrant a review and a more specific bug if necessary.

[2020-01-08 23:56] #435 closed, assigned to LisaAlmarode

[2020-01-08 23:57] ericwinger commented on #456
As of 3.0.92, should no longer error.

[2020-01-08 23:57] #456 closed, assigned to LisaAlmarode

[2020-01-09 00:02] ericwinger commented on #627
I believe that this is fixed in 3.0.92. In my test case, the object inspected from the debugger is the object not the error. Instance variables are visible.

[2020-01-09 00:02] #627 closed, assigned to LisaAlmarode

[2020-01-11 00:47] ericwinger commented on #568
Parsing random smalltalk and trying to dig out a selector is tricky. Especially if it's not valid code. I believe I have the specific case handled.  As always ... let the highlighter beware.

[2020-01-11 00:47] #568 closed, assigned to LisaAlmarode

[2020-01-13 18:11] ericwinger commented on #665
This seems to be working for me now. Capturing the last position a little earlier in 3.0.92.

[2020-01-13 18:11] #665 closed, assigned to LisaAlmarode

[2020-01-13 18:23] ericwinger commented on #672
My preference is alphabetic, too. I alphabetized the Jadeite menu options for @LisaAlmarode 's review in 3.0.92.

[2020-01-13 18:23] #672 closed, assigned to LisaAlmarode

[2020-01-14 22:42] LisaAlmarode opened #676 "Ordering of Elements in Preferences File (3.0.92)"
This is the unfixed part of issue #672

This really irks me.  Besides not being able to find the lost transcript enabled, the legal values statement with is always wrong.

[code]

I believe it ought to be:
[code]

[2020-01-14 22:43] LisaAlmarode commented on #672
The menu is fixed, but the preferences file is still wrong.  Filed this as a separate bug with specific proposal.

[2020-01-14 22:50] LisaAlmarode opened #677 "Method history behavior with no past versions (3.0.92)"
If you have no past versions of a method, the method history menu item is enabled, and the method history browser shows up, but while it has two ticks, you cannot move to the first tick.

I would prefer that the menu item be disabled if there is no past history.  It is more informative than having to click, and then it looks like you do have history and just can't get to it.

[2020-01-14 22:51] LisaAlmarode commented on #518
I don't think it's quite correct when there's only one version.  I've filed a separate bug, issue #677,  for this as it's not earthshaking.  I find the interface a bit... not in a smalltalk/gemstone style, but it appears to work (in cursory testing).

[2020-01-14 22:55] LisaAlmarode commented on #677
The background of the method history is also a different shade of yellow, rather more lemony than the warm yellow of the regular text panes.  It clashes.

[2020-01-14 23:27] ericwinger commented on #539
Believe I have a clean fix for this in 3.0.92.

[2020-01-14 23:27] #539 closed, assigned to LisaAlmarode

[2020-01-15 18:11] ericwinger commented on #677
I've got fixes put in place to enable method history & change the background color changes.

[2020-01-15 18:19] ericwinger commented on #676
Fixed per recommendation.

[2020-01-15 18:44] ericwinger commented on #646
There's a ``hoverTime`` setting that can be changed for the method source pane. Right now it's set at 200ms. From experiments, making it shorter increases the "flicker" so making it longer is probably the right answer. However, it's hard to know what the proper duration should be.

Perhaps we can look at this together next time you're in the office, @LisaAlmarode .

[2020-01-15 19:37] LisaAlmarode commented on #624
Revert of added, removed, and changed methods appears to be working nicely.

Revert of add added method shows (removed), revert of an removed method shows (restored), but revert of a modified method does not show anything.  It would be kind of nice if selector said included something like (reverted); makes one feel more confident that something happened.  This isn't very important.

If you remove

[2020-01-15 19:42] LisaAlmarode commented on #568
This looks great now!

[2020-01-15 20:12] LisaAlmarode commented on #435
The inspector part of this bug appears to be working in 92.3.  The print-it is broken as per an earlier pic; but I'll file a separate bug.  The handling of a pasted-in $š is different, but that appears to be due to the dolphin windows code page which is a separate (heinous) bug.

[2020-01-15 20:16] LisaAlmarode opened #678 "Print-it for out of range characters is... peculiar (3.0.92.3)"
This is the unfixed part of issue #435.

If you enter ``` 'aa', (String with: (Character withValue: 353)) ``` or ```Character withValue: 353 ``` in a workspace, highlight and print-it, you get no display result, and the selected area is set to something obviously wrong.

![image](https://user-images.githubusercontent.com/13142166/72467752-79698c00-3790-11ea-85f8-78022d38ec76.png)

[2020-01-15 20:24] LisaAlmarode commented on #627
Works nicely.  Can even edit the problem fields and make the error go away.

[2020-01-15 20:27] LisaAlmarode commented on #625
Still broken in 92.3. Dale has fixed in master but this may still need Eric to pack port. Reopen optimistically.

[2020-01-15 20:47] LisaAlmarode commented on #668
It works fairly nicely for an initial open, and if you are just wanting to look at a smallish number of elements.

However, if you do theuse the "display all" option, and are very very patient while it hangs for five minutes, you get what is probably a correct inspector for 2M objects, but still not actually usable since the scroll bar is broken.

I do think I could use the mouse down scroll, to e

[2020-01-15 21:12] LisaAlmarode opened #679 "binding of "self" in new inspectors (3.0.92-3)"
If you are inspecting a dictionary, executing code in the right pane that uses "self" seems to have very disparate results.

inspecting this: ```Dictionary new at: #abc put: 'hello'; yourself```

print it (and execute it) works as expected.
inspect it gets a walkback, as if self was nil. (see right side)
debug it gets an error dialog.

![image](https://user-images.githubusercontent.com/13142166/72

[2020-01-15 21:20] LisaAlmarode commented on #104
Adding something to a dictionary, specifically, is a little weird, since it only adds one field, the key.  If you enter an association, the whole association is the key.  This isn't a big deal, but the API is confusing.  I can't examine the keys, which is a little more annoying.

If you enter characters without # or quotes, it walks back.  If the object is not resolvable, assuming it's a string is

[2020-01-15 21:22] LisaAlmarode commented on #668
I tried to make a change with the inspector open on the 2M object collection.  This hung too; I tried to wait it out but VPN disconnected.

[2020-01-15 21:29] LisaAlmarode commented on #665
Remember on various kinds of close is reliable now.

[2020-01-15 21:37] LisaAlmarode opened #680 "The position of the walkback window (3.0.92)"
As I was testing the position of the debugger, I got to wondering what caused the position of the initial walkback window.

Turns out this opens in a sequence of 14. The first one is just a bit away from the upper left of the main monitor (regardless of where and on which monitor the workspace executing the code is).  Subsequent (unrelated) walksbacks open a little down and right, for each new wal

[2020-01-15 21:50] ericwinger opened #681 "Write out login values if "Debug GCI" is enabled"
When debugging a connection, it is valuable to see the actual parameters sent to the gci. On login, write out those values to a file, but only if the Debug GCI is enabled from the `Advanced` tab on the login window.

[2020-01-15 22:18] ericwinger commented on #668
I'm not sure I would characterize the new problems the same way as the old problems. Previously, simply trying to open a 2M collection would hang and break. Now, you can display and manipulate at least some of the collection if you don't try to display everything.

Since displaying "segmented" inspector ranges was vetoed, we may be at the mercy of Dolphin's graphic limitations when displaying larg

[2020-01-15 23:28] ericwinger commented on #679
Fixes in 3.0.92 prerelease4

[2020-01-15 23:28] #679 closed, assigned to LisaAlmarode

[2020-01-15 23:46] ericwinger commented on #624
Reverted modifications now have a `(reverted)` label and reverts that fail have a nicer warning, in particular the [use case mentioned](https://github.com/GemTalk/Jadeite/issues/624#issuecomment-574821488).

[2020-01-15 23:46] #624 closed, assigned to LisaAlmarode

[2020-01-15 23:46] LisaAlmarode commented on #668
I think limiting the display-all to 50k (why not 65k?) would be better; the current behavior is kind of disturbing.  Can we do that in December?  I agree 2M not really reasonable.

[2020-01-16 00:09] ericwinger commented on #625
Backported in https://github.com/GemTalk/Rowan/commit/7ac21f584475379f3582fc2c8606bf1a8a036897

Awaiting feedback.

[2020-01-16 00:12] dalehenrich commented on #668
I'll just chime in that I agree that there is no need to see all 2M entries in a collection, but being able to inspect a 2M entry collection and looking at an arbitrary chunk of 200 entries is something that would still allow you to use the inspector when you do have a 2M entry collection ... otherwise we're in the same boat that we were when the limit was 200 entries.

[2020-01-16 00:24] LisaAlmarode commented on #668
What we probably will end up needing is a simple inspector to some size limit (say 10k), and a segmented one for anything larger.  Using "more" will get old pretty quick.

Maybe "inspect all" can open the segmented inspector.

[2020-01-16 00:35] LisaAlmarode opened #682 "Reappearance of #433, Walkback in presence of #size method"
The example reported and fixed under issue #433 has reappeared.  Given that this is a legal, real(ish) life, but still slightly weird example, it's not actually critical for December.

[code]

The new stack is below.

I'd be concerned about sorting complex objects for display.

[code]

[2020-01-16 17:09] ericwinger commented on #668
So, the decision is to reverse the previous decision?  i.e. We now want to use segmented inspectors thus reversing [this comment?](https://github.com/GemTalk/Jadeite/issues/668#issuecomment-566795924) This will involve another lengthy inspector rewrite, fyi.

[2020-01-16 17:53] ericwinger commented on #682
While I agree that we should handle as many pathological cases as possible, I don't think that creating an "un-iterable" collection should be expected to display it's variables in an inspector.

Using the object given in the issue report, execute this expression. The resulting stack is below.
`LisaSet new collect: [:ea | ea printString]`

Without a sort on unordered collections, the inspector isn'

[2020-01-16 18:20] dalehenrich commented on #668
If there is significant work to be done to implement the segmented, my vote would be to defer the work until after the Dolphin port is done and that the segmented inspector be included as part of the work for supporting V2.0 ...

[2020-01-16 18:29] LisaAlmarode commented on #668
I agree that being able to inspect collections with more than 65k objects is not needed for December/before Dolphin port.

I'm not comfortable with the current behavior with collections over 65k; besides it's-hung level slowness, the scrollbar is dysfunctional over 65k elements. My recommendation is to limit the max number to display in an inspector (with inspect-all) to 65k or less for now.  This

[2020-01-16 19:20] LisaAlmarode commented on #682
I know that printString is broken for these cases but tools should just not produce walkbacks.

I'm not sure what the fix was to the original issue to allow inspectors to not walkback for the somewhat strange #size condition. If it's not relevant after the inspector rewrite, this does not need to work, for December to be released.

I wasn't able to find a case in which sorting was a problem; this

[2020-01-16 19:22] ericwinger commented on #682
Have a fix as described in previous comment. https://github.com/GemTalk/Rowan/commit/6b23ce63935a3438b5bc8f7f7e47d8ae33a24e6c

[2020-01-16 21:36] LisaAlmarode commented on #646
I'm going to close this, at least for now. I suspect something else was going on that first time that made it sooo visible.  It's still there in 92.3... but I can't describe it as annoying.

[2020-01-16 21:36] #646 closed, assigned to ericwinger

[2020-01-16 22:06] ericwinger commented on #681
Fix per the issue report in 3.0.92 prerelease 4.

[2020-01-16 22:06] #681 closed, assigned to LisaAlmarode

[2020-01-16 22:42] ericwinger commented on #104
@LisaAlmarode - I agree that adding to a dictionary is different than adding to a standard collection. However, by adding a key, then saving a change to that key's value in the code pane, one can add an element. It's two steps but at least is possible.

The added key should compile in the context of the dictionary. That was a bug which will be fixed in prerelease 4.

[2020-01-16 22:52] ericwinger commented on #104
Adding key now compiles in dictionary's context

[2020-01-16 22:52] #104 closed

[2020-01-17 00:23] ericwinger commented on #668
I've limited the number of maximum displayable variables or keys to 65,000. We'll want to bug note this somehow. @LisaAlmarode Can you open a new issue on the full solution (segmented) and how you think the inspector should behave?

![image](https://user-images.githubusercontent.com/36212516/72573986-59af9200-387c-11ea-8f8d-6aee40ee82ac.png)

[2020-01-17 00:23] #668 closed, assigned to LisaAlmarode

[2020-01-17 00:28] ericwinger commented on #680
@LisaAlmarode - When you say " walkback window" are you referring to the notifier window?

[2020-01-17 01:25] ericwinger commented on #678
Should have a fix for this in 3.0.92 prerelease 4

[2020-01-17 01:25] #678 closed, assigned to LisaAlmarode

[2020-01-17 20:14] LisaAlmarode commented on #681
Verified.  Note that the password is written out in plain text, which is kinda what you need for debugging but does need to be documented or noted somewhere.

I could (but won't) complain about the Debug GCI button... it has layout issues per issue #564, and also it's a bit weird to turn it off, you press it, and cancel when it asks for a log file name.

[2020-01-17 20:20] LisaAlmarode commented on #676
Oh Happy Day!  Easy to find my most problem stat, transcript writes, which if on makes my system so very slow.

Minor tweak; the example I listed has my preferred default, which is
    #transcriptEnabled: false

But the current actual default is true, so the preferences file example does not match the behavior in the image.   It would be more consistent to have:

    #transcriptEnabled: true

[2020-01-17 20:22] #625 closed, assigned to LisaAlmarode

[2020-01-17 20:23] LisaAlmarode commented on #625
Class methods stay on the class side now, thank goodness.

[2020-01-17 20:35] LisaAlmarode commented on #624
This is looking good.
It would be nice to be able revert class add/remove too; this is a separate feature request.
Also, if you revert changes, they remain in the changes.  It doesn't appear to be a problem, but if you're pruning the changes list it would make it less useful. This I'll file as a separate issue; probably involves rowan.

[2020-01-17 20:37] LisaAlmarode commented on #677
It's certainly better.  I still don't like having two ticks in the history for a new method and would prefer to have the menu item disabled. This can wait, though.

[2020-01-17 20:48] ericwinger commented on #676
Got a fix for the next release ready.

[2020-01-17 20:48] #676 closed, assigned to LisaAlmarode

[2020-01-17 20:54] LisaAlmarode commented on #104
In 92-4, with a dictionary

-> Add Object, enter a random string without quotes results in "a CompileError occurred (error 1001), compilation errors -- parameter 1 is error descriptor".   I think this is a different error but it's not "working".

-> Add Object, entering 'a' -> 2 results in adding the key 'a'->2 with a nil value.  It doesn't seem to have changed from 92-3.

These do not need to be

[2020-01-17 21:07] LisaAlmarode opened #683 "Make it possible to inspect all elements of a very large collection (3.0.92)"
If you have a very very large collection, it should be possible in some way to inspect any of the elements in that collection.  Unfortunately, Dolphin currently has some issues in the scrollbar that don't support more than ~65K elements (see issue #668).

The problem collection:

| coll |
coll := Array new.
1 to: 2000000 do: [:i |
coll add: 'entry', i asString].
coll

We agreed earlier we don't wa

[2020-01-17 21:08] LisaAlmarode commented on #668
The behavior in 92-4 is good; filed issue 683 for further work.

[2020-01-17 21:11] LisaAlmarode opened #684 "Ability to revert class add and remove from Changes Browser (3.0.92)"
With feature under issue #624. we can revert add, remove, and method modifications.

Alas this now creates the desire to revert adding and removing classes.

[2020-01-17 21:20] LisaAlmarode opened #685 "Revert of method changes leaves the change in the next changes browser"
If you open the Changes Browser, and revert all the method changes, and close and reopen the Changes Browser... all the changed methods are still present in the list.

If I were using this feature to prune out changes I didn't want to commit and I had a boatload of methods (this is exactly my use case when I do work on the bug system), I would really be annoyed at not being able to get the reverte

[2020-01-17 21:26] LisaAlmarode opened #686 "Changes Browser Browse senders/implementors doesn't work after reverting changes (3.0.92)"
In the Changes Browser, if you revert changes to add/remove/modify a method, it displays in the Changes Browser as the selector 'methodName (reverted)'

Unfortunately, the senders/implementors menu item then attempts to find selectors with the selector 'methodName (reverted)', and of course can't find anything.

Trivial side comment: it's disallowed to browser senders/implementors for a removed me

[2020-01-17 21:27] LisaAlmarode commented on #624
Another note: finding senders/implementors doesn't work for reverted methods, reported separately as issue #686 since I don't think it's worth holding up 92.

[2020-01-17 21:38] LisaAlmarode commented on #682
I am not sure what the point is of the dialog, which is both scary and not correct.

Say I redefine LisaSet with the instance variables:
	instVarNames: #( dictionary lisaSetInstVarOne lisaSetInstVarTwo
	                  _privateIvarInLisaSet)

and redefine the new method:

new
| n d |
n := super new.
d := Dictionary new.
d at: 1 put: 2.
n dictionary: d.
n lisaSetInstVarOne: 'this is the value in

[2020-01-17 21:56] ericwinger commented on #682
It's a blanket error handler. How else should I tell the user that there was a problem inspecting this contents of this object?

fyi - can't reproduce the problem without knowing the behavior of the 3 methods sent in `new`.

[2020-01-17 21:59] dalehenrich commented on #682
... it does seem that the dialog is redundant since the same error message is printed in the inspector ... which is what happens now (3.0.91), right? and I can tell that there was an error printing my object when the #printString is an error message ...

[2020-01-17 22:04] ericwinger commented on #682
I can remove the error handler and dialog. My fear is that if an error is encountered getting the object's variables (keys, indexed values, unordered, etc) the inspector will just break.

Perhaps I'll learn more when I get the full reproduction case from Lisa.

[2020-01-17 22:08] LisaAlmarode commented on #682
The three methods are just accessor methods, created using variable menu Add Accessors.  Not important, just to verify that there is interesting contents and I'm really inspecting the created LisaSet.

The dialog is incorrect when it says I can't inspect instance variables, since I can, in fact, inspect the instance variables. And as Dale points out, redundant. Seeing the error when you look at th

[2020-01-17 22:14] LisaAlmarode commented on #682
It would be nice if there was a way to do a class fileout such that I can display something using a do-it in the image and paste it here.  I had to dig around in the rowan/src to get something; and it would correspondingly be nice to be able to just file in code like this from Jadeite (without having to remember particular classes and methods to execute)

[code]

[2020-01-17 22:26] ericwinger commented on #682
The problem is the same as before. Jadeite tries to iterate over the elements of the collection and cannot.

``LisaSet new collect:[:ea | ea printString]`` gives the offset error.

This is the type of error which may not be reflected in the object's printString. To alert the user that they aren't seeing a complete object (the key 1 is missing), I added the warning dialog.

However, if there's a be

[2020-01-17 22:34] dalehenrich commented on #682
It would be nice to have the option to debug the error ... but it should be an option. If I am intending to fix the error, then a debugger would be perfect. But if I am not the owner or I don't have permissions to fix the problem, then showing an error message instead of the printString is acceptable and I can continue trying to inspect what I can ...

[2020-01-17 22:39] LisaAlmarode commented on #682
Eric, can you give me or suggest an example in which the inspector in fact doesn't open as if it was working, or in which the inspector does not have an error as the first thing you see, or where any of the instance variables are missing?

It's hard to discuss the theory under a specific example which doesn't have any of the problems you mention.  What is "key one" that's not there?  All my actual

[2020-01-17 22:43] ericwinger commented on #682
To see the problem, put a custom `printOn:` method in LisaSet, e.g.
[code]

Here's one possible way to display the error that doesn't involve a dialog.
![image](https://user-images.githubusercontent.com/36212516/72651264-b3c15d80-3937-11ea-91db-2d227aeeeb97.png)

[2020-01-17 22:48] dalehenrich commented on #682
If you are getting the error when trying to populate *hidden fields* then the printString for the *hidden field* should be the error message ...

[2020-01-17 22:53] ericwinger commented on #682
The inspector needs to iterate over the elements of the collection. It thinks it has 1 element. When it tries to iterate over that, it fails.

If an error occurs during the gathering of information about the object, I think the user should know.

[2020-01-17 22:54] LisaAlmarode commented on #682
I don't mind a message in the status bar.  I don't see any problem with the behavior of the inspector with the printOn: method implemented.  It appears to work fine.

[2020-01-17 22:56] ericwinger commented on #682
I'll replace the dialog with a status bar message then I'll ship out a prerelease5 to look at.

[2020-01-17 23:00] dalehenrich commented on #682
I mention the debugger earlier, because it is useful for the developer to know how to reproduce the particular problem that produces the error in the status bar ... this sounds like a case where the developer would see the error but not know what operation produced it, since it's not related to printString producing the error ... if I had my druthers, I'd almost prefer a debugger --- but this is n

[2020-01-17 23:02] ericwinger commented on #682
Maybe that's an opportunity for an enhancement issue.  Perhaps with a preference option - Open debugger on inspector errors? If it's worthy enough, feel free to open an issue with a few details of how you and/or Lisa would like to see it implemented.

[2020-01-18 00:18] LisaAlmarode commented on #682
In 3.0.92-5, it's MUCH worse - I get an "Index 0 is out of bounds" without an inspector.  The previous working-great-with-annoying-dialog is now not working at all nada.

This needs the error catcher, just not the dialog...

[2020-01-18 00:21] LisaAlmarode commented on #682
I may have been in some weird state since the exe was deleted.  Then I got an inspector on nil.
Hold that thought.

[2020-01-18 00:22] ericwinger commented on #682
fyi - The error catcher is still in place. Jadeite no longer throws the dialog though. If you get an error it may be in another part of the inspector.

[2020-01-18 00:27] LisaAlmarode commented on #682
False alarm, presumably related to security deleting my executable, and it actually being 93.4 running against 92.5 services.  It does look okay now.

[2020-01-18 00:27] #682 closed, assigned to LisaAlmarode

[2020-01-24 19:35] ericwinger opened #687 "(3.0.92) inspection as DataCurator broken"
Doing any kind of inspect signed in as DataCurator breaks.  `RowanInspectorService` was not added to `RwGsPlatform>>serviceClasses`.

Add test to catch this kind of error.

[2020-01-24 19:59] ericwinger commented on #687
Fixed per report. Test added to verify client service classes match `RwGsPlatform>>serviceClasses`. Also added sanity inspection test while logged in as DataCurator

[2020-01-24 19:59] #687 closed, assigned to LisaAlmarode

[2020-01-24 21:28] ericwinger opened #688 "(3.0.92) Compile Errors in Workspace broken"
Do an execute of `#(1 2` in a workspace. Get a walkback instead of a compiler error

[2020-01-24 22:06] ericwinger commented on #688
Fixed in Rowan checkin https://github.com/GemTalk/Rowan/commit/a5eceb31c4c6e87b8005a6ce21e24a72425bb608.

Sanity tests added in Jadeite

[2020-01-24 22:06] #688 closed, assigned to ericwinger

[2020-01-24 22:07] ericwinger commented on #687
Actual fix in Rowan https://github.com/GemTalk/Rowan/commit/a33e9c9170a1b162927dc0e2eb2d6a99e8ea1775

[2020-01-25 00:25] ericwinger opened #689 "Use of UserGlobals direct reference incorrect"
`RowanAnsweringService>>basicMethodHistoryFor:` has a direct reference to `UserGlobals` and it should not as it will reference the `UserGlobals` for the user that compiled the method. This can create security policy access violations in some cases.

Instead, `UserGlobals` references should use `Rowan image symbolList objectNamed: #UserGlobals` (if memory serves)

Also, cleanup any other references

[2020-01-25 00:40] martinmcclure opened #690 "Option to push to Git remotes other than "origin""
A "Push to Git" fails if you don't have a remote named "origin". Defaulting to "origin" is fine, but it would be helpful to have a way, perhaps in preferences, to specify a different remote name to be used for pushing. And possibly also for pulling?

[2020-01-25 00:52] dalehenrich commented on #690
In V2.0, there is a git repository object with a field for the `remote` name to be used. When Jadeite is converted to use the V2.0 api, push will use the `remote` specified in the repository object...

[2020-01-25 00:53] ericwinger commented on #689
Fixed in https://github.com/GemTalk/Rowan/commit/ea8e438a631841f68273bfa75ea98f30a123e69c

[2020-01-25 00:53] #689 closed, assigned to LisaAlmarode

[2020-01-26 23:47] brunobuzzi commented on #675
@ericwinger check: (still more work needed to finalize the Rewrite tool for Jade)
https://user-images.githubusercontent.com/4719282/73143716-4f5f7600-407c-11ea-9cbb-05e71949a401.png

Or check (https://github.com/jgfoster/Jade/issues/243) for more details

[2020-01-27 23:12] martinmcclure commented on #619
I just hit this one. For me, selecting a different package, then back to the affected package cleans up the display. I didn't try selecting a different project, which seems to have worked for Lisa.

[2020-01-28 00:03] martinmcclure opened #691 "Commit to Git leaves old SHA red"
Start with a clean load from Git. The project is listed in the console and projects browser with normal black font.
Make some code changes in a project. The project is now listed in the console and projects browser with black bold italic.
In the console, right-click on the project and select "Commit to Git", enter a commit message, and click OK. The commit is made, but the console still lists the

[2020-01-28 00:18] LisaAlmarode opened #692 "removing instance variables from class definition (3.0.92)"
Say you have a class with two instance variables, each with accessor methods, and you realize you just added them to test something or another, so you edit the class definition to remove those instance variables.

You get a methods failing recompile... only one; but we'll see.

![image](https://user-images.githubusercontent.com/13142166/73225033-2690bc80-4120-11ea-91d9-4eae76830505.png)

But now,

[2020-01-28 20:32] ericwinger commented on #691
Possibly an issue with DataCurator?

@martinmcclure says he is changing `FileSystemGs_dev` project which is in the `UserGlobals` of `DataCurator`

[2020-01-29 18:34] dalehenrich opened #693 "Would like to be able to open method browser on all methods in selected categories"
Just as it is useful to browse a set of selected methods, I'm finding it useful to be able to open a method browser on selected categories ...

[2020-01-29 18:45] LisaAlmarode commented on #682
Looks okay in my real-life example in 93-1.

[2020-01-29 19:01] LisaAlmarode opened #694 "Inspector icon bar missing icon, broken option, and bubble help confusing"
- [x] The inspector icon bar fourth icon is a question mark, which is probably not the intended graphic for add object:

![image](https://user-images.githubusercontent.com/13142166/73387789-eba89900-4285-11ea-9e62-252cc1da96f5.png)

- [x] The fifth icon, the one with the little magnifying glass, gives me a walkback:

![image](https://user-images.githubusercontent.com/13142166/73387932-2ca0ad80-428

[2020-01-29 19:07] LisaAlmarode commented on #677
When you load a project, the loaded methods have the method history menu item disabled.

However, when you save a brand new method, the method history menu item is enabled and shows you two methods that are exactly the same.

Going to reopen and take out of Decemember as it's unattractive and annoying, but not really broken.

[2020-01-29 19:12] LisaAlmarode commented on #691
I'm not seeing this as DataCurator in 93-1, but maybe it's some other factor.

[2020-01-29 19:17] LisaAlmarode commented on #539
Verified that it's working correctly in 93-1 (testing as DataCurator but that shouldn't matter)

[2020-01-29 20:52] dalehenrich commented on #693
Bonus points if the method browser stays up-to-date with the selected protocols when a methos is added or removed from the protocol

[2020-01-30 00:23] dalehenrich opened #695 "(3.0.91) finf methods containing `allusers` selects second occurrence in method"
Note that the second occurrence is selected (and that there  are three visible occurrences of the string in the method:
![image](https://user-images.githubusercontent.com/623951/73409269-a13e1100-42b3-11ea-9d98-920498b0d910.png)

[2020-01-31 17:38] ericwinger commented on #694
Fixed in 3.0.93. Icon problem was a bad path.

[2020-01-31 17:38] #694 closed, assigned to LisaAlmarode

[2020-01-31 17:49] ericwinger commented on #691
@martinmcclure I, too, am not seeing this behavior.  Do you have a test server that's exhibiting the problem which I could log into and try to reproduce in a Dolphin environment?

[2020-01-31 19:08] martinmcclure commented on #691
Try the default stone on Hey. I've put FileSystemGs_dev on a new branch "Eric-testing" to which you can make silly commits to test this bug.

[2020-01-31 22:13] ericwinger commented on #695
Fixed in 3.0.93. An old Jade hook on the "left key pressed" was looking for the wrong string.

[2020-01-31 22:13] #695 closed, assigned to LisaAlmarode

[2020-01-31 23:59] ericwinger commented on #693
Have a fix for this in 3.0.93. @dalehenrich I'd like a full copy of the contest rules along with my bonus points, please. :)

[2020-02-03 18:20] ericwinger commented on #691
When Jadeite commits a project to git, the project service sends this code:
[code]
Then, Jadeite updates the project service and sends this code to retrieve the new sha:
[code]

It's a bit difficult to debug, as the user `DataCurator` doesn't have visibility to the Rowan structures, but it appears that the update is finding the prior sha. Jadeite logs confirm that the update immediately following

[2020-02-03 18:56] dalehenrich commented on #691
@martinmcclure, you are using the v2 code and I assume that @ericwinger is looking at v1 code ... I have not gone through the process of converting the v2 Services code to use the v2 api, so it is not surprising at this point that there are discrepancies in behavior ... I happen to be in the process of converting the Services code to use the v2 api and expect to be complete by the end of the week

[2020-02-03 21:05] ericwinger opened #696 "Browse Logs as non-SystemUser gives compile error"
From the transcript, if you `Browse>BrowseLogs` as DataCurator you will get a compile error because the browser tries to compile the service objects into something useful from ston logs. DataCurator does not have visibility to the service classes.

I'm not sure what the best solution is but for now put up a dialog recommending that the user log in as  SystemUser to view logs.

Eventually, we'll pr

[2020-02-03 21:27] ericwinger commented on #696
Fixed in 3.0.93. Show warning if service classes not available.

[2020-02-03 21:27] #696 closed, assigned to ericwinger

[2020-02-04 21:44] ericwinger opened #697 "Typing character in method source gives immediate walkback"
There was a hard coded reference in `JadeAutoTestPresenter3` to `ScintillaView`. We now use a subclass named `JadeiteScintillaView`. Changed the hard reference to a hierarchy reference and all was well.

[2020-02-04 21:45] ericwinger commented on #697
Fixed per issue report.

[2020-02-04 21:46] ericwinger commented on #697
Closed too soon.

[2020-02-04 22:04] ericwinger opened #698 "Override of Association>>stonOn: should be avoided"
To support gemstone ston, it was necessary to temporarily override this method. Need a better solution if possible to avoid harsh-looking warning on Jadeite code load into Dolphin.

[code]

[2020-02-04 23:10] ericwinger opened #699 "Card icons missing on project browser"
![image](https://user-images.githubusercontent.com/36212516/73795796-5fecac00-4760-11ea-9a24-954c2ba24fe3.png)

[2020-02-04 23:11] ericwinger commented on #697
Problem is deeper than the bug report indicated. It seems to have something to do with changing the source view's back color, then typing.

[2020-02-04 23:53] ericwinger commented on #697
It appears that (somehow) changing the backcolor of the source pane during a #textChanged event was damaging the view such that the next key event would get a general protection fault.

Changed the wiring to use the valueChanged event which doesn't exhibit the same problem.

Really only evident when the first character in an unsaved method was typed because the back color was changed during the sa

[2020-02-04 23:53] #697 closed, assigned to ericwinger

[2020-02-05 00:36] LisaAlmarode commented on #693
Either it's broken, or there's a mysterious rule that I don't know that causes the menu item I suspect implements this, "browse category methods", to become enabled and usable.
I'm seeing it always disabled.

[2020-02-05 00:47] ericwinger commented on #699
Restored.

[2020-02-05 00:47] #699 closed, assigned to ericwinger

[2020-02-05 00:49] ericwinger opened #700 "Sunit browser broken"
![image](https://user-images.githubusercontent.com/36212516/73800918-39ce0880-476e-11ea-8ba8-8ed586b7f885.png)

[2020-02-05 01:01] ericwinger opened #701 "DiffScintillaStyler missing - entire browser broken"
Not easy to find but porting the DiffScintillaStyler forward fixed the problem.

[2020-02-05 01:01] ericwinger commented on #701
fixed per issue report

[2020-02-05 01:01] #701 closed, assigned to ericwinger

[2020-02-05 18:50] ericwinger commented on #693
Enablement should be fixed in prerelease3

[2020-02-05 18:50] #693 closed, assigned to LisaAlmarode

[2020-02-05 22:18] ericwinger commented on #700
`SUnitToolbar` class was replaced

[2020-02-05 22:18] #700 closed, assigned to ericwinger

[2020-02-05 22:49] ericwinger opened #702 "New sunit test action `step` does not work"
Dolphin 7.1.9 added a new option, step. Need to make that work.

[2020-02-06 00:08] LisaAlmarode commented on #693
Working in 93-3.  But it appears that the bonus points will not be awarded in this round.  At least, I see that the method browser updates the name of the category for contained methods, but I suspect the bonus feature was that methods get added and removed from the method browser. Please refer to the award terms:
![image](https://user-images.githubusercontent.com/13142166/73894547-a3fbb180-4831-1

[2020-02-06 00:14] ericwinger commented on #693
Now that is some fiiiiinnne print. :)

[2020-02-06 18:16] ericwinger opened #703 "Remove or replace icons in project browser lower tab view"
Comparison and Project tab both show what appears to be an icon for a String. It's a bit odd. At minimum remove the icons from those tabs.

[2020-02-06 22:19] dalehenrich opened #704 "would be nice to be able get a copy the selected frame printstring"
I'd love to get the frame inform from the selected frame into the copy buffer:
![image](https://user-images.githubusercontent.com/623951/73983412-462ba000-48eb-11ea-9d2e-b43d4940196d.png)
When I am debugging a problem I take notes and often the information I want is in the selected frame ...

In generat it would be useful to be able to copy the selected item in list or the entire list into the pas

[2020-02-07 17:03] ericwinger commented on #698
Also, Time>>stonOn: is problematic too.
[code]

[2020-02-07 17:04] ericwinger opened #705 "Inspector Icons missing"
![image](https://user-images.githubusercontent.com/36212516/74049327-c18f5f00-4988-11ea-80e7-41e001b2dc08.png)

[2020-02-07 17:07] ericwinger opened #706 "isModified: not properly set"
Not sure why, but the `isModified:` value of the view isn't updated when the document presenter's value has changed. Still not sure what has changed in Dolphin to cause this behavior.

[2020-02-07 17:11] ericwinger opened #707 "Update icons"
Most of the icons have changed in Dolphin 7.1.9. A thorough review of Jadeite icons is needed with an eye to upgrading all of them.

[2020-02-07 17:15] ericwinger opened #708 "Method History Browser broken"
Can't remember the specifics but the method history wouldn't display. Noting & closing this for a complete record of issues porting to Dolphin 7.1.9.

[2020-02-07 17:15] ericwinger commented on #708
closing per issue report

[2020-02-07 17:15] #708 closed, assigned to ericwinger

[2020-02-07 18:13] ericwinger commented on #707
@ericwinger test comment

[2020-02-07 18:16] dalehenrich opened #709 "testing slack"

[2020-02-07 18:19] dalehenrich commented on #709
<sub>[View in Slack](https://gemtalksystems.slack.com/archives/DTBDE7DEE/p1581099363001900)</sub>

[2020-02-07 18:21] dalehenrich commented on #709
<sub>[View in Slack](https://gemtalksystems.slack.com/archives/DTBDE7DEE/p1581099363001900)</sub>

[2020-02-07 18:26] dalehenrich commented on #709
this is yet another comment

[2020-02-07 18:28] ericwinger commented on #709
testing

[2020-02-07 18:28] ericwinger commented on #709
whoops

[2020-02-07 18:29] dalehenrich commented on #709
hello slack? are you there?

[2020-02-07 18:32] ericwinger opened #710 "Test issue for GitHub integration analysis"

[2020-02-07 18:33] dalehenrich commented on #710
and this is a comment

[2020-02-07 18:33] dalehenrich commented on #710
and yet another comment

[2020-02-07 18:37] ericwinger commented on #710
<sub>[View in Slack](https://gemtalksystems.slack.com/archives/DTBG47D98/p1581100088001100)</sub>

[2020-02-07 18:43] dalehenrich commented on #710
<sub>[View in Slack](https://gemtalksystems.slack.com/archives/DTBDE7DEE/p1581100356002600)</sub>

[2020-02-07 19:15] dalehenrich commented on #710
comment from slack ... with the `view link` template commented out

[2020-02-07 19:37] dalehenrich commented on #698
@ericwinger what are the specific problems you are having ... are there existing STON messages in the newer version of Dolphin or ???

[2020-02-07 19:50] ericwinger commented on #698
The new Dolphin version, 7.1.9, added ston support. However, the format it has chosen for a couple objects clashes with the gemstone version. The solution is easy enough. Use the older format.

The challenge is how to override those methods in Dolphin and still get my code to load cleanly. Dolphin does not have a good way to allow an override.

It is a client issue. I need to invent some kind of w

[2020-02-07 23:23] LisaAlmarode opened #711 "Inspectors don't handle tab characters; it replaces them with '?'"
If you inspect this:
[code]
you get:
![image](https://user-images.githubusercontent.com/13142166/74072848-0fbe5580-49bd-11ea-9cd7-516e7ba5538a.png)

My application creates strings that are tab-delimited excel spreadsheet contents, so this could be said to break my application (or I have to specify ? as the separator character...)

[2020-02-07 23:25] #709 closed, assigned to nobody

[2020-02-07 23:25] #710 closed, assigned to nobody

[2020-02-07 23:40] ericwinger commented on #711
Have a fix that can go into 3.0.93.

[2020-02-07 23:40] #711 closed, assigned to LisaAlmarode

[2020-02-08 04:35] LisaAlmarode opened #712 "Inspect UserGlobals from Method list, get ByteArray DNE asHexString"
Say you have a method that contains a reference to UserGlobals.  You can select UserGlobal in the project browser method, and use the popup menu inspect to open an inspector on that dictionary.

![image](https://user-images.githubusercontent.com/13142166/74079260-9ab54500-49e9-11ea-9342-b537a7980f99.png)

However, if you do browse implementors on that method to bring up a method list browser and s

[2020-02-09 08:46] LisaAlmarode opened #713 "Copy instance method to class, get walkback (3.0.93-3)"
Take an existing instance method, copy the contents, select the class side and a class category, and paste it as a class method.  Save.

This gives you a walkback:
![image](https://user-images.githubusercontent.com/13142166/74099096-db3dbd00-4ad4-11ea-9504-b5600e7dee90.png)

Unfortunately when I go to copy the stack, I get this:

![image](https://user-images.githubusercontent.com/13142166/74099104

[2020-02-10 22:33] dalehenrich opened #714 "(Oscar 3.0.91) Debugger frame contents not refreshed without performing a step ..."
I changed the `aProjectLoadComponent` printOn: method after noticing that it wasn't correct in the inspector pane:
![image](https://user-images.githubusercontent.com/623951/74196511-3fb26680-4c12-11ea-9193-12a8e0198594.png)

After adding the new printOn: method the debugger frame printStrings for `aProjectLoadComponent` did not change despite selecting different frames and coming back ... the meth

[2020-02-10 22:39] dalehenrich commented on #714
It seems that the inspected suffers from the *same* issue, as the printString is **stuck** until you open a new debugger on the object

[2020-02-10 23:31] ericwinger commented on #712
Got a fix for 3.0.93 ready. Wasn't passing context oop correctly. Will go into pre-release 4.

Noticed that there were different paths to inspect an object which explains different behavior in different browser. Hopefully got that cleaned up, too.

[2020-02-10 23:31] #712 closed, assigned to LisaAlmarode

[2020-02-11 17:42] ericwinger commented on #713
Have a fix ready for 3.0.93pre-release4. Jadeite didn't get it's class set correctly when trying to initialize method history. Believe this was recently introduced.

Good catch @LisaAlmarode!

[2020-02-11 17:42] #713 closed, assigned to LisaAlmarode

[2020-02-11 18:48] ericwinger opened #715 "Add category without text gets error"
Not terribly painful, but we can give a better error message if you try to add an empty category.

[2020-02-11 19:20] ericwinger commented on #715
Better message now. Added test to verify dialog with new message is thrown.

[2020-02-12 08:14] LisaAlmarode opened #716 "Sequence of steps in Inspector gets MNU and turns into random other object (3.0.93-4)"
I have a sequence of operations that ends up with a corrupt inspector. Looks like something in the inspector is getting GCed. It's quite reproducible for my application, but it does seem to require something specific, I've got it isolated to a simple example case.

The sequence is: open inspector on collection, inspect one item, execute code to open an instance of a helper class referencing that i

[2020-02-12 17:45] ericwinger commented on #698
Not ideal, but I've added the two overrides into BootJade.st. In a development environment, that script is what loads the Jadeite code into the Dolphin image on startup.  Not an issue when stripping the runtime image as the overrides are already present in the image.

[2020-02-12 17:45] #698 closed, assigned to ericwinger

[2020-02-12 18:10] ericwinger opened #717 "Project Tab fixes"
- [x] Remove `#()` in each project line
- [x] Remove 'A' in tab itself

![image](https://user-images.githubusercontent.com/36212516/74363632-c9cc0d80-4d7f-11ea-8194-62e03ba04520.png)

[2020-02-12 18:34] LisaAlmarode opened #718 "Copy stack from walkback notification; get <stringclass> DNU #as<OtherStringClass> (3.0.94-4)"
Similar to the side issue mentioned in issue #713, but specific classes are different.

In this release, it's String does not understand #asUTF8String

![image](https://user-images.githubusercontent.com/13142166/74365485-1107cd80-4d83-11ea-8aea-049faa045f1c.png)

Happens reliably anytime I want to copy a stack.

[2020-02-12 18:41] LisaAlmarode opened #719 "A second open debugger walkback notifications wrecks the first one (3.0.94-4)"
If I do ```String foo``` in one workspace, and see a notification, and don't close it.

Then I do ```String bar``` in a different workspace, and see a notification, and don't close it.

And go back to the first notification and try to debug it...  the stack is gone and I get a walkback.

![image](https://user-images.githubusercontent.com/13142166/74365985-fc780500-4d83-11ea-823e-6563de25a236.png)

[2020-02-12 23:44] ericwinger commented on #717
Two hints for future.  Use a `CardLabel` in the `arrangement` aspect of the view to get the null icon which is not really intuitive.

Set the `getImageBlock:` of the parent view to `nil` to remove the `Array` icon display which may be even less intuitive.

See `JadeiteBrowserPresenter>>buildProjectTab`

[2020-02-12 23:44] #717 closed, assigned to ericwinger

[2020-02-13 20:51] ericwinger commented on #716
Fix is a single method rowan services fix. https://github.com/GemTalk/Rowan/compare/1d22cecb16aa...e06e88806fbe

[2020-02-13 22:51] ericwinger commented on #716
Fixed in 3.0.93pre-release5. It was a garbage collection problem. Was not retaining the root object of the original inspector.

[2020-02-13 22:51] #716 closed, assigned to ericwinger

[2020-02-14 00:22] ericwinger commented on #718
This appears to be odd stripping behavior. `String>asUTF8String` is implemented and sent in the development image but appears to be stripped out of the runtime.  The image stripping log shows the method is sent and does not log that it was stripped.

The best I can figure out is that a message is sent in `asUTF8String` which sends another message to a third method which has a message send to an un

[2020-02-14 00:22] #718 closed, assigned to LisaAlmarode

[2020-02-14 02:39] ericwinger commented on #719
The notifier dialog needed to be registered on the server along with the gs process oop.

[2020-02-14 02:39] #719 closed, assigned to LisaAlmarode

[2020-02-14 18:00] ericwinger commented on #635
Have an improved fix. The button's enablement seems to be influenced by what window has focus. If the login window does not have focus, logging out wouldn't enable the login button. Force the login window to have focus before invalidating the button.

[2020-02-14 18:00] #635 closed, assigned to LisaAlmarode

[2020-02-14 23:00] ericwinger commented on #702
Should stop the test after `setUp` but before `performTest`

[2020-02-14 23:09] ericwinger opened #720 "Would like inspect button in inspector"
Sometimes it's nice to open a new inspector on an element already being inspected. Add `inspect` menu option in the element list pane.

[2020-02-14 23:12] ericwinger opened #721 "Ctrl-B in inspector code pane broken"
Inspector code pane claims to handle `Ctrl-B` but hot key doesn't work.

[2020-02-14 23:15] ericwinger opened #722 "Unsaved inspector code pane changes get lost on inspector window close"
Should prompt in the same way that changing an element does.

[2020-02-14 23:48] ericwinger commented on #722
Now inspector prompts for close confirmation if there are unsaved changes.

[2020-02-14 23:48] #722 closed, assigned to ericwinger

[2020-02-18 21:06] ericwinger commented on #720
`inspect` option in inst var list available now.

[2020-02-18 21:06] #720 closed, assigned to ericwinger

[2020-02-18 21:07] ericwinger commented on #721
Ctrl-B added to `additionalAccelerators` in inspector

[2020-02-18 23:02] dalehenrich opened #723 "need 3.5.1 gci libraries included in builds"
3.5.1 gci libraries are not included in 3.0.91, would be nice if they are included in Oscar-3.0.93 final release

[2020-02-19 17:16] ericwinger commented on #723
3.5.1 libraries will be available in Oscar 3.0.93

[2020-02-19 17:16] #723 closed, assigned to LisaAlmarode

[2020-02-19 18:33] ericwinger commented on #705
![image](https://user-images.githubusercontent.com/36212516/74863775-47a19300-5303-11ea-8725-4fd3a72a22b4.png)

Fixed.

[2020-02-19 18:33] #705 closed, assigned to ericwinger

[2020-02-19 18:48] ericwinger commented on #703
Fixed in recent commit

[2020-02-19 18:48] #703 closed, assigned to ericwinger

[2020-02-20 23:44] ericwinger commented on #706
Doesn't seem to affect anything but tests. Going to close. Can re-open if production issue arises.

[2020-02-20 23:44] #706 closed, assigned to ericwinger

[2020-02-20 23:55] ericwinger commented on #653
I've replaced the not so useful old preferences file browser with the jadeite preferences browser so that the toolbar button and menu item are at least consistent.

If the old preferences file with only a couple options is still desired, let's open a new issue.

[2020-02-20 23:55] #653 closed, assigned to ericwinger

[2020-02-20 23:56] #715 closed, assigned to LisaAlmarode

[2020-02-20 23:58] LisaAlmarode opened #724 "Add a method category with a name of only spaces, get errors (3.0.93-5)"
If you create a method category and just enter spaces, it creates it.  Then you get a walkback when you try to drop a method in.
[code]
(edited for readability)

[2020-02-21 21:31] ericwinger commented on #724
Fixed in 3.0.93 per commits.

[2020-02-21 21:31] #724 closed, assigned to LisaAlmarode

[2020-02-21 21:34] ericwinger opened #725 "Handle removed class references better"
If one removes a class, no help is given if the class is referenced elsewhere. At least bring up a method list browser of methods which will no longer compile, i.e. that reference the removed class.

[2020-02-21 21:36] ericwinger opened #726 "After removing class, don't collapse the hierarchy"
If you remove a class, it isn't helpful that the hierarchy collapses up to the parent class. Should show the hierarchy as it exists but without the removed class.

[2020-02-21 21:38] ericwinger opened #727 "Prevent class removal if subclasses present"
There is an existing bug in Rowan that allows you to remove a class with subclasses. https://github.com/GemTalk/Rowan/issues/574

Jadeite should offer a nice message saying you can't do that.

[2020-02-21 23:49] ericwinger commented on #725
Raises a class references message list browser as well as a dialog suggesting that the user handle references to the deleted class now.

[2020-02-21 23:49] #725 closed, assigned to ericwinger

[2020-02-22 00:39] ericwinger opened #728 "Add 3.6.0 client libs to Jadeite"
Not sure if there are any gci changes.

[2020-02-23 06:39] LisaAlmarode opened #729 "On opening debugger, get walkback MNU #stackDepth (3.0.93-5)"
Almost every time I go to open a debugger from a walkback notificatin, I get an error.  It's never repeatable and I think it's when I go to hit the debug too fast; I think if I take my time it's more likely to not happen.  It's making debugging very cumbersome.
I had not seen this in previous prereleases.

![image](https://user-images.githubusercontent.com/13142166/75104945-eb20cb00-55c3-11ea-8294

[2020-02-23 18:06] dalehenrich commented on #728
FWIW, I **did** get an error when I tried to replace the 3.5.0 gci libraries in the bin directory with a set of 3.6.0 gci libraries:
![image](https://user-images.githubusercontent.com/623951/75117137-afb5e900-5623-11ea-9cf5-c747897035fe.png)

![image](https://user-images.githubusercontent.com/623951/75117183-1c30e800-5624-11ea-9360-3c7a8cd56cc8.png)

[2020-02-23 18:26] dalehenrich commented on #728
... I had actually made a mistake in copying the dlls over - I renamed `libssl-3.6.0-32.dll` file, when the only file that needed to be renamed is `libgcirps-3.6.0-32.dll` ... when I corrected that mistake and added another dll, I was able to login cleanly:

![image](https://user-images.githubusercontent.com/623951/75117476-8a76aa00-5626-11ea-9110-1ec68fe7de8e.png)

So it seems that you shouldn't

[2020-02-23 20:16] LisaAlmarode commented on #691
Remove from December and retire, as probably an artifact of Martin's environment and possibly fixed by Dale's later changes. Note the december project is specifically for v1/customer env.

[2020-02-23 20:21] LisaAlmarode commented on #728
How ever are we going to track what 3.6.0 libraries are in the jadeite distribution over time?  Any bugs found in this config, which are probably found with the lastest server builds, will need to be reproduced with the latest shared libraries.  @ericwinger, you'll need to update the 3.6.0 libraries for each version, and be sure to put the 3.6.0 build number in the comments.

[2020-02-23 23:28] dalehenrich commented on #728
@LisaAlmarode, @ericwinger, and @alexkogan ... Until Oscar 4.0 is ready, the four of us are the only folks likely to be using Jadeite --- right now I won't consider encouraging anyone else to use Jadeite/Rowan until we have Oscar 4.0 and Rowan 2.0 in the bag .. we are adding 3.6.0, because @alexkogan is interested in using Jadeite for Ernie and indexing code development and even though we only spe

[2020-02-25 18:01] ericwinger opened #730 "Inspect uncompilable code in project browser - get walkback"
Select text `Zork foo` in the body of a method in the project browser and inspect.  Get this walkback.

[code]

[2020-02-26 00:34] ericwinger commented on #730
Fixed in 3.0.93.

[2020-02-26 00:34] #730 closed, assigned to LisaAlmarode

[2020-02-26 00:37] ericwinger commented on #729
Candidate fix in 3.0.93pre-release6. Most of work is on server.

Problem was that the process could get gc'd before the debugger or notifier had registered it.

Not reliably reproducable so will need thorough testing.

[2020-02-26 00:37] #729 closed, assigned to LisaAlmarode

[2020-02-26 17:14] ericwinger commented on #728
I added the 3.6.0 libraries and could login. I named it `64-bit 3.6.0 unreleased` as a reminder to update it once the server product is released. Also marked this as `P1 critical` as another reminder. Adding to `Oscardale` & `Jadeite 7.1.9 port` projects  for yet another reminder.

[2020-02-26 18:09] ericwinger commented on #727
Should be ready for review in 3.0.93pre-release6.

[2020-02-26 18:09] #727 closed, assigned to LisaAlmarode

[2020-02-26 18:18] ericwinger commented on #714
There is a good argument for automatically updating the debugger and inspector after the `printOn:` method is changed. However, an equally good argument can be made for not automatically updating the inspector or debugger ever. This is especially true if you're trying to debug the transient state of an object and a system update would lose information. I'm in favor of the latter.

A middle way cou

[2020-02-26 18:25] ericwinger commented on #704
@dalehenrich Will `Edit menu>Copy Stack` suffice?

[2020-02-26 18:46] LisaAlmarode opened #731 "On error when Sunit debug of inherited test, walkback displays class confusion (new in 3.0.93-6)"
I have an abstract test class (PlantisTester), with three subclasses that actually run tests. When I am running tests on one of the subclasses (PlantisLiteTester), and there's a test error, I get a walkback, as expected.

However, starting in this release, the walkback is for a reason:rtErrSubclassResponsibility... it seems to think it's running the test inherited from PlantisTester on the class P

[2020-02-26 19:01] LisaAlmarode opened #732 "Wildcard method search broken if autcomplete off (3.0.93-6)"
Searching for implementors of... with a trailing * returns an empty dialog if you have autocomplete disabled (which I always do).

Turning autocomplete on so it cached the symbols allows the method to be found, so there's a workaround.

Need to add that wild card lookup is supported to the users guide - I couldn't remember if this was supported although it seemed obviously necessary.