[2018-10-11 00:00] LisaAlmarode commented on #229
When you select a package or class, the tab displays the package name.

However, if you select a method category, the tab only displays the project name.  It seems to get stuck back on the project name after that.

[2018-10-11 00:01] ericwinger commented on #230
Having trouble running the topaz tests. At first I was getting test failures but now I just get this failure - ``ERROR 2336 ,  (ClientForwarderSend)``. I pushed my changes to rowan oscar #f153627

Perhaps you can find something I did wrong. It's very hard to debug in topaz.

[code]

[2018-10-11 01:07] dalehenrich commented on #230
can you get a stack? don't you hate bug reports that say --- "it doesn't work" with no real information? ... `topaz help` and `where` are your friends (the basic commands are pretty easy to learn ... and you should probably start learning now:) ...

 `where` will give you the stack and from the stack you will see the source of the ClientForwarderSend error, `frame` will give you the args and temps

[2018-10-11 01:12] dalehenrich commented on #229
My recollection of the steps  took don't quite match yours as it seems that some tabs retain the package name no matter what I do and other tabs don't ... I've assumed that it might be related to the length of the package name ... but it does seem to like certain packages ahd "hate" others:)

[2018-10-11 01:12] dalehenrich commented on #229
oh and this bug report report pre-dates 3.0.41, so behavior might have changed

[2018-10-11 01:15] dalehenrich commented on #174
there seems to be "wasted space" in the tab row above the method and scads of space in the error bar below ... perhaps the meta information about methods could be display in one place or the other? Nice to have that information including selected protocol available at a glance ...

[2018-10-11 01:18] dalehenrich commented on #200
... but I thought that the stack would actually be diagnostic:)

[2018-10-11 16:14] ericwinger commented on #230
Yes, (re)learning topaz is the challenge as I rarely use it.

``where`` did reveal some information. See below. Looks like a transcript write on the clone. Do you have a strategy for turning off transcript writes when you run the tests?

I can turn them off manually with ``JadeServer theJadeiteServer uninstallTranscript`` but I suspect you've already solved this.

[code]

[2018-10-11 16:15] ericwinger commented on #230
In Jadeite, I open a workspace and take notes.

[2018-10-12 18:57] ericwinger commented on #209
Fix will be in 3.0.42.

@LisaAlmarode  Might want to scan around for the different places senders/implementers are sent. I think I fixed them all but my refactoring was big enough (and test coverage may not be complete enough) such that I missed a couple spots.

[2018-10-12 18:57] #209 closed, assigned to LisaAlmarode

[2018-10-13 00:25] ericwinger commented on #174
Well, my previous attempt got a pretty low score on Rotten Tomatoes so we'll try again.

Defined package moved to projects browser display & method menu item disabled if defined package = selected package.

Fix in Oscar 3.0.42.

[2018-10-15 18:38] ericwinger opened #235 "Need Find Class/Method from console"
For convenience, enhance Jadeite to have these menu options available from the console. Preferable with a hot-key.

- Browse Class
- Browse Implementors
- Browse Senders
- Browse References (to a class) ?

[2018-10-16 17:01] dalehenrich opened #236 "Error when doing multi-select in methods browser (3.0.41)"
![image](https://user-images.githubusercontent.com/623951/47033621-27b7f900-d12a-11e8-8b04-77edb2a70105.png)

[code]

[2018-10-16 17:04] dalehenrich opened #237 "time stamp at end of Dolphin stack dump would be useful"
`***** End of dump *****` with timestamp would mean that I could use `find` to get to the top of the dump without having to pay careful attention while scrolling up to find the top of stack ...

[2018-10-16 17:36] dalehenrich commented on #229
@LisaAlmarode and @ericwinger , in 3.0.41, I have noticed that if I select a package and a class in the package then switch tabs BEFORE selecting a method, then package name sticks in the tab and I can select methods without losing the package name in tab ... so I guess we were both right:)

[2018-10-16 17:52] dalehenrich opened #238 ""RowanDebugger does not understand #browseClass" from double click on frame selection (3.0.41)"
![image](https://user-images.githubusercontent.com/623951/47036314-19b9a680-d131-11e8-8f32-645b1f43e4a5.png)

stack dump:
[code]

[2018-10-16 20:38] ericwinger commented on #230
All the Jadeite services tests are passing now (at least for me)
[code]

[2018-10-16 20:38] #230 closed, assigned to ericwinger

[2018-10-16 22:13] dalehenrich commented on #230
I see that you are running tests on 3.2.17 ... I don't think that there is a real issue with running on 3.2.17 --- there don't seem to be any Rowan-specific differences --- it's just that it seems to be more correct to use exactly the same version of GemStone as the customer ... it only matters when it matters and a version difference could mask an issue (in theory if not practice --- I'm not pers

[2018-10-17 23:28] dalehenrich opened #239 "long update times possible when selecting a package with `hierarchy` tab selected"
@ericwinger I know you know, but while I was waiting for a selected package to be usable, I thought I'd submit a bug:)

[2018-10-17 23:28] dalehenrich commented on #239
... turns out that the tab is still updating:)

[2018-10-17 23:36] dalehenrich opened #240 "MNU doing drag drop of method in package browser (non-hierarchy view)"
[code]
Closing debugger and trying again was successful ... presumably you were not expecting an actual class object so perhaps the oops got messed up ...

[2018-10-18 00:33] dalehenrich opened #241 "in package browser a drag of class method ends up on instance side of target (3.0.41)"

[2018-10-18 15:59] ericwinger commented on #235
Will have a fix in 3.0.42. Included Browse Class, Implementors, and Senders but skipped References as the menu is already pretty busy.

[2018-10-18 16:01] dalehenrich opened #242 "`implementors in hierarchy` doesn't include method in the currently selected class?"
The browser I used is in background and the selected method is `RwModificationFiletreeWriterVisitor>>processProject:`. Note that not only is this method not in the list of implementors, but an implemention from RwGsModificationTopazWriter is included and RwGsModificationTopazWriter is not even in the hierarchy of RwModificationFiletreeWriterVisitor:
![image](https://user-images.githubusercontent.c

[2018-10-18 16:06] dalehenrich opened #243 "`browse class` menu in method view of project browser leaves method and goes to class ..."
... I would prefer that the currently selected method not be lost when using `browse class` ... i expected it to open a new tab or window, not leave the method I was in ..

[2018-10-18 16:45] dalehenrich opened #244 "odd behavior from debugger in RwProjectWriterTest>>testFiletreeWriter_A"
[code]
[code]
The debugger says "Halt occurred", however, the stack for the debugger is on the Error that is being handled (line 23), not the halt that triggered the debugger (line 28):
![image](https://user-images.githubusercontent.com/623951/47170200-57960680-d2ba-11e8-9c3e-fd6c90d8b82b.png)

[2018-10-18 16:55] dalehenrich opened #245 "`Error while processing error:` from halt in block inside #tearDown method of test"
![image](https://user-images.githubusercontent.com/623951/47170776-bc059580-d2bb-11e8-9c13-dff0a1ce6139.png)

[2018-10-18 17:11] dalehenrich commented on #239
**Accidentally** selecting Rowan/Rowan-Tests in project browser with Hierarchy tab selected results in "infinite loop" and I have to leave Jadeite:
![image](https://user-images.githubusercontent.com/623951/47171618-038d2100-d2be-11e8-9bda-323febad2bf3.png)
... sooo I'm bumping priority

[2018-10-18 17:30] dalehenrich commented on #244
replacing halt with error produces **correct** stack in debugger:
![image](https://user-images.githubusercontent.com/623951/47172622-db52f180-d2c0-11e8-9de8-fa28a7726736.png)

[2018-10-18 22:14] LisaAlmarode opened #246 "Jadeite handling project that's not committed"
This is the front end half of https://github.com/GemTalk/Rowan/issues/378.

If a project isn't committed or otherwise all nice on disk, Jadeite breaks, and it would be nice if Jadeite was a bit more tolerant.

example case:
| proj pkg cls meth |
proj := RwProjectDefinition newForGitBasedProjectNamed: 'Tashkent'.
proj repositoryRootPath: '$ROWAN_PROJECTS_HOME/Tashkent'.
Rowan projectTools create cr

[2018-10-18 22:53] LisaAlmarode commented on #246
This is part of what customer reported.  RowanClassService >> update is also implicated.

The following example will produce his other walkback.

[code]

[2018-10-19 18:47] ericwinger commented on #246
@LisaAlmarode I'm not sure the second example is reasonable. The failure isn't related to the disk state. Rowan services presume that a class exists in the image, not just a definition. It gives a walkback because there is no class ``Baijan`` in the image.

Here's a slightly modified version of your example. If you run it and refresh open a browser, you'll see that ``Rowan globalNamed: 'Baijan'``

[2018-10-19 18:47] ericwinger commented on #246
I've got a fix for the first example. It will be in 3.0.42. Reassigning back to @LisaAlmarode  for review of second example.

[2018-10-19 22:16] dalehenrich commented on #244
not so fast ... when I try to step over the error, I end up at the site of the original error ... time to drop into topaz and see if I'm getting the same behavior ..

[2018-10-19 22:21] dalehenrich commented on #244
topaz works as expected in this scenario, so it must be something specific to the Jadeite debugger implementation:
[code]

[2018-10-19 23:42] ericwinger commented on #239
There was a bug in the class hierarchy service code ending up with repeated classes in the tree of hierarchy services on the client. The client then got confused and ran in circles. Fix is in the server in RowanPackageService>>classHierarchy in 3.0.42.

[2018-10-19 23:42] #239 closed, assigned to LisaAlmarode

[2018-10-20 03:19] dalehenrich opened #247 "Cannot login into 3.0.42 --- using latest oscar merged with issue_361 fresh build"
![image](https://user-images.githubusercontent.com/623951/47250751-ffefbc00-d3db-11e8-8894-13b606483cf3.png)
[code]

[2018-10-20 03:20] dalehenrich commented on #247
I downloaded Jadeite using the runtime.zip ... I guess you might have forgotten to rebuild the runtime.zip file?
![image](https://user-images.githubusercontent.com/623951/47250767-62e15300-d3dc-11e8-9f4f-c7f7fcad8096.png)

[2018-10-22 17:10] ericwinger commented on #247
The runtime.zip is updated for 3.0.42 with the new .exe.

[2018-10-22 17:10] #247 closed, assigned to nobody

[2018-10-22 18:26] ericwinger opened #327 "Services test coverage for git - Issue #150"
Anywhere that services code sends ``gitTools`` we should have a test which covers it.

Remove``testIssue150_branches`` when complete.
Make sure that we cover these, at minimum.
[code]

[2018-10-22 18:44] ericwinger opened #248 "running RwRowanProjectIssuesTest>>testIssue150_branches test gives walkback even though test passes"
If you run ``RwRowanProjectIssuesTest>>testIssue150_branches`` through Jadeite>method list>Run Tests, the tests passes but you get a walkback because the test harness code expects a boolean.

Presumably we should expect a string, too?

[code]

[2018-10-22 21:34] ericwinger commented on #248
To run tests in the browser, we use RowanAnsweringService>>runMethodTests: to return true if the tests completed successfully.

However, that code was assuming that the only service to be returned was the answering service. This particular test returned another service. Since we don't want gui updates on server tests, we now squash other services from coming back to the client in ``RowanAnsweringS

[2018-10-22 21:34] #248 closed, assigned to LisaAlmarode

[2018-10-22 23:15] ericwinger commented on #228
After a class compile, now we return the newly compiled class to be selected by Jadeite. See ``RowanPackageService>>compileClass:``.  Server test added.

[2018-10-23 17:21] dalehenrich opened #249 "HR9905: Browse references to a class in Oscar 3.0.40"
GsMethod does not understand _literalsIncludesSymbol:value: exception.
It works in earlier versions of Jadeite:
![image](https://user-images.githubusercontent.com/623951/47378517-3748bc00-d6ad-11e8-8d8f-b56703fb8a1e.png)
using Project Browser: 'Browse References`

[2018-10-23 22:01] ericwinger opened #250 "Need logging capability in Jadeite"
It would be nice to have a feature similar to call tracing in GBS that a Jadeite customer could turn on to log server calls.

To start, any call that comes through ``JadeServer>>updateFromSton:`` could be logged to get a sense of which services are being executed prior to a failure.

[2018-10-24 00:01] ericwinger commented on #249
The failure is in ``ClassOrganizer>>referencesTo:in:``, a GemStone base class, which is called by Jadeite. It's tripping over a GsNMethod-only method.

It appears they have GsMethods in their repository. However, I didn't think this is generally recommended.

@dalehenrich  is contacting the customer.

[2018-10-24 00:18] dalehenrich commented on #249
Whatever the result of customer contact ... it won't be fixed in Jadeite:)

[2018-10-24 00:18] #249 closed, assigned to ericwinger

[2018-10-24 17:06] ericwinger commented on #232
I've added the category display to the projects browser for review. It will be in Oscar 3.0.43

[2018-10-24 17:06] #232 closed, assigned to LisaAlmarode

[2018-10-25 17:29] dalehenrich opened #251 "`Browse Methods Containing` available from Console menu"
Very nice that senders and implementors now available, but `Browse Methods Containing` and any other general method/class menu items should be accessible as well ... basically would be nice not to have to open a project browser in order to do a query ...

[2018-10-25 20:29] ericwinger opened #252 "Walkback after abort while holding aborted class or package"
If you create a class or package, select it, then abort you'll see a walkback because Jadeite doesn't realize the class is gone.

[2018-10-25 20:30] ericwinger commented on #252
Fixed in 3.0.43 with test.

[2018-10-25 20:30] #252 closed, assigned to LisaAlmarode

[2018-10-25 20:36] ericwinger opened #253 "popup method menu in method list is slow for JadeServer methods"
Presumably it is slow for any class with a large number of methods. In order to determine whether this is a test method or not we refresh the class. That's a big hammer and we should be more efficient.

[2018-10-25 21:13] ericwinger commented on #253
Fixed in 3.0.43 with server test.

[2018-10-25 21:13] #253 closed, assigned to ericwinger

[2018-10-25 21:21] ericwinger opened #254 "Would like text wrap in inspector"
@dalehenrich asked that text panes wrap text in the inspector code pane. I made wrapping the default in most places in Jadeite.

Please let me know if this is what you want. Fixed in 3.043.

[2018-10-25 21:21] ericwinger commented on #254
Fixed.

[2018-10-25 21:21] #254 closed, assigned to dalehenrich

[2018-10-25 21:40] ericwinger opened #255 "Step through compileClass: raises debugger"
1. Put a halt at the beginning of server method  ``RowanPackageService>>compileClass: ``

1. Edit ``JadeiteProjectsBrowserPresenter>>editSaveClass`` and move the ``issueCommand:`` send out of the error handing block.

1. Try to save any class and see it open a debugger on the halt properly.

1. Step Over and get the walkback below.
[code]

[2018-10-25 22:02] ericwinger commented on #27
Even though we recently added server tests that touched the creation of the JadeiteServer, I added JadeServerTest>>test_JadeitePostLogin which runs the entire post login code sent from Jadeite.

See server test ``JadeServerTest>>test_JadeitePostLogin``

[2018-10-25 22:02] #27 closed

[2018-10-25 22:21] ericwinger commented on #78
Browse Frame Method was fixed some time ago.

We're getting rid of the dictionary browser in issue #217 so this becomes a mute issue.

[2018-10-26 00:14] ericwinger commented on #229
Should have another fix to test out in 3.0.43

[2018-10-26 16:12] dalehenrich opened #256 "Find string literals in addition to 'methods containing string' would be useful"
In the face of a large code base with lots of potential string matches, matching string literals narrows the field. ClassOrganizer>>referencesToLiteral: can be used ...

[2018-10-26 19:59] dalehenrich opened #257 "workspace and compile errors"
When running code that calls code that itself compiles methods that generate compile errors, the workspace intercepts the compile error and thinks that the error is coming from a syntax error in the workspace code ... there is a way to make make string execution into a two step process so that compile errors coming from the executed code (not workspace) code can cause a debugger to come up ..

[2018-10-26 21:27] ericwinger opened #258 "wildcard senders and implentors don't return proper selection list"
Pattern *symboldict* returns a reasonable result, while

*symboldict:* and *SymbolDict:*  do not find the methods.
![image](https://user-images.githubusercontent.com/36212516/47593139-155c6d00-d92b-11e8-9ad8-4813e661e06f.png)

![image](https://user-images.githubusercontent.com/36212516/47593145-1a212100-d92b-11e8-87b6-d79bccd8efef.png)

![image](https://user-images.githubusercontent.com/36212516/4

[2018-10-26 21:29] ericwinger commented on #258
The pattern entered by the user is converted to an array to be used by ``_matchPatternNoCase:`` on the server. However, during the conversion process, the wildcard symbol $* was not being inserted correctly in some cases. Fix in 3.0.43

[2018-10-26 21:29] #258 closed, assigned to LisaAlmarode

[2018-10-26 22:29] ericwinger commented on #193
@LisaAlmarode  Hmmm, I'm not having any luck reproducing this with the dictionary browser/hierarchy view in 3.0.43. Any guidance is appreciated.

![image](https://user-images.githubusercontent.com/36212516/47595195-df6fb680-d933-11e8-984b-039faa5bbad1.png)

[2018-10-26 22:32] ericwinger opened #259 "Add a "force unload" button to the Jadeite projects browser"
To support https://github.com/GemTalk/Rowan/issues/387

Probably should give a gentle warning that this is generally discouraged but should work.

[2018-10-26 22:53] ericwinger commented on #256
Added a literal reference search in the projects browser in 3.0.43 .

[2018-10-27 00:21] dalehenrich commented on #259
... if the normal unload fails (including because of corruption in the loaded things or out of memory error) the "force unload" can be used ...

when we have the [Rowan audit tool](https://github.com/GemTalk/Rowan/issues/374)available (it should be a menu option as well) it will be recommended to run a Rowan audit after using the "force unload" to ensure that things are in proper order ... that wi

[2018-10-29 18:32] LisaAlmarode commented on #205
Still a problem in 3.0.43

[2018-10-29 21:12] LisaAlmarode commented on #231
SessionTemps empty in topaz on login but has state after running tests, and session state is empty.

[2018-10-29 21:17] ericwinger commented on #205
I'll have code in 3.0.44 that prevents adding a '*' category if the package doesn't exist. Not a perfect solution as it still allows a user to programmatically enter an unremovable category. However, to be more robust, I think we should fix Rowan to be more tolerant of *'d categories without packages.

[2018-10-29 21:17] #205 closed, assigned to ericwinger

[2018-10-30 17:55] LisaAlmarode commented on #229
The tab labeling seems to work quite well now even when I try to trick it.

that is... unless you select two projects.  In this case, the tab is stuck on "Project" regardless of the selected package.

[2018-10-30 18:00] LisaAlmarode commented on #235
One of the following needs to be renamed.

Console Jadeite > Browse Class
Projects Browser Jadeite> Find Class...

If you want to keep Browse Class (rename menu item in the Projects Browser), please at least make it Browse Class...

[2018-10-30 18:10] LisaAlmarode commented on #216
I don't reproduce a problem; this isn't very definite but Dale will notice if it does show up.

[2018-10-30 18:19] LisaAlmarode opened #260 "Need a space in CommitTransaction"
Projects Browser Jadeite > CommitTransaction  has no space separating the words.

This is quite annoying although not a functional problem.

Also, I was looking on the Projects menu to Abort and couldn't find it... the Commit... confused me. I recommend changing the Projects > Commit... to Commit to Git... to reduce ambiguity.

Checkout likewise is git specific and might be better Checkout Git Bra

[2018-10-30 18:32] LisaAlmarode commented on #174
I see the Defined Package: and the Category: and I like the go-to menu item disable. Not sure the word "Defined" is a good use of space, but see how things shake out in use.

[2018-10-30 19:13] LisaAlmarode opened #261 "Project tab should display reason for project font styling"
When you run code such as that below, it seems like it be a loaded, non-dirty project.  Yet, in the projects browser, the project is bold italic.  (This is probably a bug; another load corrects it).

When I select it, I can see the Project Tab with some information about the project.  It seems like here it should say "Dirty" or "not loaded" since those are the two valid reasons I know of for makin

[2018-10-30 19:23] LisaAlmarode opened #262 "Console debug-it does nothing if selected expression has temp variables"
The debug menu item in the console tends to ignore me and execute code without starting a debugger.  It turns out it hates temporary variables.

Debug this just does an execute:
| ps |
ps := RowanProjectService newNamed: 'RowanSample1'.
ps refresh

While Debug on this opens the debugger:
(RowanProjectService newNamed: 'RowanSample1') refresh

[2018-10-30 19:33] ericwinger commented on #260
All three will be fixed in 3.0.44.

[2018-10-30 19:33] #260 closed, assigned to ericwinger

[2018-10-30 19:58] LisaAlmarode commented on #228
In general, the new behavior is good (I don't like the class list going empty for so long but it's not terrible).

However, there's a problem related to this.  The new system doesn't seem to be prepared for some kinds of class compile errors.

To reproduce:

create class One
create a subclass of One, call it Two
add instance variable aa to Two.
then try to add instance variable a to One

If you lo

[2018-10-30 20:13] LisaAlmarode commented on #248
I can't actually run the specified test (see error below).  However, I can create a test that returns a project service and that is handled fine.

a UserDefinedError occurred (error 2318), reason:halt, performOnServer: 'set -e; cd $ROWAN_PROJECTS_HOME/Rowan/test/testRepositories/repos//RowanSample3; git --git-dir $ROWAN_PROJECTS_HOME/Rowan/test/testRepositories/repos//RowanSample3/.git --work-tree

[2018-10-30 20:21] LisaAlmarode opened #263 "With class selected, but not method selected, in SUnit tab, project refresh gets error"
Load RowanSample1
Select RowanSample1-Test project and RowanSample1Test class (do not select method)

Go to SUnit tab.  Select something and use the little running guy to run tests.

Now to go to the Jadeite menu bar item and refresh (not the popup in the projects pane)
See error dialog:
JadeSUnitInClassPresenter does not understand #refreshFromServer

[2018-10-30 20:51] LisaAlmarode commented on #256
I think it's getting wrong answers; it's finding references to the literal symbol, but not the literal string.

Define methods (in my case on the class Two):

theAString
	^'apple'
invokeA
	^self apple

The new menu item Browse Literals References, given the string apple, produces a list with only invokeA.

However, the underlying code suggested by Dale, produces only theAString.

| str refs |
str

[2018-10-30 21:09] ericwinger commented on #156
Believe I have a fix for the > display when no classes are selected and the hierarchy tab is chosen.
3.0.44

[2018-10-30 21:11] LisaAlmarode commented on #235
Another problem (I think): the Browse Implementors Of... also wants to do the job of Browse Implementors.

In console workspace,  I had a left over code selection such as

| str refs |
str := String new.

This was from an earlier test of tests.  For a new issue, I was in the projects browser then went to the Console menu item to Browse Senders Of to enter a particular string. And it didn't give me

[2018-10-30 21:25] LisaAlmarode commented on #258
Don't see a case of missing results in various combinations of case and asterisks.

[2018-10-30 23:53] LisaAlmarode opened #264 "Method List Browser Comparison tab contents are sticky (3.0.74)"
In the Projects Browser, navigate to Rowan | Rowan-Definitions | RwAbstractClassDefinition | | compareAgainstBase:.

Click on the comparison tab.  See the class and superclass versions full of yellow-highlighted text.

Now use the implementors menu item to get implementors of compareAgainstBase:. The first method on the list is the one in the class and it's selected.

Click on the comparison tab.

[2018-10-31 01:18] dalehenrich commented on #193
Try to copy the selected item (CTL-C) .. reproduces with 3.0.43:
![image](https://user-images.githubusercontent.com/623951/47760149-fd108900-dc6f-11e8-800a-b660a8a54be6.png)

[2018-10-31 17:02] LisaAlmarode commented on #193
@ericwinger it's the text pane popup, not the method list pane popup. Remains easy to reproduce, as Dale says, in 43.

[2018-10-31 17:58] ericwinger commented on #228
I was able to reproduce the odd versioning in a workspace, independent of the Jadeite browsers. I filed rowan bug https://github.com/GemTalk/Rowan/issues/388.

The "flittering" error message is fixed to be visible in 3.0.44.

[2018-10-31 17:58] #228 closed, assigned to ericwinger

[2018-11-01 15:49] ericwinger commented on #256
We were casting the input string into a symbol. Now the Literal References finds the string 'apple' in the issue example. Fixed in 3.0.45

[2018-11-01 15:49] #256 closed, assigned to LisaAlmarode

[2018-11-01 17:00] ericwinger commented on #235
Browse Class on the console is now Find Class ... with the same hot key.

The workspace was intercepting the browse implementors and senders on the menu bar. When it did, it picked up the selection in the workspace.  I've added browse menu items in the pop-up which (I think) alleviate the confusion. Also renamed the menu bar methods so the user can reach the dialog.

Fixed in 3.0.45

[2018-11-01 17:00] #235 closed, assigned to ericwinger

[2018-11-01 17:17] ericwinger commented on #193
@LisaAlmarode  Still no luck reproducing. :(   I'm using Oscar 3.0.44.

![image](https://user-images.githubusercontent.com/36212516/47867590-2f7ccc00-ddbf-11e8-8f8d-964eca53e51a.png)

[2018-11-01 18:40] ericwinger commented on #193
Got it. Missed the hierarchy note. Fixed in 3.0.45.

[2018-11-01 18:40] #193 closed, assigned to LisaAlmarode

[2018-11-01 18:46] ericwinger commented on #229
Pretty sure I've got this fixed in 3.0.45.

[2018-11-01 18:46] #229 closed, assigned to ericwinger

[2018-11-01 22:51] dalehenrich opened #265 "workspace could use a `browse projects` menu item ... (3.0.45)"

[2018-11-02 01:25] LisaAlmarode commented on #193
It no longer errors.  However, for a longish method it takes a long time to show the menu - close to 2 seconds - long enough for me to get bored and right-click again.  An example of this is TonelWriter>>splitMethodSource:into:. Under similar circumstances, the Project Browser pops it right up.
However, since Dictionaries Browser is deprecated, I think we can let this pass.

[2018-11-02 01:43] LisaAlmarode commented on #156
I complained about the lack of the little plus next to a class to indicate an unexpanded sub-hierarchy.  this is still present in 3.0.45.  It's definitely not something worth holding up release for.

In the following example, CharacterCollection was not expanded when I went to the heirarchy view.  I double-clicked on CharacterCollection.  You can't tell that MultiByteString has subclasses - there'

[2018-11-02 01:57] LisaAlmarode commented on #228
Jadeite behaves well.  The spurious class version is still created per GemTalk/Rowan#388.

[2018-11-02 02:01] LisaAlmarode commented on #205
This does appear to be working well.  The first time I tried this, I saw errors, perhaps RowanClassService wasn't initialized.  These don't reproduce, but recording just in case.

ProjectsBrowser:
a ImproperOperation occurred (error 2085), Expected nil to be a Boolean.
ImproperOperation (AbstractException) >> _signalFromPrimitive: @5 line 15
RowanClassService >> addCategory: @4 line 6
RowanClassSe

[2018-11-02 02:22] LisaAlmarode opened #266 "Add package with existing name results in package in two projects"
If you have a package named Test in one project, and then try to add a new package named Test to a different project, it results in the same package being in both projects.  This follows from how package and project definitions work.

However, if you unload the second-of the projects, it unloads the package from the first and leaves the second project still present but marked dirty.  Weird stuff h

[2018-11-02 03:48] LisaAlmarode commented on #223
If you set a breakpoint on a selector in method, when you get into the debugger, in the text pane popup menu, it doesn't add the selector.  So you can't look for implementors of that selector.

This is simpler than Dale's report:
![image](https://user-images.githubusercontent.com/13142166/47892804-01c37180-de17-11e8-8289-560d0207a7c5.png)

If you remove the breakpoint, you get the extra menu items

[2018-11-02 04:05] LisaAlmarode opened #267 "logout closes project browsers but not method list browsers"
I'd like logout to close all open browsers, inspectors, method list browsers, debuggers and so on.  The method list browsers, at least, stick around, as of 3.0.45.

[2018-11-02 16:32] ericwinger commented on #267
I believe that the method list browsers close properly in 3.0.45. However, it's possible that you found an "old-style" method list browser that isn't hooked up to logout on close. Or, you might be using a logout that I'm not familiar/aware of. (On the console, I go to File>Exit Jadeite)

If you can give me a few more specifics I might be able to find it.

[2018-11-02 16:49] ericwinger commented on #223
Hmmm, might need a little more help figuring out what's different about your use case. Although I think your cursor is in the right spot, make sure it's on foo & the breakpoint.

![image](https://user-images.githubusercontent.com/36212516/47928733-446f6300-de84-11e8-849f-e50a4c4c75d1.png)

[2018-11-02 17:19] ericwinger commented on #266
Hmm, I don't see "weird stuff." Nor do I see the removal from the first package in Rowan if the second project is unloaded. Maybe I'm misunderstanding.

[code]

[2018-11-05 21:31] ericwinger commented on #237
The stack dump comes directly from the VM and isn't modifiable in smalltalk code. However, I did wrap the stack dump to provide a findable time/date which should make it easier to search for the beginning and end of the stack dump.

Example:
[code]

[2018-11-05 21:31] #237 closed, assigned to LisaAlmarode

[2018-11-06 00:23] ericwinger commented on #243
``Browse Class`` was renamed ``Find Class``. I left find class as is but added Go To Class in New Browser with a Ctrl-G to handle the request. (I use Find Class as is and expect it to search within my browser)

Also replaced New Workspace Ctrl-N with New Project Browser Ctrl-N and renamed Add System browser with New Projects Tab Ctrl-N.  I think these are improvements.

[2018-11-06 19:57] ericwinger commented on #265
Replaced Browse Classes which opened a dictionary browser (going away) with a Browse Projects. Fixed in 3.046.

[2018-11-06 19:57] #265 closed, assigned to LisaAlmarode

[2018-11-06 21:57] ericwinger commented on #185
Have a fix in 3.0.46.

[2018-11-06 21:57] #185 closed

[2018-11-06 22:52] ericwinger commented on #263
Fixed in 3.0.46. Tested, too. Also found an unreported bug where the sunit tests were sticking around even though the test class was not selected.

[2018-11-06 22:52] #263 closed, assigned to LisaAlmarode

[2018-11-07 18:25] ericwinger commented on #251
Moved the existing console browse items to their own Browse menu to reduce clutter. Added ``Browse Methods Containing`` & ``Browse Literal References`` Fixed in 3.0.46.

[2018-11-07 18:25] #251 closed, assigned to LisaAlmarode

[2018-11-07 22:05] ericwinger commented on #207
Using the pop-up context menus on the SUnit browser tool, one can browser an individual class or a collection of methods. Fix in 3.0.46

[2018-11-07 22:05] #207 closed, assigned to LisaAlmarode

[2018-11-07 23:47] ericwinger commented on #218
Fixed in 3.0.46

[2018-11-08 01:09] dalehenrich opened #268 "3.0.45 - shortcut CTL-S brings up senders dialog instead of saving workspace in console workspace"
![image](https://user-images.githubusercontent.com/623951/48171223-cb22a680-e2af-11e8-9fc4-780a9108fc2f.png)

[2018-11-08 02:12] dalehenrich commented on #267
I occasionally see windows left around ... I always close the console to exit Jadeite ... I'll pay more attention the next time it happens ...

[2018-11-08 17:36] ericwinger opened #269 "Would like "Working Set" project for collecting unrelated classes"
If the project browser had a special project called a WorkingSetProject, each "package" could be user defined. The user could then drag/drop, write expressions, or somehow collect classes into that working set. Rowan would not track this.

It could be a useful development tool for Jadeite.

[2018-11-08 18:21] ericwinger commented on #213
Should be fixed (and tested) in Oscar 3.0.46

[2018-11-08 18:21] #213 closed, assigned to LisaAlmarode

[2018-11-08 18:32] ericwinger commented on #268
As noted, Ctrl-S should save a workspace to a file. However, Ctrl-S was overloaded by senders.

Changed the hotkey for senders to Ctrl-Shift-S to avoid the overload. Also changed implementors to Ctrl-Shift-I.

[2018-11-08 18:32] #268 closed, assigned to LisaAlmarode

[2018-11-08 18:32] ericwinger commented on #268
Fixed in 3.0.46

[2018-11-08 23:10] ericwinger commented on #242
I didn't have any luck reproducing this. It appears this method is not in current Rowan so I couldn't test the exact use case. Assigning to @LisaAlmarode to see if she has better luck.

![image](https://user-images.githubusercontent.com/36212516/48232925-2021f380-e368-11e8-99d6-5afd089ed518.png)

I did notice the window caption didn't show ``Hierarchy implementors ...`` and fixed that.

[2018-11-08 23:45] dalehenrich opened #270 "Project list should have list of configurations and list of group names used to load each project"
Having this information readily visible would make it possible to diagnose Rowan/project load issues ... needs to be visible in a screen shot ... in the long run making changes to these parameters for Jadeite project load/updates will be necessary ... a separate dialog that includes a detailed summary of the loaded projects and Jadeite version would also be sufficient --- as long as per project hi

[2018-11-09 01:24] ericwinger commented on #192
Method browser and inspector should both open a projects browser if it is a rowan-ized package and a dictionary browser if not. Fixed in 3.0.46

[2018-11-09 17:22] ericwinger opened #271 "Ctrl-F with "list tab" selected gets walkback"
Select the Project tab in the projects browser.
Press Ctrl-F.
Get walkback because the Project tab doesn't understand ``editFind``

[2018-11-09 17:23] ericwinger commented on #271
Fixed in 3.0.46

[2018-11-09 17:23] #271 closed, assigned to ericwinger

[2018-11-09 17:46] ericwinger commented on #317
@LisaAlmarode I see this is assigned to me. If it's truly a Jadeite bug or enhancement request, can you move the bug to the [Jadeite project](https://github.com/GemTalk/Jadeite/issues)?  Else, reassign. Thanks.

[2018-11-09 17:52] dalehenrich commented on #267
I just had a case where I closed the console and both the console and SUnit test browser were left open ... this happened when I had shut the stone down **before** closing the console ... i get the "stone gone" dialog and the windows associated with session are not closed ... this is likely to be the case that I see "occasionally"...

[2018-11-09 18:17] dalehenrich opened #272 "`implementors in package` or filter by package option on `method list` or ???"
I just noticed that I can sort by package name ... so this is actually not bad ... leaving this around in case `???` is something cool ... like implementors/senders in [working set](https://github.com/GemTalk/Jadeite/issues/269)

[2018-11-09 18:59] LisaAlmarode commented on #317
In Jadeite browsers, since you (the end-user) don't actually have the option to do an add or not, it doesn't seem like the git command line procedures are relevant.  I'm not aware that Rowan itself has a did-you-do-a-git-add question; I get the same walkback-on-comit-no-changes using definitions code

Write to git does not have this problem, I can write to git when there are no changes.  This is w

[2018-11-09 22:58] ericwinger commented on #166
I was able to reproduce the error. The server returns a nil step point from ``GsNMethod>>_stepPointForMeth:ip:`` Work done in kermit bug # #45553 fixes this problem in later server versions.  (See ``GsNMethod>>_debugInfoAccess:at:`` for a little more on the fix)

``RowanDebuggerStepPointError>>isNested`` was added to workaround the problem and gets rid of the unhelpful dialog box walkback.

I beli

[2018-11-09 22:58] #166 closed

[2018-11-09 23:12] dalehenrich commented on #242
Here's a screenshot with the missing information (so this still seems to be a bug):
![image](https://user-images.githubusercontent.com/623951/48293000-c0901a80-e431-11e8-88d2-eec24b5d1aeb.png)

[2018-11-12 20:51] ericwinger commented on #267
If the server is lost without the gci session knowing about it, windows wouldn't be closed. Now, if the logout fails we still destroy all the registered Jadeite windows. Fixed in 3.0.46

[2018-11-12 21:38] ericwinger commented on #242
We weren't getting all the subclasses before searching for hierarchy implementors. Fix in 3.0.46.

[2018-11-12 21:38] #242 closed, assigned to LisaAlmarode, ericwinger

[2018-11-13 17:52] LisaAlmarode commented on #267
In 3.0.46, opened a debugger, then from this opened implementors, dictionaries browser and inspector.  If I close the console, the debugger shuts down but the other three windows are still there - and I still have a session, senders of produces results. This session appears really stuck; a new login has [2] in the title.

If I execute "System shutDown" prior to closing console, same; the debugger

[2018-11-13 20:16] ericwinger commented on #267
Turns out the debugger window terminates the thread that closes it. Since Jade seems to think that's important (and debuggers are weird that way) I'm reluctant to take out the termination. Instead, I've reworked the window closing to do the debugger last. Not a perfect fix but should be better than leaving every other window open if a debugger is closed first. Fixed (again) in 3.0.47.

[2018-11-13 20:54] LisaAlmarode commented on #166
Looks good.  I might note that with the the block context selected, code has a red border around the select as well as a highlight on the step point... the border implying a breakpoint, which is a little inexplicable. But I think there's a separate bug on highlighting in debugger.

[2018-11-13 21:26] LisaAlmarode opened #273 "SUnit Browser fragile in the face of change"
If I have the SUnit browser open, and do stuff in the projects browser, the SUnit browser tends to get walkbacks like the one below.

The most reliable way to reproduce it is: with Sunit browser open on the text class, put a breakpoint on a test method.  click on a different test class in the sunit browser, then back on the original.  see walkback.

It also happens when I a new test method, and go

[2018-11-13 22:12] ericwinger commented on #241
@dalehenrich Hmm, I'm not seeing this behavior.  It's possible that I fixed it when I did some other work in the drag drop area. Can you confirm if it is still happening?  I tried:

- class method drag to new class in hierarchy & class list
- class method drag to new category in hierarchy & class list
- instance method drag to new class in hierarchy & class list
- instance method drag to new categ

[2018-11-13 22:17] ericwinger commented on #194
Fixed in 3.0.47. Also changed the ``Exit Jade`` from a regular workspace to ``Exit`` as it only closes the workspace.

[2018-11-13 22:24] dalehenrich commented on #241
If you can't reproduce this .... I will trust that you've got it fixed and report a new bug or reopen if it occurs again ...

[2018-11-13 22:24] #241 closed, assigned to dalehenrich

[2018-11-13 22:49] ericwinger commented on #238
Double click now opens frame method. Fixed in 3.0.47.

[2018-11-13 23:10] LisaAlmarode opened #274 "Support for use case: create an extension method on Object in a package"
Use case:
 1. Add a package (with the postfix -Extensions) to a project.  E.g., Foo-Extensions
 2. Add an extension method Object >> isFoo, in category *foo-extensions
 3. Write project to disk and have it reload

I don't think this is at all possible; I can't even make step 2 work, since I don't think Jadeite can create a class extension definition, only a class definition.

This is related to ht

[2018-11-13 23:18] LisaAlmarode commented on #265
In a loose workspace, it seems like you'd want more than just the Project Browser.  Also, the location under menu bar items might better to be more consistent with the Console,  So I would recommend adding a "Browse" menu bar item rather than putting it under the jadeite menu.  But I'm not sure we've carefully thought through what is "Jadeite" vs other menu categorizations so it may be okay to def

[2018-11-13 23:42] LisaAlmarode commented on #243
The find class part is okay.

As far as I understand Eric's comments, it looks like control-N is not doing what it's supposed to be doing.  I think it's intended that control-N add a new tab in the projects browser.  Nothing happens for me.

Also, the console workspace control-G behavior is muddled; it does a debugit per the menu bar, not find next per popup menu.  Should decide on what control-G

[2018-11-14 00:16] ericwinger commented on #261
Added ``isDirty`` and ``isLoaded``. Fixed in 3.0.47.

[2018-11-14 00:39] ericwinger commented on #243
control-N - does nothing

It works for me but it may depend on what you've got selected or on what tab you're on. Can you show me a screen shot of when it doesn't work?

Any command key combination that isn't registered will give you cool red stuff. fyi

I took away the Ctrl-G and returned Ctrl-B to be Debug in 3.0.47.

control-N - opens new workspace
shift-control-N - causes red SO to appear in w

[2018-11-14 01:15] dalehenrich opened #275 "`RowanQueryServicesTest>>#test_hierarchySenders` failing after merge into candidateV1.2"
If this is an expected failure, then go ahead and close the bug ....

Here's the commit that was tested:
[code]
Here's the test results summary:
[code]
Last time tests were run on candidateV1.2 branch (e825b2d):
[code]

[2018-11-14 01:31] LisaAlmarode commented on #242
I can't catch out a problem in 3.0.46.  (though that doesn't mean it's not there)

[2018-11-14 01:35] LisaAlmarode commented on #218
Control-B does debug-it in SUnit browser.  Reopening since the Console does NOT debug-it on control-B, it opens a dictionaries browser.  The popup menu item does claim to but the actual keystokes not so much.

[2018-11-14 01:49] dalehenrich opened #276 "Jadeite.errors and *.stb files left in Oscar-3.0.46 runtime.zip"
These should be cleaned up ... picture taken after downloading [Oscar-3.0.46/runtime.zip](https://github.com/GemTalk/Jadeite/releases/download/Oscar-3.0.46/runtime.zip) and renaming:
![image](https://user-images.githubusercontent.com/623951/48454493-4c74b000-e76c-11e8-9bca-476138729297.png)

Just a friendly reminder:)

[2018-11-14 01:55] dalehenrich commented on #212
hit again in 3.0.46 ... worth bumping up, since it's not obvious what to do when you need to copy text (using the cut menu item is not my fist thought:)

[2018-11-14 02:00] LisaAlmarode commented on #192
Not sure what inspector this might be fixed in.  Works well from method list browsers

Highlight RwClassDefinition and do inspect-it.  (notice the menu par says "Jade" and should say "Jadeite").
In the resulting inspector, use menu item Jade > Browse class.

( 1 ) It opens the project browser but does not select the class.
THEN it ALSO opens the Dictionaries browser which does select the class.

(

[2018-11-14 02:16] dalehenrich opened #277 "nice to have the Jadeite version visible on the Jadeite launch"
Note that I've got 5 different versions of Jadeite on my desktop:
![image](https://user-images.githubusercontent.com/623951/48455383-cc504980-e76f-11e8-85a8-9d21845a0faa.png)
... which means that before I press the login button, I have to click three times to confirm that the launcher is the right version(menu, help, ok) ... and there are times when I have three different versions of Jadeite launc

[2018-11-14 16:45] ericwinger commented on #218
I've got a fix in 3.0.47 for review.

[2018-11-14 17:19] ericwinger commented on #218
Also @LisaAlmarode see https://github.com/GemTalk/Jadeite/issues/243#issuecomment-438493471

[2018-11-14 19:21] ericwinger commented on #192
The inspector wasn't working when the inspected object was a class. Instances of classes worked fine. Fixed that in the inspector.

Debugger variable pane was using old-style find class which was replaced.

Fixes in 3.0.47.

[2018-11-14 19:21] #192 closed, assigned to LisaAlmarode

[2018-11-14 22:46] dalehenrich opened #278 "(3.0.46) cannot tell at glance which _hierarchy_ classes have extension methods for the selected package"
![image](https://user-images.githubusercontent.com/623951/48517443-2fe38100-e81b-11e8-82ed-0faeb463d82d.png)
I don't know if this has been discussed already, but I would *like* to be able to tell at a glance which classes have extension methods from the currently selected package ... Number and Integer are the only ones:
![image](https://user-images.githubusercontent.com/623951/48517655-daf43a80-e

[2018-11-14 23:13] ericwinger commented on #275
Needed to send ``allSubclasses`` instead of ``subclasses``. Fixed in Rowan Oscar branch 3.0.47.

[2018-11-14 23:13] #275 closed, assigned to LisaAlmarode

[2018-11-15 00:00] ericwinger commented on #243
@LisaAlmarode comment above.

[2018-11-15 00:16] ericwinger commented on #273
@LisaAlmarode  Not much luck reproducing. I think you might be running into a class that STON is not happy with for some reason. Maybe Interval. Can you let me know what classes you're clicking on to get the walkback?

[code]

[2018-11-15 00:25] LisaAlmarode commented on #273
Clone and load rowansample4
Open SUnit browser and go look at rowansample4test, run test1,
in PB, got to rowansample4 test > test2, set break on bar.
back in SUnit browser, click on STON-Tests
Click back on rowansample4test,, run test1, and test2
click on STON-Tests
Click back again on rowansample4test,,  Now I see the stack, where it's trying to read the following

'[RowanPackageService{#name:''R

[2018-11-15 00:50] ericwinger commented on #273
It appears that the ``testClasses`` inst var was not being cleared properly upon a replication to the server. Only use that inst var when returning. This is a possible fix in 3.0.47.

[2018-11-15 00:52] dalehenrich commented on #273
@ericwinger ... remember that you can ship selected instance variables over the wire instead of having to remember to clear them before sending them over wire?

[2018-11-15 01:04] ericwinger commented on #273
@dalehenrich I didn't have much luck with selective sending and receiving of select inst vars when I worked on it some time ago.  I can't remember the specific problems but they seemed insurmountable at the time. It was easier to just clear the inst vars.

[2018-11-15 01:13] dalehenrich commented on #273
It was a pretty simple formula ... if you want to do selectively send ivs I can supply you with sample code ... up to you:)

[2018-11-15 01:36] LisaAlmarode commented on #243
uh... it's the project browser.  With or without a project selected, package selected, class selected, method selected, focus in method text: control-N stubbornly ignores me.  I am native windows, though...

![image](https://user-images.githubusercontent.com/13142166/48523767-9b851880-e832-11e8-8206-3aa18e413ece.png)

- - -

Also, when I'm here, and I hit control-B (say, in trying to reach control

[2018-11-15 17:39] ericwinger commented on #243
Looks it wasn't just Ctrl-B & H. The other execution operation hot keys were problematic outside the source pane as well. Fixed in 3.0.48.

[2018-11-15 17:54] ericwinger commented on #243
Still can't reproduce the Ctrl-N problem. Putting back in @LisaAlmarode's court.

[2018-11-15 17:59] ericwinger commented on #276
Removed in 3.0.47.

[2018-11-15 17:59] #276 closed, assigned to nobody

[2018-11-15 18:19] ericwinger commented on #277
It was easy enough to put in the window caption. This is what it looks like (except the version won't be Development).  Fixed in 3.0.48.

![image](https://user-images.githubusercontent.com/36212516/48572991-db461180-e8bf-11e8-97e2-52d8396d4bfe.png)

[2018-11-15 18:19] #277 closed, assigned to ericwinger

[2018-11-15 19:07] ericwinger commented on #243
The problem with Ctrl-N turns out to be a stripped method in the runtime executable. The image stripper removes unsent methods and isn't smart enough to decode the string-based menus used by Jadeite. (A hold over from Jade) Fixed in 3.0.48 by making a sender of ``newBrowser``.

[2018-11-15 19:07] #243 closed, assigned to LisaAlmarode

[2018-11-15 19:57] LisaAlmarode commented on #277
I might prefer it still included the word "login" but I'm good with this.

[2018-11-15 20:07] LisaAlmarode commented on #267
Logout in 2.0.48 still left open the method list and  inspector opened from the debugger, although the debugger itself was closed.
Before:
![before](https://user-images.githubusercontent.com/13142166/48578613-05eb9680-e8cf-11e8-8261-f74fee0b973c.jpg)
after:
![after](https://user-images.githubusercontent.com/13142166/48578617-097f1d80-e8cf-11e8-8e3a-09d6585138e5.jpg)

[2018-11-15 20:16] LisaAlmarode commented on #218
If you are in the ProjectBrower, in a test class, and go to the Sunit tab and click control-B, you get
an error dialog:
JadeiteSUnitInClassPresenter does not understand #jadeDebug

Everything else that ought to work, appears to work.

I think the Method List Browser handling could use examination - you can't do a control-B, and the Run Tests menu item is plural but I suspect only runs the one test

[2018-11-15 20:24] LisaAlmarode commented on #266
With VegTest project loaded, I add a package named Vegetables to RowanSample3.  It's now in two places:
![image](https://user-images.githubusercontent.com/13142166/48579362-1d2b8380-e8d1-11e8-92cc-6c383e90dc05.png)

Then I unload RowanSample3.  This unloads it from VegTest:
![image](https://user-images.githubusercontent.com/13142166/48579421-44825080-e8d1-11e8-86ad-777e867abc06.png)

[2018-11-15 20:31] LisaAlmarode commented on #223
Still the same for me in 3.0.48.  I don't know how to show more clearly that foo is highlighted - "clear break" should be good evidence.  I'm glad it's working for you but...

![image](https://user-images.githubusercontent.com/13142166/48579670-0174ad00-e8d2-11e8-9e63-9b6e84eb98c8.png)

[2018-11-15 20:37] LisaAlmarode commented on #238
If you double click on a block context or the 'Executed Code' frame you get a walkback.

a ArgumentTypeError occurred (error 2094), reason:rtErrBadArgKind, expected a CharacterCollection
ArgumentTypeError (AbstractException) >> _signalWith: @6 line 25
ArgumentTypeError (AbstractException) >> signal @2 line 47
UndefinedObject (Object) >> _error:args: @15 line 11
UndefinedObject (Object) >> _errorEx

[2018-11-15 20:44] LisaAlmarode commented on #194
The inspector has the same problem - it has the Jade menu item and the File menu option says Exit Jade.

[2018-11-15 20:48] LisaAlmarode commented on #261
IsLoaded is always empty, including for Rowan.  Not exactly useful.

[2018-11-15 20:53] LisaAlmarode commented on #273
SUnit browser no longer fragile.

BUT it still doesn't show updated tests well. If I add test4 over in the Project Brower, I'd expect either that the SUnit browser would automatically update, or that there would be some manual way e.g. refresh, to update the SUnit browser other than clicking to another package and back.

[2018-11-15 20:59] ericwinger commented on #238
Fixed in 3.0.49

[2018-11-15 20:59] #238 closed, assigned to LisaAlmarode

[2018-11-15 21:09] LisaAlmarode opened #279 "Sunit browser refresh, auto or manual"
If you have the SUnit browser open and add a test in the Project Browser, the new test isn't visible and there's no obvious way to refresh.  Other than clicking to another class and back.

[2018-11-15 21:10] LisaAlmarode commented on #273
Refresh moved to new issue #279.  Close the breaking part of this issue.

[2018-11-15 21:10] #273 closed, assigned to LisaAlmarode

[2018-11-15 21:19] LisaAlmarode opened #280 "Method List Browser debug option and Run Tests"
Control-B normally debugs selected code.  This is missing from the method list browser. The method text pane popup menu does not have a debug it option.

Also, I think the Run Tests menu item should be renamed Run Test in cases where it only runs the selected test.  It's most confusing in the Method List Browser, but it's not correct in the Project Browser method list pane.

[2018-11-15 21:19] LisaAlmarode commented on #218
See new issue  #280 for the method list browser parts of this issue.

[2018-11-15 21:25] LisaAlmarode opened #281 "Workspace-related items on other menus"
In the method list browser, the Jadeite menu has present but disabled, the menu items
   New workspace
   Open system browser
   commit transaction

Makes no sense that these are disabled.

It has a method item save that is enabled.  This results in an error dialog:
  JadeiteMethodListPresenter does not understand #halt

In the inspector, there are also new workspace/open workspace options that ar

[2018-11-15 21:27] LisaAlmarode opened #282 "Workspace that persists through logout"
In GBS I'm used to workspaces that hold code that I won't lose if I log out and in again.  I miss this.   Perhaps it's not possible <sad face>

[2018-11-15 22:22] ericwinger commented on #267
Found a place in the code that was sending a super class implementation of ``onCloseRequested:`` which preempted the previous fix.  Fix (or at least an attempted fix) in 3.0.49.

[2018-11-15 22:22] #267 closed, assigned to LisaAlmarode

[2018-11-15 23:04] ericwinger commented on #218
Partial fix in 3.0.49 to fix Ctrl-B walkback.

[2018-11-15 23:19] ericwinger commented on #261
@LisaAlmarode Could you give me a few more hints? This screenshot is from the runtime and isLoaded shows true.

![image](https://user-images.githubusercontent.com/36212516/48587883-ba92b180-e8e9-11e8-9688-f62f65e163fb.png)

[2018-11-15 23:44] ericwinger commented on #194
Have a fix for this in 3.0.49.

[2018-11-16 02:05] dalehenrich opened #283 "(3.0.46) `git log` window left open after closing console window"
![image](https://user-images.githubusercontent.com/623951/48593289-fdac4f00-e900-11e8-8866-9eddc0f6c763.png)

[2018-11-16 02:14] ericwinger commented on #279
Both the sunit browser and sunit tab should more or less update if methods are added or removed from the class. It was a decent size change so I expect a bug or three. Fixed in 3.0.49

[2018-11-16 16:34] ericwinger commented on #266
@dalehenrich   It is my faint recollection that Rowan can't yet ( or never will ) treat package names independently between projects. i.e. A package name is canonical throughout the entire system.
Is that correct?

@LisaAlmarode - If so, that would explain this behavior. When Rowan was asked to add a "new" package, it retrieved the existing package.

[2018-11-16 17:46] dalehenrich commented on #266
... I haven't looked at the details here, but I'm curious what behavior you will want> I can throw an error if you try to add an existing package, but I assume that that would be harsh for the GUI to deal with -- is this a good error (i.e. the user needs to be informed that the package already exists) or a bad error (i.e., you've hit a bug in Rowan) ... Jadeite could check to see if it is an exist

[2018-11-16 17:50] ericwinger commented on #280
Believe that this is fixed as of 3.0.49. Ctrl-B should debug selected tests in a list or open a debugger on selected text in a source pane.

[2018-11-16 17:50] #280 closed, assigned to LisaAlmarode

[2018-11-16 17:52] ericwinger commented on #266
I'd be ok with Jadeite preventing the addition of a duplicate package regardless of project. @LisaAlmarode ?

[2018-11-16 17:57] ericwinger commented on #282
@LisaAlmarode  The only place Jadeite has that's session-neutral is the login window.  I could add a workspace there that doesn't go away on logout. If that is desirable, what should it be called?  Workspace?

[2018-11-16 18:34] ericwinger commented on #281
Should have a fix for these menu items in 3.0.49.  Because menu items are so hard to get right in an ad-hoc  approach, I'd recommend we open a new issue to review the menu items on all the Jadeite windows with an eye for consistency.

[2018-11-16 20:43] LisaAlmarode commented on #279
Sunit Browser broken - I can select a package but when I select a class I get an error:

JadeiteSUnitPresenter does not understand #classListPresenter

[2018-11-16 20:45] LisaAlmarode commented on #194
Please make the Inspector Jadeite menu NOT say "exit Jadeite", it should only say "Exit" or "Close"

[2018-11-16 20:47] LisaAlmarode commented on #281
There needs to be a space in the method list browser item CommitTransaction .
No Nits Too Small (tm)

[2018-11-16 20:49] LisaAlmarode commented on #279
I'm getting this same error all over the place... selecting a class in the projects browser and in the method list browser when I try the popup menu in the list pane, or the Methods menu bar item.

[2018-11-16 20:50] ericwinger commented on #279
yes, looks like another runtime-only bug. I'll investigate.

[2018-11-16 20:55] LisaAlmarode commented on #261
Now isLoaded is always true, even for a project that was cloned but not loaded.

[2018-11-16 20:56] LisaAlmarode commented on #266
Yes, I'm fine with disallowing the duplicate add.

[2018-11-16 21:02] ericwinger commented on #281
Fixed in 3.0.50

[2018-11-16 21:02] #281 closed, assigned to ericwinger

[2018-11-16 21:03] ericwinger commented on #279
Several methods got put in the test package. Moving them to the base package fixed the problem. Fix in 3.0.50.

[2018-11-16 21:03] #279 closed, assigned to ericwinger

[2018-11-16 21:08] ericwinger commented on #194
All the inspectors have just `Exit` in the File menu as of 3.0.50

[2018-11-16 21:12] ericwinger commented on #261
This is the code I'm using to check the loaded state. @dalehenrich  what code should I be using to distinguish between a cloned-only project and a cloned-and-loaded project?

[code]

[2018-11-16 22:15] dalehenrich opened #284 "(3.0.49 and 3.0.50) project browser not updated properly on reload of project"
Here's the setup:
![image](https://user-images.githubusercontent.com/623951/48649994-64854300-e9a9-11e8-930f-9dc6b35190df.png)
1. Created _old method and it is selected in browser above)
2. select project list and then load the Rowan project (which will delete the new method)
3. old method is still selected (looks exactly the same, but I know that the method is gone
4. click off the method then on

[2018-11-16 22:24] dalehenrich commented on #284
in 3.0.50, the method does not actually disappear until I click of and on the class ...

[2018-11-16 22:26] ericwinger commented on #284
@dalehenrich This appears to be a bug that has existed for awhile. Do you consider this a show-stopper for the current release candidate 3.0.50?

[2018-11-16 22:45] dalehenrich commented on #284
I am inclined to say yes ... abort clears up the method and I would expect that abort and reload to be equivalent operations, so I vote yes.

Is the project browser correctly updated for added/remove classes and methods when a load is done?

[2018-11-16 23:04] ericwinger commented on #284
I'll have to investigate.

[2018-11-17 00:50] dalehenrich opened #285 "(3.0.50) Frozen Jadeite session"
Here's the error log not sure about the timing ... when the vm hung I got busy with other things (writing email, etc.) and just now came to see if vm was still frozen --- not completely sure that this is related to the freeze, but I can say that the only walkbacks I saw were from issue #284 ... so this stack could be the root cause of the freeze :
[code]
Here's a full screen shot ... and the freez

[2018-11-17 00:53] dalehenrich commented on #285
The whole windows vm is frozen as I cannot press the "power button" ... the "desktop menu" is active ...

[2018-11-17 01:02] dalehenrich opened #286 "(3.0.50) method drag drop only drags a single method when multiple methods selected?"
I had two method selected in ProjectBrowser but when I dragged them to the other class, only one method was transferred ... I could have sworn that in the past multiple method drag drop worked ... but that may have been months ago:)

[2018-11-17 01:44] dalehenrich opened #287 "(3.0.50) debugger "browse" menu disabled when on frame on nested block ..."
Interrupts the flow of debugging if you have to switch frames to do senders:
![image](https://user-images.githubusercontent.com/623951/48654969-690c2480-e9c6-11e8-98cb-8885b6a1c830.png)

[2018-11-17 02:06] LisaAlmarode commented on #274
To clarify: there are a number of obstacles in this use case, that don't have anything in common other than they all stand in the way of this use case.

[ 1 ] There's no way to set the symbol dictionary of the package to Globals.  This is a known issue and the answer will be the configuration browser.

[ 2 ] when you are in a new package you are faced with emptiness, without any way to create an e

[2018-11-17 17:13] dalehenrich opened #288 "(3.0.50) methods don't get displayed when switching from instance to class in project browser"
Note that `support` category is selected on the instance side:
![image](https://user-images.githubusercontent.com/623951/48663645-f17ed980-ea47-11e8-82a7-16dd6563f603.png)
Now click on `Class` button and note that there are no methods visible clicking below the categories in the category pan does not cause the list of methods to appear (I use this regularly to view all methods):
![image](https://u

[2018-11-17 17:18] dalehenrich opened #289 "Would like to be able to see superclass methods as well the class's own methods in the Project Browser (3.0.74)"
I thought that was a useful feature ... and was momentatily befuddled by the fact that it had disappeared ... category and package visibility is useful  ... but I miss being able to view methods from superclasses ...

[2018-11-17 17:22] dalehenrich opened #290 "(3.0.50) wrong methods displayed when switching from a superclass to subclass"
Note that the `running` category is selected, but the methods displayed are not in the `running` category:
![image](https://user-images.githubusercontent.com/623951/48663799-22600e00-ea4a-11e8-90a0-d7fec9157702.png)

[2018-11-17 17:25] dalehenrich commented on #290
Note that if I don't notice that wrong category is selected and edit a method ... when I save the method is moved to the (imporperly) selected category:
![image](https://user-images.githubusercontent.com/623951/48663825-7d920080-ea4a-11e8-8ecc-59f5f4ff28f5.png)

[2018-11-17 17:33] dalehenrich commented on #284
After [getting a method compiled in wrong category](https://github.com/GemTalk/Jadeite/issues/290#issuecomment-439633044), I thought this would be a perfect time to see what happens in the project browser if I do a lode/reload of a project and the following is the result:
![image](https://user-images.githubusercontent.com/623951/48663858-0c068200-ea4b-11e8-95eb-26fd83ce694c.png)
This is harsh.

Wh

[2018-11-17 18:30] dalehenrich opened #291 "(3.0.50) bad breakpoint highlighting in inner context in debugger"
from nested block frame you are presented with a `set breakpoint` menu item:
![image](https://user-images.githubusercontent.com/623951/48664435-5b50b080-ea53-11e8-8762-0860ab38435c.png)
In same debugger from home frame you are presented with a `clear breakpoint` menu item:
![image](https://user-images.githubusercontent.com/623951/48664449-820ee700-ea53-11e8-8faa-6b191439efb3.png)

Ideally you woul

[2018-11-17 18:47] dalehenrich opened #292 "(3.0.5.0) nice to have `browse class` option on test in SUnit browser"
I wanted to go to the class, but I had the method already selected to run the test and when i got the message browser, I had to search around for the `browse class` menu item`:
![image](https://user-images.githubusercontent.com/623951/48664539-ce0e5b80-ea54-11e8-9d08-9affae9dacf3.png)

[2018-11-17 19:36] dalehenrich opened #293 "(3.0.50) not sure I like the fact that all SUnit results in browser are cleared when a test method is changed"
On the one hand I understand why it might be done, but on the other hand when I'm working on a single test case in a test with lots of test cases, I like the fact that the SUnit browser was preserving the history of the various tests ... I would be able to quickly select the test for running .... because it had failed before ... I'd fix failing tests in order ... so once I fixed a failing test I w

[2018-11-17 19:43] dalehenrich opened #294 "(3.0.50) pass/fail icons associated with test in sunit browser not stable"
Here's a picture of fresh `run all`:
![image](https://user-images.githubusercontent.com/623951/48665073-46791a80-ea5d-11e8-8dbb-e3a675231892.png)
then select a different method in project browser, come back to sunit browser and run your mouse over the test results ... voila some of the test results are magically lost:
![image](https://user-images.githubusercontent.com/623951/48665100-bd161800-ea5d

[2018-11-17 19:44] dalehenrich commented on #294
oh look! non-test methods are being included in the list as well!

[2018-11-17 19:47] dalehenrich commented on #294
The extra methods (setup, etc.) show up in the sunit browser after changing a method in the test class ...

It seems that the test status is scrambled when any method is changed (or selected?) in the project browser

[2018-11-17 19:55] dalehenrich opened #295 "(3.0.50) kind of annoying that trailing white space in method is lost when you make a change to the method and then undo it"
I had added an empty comment to the method to see what happens if I make a change to a class that was not under test and then aftr the experiment, removed the empty comment ... but now the method shows up as changed and will be written :out as part of the commit I am making and there appears to be nothing that I can do to fix this:
![image](https://user-images.githubusercontent.com/623951/48665190

[2018-11-17 20:09] dalehenrich opened #296 "add a project pane to sunit browser"
mimicking the structure of the project browser is in the sunit browser is probably a good idea ... then the same patterns for navigating to a particular test would be common between the two ...

Just a thought

[2018-11-17 23:20] dalehenrich opened #297 "(3.0.50) CTL-S is not properly bound in method list browser from list references"
Not expected:
![image](https://user-images.githubusercontent.com/623951/48666714-f3629000-ea7b-11e8-81c6-7ad377ad2db9.png)

[2018-11-18 17:36] dalehenrich opened #298 "Would be nice if the fields in the project pane were editable"
the SHA field is especially interesting ... so close, but yet so far:)
![image](https://user-images.githubusercontent.com/623951/48675997-463c5600-eb15-11e8-9369-7d8abdbdfa79.png)

[2018-11-18 17:38] dalehenrich opened #299 "would be nice if text menu was available in the log view..."
thought I might be able to find and copy the sha using the log view ... foiled again:)
![image](https://user-images.githubusercontent.com/623951/48676023-95828680-eb15-11e8-8bdf-a31813161da6.png)

[2018-11-18 17:41] dalehenrich commented on #299
Looks CTL-C is availalbe, but I only found it because I'm desperate:) ... now if only I could remember the shortcut for find:)
![image](https://user-images.githubusercontent.com/623951/48676046-ea260180-eb15-11e8-8865-8a174440d0d4.png)

[2018-11-18 17:42] dalehenrich commented on #299
alas CTL-F does not appear to be enabled:(

[2018-11-18 18:38] dalehenrich opened #300 "would be nice to have `browse references to class` here as well"
![image](https://user-images.githubusercontent.com/623951/48676613-f6ae5800-eb1d-11e8-813f-5a7055cae49d.png)
tedious to be required to navigate from the method where I see *a reference* to the class to a browse window on the class just to bring up the list of references ...

[2018-11-18 18:41] dalehenrich commented on #297
CTL-F is not bound eitther ... looks like all of the bindings are lost?

[2018-11-21 00:42] ericwinger commented on #284
Refreshing properly in all situations is a large challenge, but I have a fix that addresses this issue in 3.0.51.

[2018-11-21 21:21] ericwinger commented on #261
@LisaAlmarode Turns out that Rowan doesn't have a notion of loaded or unloaded projects. A project that is cloned but not loaded is indistinguishable from a loaded project with no packages. The reason that we have a "two-step load" (clone + load) is because eventually there will be load options available after you clone.

However, there's much work to be done before that day. For now, I propose th

[2018-11-21 23:37] dalehenrich opened #301 "(3.0.50) inconsistent selector selection on double-click"
I used double-click on keyword in both method list browser and project browser ... the project browser does it **right**, includinge the $: in the selection ... the method list browser does it **wrong*:
![image](https://user-images.githubusercontent.com/623951/48873510-173b1400-eda3-11e8-853e-b9c96a0d760b.png)
I prefer the **right** way, but it is probably more important to be consistent:)

[2018-11-22 00:12] dalehenrich commented on #301
double-click in debugger is also **wrong**:
![image](https://user-images.githubusercontent.com/623951/48874432-0d67df80-eda8-11e8-98bc-728ca6dd3359.png)
Note that when a frame is selected the **right** selection is made ... only double-click is letting us down:)

[2018-11-22 19:40] dalehenrich commented on #303
Moved here from Rowan issues list ... not sure if you still want to do this or not

[2018-11-22 19:46] dalehenrich commented on #304
I think this one is fixed, but just to be sure ...

[2018-11-22 19:49] ericwinger opened #305 "Add/Remove Package should appear in change list"
If a user adds or removes a package from a project, that modification should be seen when the user shows changes on the project.

Not required for Alpha.

[2018-11-22 20:01] dalehenrich commented on #305
transferred in case the issuse is still relevant

[2018-11-22 20:03] dalehenrich commented on #306
in case this issue is still needed

[2018-11-22 20:09] dalehenrich opened #307 "Jadeite and unicode"
Currently it appears that Jadeite does not handle unicode strings correctly:
![image](https://user-images.githubusercontent.com/623951/39640111-d967a91c-4f7e-11e8-9b28-5eb6f9edc36e.png)

Here is the unicode text I used for the experiment:
[code]

[2018-11-22 20:09] dalehenrich commented on #307
in case this is still needed

[2018-11-22 20:11] dalehenrich commented on #308
in case this is still relevant

[2018-11-22 20:13] dalehenrich commented on #309
in case this is still relevant

[2018-11-22 20:23] dalehenrich commented on #312
this might still be an issue, I think

[2018-11-22 20:25] dalehenrich commented on #313
since this is a jadeite feature, I think it belongs there so it stays on @ericwinger radar

[2018-11-22 20:29] dalehenrich commented on #317
I think this is a jadeite issue if not transfer back to Rowan...

[2018-11-22 20:34] ericwinger opened #318 "Need better handling of inst/temp var conflicts during class compilation"
If you try to compile a new definition of a class in Jadeite, but you've defined an inst var that overrides a temp var in a method, Jadeite will show a compile error warning.

It would be nice if the class is just compiled and the problem method is opened in a browser showing the conflict.

[2018-11-22 20:43] dalehenrich commented on #319
I think this can be done in Jadeite ... but worth discussing if not clear ...

[2018-11-22 20:44] ericwinger opened #320 "Need to review use of loaded* message sends in Jadeite"
It's bad to send loaded* messages to Rowan classes but Jadeite has been naughty.

Need to find those with Dale and make Rowan api's for equivalent functionality.

[2018-11-22 20:47] ericwinger opened #321 "git write/commit should give stronger warnings"
Before the user is allowed to write or commit Rowan changes to disk, the code should first check for

1. A dirty disk
2. Pending merge conflicts.

The user should be allowed to proceed but with the caveat that they are potentially selecting a merge resolution.

Question - How does one check for 1 & 2?

[2018-11-22 20:57] ericwinger opened #322 "Write Transcript messages to log"
We need to be able to

- Always write transcript messages to a log.
- Optionally, put those same messages in a Transcript.

The switch should be available to the user.

A variant of TranscriptProxy could be ported to Rowan for such a purpose.

[2018-11-22 20:58] dalehenrich commented on #323
this seems to be a jadeite issue that might end up with needed Rowan support

[2018-11-22 21:01] dalehenrich commented on #324
when @ericwinger is ready to change Jadeite, we can arrange for Rowan support ... reminder to see GemTalk/Rowan#361

[2018-11-22 21:02] ericwinger opened #325 "Strategy for using *'d categories in rowan"
Monticello uses the convention of *'d categories to indicate package names where methods reside. There are projects in the world that depend on this convention, and will do so for some time.

We need a strategy for allowing rowan to use this convention or ignore it. It's possible that could be a global setting in jadeite, or more likely, a project-level property that Jadeite must honor.

https://g

[2018-11-22 21:04] dalehenrich commented on #325
this will be a fairly major effort involving changes to Jadeite and Rowan (more changes to Jadeite, though) ... Rowan issue GemTalk/Rowan#122 and GemTalk/Rowan@229 are related

[2018-11-22 21:05] dalehenrich commented on #326
this is/was error in RowanServices ...

[2018-11-22 21:10] dalehenrich commented on #327
Not sure where RowanService bugs are supposed to go ... it seems that without a RowanService project of it's own these guys are in danger of being ignored ...

[2018-11-22 22:28] dalehenrich opened #328 "(3.0.50) I would have thought that the literal string 'filetree' would have been found..."
Perhaps this is a GemStone issue?

![image](https://user-images.githubusercontent.com/623951/48923354-b70ba700-ee62-11e8-9143-b6c9bcf07d17.png)

The result of the above is an empty method list browser

[2018-11-22 23:00] dalehenrich commented on #211
The FileSystemTests are on the issue_361 branch ... I think this is one is right up there with `need to fix soonish`, since the sunit browser/pane cannot be used to run tests for the tests cases --- and these are valid test case structures

[2018-11-26 17:03] ericwinger commented on #306
Yes, I'd like to have a class rename feature. I'll bump it up on my to-do list.

[2018-11-26 23:34] ericwinger commented on #297
Should be fixed in 3.0.51. The accelerator keys are not at all straightforward in Dolphin. Removal of a high-level menu recently removed the ctrl bindings even though the bindings were specified in the presenter.

I've  looked into writing tests that simulate the ctrl keys so they don't get lost in the future, but so far successful tests have eluded me. Will continue to try.

[2018-11-26 23:34] #297 closed, assigned to LisaAlmarode

[2018-11-26 23:35] ericwinger opened #329 "Need accelerator key tests"
A set of tests that simulate ctrl key combinations is needed so they are not lost again like in issue #297.

[2018-11-27 00:00] dalehenrich opened #330 "(3.0.50) debugger frame trimmed too far on `halt`"
I sent the message `halt` so that I could inspect the receiver of the `halt` message but the stack has been trimmed to the point where the frame with the receiver is not visible in debugger:
 ![image](https://user-images.githubusercontent.com/623951/49049479-fa805100-f193-11e8-9986-5d850c9684d1.png)
It _is_ convenient to position the debugger at the frame that sends `halt` since that is often a go

[2018-11-27 00:07] dalehenrich opened #331 "(3.0.50) very long delay when clicking around after commit (before it finished?)"
Jadeite appeared to be frozen in this state for  a few minutes:
![image](https://user-images.githubusercontent.com/623951/49049642-bd688e80-f194-11e8-966c-fb30207c4175.png)
It would beep when I clicked but otherwise was not responding and the `executing expression` dialog remained transparent for the duration ... not long after I made the screenshot (after I figured the display was frozen) and whi

[2018-11-27 02:03] dalehenrich opened #332 "(3.0.50) infinite loop on MNU in service code"
I'm on the issue_361 branch (of course:) and execute the following expression:
[code]
Which creates a project that is not present on disk ... testing issue GemTalk/Rowan#428 and when I refresh the project list it goes into an infinite loop and hangs the session, but I have to reboot because I cannot kill Jadeite.
The following stack is in the error log:
[code]
The `must be boolean` error is coming

[2018-11-27 02:35] dalehenrich commented on #332
As I dig into this, I am thinking that this is a problem with `GsFile>>existsOnServer:` since under certain conditions it can return nil ... and when the project is created using the doit I included in the initial report, `repositoryRootPath` might just return nil ... I'll dig a bit more to make sure ... but this is likely the root of the problem ...

[2018-11-27 02:41] dalehenrich commented on #332
... yep, `(RwProject newNamed:  'Issue263') existsOnDisk` returns `nil`, so I will go ahead and update the GemTalk/Rowan/#428 patch to include a fix for `RwGsFileutilities>>directoryExists:`.

[2018-11-27 03:01] dalehenrich commented on #332
... looks like `mustBeBoolean` fixed by GemTalk/Rowan#431 ... leaving bug open because complete hand of Jadeite and loss of ability to not be able to commit unsaved changes is pretty harsh for an MNU ... @ericwinger, it's up to you whether to not to close this issue

[2018-11-27 04:38] dalehenrich opened #333 "Afer GemTalk/Rowan#428 fixed, Service tests for `ProjectNotOnDisk` failing ..."
Not surprisingly, the two`ProjectNotOnDisk` tests are failing, now that semantics for #existsOnDisk has changed ... since there appears to be test coverage over and above simpe disk presence, I'll let @ericwinger decide how he wants to refactor the tests:
[code]
[This commit](https://github.com/GemTalk/Rowan/commit/c8df6fe9227f7f6fcffdf8e8fd3541265bdda691) (Rowan tests for GemTalk/Rowan#428) has s

[2018-11-27 16:47] dalehenrich commented on #212
Came up in HR9917 ... let's include a fix in next Jadeite release

[2018-11-27 19:41] LisaAlmarode commented on #295
There are two separate issues in this bug report.

(1) if you make a change in a method, save, and then undo that change and save such that the method text is again identical to the original, then it still shows up as a change.
This is very annoying and should definitely be fixed.

(2) if you edit a method to add a few newlines at the end, on saving the method, the newlines are stripped off.  Pers

[2018-11-27 19:58] LisaAlmarode commented on #328
If you search for 'filetree' you don't get any results, but I'd bet if you searched for filetree you would find them.  The quotes are part of what is searched for.  An example that works in current code would be name vs. 'name'.

Since these are literal references there's no particular need to include single quotes.  However, consider a literal such as ' found.'  This is just awkward and weird to

[2018-11-27 20:04] LisaAlmarode commented on #212
Easy reproduction: In a workspace inspect-it on 1-> 3,  and pop in the right pane.

[2018-11-27 20:52] LisaAlmarode commented on #290
When you move between sub/super classes in the hierarchy view, it appears to be using the last category in the category list to decide what methods to display.  Sometimes there is no category selected, and sometimes it has the wrong category selected.

(1) In the subclass, add a category that comes after all existing categories alphabetically, and is not present in the superclass. Define a method

[2018-11-27 21:10] dalehenrich commented on #295
for point 2 ... when configurable formatting support is available, [there are a number of new line related options available](https://github.com/GemTalk/Rowan/blob/issue_404/rowan/src/AST-Core/RBConfigurableFormatter.class.st#L36-L41) that control the format ... so having the browser save source as is is probably necessary once we start giving the users the option to format code ...

[2018-11-27 21:16] LisaAlmarode commented on #330
The method frame in which the halt is sent should not be the top of the debugger.
In GBS/VW, there are three further frames which may be overkill, but at least the Object >> halt frame ought to be there.
GBS/VW selects the top frame so you do have to select the frame you want but this isn't a big deal.

[2018-11-27 21:22] dalehenrich commented on #328
....the use of `'filetree'` was intended to find the literal string: 'filetree' ... when searching for a literal, I would assume that I need to specify a literal ... `#filetree` would search for the literal symbol refs ... `#( 1 2 3)` would search for the literal array refs ... 1.0 would search for the literal `1.0` ... etc. ... at least this is my interpretation of searching for a literal ...

I

[2018-11-27 21:27] rjsargent commented on #330
VA Smalltalk does a good of selecting the stack frame in which the exception was signalled. I have found this to be a useful default for the debugger. That would correspond to selecting the Object>>#halt frame.
(Although, I think VA Smalltalk recognizes #halt and #halt: as special cases and chooses their senders first.)

[2018-11-27 21:27] LisaAlmarode commented on #326
This does not seem to be happening in Jadeite/Rowan oscar 3.0.50, unless there's something missing in reproduction details.  There's isn't a refresh button in dictionaries browser; tested by click away and back.   Clicking away and back takes forever which may be a new problem.
Since this was reported so long ago we can hope it has healed... so closing.

[2018-11-27 21:27] #326 closed, assigned to nobody

[2018-11-27 21:34] LisaAlmarode commented on #324
I don't want Rowan to remove the ability to file out code in GemStone base format.  I am going to want to move code back and forth between Rowan and GemStone.  I would prefer a separate API to file out rowan code be added to Behavior, and (eventually) be able to file in code that is in rowan or in gemstone base fileout formats.

Also see #70 for support for fileout and filein.

[2018-11-27 21:47] LisaAlmarode opened #334 "Error on add subclass if that class is not not explicitly selected"
In a package look at the list view of classes.

Move the mouse over a class that is not selected - don't select it.   Right click to bring up the menu.  It highlights the new class as well as presents a menu.  If you select "add subclass" you get an error dialog:

BrowserUpdate does not understand #first

Other menu items seem to work.

[2018-11-27 22:08] dalehenrich commented on #324
Agreed, with GemTalk/Rowan#361, there is support (already) for filing out a packages and/or projects in topaz format (is that what you mean by GemStone base format ... or are you thinking of something different).

The exact implementation for doing all of these things is up for debate (especially now that I am looking toward v2.0.0) ... but since this a Jadeite issue this discussion will revolve a

[2018-11-27 23:19] LisaAlmarode commented on #324
Well, not exactly input; in 3.5 topaz can accept pasted in tonel format methods using the tmethod command.  However, after some detection I tracked down the secret which is to execute code such as:

CodeLibrarian new
  user: 'DataCurator';
  symbolDictName: 'UserGlobals' ;
  repository: 'tonel:/benton1/users/gsadmin/GS643215/myrowan/Sales/rowan/src/';
  load: #('Customers').

[2018-11-27 23:37] dalehenrich commented on #324
so tmethod can't be included in an input script?

[2018-11-28 00:12] LisaAlmarode commented on #323
You can do it now using an expression such as
[code]
Eric, if this isn't what you want please clarify.

This gets git status, but deciphering it is not all that easy. I can imagine a nice API but it would be a fair bit of work.

[2018-11-28 01:40] LisaAlmarode commented on #324
tmethod does work in scripts, but it doesn't help with the input problem, since rowan's tonel files don't include tmethod directives... also, the rowan files have class definitions and topaz can't handle those at all, as far as I know.

[2018-11-28 02:05] ericwinger commented on #211
A fix will be in Oscar 3.0.51.

[2018-11-28 02:05] #211 closed, assigned to LisaAlmarode

[2018-11-28 17:38] dalehenrich commented on #323
for tODE I use the following variant of `git status`
[code]
and it is called by `isGtDirty`:
[code]
which is a pretty simple way to determine whether or not the underlying git repo has uncommitted writes.

Here's a screenshot of the tODE project list:
![image](https://user-images.githubusercontent.com/623951/49170500-206f3800-f2f1-11e8-900e-63d4df0b0c6a.png)
The `+` means that the git repo is dirt

[2018-11-28 18:03] dalehenrich commented on #323
It looks the following could be written without needing any additional tool support:
[code]

[2018-11-29 00:44] ericwinger commented on #212
Have a fix for this in 3.0.51.

[2018-11-29 00:44] #212 closed, assigned to LisaAlmarode

[2018-11-29 19:02] regkrock opened #335 "Running an individual S-Unit Test fails with security error -Jadeite 3.0.50"
Running all tests works. But running an individual test fails.

The screen shots show selecting the test, right clicking and then running the individual test.

![image](https://user-images.githubusercontent.com/7550442/49244946-01e76a80-f3df-11e8-850d-9dafd2fa17ff.png)

The test fails and with a security walkback.

![image](https://user-images.githubusercontent.com/7550442/49244964-0dd32c80-f3df-1

[2018-11-29 22:32] ericwinger commented on #290
We were updating the service filters in the wrong class list. Should be fixed in 3.0.51.

[2018-11-29 22:32] #290 closed, assigned to LisaAlmarode

[2018-11-29 23:07] ericwinger commented on #323
Will need to add Jadeite support. Reopening and assigning to myself.

[2018-12-01 00:00] ericwinger commented on #334
This is a tricky problem. With luck, my fix in 3.0.51 is solid.

Essentially, the problem is that when we select a class, Jadeite goes to the server to refresh itself and pull back it's method list. With a left click, that works just fine. However when you right click and select at the same time, a dialog is raised. The menu dialog thread takes over Dolphin and doesn't allow the class refresh to f

[2018-12-02 12:46] regkrock commented on #335
I was running as DataCurator. When I switched to SystemUser the security error was corrected.

**However, there is still a problem**

When I run the following the individual test from a workspace if fails. Also, when I run the TestCase from the workspace, the one test fails.

![image](https://user-images.githubusercontent.com/7550442/49339685-3a678e00-f603-11e8-881e-f5cf0e533e0a.png)

However when

[2018-12-02 15:35] regkrock opened #336 "S-Unit Tests In an abstract class and its subclasses are not managed properly"
When a TestCase is abstract, the tests should not appear in the S-Unit tab. And the subclasses of the the abstract class should show the tests which are inherited from the abstract testcase class.

Example:
![image](https://user-images.githubusercontent.com/7550442/49341593-90492f80-f61d-11e8-8e6b-8e6af5088200.png)

This is the subclass. Note the tests in the abstract super class are missing. They

[2018-12-03 04:31] LisaAlmarode commented on #334
The bug itself does not reproduce.  However, if I make a drag operation (that is, press down right button and move) in the classes pane, I now get an error:
ListView does not understand #nmBeginRDrag:

[2018-12-03 04:49] LisaAlmarode commented on #218
I think a test that has run "debug" (with no walkback) should display with a check box.  This may be intended API, but I'm reporting that I'd like to see the control-B, popup menu item debug, or the button on the right with the browser-with-traffic-light icon, make the test that was run change the display from the envelope to the check mark.

Also, other popup menu items and control keys equivalen

[2018-12-03 05:01] LisaAlmarode commented on #194
The inspector Help menu item is titled About Jade.  While this could be "About Jadeite", I'd suggest removing the Help menu title from the inspector.

I don't think it's really useful on the Workspace, either.

Speaking of Help menus, the Login windows menu has some grayed out items that might be removed: Contents, On This Tool, and What's This?.

[2018-12-03 05:08] LisaAlmarode commented on #297
Only verified these two in 3.0.51 so

[2018-12-03 05:12] LisaAlmarode commented on #261
I don't think that's a useful change.  For the normal case, I'm not confused: this bug was reported since I was using definitions and I wanted to figure out the status. If we can't answer useful information for "isLoaded" we ought to remove it until such time as we can produce useful information...

[2018-12-03 06:13] LisaAlmarode opened #337 "Loop-de-do when selecting classes in hierachy view, and variable scope pecularity"
I have a set of classes that inherit, such that the hierarchy view looks like:
Object
    Vegetable
         Cabbage

When I have Vegetable selected, and click on Cabbage, it selects Cabbage, back to Vegetable, then back to Cabbage.

Also - not related, and possibly not a bug, but it was weird and confusing - when I have the Class bottom tab selected to look at the class methods, and I select the

[2018-12-03 06:29] LisaAlmarode commented on #284
in 3.0.51, if you have a class and method selected and reload the project using the console project list, added methods blip away and all is sunshine and roses.

If you reload the project using the project browser projects pane, all your selection goes away and you have to start again with selecting the package.   I think this is what Dale described as "harsh"; reopening this to determine if it's

[2018-12-03 17:27] ericwinger opened #338 "right mouse drag gives dolphin errors"
If you right-click and drag, both the Dolphin development environment (Dolphin 7.0.56) and the run-time image get a ``nmBeginRDrag:`` error.

This appears to be a bug in the Dolphin initialization code; ``ListView class>>initializeNotificationMap`` is not getting run. By explicitly running this initialization at the end of the ``BootJade.st`` startup script we eliminate the problem in the dev envi

[2018-12-03 17:27] #338 closed, assigned to LisaAlmarode

[2018-12-03 17:49] ericwinger commented on #334
See #338.

[2018-12-03 19:19] ericwinger commented on #194
I've removed Help from the inspectors and the workspace.
The Login window help items are removed. Both fixes are in 3.0.52.

Question @LisaAlmarode - Since we put a link up to the GemTalk Systems home page on the Login Help menu, would it be useful to also put links up to the rowan and jadeite github projects?

[2018-12-03 19:22] ericwinger commented on #194
Closing issue. question to @LisaAlmarode can be opened in a new issue if enhancement is desirable.

[2018-12-03 19:22] #194 closed, assigned to LisaAlmarode

[2018-12-03 20:33] alexkogan opened #339 "Errors browsing code"
Debugger when browing Notification because of deprecated error (same for all subclasses of Exception)
![image](https://user-images.githubusercontent.com/1958382/49399611-97903c00-f6f6-11e8-8c9e-9afeb0abb30c.png)

I'm guessing there are no testcases in NonCoreTestCase class
![image](https://user-images.githubusercontent.com/1958382/49399829-3f0d6e80-f6f7-11e8-95fe-29436bf26124.png)

[2018-12-03 22:39] ericwinger commented on #218
Have fixes for these in #218. Debugged tests that passed show a green check in both sunit browsers. If a group of tests methods was selected, the first N that pass will show green checks until the N+1 that fails or errors. Then a debugger will be shown as normal.

MNU measuring time fixed.
Ctrl-S & Ctrl-A removed, but Ctrl-A secretly selects all the tests which is intuitive and might actually be h

[2018-12-03 23:00] ericwinger commented on #284
Less harsh refresh added in Oscar 3.0.52.

[2018-12-03 23:00] #284 closed, assigned to LisaAlmarode

[2018-12-04 00:04] LisaAlmarode opened #340 "Add links to jadeite and rowan github projects to Jadeite"
Per Eric's question in issue #194; yes, I think we should have links to the jadeite and rowan github projects in Jadeite, along with the less-useful-to-users link to the gemtalk website.

I think these should be on both the console help menu and the login help menu.  I think they won't be found if only on the login dialog, but they should be on the login dialog in case you can't get to the console

[2018-12-04 17:17] LisaAlmarode commented on #308
Spelling healed by 3.0.51

[2018-12-04 17:17] #308 closed

[2018-12-04 17:23] LisaAlmarode opened #341 "Run sunit tests from class pass when they should not"
Consider RowanSample1Test, which has three passing tests, one testError and one testFailure.
You get a nice mix of results from the Sunit Browser, and if you go to a method in this class and open the SUnit tab.

If I select the class in the class pane and use the popup menu item "run tests" to run tests on the class, they ALL pass.

![image](https://user-images.githubusercontent.com/13142166/49460

[2018-12-04 18:22] LisaAlmarode opened #342 "Console menu items not matching projects browser"
The Console menu items were not updated to match the project browser

Commit... -> Commit to Git...
Checkout... -> Checkout Git Branch...

[2018-12-04 18:26] regkrock commented on #341
This is the same issue as #335.

[2018-12-04 19:48] LisaAlmarode commented on #328
Dale, I'm pretty sure the search did not find '.filetree', it's just the highlight of the search item in the results is not very clever.  There's an actual 'filetree' in the method a bit lower down which would have been what was found by the search part.

However, it does look like Eric and I conflated "literal" and "literal string" such that this feature in fact does not use the functionality of

[2018-12-04 22:35] dalehenrich commented on #328
If the search had been for the literal `'filetree'`, then I presume the `'.filetree'` would not have been matched by the search function ...

You would be correct:)

If we are going to be literal about literals, then it should be an error ... In tODE I evaluated the string passed in to the search method and I expected the result to be a literal ... I assume something similar will have to be done .

[2018-12-05 00:16] ericwinger commented on #334
Pulling out my fix in 3.0.51. There were unexpected and difficult side effects.

[2018-12-05 01:28] LisaAlmarode commented on #328
The index offsets from referencesToLiteral: are not working as far as I can tell in base GemStone... it's acting like it's doing a string search.  I get the first string matching as the index 9 (that's why it's highlighting .filetree). For literal float, array, bytearray , referencesToLiteral: seems to return 0.
I filed a bug on gemstone,  47829.

[2018-12-05 17:26] ericwinger commented on #340
Github links added to login shell and console in 3.0.52.

[2018-12-05 17:26] #340 closed, assigned to LisaAlmarode

[2018-12-05 18:11] ericwinger opened #343 "Category/Variables tab not updating correctly"
If you select a class in the hierarchy view, the category and variables list may not be updated correctly.

[2018-12-05 18:56] dalehenrich commented on #133
Would be useful to have a command like `refresh project-list` that would cause project list refresh events to be triggered for open browsers ... then scripts that are doing load/unload operations could force a refresh and avoid having user do manual updates ...

[2018-12-05 19:00] ericwinger commented on #337
@LisaAlmarode I can't reproduce the loop-de-do. Please check again in 3.0.52 when it's released as I did some work there.

As far as displaying class instance variables from <meta> classes, I'm not sure that this should be changed. Dolphin displays them all and VisualWorks doesn't even bother. One possible enhancement that could help would be to italicize the variables that are defined in supercla

[2018-12-05 19:03] LisaAlmarode commented on #336
An example in the current image is TonelAbstractWriterTest, which has a method testWriteSnapshot, and a subclass TonelCypressWriterTest that does not implement the method testWriteSnapshot, but inherits and expects to run that test.

On the SUnit tab, when TonelAbstractWriterTest class is selected, it shows the test testWriteSnapshot, which can be run but will fail.  As Reg notes, this should not

[2018-12-05 19:08] ericwinger commented on #343
``isClassSelected`` was only checking the classList for a selected class. It was called when a new class was selected.

[2018-12-05 19:08] #343 closed, assigned to LisaAlmarode

[2018-12-05 19:11] LisaAlmarode opened #344 "Can't use method menu in method list browser method list pane"
in 3.0.51, when I have a method selected in the method list browser, and the mouse is positioned over the selected method, and I attempt to right-click to open the menu... I get an error.  Also happens if I hover over the Methods menu bar.
UndefinedObject does not understand #isEmpty

I can bring up the menu in the empty space... but it un-selects the selected method.  It disables senders, but bro

[2018-12-05 21:00] dalehenrich opened #345 "Jadeite format option (server ready)"
With GemTalk/Rowan#404, support was added at the server level (issue_404 branch off of candidateV1.2 branch).

This issue is a placeholder/reminder that formater can be added to Jadeite at any time ... that makes sense.

[2018-12-05 22:34] ericwinger commented on #342
Fixed & tested in 3.0.52.

[2018-12-05 22:34] #342 closed, assigned to LisaAlmarode

[2018-12-05 22:44] LisaAlmarode opened #346 "SUnit browser doesn't have corner icon"
This could be my install but I can't figure it out.  I just don't like the little blue question mark.

![image](https://user-images.githubusercontent.com/13142166/49548950-31451e00-f89c-11e8-8f49-755296adf57f.png)

[2018-12-07 14:51] regkrock opened #347 "Debugger - In Method Pane, Sender and Implementer Menu Items disaapear on method which has a breakpoint"
In the debugger, when right clicking on the method with the breakpoint, the 'browse implementers' and 'browse senders'  menu items are not visible.

See image below for example.

![image](https://user-images.githubusercontent.com/7550442/49654278-6325c400-fa05-11e8-9cc1-a6251a7dc4ce.png)

[2018-12-07 16:57] dalehenrich opened #348 "`debug it` not working as expected"
When one uses "debug it" from the menu for the first (4 line) code snippet it behaves like "Execute it". No halt is added at the beginning. No debugger appears.

Debugging "1 printString" behaves as expected. An extra nil halt is prepended and a debugger pops up.

![image](https://user-images.githubusercontent.com/623951/49661464-f6f39200-f9fd-11e8-86aa-19e7df92a814.png)

[2018-12-07 16:58] dalehenrich commented on #348
If this is still a bug then it should be included in the January release ...

[2018-12-07 17:35] LisaAlmarode commented on #348
I think this is the same as issue #262... the temporary variables flummox the debug it.

[2018-12-07 17:48] ericwinger opened #349 "Need service transport diagnostic feature"
When diagnosing Jadeite bugs it would be nice to have call tracing like GBS. Probably the most straight forward would be a switch that enabled logging to separate files on both the client and server with a unique serial number to identify "transactions."

Better yet, we could log server and client files to one client file but that could run into interleaved writes on the client if one isn't carefu

[2018-12-07 18:29] dalehenrich commented on #348
Thanks, @LisaAlmarode. Is #262 aimed targeted for inclusion in January release?

[2018-12-07 20:59] LisaAlmarode commented on #348
I would say yes - this is upsetting; I hate it when code ignores me. I've been waiting til after we stablize/3.0.52 before doing a triage.

[2018-12-07 21:12] dalehenrich commented on #348
sounds good ...

[2018-12-07 23:20] ericwinger commented on #344
believe this is fixed in 3.0.52

[2018-12-07 23:20] #344 closed, assigned to ericwinger

[2018-12-08 00:42] alexkogan opened #350 "Browse references from dictionary browser doesn't show anything"
if called from hierarchy view.

[2018-12-08 05:37] LisaAlmarode commented on #348
I would say yes - this is upsetting; I hate it when code ignores me. I've been waiting til after we stablize/3.0.52 before doing a triage.

[2018-12-08 06:51] LisaAlmarode commented on #347
This is the same as issue #223.

[2018-12-08 06:51] #347 closed, assigned to ericwinger

[2018-12-08 06:52] #348 closed, assigned to ericwinger

[2018-12-08 18:36] LisaAlmarode commented on #223
I'm also seeing the senders and implementors menu items go away when I put a breakpoint on a selector in the Projects Browser.

![image](https://user-images.githubusercontent.com/13142166/49689357-df3b0d00-fad4-11e8-9fa2-a8b8e6ff5111.png)

[2018-12-08 21:36] LisaAlmarode commented on #350
Note: it's not that it doesn't find existing references, it actually does nothing at all and just sits there.
Since it's just the deprecated dictionary browser this might not be a big problem.

[2018-12-09 18:40] regkrock opened #351 "Ability To Change Fonts in the non-source code portions of the windows"
The current windows take up to much window real estate. It would be very useful to be able to change the fonts just as one can change the fonts in the source code pane.

[2018-12-10 17:41] LisaAlmarode commented on #343
Don't see a problem but don't have a reproduction case to test.

[2018-12-10 17:48] LisaAlmarode commented on #334
in 3.0.52, in the class list hierarchy view (but not the class list view), a drag over a class that was not previously selected gets an error exactly one object must be selected.  A drag over a class that was selected gets a RowanClassService does not understand #last.  I couldn't find other problems with dragging.

It's odd that it's quite solid in the list view and so fragile in the hierarchy vi

[2018-12-10 17:50] LisaAlmarode commented on #338
See comments on #334... this issue may underlie that bug.  I found no problems with right-drags execept for the hierarchy view in the class pane, so I'm calling this done although possibly some part of this was backed out with the backup of the fix in 334.

[2018-12-10 18:26] LisaAlmarode commented on #218
All the reported problems are good now - I like this behavior.  Of course being Lisa I have a couple of more quibbles.

- while you have control-A to select all in the project browser Sunit tab, control-A runs all in the Sunit browser.   It's best to keep these two similar features' behavior as close as possible.

- Along this line, the Sunit tab menu item refresh and the Sunit browser menu item r

[2018-12-10 19:16] LisaAlmarode opened #352 "Create method on class not in selected package, method disappears"
In the project browser, select a project, extensions package, extensions class, category, and method. See some class that is purple, then categories and methods.

Fine a purple or black method.  Edit selector to create a new method.  Save.

Whoosh, the purple class is selected while the category and method panes are white space.

I suspect this is new in 5.0.52 although it might have been missed s

[2018-12-10 19:22] LisaAlmarode commented on #352
Similar behavior on reload cf issue #284.  Note to self: when this is fixed retest that behavior too.

[2018-12-10 19:24] LisaAlmarode commented on #337
No loop de loos in 3.0.52.  I will file a separate bug on vars.

[2018-12-10 22:49] dalehenrich opened #353 "Debugger has inferior status bar, and opens dialog for unused temps (3.0.74)"
Unused temp flagged in debugger:

![image](https://user-images.githubusercontent.com/623951/49766552-78f7eb00-fc8a-11e8-9f91-0f2daa1810ea.png)

but not in project browser or method browser ...

I almost like the warning, but one way or the other, we should be consistent

[2018-12-10 23:04] dalehenrich opened #354 "(3.0.52) drag/drop of instance method ends up on class side"
Pre drag drop screenshot:
![image](https://user-images.githubusercontent.com/623951/49767209-78605400-fc8c-11e8-8884-ca58268cd4e1.png)
Where'd `_persistentPreferenceDict` method go? Post drag drop screenshot (drop target RwgsPlatform):
![image](https://user-images.githubusercontent.com/623951/49767260-9f1e8a80-fc8c-11e8-8d8c-debb687ffa28.png)
It's on class side:
![image](https://user-images.github

[2018-12-11 18:16] ericwinger commented on #341
Fixed in 3.0.53. Server was not properly finding test methods in that path. Actual fix in server code.

[2018-12-11 19:18] ericwinger commented on #354
@LisaAlmarode - Can you help me characterize this bug?  I tried use cases with the class methods in the example, hierarchy view & classes view, variants of the methods existing (or not). No luck.

[2018-12-11 23:04] LisaAlmarode commented on #354
This is maddening. It looks like in the method RowanClassService>>savemethodSource:category:, the RowanClassService's #meta instance variable is unreliable and becomes nil as the side effect of some other operation.  It would be nice if modifications to instance variables such as meta use the accessor meta: rather than there being side effects, following proper standards like that make debugging m

[2018-12-12 00:06] ericwinger commented on #336
Believe I have fixes for these in Oscar 3.0.53. Jadeite now properly uses TestCase protocol for determining which tests to show. e.g. considers ``isAbstract`` and friends now. but might need some additional work to solidify. @LisaAlmarode please open a new bug if needed.

@LisaAlmarode - This test didn't show up because it's not in a Rowan package.

[2018-12-12 17:30] regkrock opened #355 "Comments added to Class Documentation when in viewing the class in hierarchy mode are assigned to the last class"
I added a comment for ZnIncomplete but it was saved in ZnInvalidUTF8.

This is only a problem when in hierarchy mode. It works in the Classes mode.

![image](https://user-images.githubusercontent.com/7550442/49887150-8f788080-fe09-11e8-8e94-00a546f1a783.png)

[2018-12-12 18:14] ericwinger opened #356 "Add method compilation tests in server services tests"
Currently, method compilation tests are done in the Jadeite client, but it would be nice to have a few tests in ``RowanClassServiceTest`` on the server.  See https://github.com/GemTalk/Rowan/pull/458

[2018-12-12 19:44] regkrock opened #357 "Walkback, rather than error, when attempt to add duplicate category"
To Reproduce:

Add a category and commit.
Then attempt to add the same category and the following walkback occurs.

a ImproperOperation occurred (error 2032), reason:classErrMethCatExists, An attempt was made to create the method category 'instance creation' which already exists.  Class:  ZnNullEncoder class.
ImproperOperation (AbstractException) >> _signalWith: @5 line 25
ImproperOperation (Abstr

[2018-12-12 23:05] ericwinger commented on #334
The hierarchy/class lists and events that I inherited in Jade are separate code paths. With this checkin (042dac9c) I made a tiny bit of progress simplifying them.

I've got a fix in 3.0.53 for the drag bugs mentioned in this comment https://github.com/GemTalk/Jadeite/issues/334#issuecomment-445907219

[2018-12-13 00:21] dalehenrich opened #358 "(3.0.52) browse menu item in Method Browser opens browser, but doesn't select the method"
I expected that the selected method in Method Browser would be selected in the Project Browser as well:
![image](https://user-images.githubusercontent.com/623951/49907151-c65e8e80-fe29-11e8-875e-bc08a0a4b4f1.png)

[2018-12-13 00:37] dalehenrich opened #359 "(3.0.52 & 3.0.62) `a UserDefinedError occurred (error 2318), reason:halt, Use on*Process: constructors` Error"
Don't quite remember what I did to get this error ... I think I just did a load of the Rowan project.
Here's the stack from the error:
[code]
Here's the screenshot ... Note that `(AdoptProject)` is probably no longer present:
![image](https://user-images.githubusercontent.com/623951/49907584-9f08c100-fe2b-11e8-8b16-343c133368ce.png)

[2018-12-13 00:40] dalehenrich commented on #359
Here's as much of the STON string that was passed across the wire that the inspector will show me ...
[code]

[2018-12-13 01:51] ericwinger commented on #356
Tests added in https://github.com/GemTalk/Rowan/commit/c5dea048752e7bd8250385aa7257e5a1fefd8125

[2018-12-13 01:51] #356 closed, assigned to ericwinger

[2018-12-13 18:05] regkrock opened #360 "Browse Class References from Hierarchy returns nothing."
Browsing class references when in 'Hierarchy' mode returns nothing. It does work in 'Classes' mode.

![image](https://user-images.githubusercontent.com/7550442/49958020-9b327880-fed7-11e8-819b-d9c7425efc55.png)

[2018-12-13 18:22] #337 closed, assigned to LisaAlmarode

[2018-12-13 18:25] LisaAlmarode commented on #360
I believe this is the same as #350

[2018-12-13 18:27] LisaAlmarode commented on #355
Definitely broken.

[2018-12-13 18:28] ericwinger opened #361 "Inspectors should hold more than 5000 characters"
In https://github.com/GemTalk/Jadeite/issues/359#issuecomment-446799259, Dale inspected the STON string for issue reporting. However, Jade only copies the first 5000 characters of the string in the navigation inspector. See ``JadeServer64bit3x>>inspect:``.

If a limit must be imposed, we should up it by a factor of 20 to 100,000.

The problem does not seem to be present in the basic inspector but

[2018-12-13 22:42] ericwinger commented on #361
Fixed in Oscar 3.0.53 - limit 100,000 which matches limit in CharacterCollection>>printStringWithMaxSize:

[2018-12-13 22:42] #361 closed, assigned to LisaAlmarode

[2018-12-13 23:59] ericwinger commented on #354
Have a fix to try in 3.0.53. We weren't setting meta properly before method compile.
See ``JadeiteProjectsBrowserPresenter>>onDropOnClassList:``

[2018-12-13 23:59] #354 closed, assigned to LisaAlmarode

[2018-12-14 00:49] ericwinger commented on #355
"Definitely" fixed in 3.0.53.  :)

[2018-12-14 00:49] #355 closed, assigned to LisaAlmarode

[2018-12-14 01:41] regkrock commented on #360
It does look like it is the same issue from what I can see.

[2018-12-14 19:02] LisaAlmarode commented on #206
Since it's a customer issue, it gets a priority.  It may be already done.

[2018-12-14 19:05] LisaAlmarode commented on #261
With the introduction of the incorrect "isloaded true" (when not loaded), setting this becomes an annoyance bug

[2018-12-14 22:13] dalehenrich commented on #333
Added `P1-critical` label, since these failing tests should be passing before next v1.2.x release ... @ericwinger, or @LisaAlmarode, ff there's a better way to mark this issue, let me know.

[2018-12-15 00:49] dalehenrich opened #362 "(3.0.52) error using debugger: `Index 5 is out of bounds`"
I can click around on other frames in the debugger, but every time I hit the selected frame I get this error popup:
![image](https://user-images.githubusercontent.com/623951/50036721-de681680-ffbf-11e8-803a-634d351f0be5.png)

Here's the dolphin error stack:
[code]
Not sure how reproducable this is ... but I was trying to reproduce a bug for which I have two scripts to create the walkback ... haven

[2018-12-15 01:31] dalehenrich commented on #362
Bringing up the debugger on rerun of the code that produced the original error, did produce a similar debugger stack, but clicking around in the debugger does not reproduce the bug ... from the screen shot, I can see that there is a project browser open and an inspector .... I was in the midst of trying to understand the error when the debugger blew up on me ... so it seems that there were some ha

[2018-12-15 01:36] dalehenrich commented on #362
heh heh, it looks I was able to force the error again ... here's the screen shot of the error:
![image](https://user-images.githubusercontent.com/623951/50037460-576a6c80-ffc6-11e8-8081-418d335c7cc0.png)
Bringing up the following menu item seems to cause the `index out of bounds error`:
![image](https://user-images.githubusercontent.com/623951/50037479-854fb100-ffc6-11e8-983a-68f0862ffcaf.png)
I w

[2018-12-15 01:39] dalehenrich commented on #362
Seems that none of the of the frames are giving me senders/implementers:
![image](https://user-images.githubusercontent.com/623951/50037511-04dd8000-ffc7-11e8-94aa-7a0cce070c4c.png)

[2018-12-17 18:19] ericwinger commented on #266
Duplicate packages prevented in Jadeite. Warning messages if user tries. Fix will be in Oscar 3.0.53.

[2018-12-17 18:19] #266 closed, assigned to LisaAlmarode

[2018-12-18 18:07] regkrock opened #363 "Attempt to add category to a non migrated class results in walkback"
I added an instance variable to a class to create a second version and committed.

I then attempted to add an 'accessing' category.
This resulted in a walkback. See below for the stack dump.

1) Added instance variable and did a commit. See the version 2 of the class.
![image](https://user-images.githubusercontent.com/7550442/50173492-aade0280-02c5-11e9-9c4e-a53a51fc93be.png)

2) Attempted to add

[2018-12-18 22:18] ericwinger commented on #362
I don't have a reproduction case but Oscar 3.0.53 will have a fix for a similar bug I was able to reproduce. There was a path through method update where a method was getting marked as deleted when it shouldn't have been.

[2018-12-18 22:44] ericwinger commented on #350
Even though the dictionary browser will eventually get rolled into the projects browser, this is annoying enough to warrant a fix. The fix will be in Oscar 3.0.53.

[2018-12-18 22:44] #350 closed, assigned to LisaAlmarode

[2018-12-18 22:44] ericwinger commented on #350
Should fix #360 too

[2018-12-18 22:44] ericwinger commented on #360
See #350

[2018-12-18 22:44] #360 closed, assigned to LisaAlmarode

[2018-12-18 23:00] ericwinger commented on #261
Should be gone in Oscar 3.0.53

[2018-12-19 00:06] ericwinger commented on #262
Should have a fix in 3.0.53. Server only.

[2018-12-19 00:06] #262 closed, assigned to ericwinger

[2018-12-19 16:52] LisaAlmarode commented on #261
The isLoaded constant removed.  Original issue still applies but will be deferred and get some tag-juggles.

[2018-12-19 16:57] LisaAlmarode commented on #341
When I run tests from the class menu item, it seems to do a debug-all rather than run-all.  Using RowanSample1Tests as an example, it opens a debugger on the first test error; I expected it to run to completion and show the SUnit tab.  It does that only if all tests pass.

[2018-12-19 16:59] LisaAlmarode commented on #266
Problem avoided.  I think it's going to be an issue that we can't find the location of the blocking package, but that can be a separate issue.

[2018-12-19 17:01] ericwinger commented on #330
Here are a list of stack frames which the JadeiteDebugger will trim:
[code]

Although we could do more selective trimming the easiest would be to not trim at all and select the former top of stack as the selection frame. Here are three examples of how the debugger would open. Would this satisfy the demand? @rjsargent @LisaAlmarode @dalehenrich

![image](https://user-images.githubusercontent.com/36

[2018-12-19 17:05] ericwinger commented on #341
@LisaAlmarode I'd like to keep this consistent with the Run Tests option on the method menu. The method menu option performs a debug. Also, if there are a lot of tests and you press Run Test on the class, the suite has to run to completion even if you made a dumb mistake and every test breaks.

To run a suite of tests in a class without stopping for errors I use the SUnit browser.

[2018-12-19 17:59] LisaAlmarode commented on #341
I think we have overloaded the term "run" to mean sometimes "run and show results with icons" and sometimes "run until assert or error and show debugger".  While debug also means the second of those.

The Sunit browser operations menu items make sense to me; run all, run selected, debug (infer selected). Do we also have a debug all somewhere?  Is it useful?  If it's consistency, we might fix the m

[2018-12-19 18:12] dalehenrich commented on #341
tODE has a `debug all` in the test browser that I've used to debug test failures that only show up when running the full suite (unintended side effects between tests) ... I've also used it in cases where I've put a `halt` in a method when I'm interested in taking a peek at test coverage (in tODE halts are caught by the test driver and treated as errors) ... I've also used this when there are so ma

[2018-12-19 18:27] LisaAlmarode commented on #336
When you select the abstract test class, the class menu item "run tests" is enabled.  If you select that, it goes to the SUnit browser and says 0 run, 0 passed, etc.   Should disable this menu item.

[2018-12-19 18:32] LisaAlmarode commented on #336
Also, I'm assuming it's correct that tests in an abstract class are inherited by the immediate subclass, but not by subclasses of the immediate subclass.  tests that are in a concrete class are not inherited by any subclasses.  @regkrock might have an more knowledgeable opinion?

[2018-12-19 18:41] LisaAlmarode opened #364 "Debug-it does nothing if comment preceeding temp vars"
This is a milder case of  #262.

If you select the following, debug-it does nothing:

"comment"
| temp |
temp := 'abc'.
temp first

[2018-12-19 18:45] dalehenrich commented on #336
@LisaAlmarod, if you look at `TestCase class>>shouldInheritSelectors` you can see the logic that is used to determine which selectors are inherited from whom... a peek at the implementers of #shouldInheritSelectors will show that individual test cases can control their own destiny:)

[2018-12-19 19:03] ericwinger commented on #223
@LisaAlmarode I still can't reproduce this with the cursor over ``bar``. (I can make the senders/implementors go away by clicking outside ``bar``).

In spite of that I did a code review and can't find anything that would point to the break point as the culprit behind the behavior you are seeing. However, I did make a couple changes in 3.0.54 which should eliminate showing the breakpoint menu item

[2018-12-19 20:04] dalehenrich commented on #223
This is 3.0.52. In the first screen shot, you can see that the step point is being highlighted ... ![image](https://user-images.githubusercontent.com/623951/50244419-ba705080-0384-11e9-94f3-b08b45c46c3a.png)

In the second screen shot I positioned the cursor to get the popup then brought up the menu and the senders/implementers aren't present ...
![image](https://user-images.githubusercontent.com/

[2018-12-19 20:12] dalehenrich commented on #223
Also worth noting that in the nested exec block frames, the selectors are not underlined (you have to look closely):
 ![image](https://user-images.githubusercontent.com/623951/50245263-df65c300-0386-11e9-9039-ffb40f5bc86c.png)

and the selectors are all underlined in the home frame of the method"
![image](https://user-images.githubusercontent.com/623951/50245431-4aaf9500-0387-11e9-9a1e-beac99fd891

[2018-12-19 20:19] dalehenrich commented on #223
... further observation is that once the underlines are gone the breakpoint popup does not show up ... all of the screen shots in the last few comments are of the same debugger ... so selecting around in the debugger has resulted in subtle changes to the frame state ... and close examplination of the first snapshot where the breakpoint pop was visible in a nested exec block frame shows that the me

[2018-12-19 22:03] ericwinger commented on #330
Assigning to @LisaAlmarode for feedback

[2018-12-19 23:06] LisaAlmarode commented on #354
I don't think I can reproduce it.  Hard to be sure...

[2018-12-19 23:10] LisaAlmarode opened #365 "drag and drop of method that fails recompile could be handled better"
When testing drag and drop of methods to make sure they went to the right side (class, instance), I dragged a method that referenced an instance variable to a place in the hierarchy above the class that implemented it.  it failed compilation (with an undefined symbol error).

I saw the method pane flash pink but then it acted like nothing happened, displayed the target class's class definition, an

[2018-12-19 23:19] ericwinger commented on #352
Fix in 3.0.54.

[2018-12-19 23:19] #352 closed, assigned to LisaAlmarode

[2018-12-19 23:41] dalehenrich opened #366 "(3.0.53) a third and fourth `test_addedProjectNotOnDisk` *Service* test failing"
The first two failing tests reported in Issue #333. Now a third and fourth tests are failing (`RowanTestClassServiceTest>>#test_addedProjectNotOnDisk`):
[code]
I have a feeling that these tests must not be failing when run interactively. The original bug was reported 3-4 weeks ago ... marking `P1-critical', so that the bugs can be fixed when run in batch mode, which is how I validate releases ...

[2018-12-20 00:04] dalehenrich commented on #223
This screen shot is for 3.0.53 and shows that a home frame method is not showing the implementors/senders menu items ... selectors are underlined:
![image](https://user-images.githubusercontent.com/623951/50255608-6e82d300-03a7-11e9-8602-ff2cb9376a9b.png)

... and here's screenshot showing that popup is present (previous screen shot waited til popup appeared before getting menu):
![image](https://

[2018-12-20 00:07] dalehenrich commented on #362
reappeared in 3.0.53:
![image](https://user-images.githubusercontent.com/623951/50255768-20220400-03a8-11e9-8391-546b6a7e8a5f.png)

[2018-12-20 00:18] dalehenrich opened #367 "(3.0.53) "a InternalError occurred (error 2727), reason:nativeStackNotConvertableToInterpreted, OffsetError: object does not have varying instVars" from debugger"
Same debugger instance after getting [index out of bounds error](https://github.com/GemTalk/Jadeite/issues/362#issuecomment-448799006):
![image](https://user-images.githubusercontent.com/623951/50255935-e6053200-03a8-11e9-9cdf-5e11769deadc.png)
This error occurred after trying to use the `restart` button ... after hitting Issue #362 ... so it may or may not be related:
[code]

[2018-12-20 00:23] dalehenrich commented on #367
... after reproducing the walkback ... the `Restart` button works in debugger in which #362 hadn't occurred yet ... so #362 just might be the root cause ...

[2018-12-20 00:51] LisaAlmarode opened #368 "Debugger popup menu slow"
Looking at the same method in the projects browser vs. the debugger...
In the debugger, but not in the projects browser, there's a subsecond flicker of an hourglass every time I right click on something to bring up a menu. Maybe it could not hourglass if it's just going to be a fraction of a second?

But it is the same menu on the same method text as the PB.

[2018-12-20 01:10] LisaAlmarode opened #369 "Debugger puts blue highlight on method temps"
In the debugger, method temporaries other than the first one are blue.

![image](https://user-images.githubusercontent.com/13142166/50257643-ea354d80-03b0-11e9-8ce3-b9b0048abf2f.png)

[2018-12-20 01:18] LisaAlmarode opened #370 "Multiple-keyword methods, non-first keyword gets no respect"
When there's a method that has multiple keywords, the whole thing is highlighted blue, but only the first keyword can have a breakpoint or get senders/receivers.  This makes everything difficult, especially setting breaks since I don't generally care where specifically the break goes just around that particular token.

![multikeyword](https://user-images.githubusercontent.com/13142166/50257819-d3d

[2018-12-20 02:47] LisaAlmarode commented on #336
Reassign to Eric to fix the PB class pane menu, the assumption that it's correct is correct...

[2018-12-20 19:55] LisaAlmarode opened #371 "Always show breakpoints and senders/implementors on popup menu in debugger and browser"
The current model of showing breakpoints and senders/implementors menu items only when your select point is exactly in the right place is frustrating, and in the case of the debugger, causing confusion about if it's a debugger bug or just user error.

We have proposed that when you right click, the breakpoint to the left of the spot where you right clicked should be counted, so every popup menu in

[2018-12-20 19:56] LisaAlmarode commented on #370
With the fix for #371 this might not matter.

[2018-12-20 19:58] ericwinger commented on #366
``RwRowanProjectIssuesTest>>#testIssue150_branches`` is newly introduced.

The other 3 are expected to fail (today).

[2018-12-20 20:07] ericwinger commented on #366
Fix for ``RwRowanProjectIssuesTest>>#testIssue150_branches `` in https://github.com/GemTalk/Rowan/commit/74b9ffc818060c57315e8d559a1911ddd356b86e

[2018-12-20 20:42] LisaAlmarode commented on #328
The first thing to do is at least make sure the dialog provides instructions to use single quotes or not...

[2018-12-20 21:20] LisaAlmarode opened #372 "Browse menu on all windows and general menu consistency"
Dale would like the console's browse menu on all browsers, so he can open whichever browser is wanted.  Me, I think the options such as senders of... are not the same as senders and don't really belong on the same menu.
Assigning to myself for review of the menus and to come up with a specific proposal.

[2018-12-20 21:42] LisaAlmarode commented on #336
Counterpropsal: replace the class menu "run tests" to "Open SUnit on class". Which will open an SUnit browser with the given class selected.  Remove the item "run tests"

[2018-12-21 19:38] dalehenrich opened #373 "revert menu item for methods (in all method panes) would be convenient ..."
I often find myself making a change (inadvertent or purposeful) to a method, that I decide I want to undo by reverting to the current saved method source and it seems that the only way to do so is to click off of the item and the answer one or more dialogs saying yeah it is okay to forget the source and then click back onto the method ... a revert menu item would reduce this to a single menu click

[2018-12-21 19:54] ericwinger commented on #223
@LisaAlmarode @dalehenrich - Please take a read through this.  If you get into a weird situation where you can't find the implementors or senders menu options, please send me the results of the code snippet I describe at the bottom of this comment.

While implementing the fix discussed in the meeting yesterday, I stumbled onto a case where a compiled method was returning totally bizarre step point

[2018-12-24 18:17] dalehenrich opened #374 "(3.0.53) selecting package in one project browser causes sympathetic update in other"
![image](https://user-images.githubusercontent.com/623951/50405115-eca6f700-0764-11e9-9abd-ab88d0c19e03.png)

Package selection is not being respected in project browser

[2018-12-24 18:22] dalehenrich commented on #374
... also seems to apply to tabs as well as separate browsers ... also seems that hierarchy view may be the only one affected/

[2018-12-25 01:52] dalehenrich opened #375 "(3.0.53) accept non-extension method in an extension package .... lose selected class"
before method accept:
![image](https://user-images.githubusercontent.com/623951/50409041-35ca6b80-07a4-11e9-8b55-5d403851babd.png)
after method accept:
![image](https://user-images.githubusercontent.com/623951/50409047-4d095900-07a4-11e9-87f5-f37555bba04d.png)
If you don't notice that the originally selected class has been deselected and try to edit method again, you get this error:
![image](https

[2018-12-26 18:34] dalehenrich opened #376 "(3.0.53) project list does not update after load"
Prior to load in project list:
![image](https://user-images.githubusercontent.com/623951/50453940-2dd01000-08f9-11e9-854b-3bcbf59ffe8b.png)
after load -- Note that the RowanSample1 project is **italic** in project list and not in project browser:
![image](https://user-images.githubusercontent.com/623951/50453951-44766700-08f9-11e9-8174-985ef79d2504.png)
after activating project browser:, the proje

[2018-12-26 21:13] dalehenrich commented on #374
... also seems to apply to method browsers as well ...

[2018-12-27 20:27] dalehenrich opened #377 "(3.0.53) remove class in hierarchy class view does not work"
Before:
![image](https://user-images.githubusercontent.com/623951/50493430-46f8bf80-09d2-11e9-97be-0212036d693f.png)
After (no error or other notification):
![image](https://user-images.githubusercontent.com/623951/50493453-727baa00-09d2-11e9-953c-a83ea3b6744f.png)
...works when not in hierarchy mode

[2018-12-28 18:01] dalehenrich opened #378 "(3.0.53) test class not defined in package shows up in package of SUnit browser"
![image](https://user-images.githubusercontent.com/623951/50523731-93053c00-0a86-11e9-97f7-e412f2d504f2.png)
I don't expect RwRowanProjectIssuesTest to show up in the Rowan-Services-Tests package ... I would think that only classes defined in the test package should show up in any one package....

If you are going to include classes with extension methods from the package, then the class name shou

[2018-12-28 18:25] dalehenrich opened #379 "(3.0.53) RowanClassServiceTest>>#test_setSuperSubIndicators (commit 76b27b8) failing"
Here are the test failures I just noticed:
[code]
[When I did the original merge of Oscar-3.0.53](https://github.com/GemTalk/Rowan/commit/b89d8e9089cdb7086036cad5e864ca20711e38e4) the tests passed ... Also [when I did my most recent commit on the candidateV1.2 branch](https://github.com/GemTalk/Rowan/commit/76b27b89b59d0dac82d2fd6458b1c01ac0845125) the tests pass ... but today running in a stone b

[2018-12-28 18:41] dalehenrich opened #380 "(3.0.53) rename protocol is broken: `UndefinedObject does not understand #'select:'`"
[code]
Turns out that the methods IV is nil ...

[2018-12-28 19:33] dalehenrich opened #381 "(3.0.53) useful to have class displayed when code pane is maximized"
![image](https://user-images.githubusercontent.com/623951/50526032-33ae2880-0a94-11e9-929b-4b15bab6e473.png)
... adding the class (or replacing the package) in the tab might be a solution ...

[2018-12-28 21:20] regkrock opened #382 "Add Accessors menu item is disabled"
When attempt to add accessors, the menu item is disabled.

![image](https://user-images.githubusercontent.com/7550442/50528482-87cd0300-0abc-11e9-9f9a-8705127381a2.png)

[2018-12-28 22:04] dalehenrich opened #383 "(3.0.53) the commit button on the SUnit browser is silent"
The commit button on the project browser makes a noise (for better or worse), so the absence of the sound on the SUnit button makes me suspicious that the commit is not being performed ... I've lost work over the last several days because I didn't commit often enough, so I've stopped using the SUnit browser commit button --- even though it would be more convenient --- simply because I am afraid th

[2018-12-28 22:08] regkrock commented on #383
Would it be possible to have the option to turn commit on/off. I like the way tODE works wrt commtits.

Also, I have had to start committing all the time just to be safe. Maybe this is the reason. The lack of auto-commit option really slows me down in my work.

[2018-12-28 22:43] dalehenrich commented on #383
auto commit would be absolutely great ... and making it optional is a good idea ... I know that @regkrock has also mentioned that he likes autocommit ...

[2018-12-28 22:44] dalehenrich commented on #383
... and I just lost a significant amount of work again ... with an out of memory ... we'll have to look into it ... but I'm guessing that it is a transcript problem ... it is hard to reproduce and when it does reproduce, you've lost work, so it isn't convenient to try to characterize more:)

[2018-12-28 22:48] dalehenrich commented on #216
reopening as it just reproduced for me in 3.0.53 ... in this case it might have been a commit that caused the list to reorder ... not sure I was in the middle of a big set of changes (and had just lost a bunch of work because of a crash), so I can't tell exactly what lead to this ... big list of senders and reorerding did not seem to be happening ... I did a commit and the list was definitely reor

[2018-12-28 22:58] dalehenrich opened #384 "(3.0.53) sort by `type` in changes view does not do complete job"
Sorted by type (have to click twice) and as you can see, there is a `Modification` mixed in with `Addition` ... I'm sorting long lists with the expectation that I shouldn't have to scan the entire list looking for `Modications`:
![image](https://user-images.githubusercontent.com/623951/50530273-b513b400-0ab0-11e9-9d86-1e5d90e27c44.png)

[2018-12-29 00:04] dalehenrich opened #385 "(3.0.53) Inspector should keep associated root object alive ..."
This inpsector was opened from a debugger and the debugger itself was subsequently closed:
![image](https://user-images.githubusercontent.com/623951/50531093-e17ffe00-0ab9-11e9-9651-c49009e4d3db.png)
The item shown was a string originally, but over not too long of a time, the oop for the string was obviously recycled ... it shouldn't be too hard to arrange for the root object of an inspector to be

[2018-12-29 19:06] ericwinger commented on #330
Have a fix that seems solid in Oscar 3.0.54. Stack no longer trimmed, but selected frame is the frame that raised the error (i.e. - right before the halt frame)

[2018-12-29 19:06] #330 closed, assigned to LisaAlmarode

[2018-12-29 19:29] ericwinger commented on #367
Once the initial walkback in #362 was hit, Jadeite has not finished it's work and is in a bad state. Further walkbacks are not unexpected. In this issue, we are presumably trying to trim the stack to an invalid level. The invalid level is possibly because #362 prevented Jadeite from setting the trim level properly.

The following statement is difficult to understand. Once an error occurred, I woul

[2018-12-29 19:29] #367 closed, assigned to ericwinger

[2018-12-29 19:51] ericwinger commented on #362
The stack shows that the frame's stepPoint is erroneously set to 5. Looking at the [picture](https://github.com/GemTalk/Jadeite/issues/362#issuecomment-448799006), there appear to only be 4 step points in the method.

The stepPoint is set on the server ``RowanFrameService>>initializeProcess:level:organizer:`` and not modified on the client. The relevant part of the method is here:
[code]

Assuming

[2018-12-29 20:08] ericwinger commented on #379
@dalehenrich - did you mean #335?  #336 is not related to a failing test.

[2018-12-29 21:48] ericwinger commented on #336
Fixed in Oscar 3.0.54. We can tweak the name of the menu item if need be.

[2018-12-29 21:48] #336 closed, assigned to LisaAlmarode

[2018-12-29 21:52] ericwinger commented on #341
@LisaAlmarode  - I have removed the ``run tests`` menu item from the class list pane per issue #336. Does this issue then become a mute point?  If not, please open a new bug with specific instructions on what needs changed.

[2018-12-29 21:54] ericwinger commented on #216
Reassigning to @dalehenrich and @LisaAlmarode for a reproduction case.

[2018-12-29 23:49] dalehenrich commented on #379
Sorry, I was referring to #366, not #336

[2018-12-31 18:17] ericwinger commented on #362
@LisaAlmarode In talking with Dale, he said that this type of bug sometimes happens when he has opened a debugger but then is doing other work (say) in the project browser and doing lots of aborts. It's possible that a reproduction case might be found with  this in mind.

[2018-12-31 18:41] ericwinger commented on #384
The sort blocks were still set to Jade-time. Fix in Oscar 3.0.54.

[2018-12-31 18:41] #384 closed, assigned to LisaAlmarode

[2018-12-31 20:39] dalehenrich opened #386 "(3.0.53) no warning about unsaved changes in method browser when clicking on different method"
Should be consistent across all browsers ... project browser warns you, method browser does not ... don't know about debugger, but it shoiuld

[2019-01-01 01:23] dalehenrich opened #387 "(3.0.53) ... could use better method for identifying compile errors in a method ..."
My eyes aren't that good, but scanning for a thin red underline in a red background makes things that much harder:
![image](https://user-images.githubusercontent.com/623951/50569675-38870c80-0d20-11e9-9449-b3a3299aad04.png)
large methods make it even more difficult to find the `undefined symbol` ... highlighting instead of underlining (and making sure that the highlighted string is visible) would

[2019-01-02 19:24] dalehenrich commented on #294
(3.0.53) ... this behavior is still present ... at the moment though, the change from listing just test methods to listing all methods in class seems to be triggered when the commit button is pressed ...

[2019-01-02 20:48] LisaAlmarode commented on #387
I agree... it's very hard to see the indicators.

[2019-01-02 21:06] LisaAlmarode commented on #382
This is closely related to issue #319.

[2019-01-02 21:14] LisaAlmarode commented on #381
I would like to see the current class name in the tab, if that's possible.

Also, I see what looks like artifacts in the code-pane maximized view; it's not very tidy looking.  Turns out the project-package-class-cat-method upper half is lurking there and peeking out.

The slider that controls this is live, and I tried moving it around... but as soon as I do that, the maximize button decides it's t

[2019-01-02 21:19] LisaAlmarode commented on #386
Debugger does ask if you want to save to clipboard. BUT there is no cancel - if you click on a different frame, you can either toss the edits or save them to clipboard, but you can't change your mind and stay and ponder the changes.

[2019-01-02 21:28] dalehenrich opened #388 "(3.0.53) useful to be able to open method browser on selected methods in project browser"
recently, I've found it convenient to use the method browser to when writing and reading code ... and when I wanted to be able to "group" the following selected methods into a method browser, I found that I couldn't:
![image](https://user-images.githubusercontent.com/623951/50613339-17dec400-0e92-11e9-9a01-783c84f892a7.png)

[2019-01-02 23:40] ericwinger commented on #383
The abort and commit code was a jumble. Synchronized all those paths into one path which does a commit or abort in the presenter.

I left the beep in but we can remove it if you'd like.  (I don't have a sound card on my development workstation so I can't hear it) If so, let's file a new issue to remove it.

Fix in 3.0.54.

[2019-01-02 23:40] #383 closed, assigned to dalehenrich

[2019-01-02 23:53] ericwinger commented on #379
@dalehenrich The test is relying on the ``RowanSample1`` project which I load. ``RowanSubClass`` is in that project. Is it not safe to assume that RowanSample1 will be available as a directory when the server tests are run?

[code]

[2019-01-03 00:21] ericwinger commented on #319
@dalehenrich @LisaAlmarode  I can do this in Jadeite.

However, the method ``Behavior>>compileMissingAccessingMethods`` will still be available. If a user executes this method which is not marked as private, they will create non-rowanized accessor methods. Those methods will throw an error if an attempt is made to modify or delete them. I don't think that's very friendly.

Seems that regardless of

[2019-01-03 00:23] ericwinger commented on #382
awaiting feedback from question in - https://github.com/GemTalk/Jadeite/issues/319#issuecomment-451025960

[2019-01-03 00:39] ericwinger commented on #375
Fixed in 3.0.54.

No explicit fix was done but I had done some recent work in this area which must have fixed it. Verified I could reproduce the bug in 3.0.53 but not in development line of 3.0.54. Added test coverage.

[2019-01-03 00:39] #375 closed, assigned to LisaAlmarode

[2019-01-03 17:10] dalehenrich commented on #379
The two lines of code you show will certainly create (if needed) and load the RowanSample1 project, however it is not a good practice for tests to download projects into `$ROWAN_PROJECTS_HOME` ... you run the risk of installing a project into a user's space and potentially disrupting the user's own work ... I think what happened in this case is that you starting using my local version of RowanSamp

[2019-01-03 17:20] dalehenrich commented on #319
With regards to `Behavior>>compileMissingAccessingMethods` being present in the image, there are a ton of methods that are *dangerous* to use ... at this point in time, we are not going to be changing existing base methods ... right now we should focus on getting Rowan and Jadeite into a usable state so that customers aren't tempted to use *dangerous* methods:) ... So we just need to implement `Be

[2019-01-03 18:01] regkrock opened #389 "Add Browser Panel (Tab) when in Sunit Subpanel fails"
When I attempt to open a new class browser tab it fails.

![image](https://user-images.githubusercontent.com/7550442/50653475-a0736800-0f57-11e9-94dd-4c3d8542a4c1.png)

![image](https://user-images.githubusercontent.com/7550442/50653484-a6694900-0f57-11e9-9bf4-f765c2a21c72.png)

[2019-01-03 20:01] LisaAlmarode opened #390 "Rename instance variable with accessor method is... wonky"
This is 3.0.53.

I had a class with an instance variable with a settor method.
I renamed that instance variable.  Attempt to save the class definition.

In the class I'm using, I get an error dialog "Index 279 is out of bounds".  That seems to be since there were several/longer methods with references to that instance variable.

In my test class to reproduce, I get different weirdness:
![image](ht

[2019-01-03 20:22] LisaAlmarode commented on #319
I agree with Dale, sufficiently determined customers can always make a mess.  Having a Rowan service and Jadeite menu option at least gives us the convenience.

[2019-01-03 20:38] LisaAlmarode commented on #388
This is quite unclear! I see one selected method in the project browser.  On studying this, I think there is more than one method actually selected.  If including a screenshot it's wise to ensure that important details are visible... otherwise why bother...

I believe this request is to compose a method browser containing a deliberately/arbitrarily selected set of methods by multiple-select in the

[2019-01-03 20:45] dalehenrich commented on #388
... Sorry about that ... the picture is meant to illustrate that **there is no menu item** for opening a method browser on selected methods ...
Contrast with the sunit browser menu item (Browse Methods):
![image](https://user-images.githubusercontent.com/623951/50660624-4ffb0b00-0f55-11e9-9ee0-aa6f5a9b6eec.png)

[2019-01-03 22:01] dalehenrich opened #391 "(3.0.53) SUnit browser running test method in wrong class"
RwProjectTonelReaderWriterTest>>testWriterReader_A is the selected test, however, the stack from the debugger indicates that the RwProjectfileTreeTonelReaderWriterTest class is being used to execute the test:
 ![image](https://user-images.githubusercontent.com/623951/50663689-51c9cc00-0f5f-11e9-96dd-c96d40e7ba94.png)
Note the method #_writerVisitorClass in debugger and contrast the #_writerVisitor

[2019-01-03 22:15] dalehenrich commented on #391
Same problem shows up when running test from Project Browser:
![image](https://user-images.githubusercontent.com/623951/50664461-0107a280-0f62-11e9-945f-c759d7e05426.png)

[2019-01-04 00:25] ericwinger commented on #374
I was able to reproduce in 3.0.53 but not in unreleased 3.0.54. Did some work here earlier which probably fixed the problem. Added lots of client tests in both the class & hierarchy tabs to make sure we don't regress again.

[2019-01-04 00:29] ericwinger commented on #379
@dalehenrich  Ok, I'll take a stab at installing RowanSample1 using your suggested code.

[2019-01-04 01:19] ericwinger commented on #379
@dalehenrich  Trying to implement [the code you referred to ](https://github.com/GemTalk/Rowan/blob/candidateV1.2/rowan/src/Rowan-Tests/RwRowanSample4Test.class.st#L90-L111) ...

This line of code (shown below in the debugger) appears to expect a ``.ston`` file which does not exist in the ``RowanSample1`` repository. Is it generated in the rowan tests somehow?  Or should I be pulling RowanSample1

[2019-01-04 17:28] ericwinger commented on #391
I believe that the ``debug`` option was wrong in the Sunit browser tab and all three were wrong in the stand along sunit browser. Should be fixed in 3.0.54.

[2019-01-04 17:28] #391 closed, assigned to LisaAlmarode

[2019-01-04 17:30] ericwinger commented on #391
"All three" being `debug`, `run selected`, and `run all`

[2019-01-04 17:47] dalehenrich commented on #379
It looks like the path in the debugger is referring to [this directory in the RowanSample1](https://github.com/dalehenrich/RowanSample1/tree/master/rowan/specs) and there are two `.ston` files to choose from ... I'd suggest this one: `RowanSample1.ston`  ...

[2019-01-04 20:17] ericwinger commented on #379
That seemed, at first glance, to get my over the hurdle.

[2019-01-04 20:46] ericwinger commented on #379
RowanSample1 load updated in test & subclass created on fly to avoid dependency on disk version of project. Should be fixed in Oscar 3.0.54 but I'll double check before releasing.

[2019-01-04 20:46] #379 closed, assigned to ericwinger

[2019-01-04 23:13] dalehenrich opened #392 "(3.0.53) browse class menu item would be useful in debugger ..."
![image](https://user-images.githubusercontent.com/623951/50715799-afc7e380-1033-11e9-81e8-d458ee6cdff1.png)

[2019-01-04 23:50] dalehenrich commented on #392
if there are two possible classes in the frame, it would be useful to be given a choice as well ..

[2019-01-07 18:12] ericwinger commented on #216
Reassinging to myself. Need to check the sort headers functionality  in the method list. Possibly related to #384.

[2019-01-07 19:28] dalehenrich opened #393 "(3.0.53) restart icon not displayed until mouse over ..."
Before:
![image](https://user-images.githubusercontent.com/623951/50788701-02411400-126f-11e9-9fc6-fcdee2f46bb1.png)
After:
![image](https://user-images.githubusercontent.com/623951/50788719-0c631280-126f-11e9-970d-556c9116fa52.png)
@LisaAlmarode @ericwinger doesn't see this in his environment ...

[2019-01-07 20:03] dalehenrich commented on #294
@ericwinger I told you this morning that occasionally non-test methods show up in the SUnit browser .. here's a picture:
![image](https://user-images.githubusercontent.com/623951/50790517-f9067600-1273-11e9-9a3e-35d99336020c.png)
All tests in a single class ... we tried a simple commit, but something may have to change .... I was working (as usual) and didn't notice that the extra methods appeared

[2019-01-07 20:30] dalehenrich commented on #294
It looks like the SUNIT browser method list *corruption* is occurring after a **load** of a new version of Rowan --- that **does not** have any changes to the `RwRowanSample7Test` class

[2019-01-07 21:04] dalehenrich commented on #294
empty changes before load:
![image](https://user-images.githubusercontent.com/623951/50793260-72a26200-127c-11e9-9a00-bd0477929eaf.png)
window state immediately after load of all projects (note the extra methods that appear in SUnit browser):
![image](https://user-images.githubusercontent.com/623951/50793294-94034e00-127c-11e9-9e5f-d9cf38546a09.png)

[2019-01-07 22:22] LisaAlmarode commented on #393
I see the missing-until-mousedover restart circle-arrow in the debugger when there's a test with an assert failure.
The icon is present and normal if I use debug-it, or if there's an error or method breakpoint that is hit by evaluating some expression.

[2019-01-07 22:35] ericwinger commented on #386
Debugger, method list, and projects browser should now handle unsaved changes the same way - like projects browser with unsaved changes dialog. Fix in 3.0.54.

[2019-01-07 22:35] #386 closed, assigned to LisaAlmarode

[2019-01-07 23:12] LisaAlmarode commented on #393
To clarify: the bug reproduces for me only when the debugger is opened from an Sunit debug.

[2019-01-07 23:54] ericwinger commented on #388
This was pretty straight forward. They'll be a Browse Selected Methods in the projects browse in 3.0.54.

[2019-01-07 23:54] #388 closed, assigned to LisaAlmarode

[2019-01-07 23:59] ericwinger commented on #216
Hmm, the sort headers appear to be setup properly. @LisaAlmarode  - it might be reproducable by focusing on post-commit behavior.

[2019-01-08 01:03] LisaAlmarode commented on #385
I've been trying to reproduce a problem, and I haven't reproduced the reuse that Dale reports.

However, suggestively, I keep hanging jadeite in the attempt. Based on the report, I assume this is a single-session, not doing MFC/epoch or with reuse by another session, but just a problem within a single session's view and perhaps not even interrupted by commit or abort.

The circumstances of my hang

[2019-01-08 01:03] dalehenrich commented on #393
I was running tests from SUnit browser when I saw the issue ...

[2019-01-08 01:11] dalehenrich commented on #385
The inspector I had was on a persistent object that was internal to a Rowan project ... the Rowan project was unloaded and then I did a series of test runs (from SUnit browser) and probably (several?) Rowan project writes (which create a lot of objects) before I came back to the inspector and saw the Strings had been replaced by methods ... so clearly I was saving methods too ...

I've seen this l

[2019-01-08 17:35] dalehenrich commented on #359
@ericwinger, here's the full ston string from another incident with the same stack (hit the problem this morning using 3.0.53): [ston.txt](https://github.com/GemTalk/Jadeite/files/2737834/ston.txt). Hopefully the string will provide a clue.

[2019-01-08 20:06] ericwinger commented on #219
Should have a fix for this in 3.0.54. Debugger has a status bar now for reporting compile errors. Functions similarly to project browser.

[2019-01-08 20:06] #219 closed, assigned to ericwinger

[2019-01-08 21:17] ericwinger commented on #390
@LisaAlmarode  This appears to be coming from Rowan. I can reproduce it in a workspace outside the Jadeite tools. All one needs to do is remove a referenced inst var in the list of instance variables when compiling a class. See https://github.com/GemTalk/Rowan/issues/464.

[2019-01-08 21:58] ericwinger commented on #380
Fixed in 3.0.54

[2019-01-08 21:58] #380 closed, assigned to ericwinger

[2019-01-08 22:00] dalehenrich commented on #390
@ericwinger the **wonky** behavior that I thought that was being reported in this bug is the fact that the error is intercepted by Jadeite and the `undefined symbol` message is inserted in the class definition doit as if `rwSubclass:` is the undefined symbol ... what should happen is that error be presented to the user showing the **correct** compile error ...

[2019-01-08 22:32] ericwinger commented on #390
@dalehenrich  is going to give some example code on how to compile the class in such a way that Jadeite can distinguish between a class compilation error and a subsequent method compilation error. (Methods are recompiled automatically in rowan after a class is compiled)

[2019-01-08 22:42] dalehenrich commented on #390
The method `String>>evaluate` is where the compilation and execution is normally done:
[code]
... and you can see the two components of `evaluate`:
- compile workspace code and create an *anonymous` method:
[code]
- execution `anonymous` method
[code]
The compile errors incurred while executing the `compileInContext:symbolList:` should have feedback show up in the workspace pane as is currently do

[2019-01-09 00:01] regkrock opened #394 "Debbuger does not show error message properly"
While in the debugger, the code looked like this:
![image](https://user-images.githubusercontent.com/7550442/50866388-c6de3c80-1377-11e9-974f-727f62a35d8e.png)

Added a carret and did a save. There is a compile error but the popup with the #view error occurred. Needs to show the actual error.

![image](https://user-images.githubusercontent.com/7550442/50866396-ccd41d80-1377-11e9-9cec-9e9e9870b25a.

[2019-01-09 00:11] ericwinger commented on #379
Verified after integrating with CandidateV1.2 that this test no longer fails.

[2019-01-09 01:35] LisaAlmarode commented on #388
The menu item in the SUnit browser is "browse methods" not "browse selected methods".  But worn down by kermit css and ssl key generation... I am going to let this pass and not reopen this method.  Possibly I will complain later.

[2019-01-09 03:54] LisaAlmarode opened #395 "(3.0.54) Sunit can display non-test methods"
A fresh login to 3.0.54 with fresh Rowan oscar.
I go to sunit browser, select my class.  Se see test methods in Plantis.  Run all and they all pass.
Go to the Project Browser to run tests there.

Open a project browser, and navigate go to the same class.  When I click on the class...
the still-open Sunit browser now shows all methods in the test class, not just the ones starting with 'test'.

![im

[2019-01-09 05:29] LisaAlmarode commented on #341
I think the removal of the class menu item avoids any actual confusion between run and debug.

I think "Run tests" in the projects browser methods pane, and method list browser, should be be "run selected" to match the Sunit browser, and also be clear and specific.

[2019-01-09 05:40] LisaAlmarode opened #396 "Ability to turn on autocommit would be nice"
In issue #383, there was a clamor for autocommit.  But I think that issue was only addressed by cleanup and bell-adjustment, not by adding this feature.

I also would like autocommit and I don't find an existing request.  So: please add an autocommit option.

[2019-01-09 05:41] LisaAlmarode commented on #383
For the issues with beeping, I'll reassign to Dale for review...  I had no idea there was a beep and so it appears unchanged.

[2019-01-09 13:14] regkrock commented on #396
Not just nice. Lack of auto-commit causes loss of work if something else goes wrong while working. For example, if the debugger hangs and I have to kill the session. This does not happen often but I have had it happen.

In tODE I have always worked with the auto-commit turned on and I find it the better way to work when I am doing significant amounts of work.

[2019-01-09 13:20] regkrock opened #397 "Is it possible for fined or find-and-replace to operate on crlf?"
There are times when I want to replace something with a crlf. The copy replace window strips out ther crlf.

![image](https://user-images.githubusercontent.com/7550442/50901800-3a6b6280-13e7-11e9-9c38-c4b8ab6292b7.png)

The Replace window has lost the crlf.

![image](https://user-images.githubusercontent.com/7550442/50901832-4f47f600-13e7-11e9-99dd-d3a734214f77.png)

This makes trying to add crlf

[2019-01-09 19:31] LisaAlmarode opened #398 "String Inspectors don't display lfs"
I often want to display a string containing line feeds.  The string inspector does not show the line feeds, although I can copy and paste into another text area and they are visible.  makes the string inspector pretty lame and useless.
![screenshot](https://user-images.githubusercontent.com/13142166/50923415-c25e6600-1401-11e9-9877-3dc9d8851610.jpg)

[2019-01-09 19:52] LisaAlmarode opened #399 "The "exactly one object" warning may also provide an unrelated debugger stack"
To reproduce
Go to RowanSample1Tests in the ProjectsBrowser and debug the test TestError.  Open the debugger on the error and leave it there.
Then go back to the ProjectsBrowser and select two methods and the menu item "browse hierarchy implementor".

You'll see an error exactly one object must be selected.
Then you see another error with the stack of the debugger.
This is quite alarming if you fo

[2019-01-10 00:29] dalehenrich commented on #328
Since this issue was related to the original issue (#256) and it was a `Help Wanted` request I figure we should at least address the `dialog label` for the January release ... bumped to P1 as well

[2019-01-10 01:01] LisaAlmarode commented on #336
Test Inheritance looks okay now including the inherit selectors behavior, at least per my limited understanding.

[2019-01-10 01:48] LisaAlmarode commented on #223
Eric, you are on to something here. It looks like the act of adding the breakpoint (in the projects browser method pane) is causing it to be no longer included in the results of _sourceOffsetsOfSends.

This is my test method:
'''test
	"OrderPricer test "

	| temp total |
	temp := Dictionary new.
	temp at: #aa put: DateTime now.
	total := 0.
	temp values do: [:aVal |
		total := total + aVal asSecon

[2019-01-10 22:02] LisaAlmarode commented on #223
After playing with the code to set breakpoints, this turns out to be a server issue that is not showing up in 3.3.x or 3.4.x.  Filed bug 47866.

It would be nice to find a workaround but I have doubts. Hopefully once issue #371 is implemented this situation may improve.

[2019-01-10 22:02] #223 closed, assigned to LisaAlmarode

[2019-01-11 00:52] ericwinger commented on #395
Should be a fix in 3.0.55.

[2019-01-11 00:52] #395 closed, assigned to LisaAlmarode

[2019-01-11 17:23] ericwinger commented on #333
Fixed in Oscar 3.0.56 on the server. https://github.com/GemTalk/Rowan/commit/e22468cbc873a87f72f90ab459bb13500774c556

[2019-01-11 17:23] #333 closed, assigned to nobody

[2019-01-11 17:24] ericwinger commented on #366
-->	RowanClassServiceTest>>#test_addedProjectNotOnDisk
-->	RowanProjectServiceTest>>#test_addedProjectNotOnDisk
-->	RowanTestClassServiceTest>>#test_addedProjectNotOnDisk

Fixed in Oscar 3.0.56 on the server. https://github.com/GemTalk/Rowan/commit/e22468cbc873a87f72f90ab459bb13500774c556

[2019-01-11 17:24] #366 closed, assigned to nobody

[2019-01-12 07:32] LisaAlmarode opened #400 "(3.0.55) Selecting class in one project browser loses method edits in another"
I have a method selected in project browser 1, and make some code edits; in my case, near the bottom of a long method.  The changes are not saved and the pane is green.

Then I go to a different project browser, and select the package and then the same class that is selected in PB1.

After selecting the class, project browser 1 is still displaying the same method, but I've lost my edits; it's reve

[2019-01-12 16:41] regkrock opened #401 "Step Into A Block Without going thru the detail code? Is this possible."
In the image below, I want to go directly to the code in the block without stepping into the implementation of #should:raise:. Is this possible. It would be very handy.

![image](https://user-images.githubusercontent.com/7550442/51075808-a86d8f00-165e-11e9-8f65-0d420228d117.png)

[2019-01-13 20:10] LisaAlmarode commented on #400
These issues are also in 3.0.53, so not a regression, but the losing work is rather upsetting.  I was defining a new method by editing an existing one... and it all disappeared.

There is another, related problem when the class is already selected before the scenario starts, and the same method is selected.  This isn't as bad since no work is lost, it's just weird.

If you have already selected th

[2019-01-14 21:24] ericwinger commented on #400
Should have a fix for both problems in Oscar 3.0.56

[2019-01-14 21:24] #400 closed, assigned to LisaAlmarode

[2019-01-15 03:42] LisaAlmarode opened #402 "Saving method from debugger causes extra classes to appear in Project Browser"
With a browser in class hierarchy view on a test class, if you save a method in the test class, you get a duplicate purple version of the class in the project browser.

![image](https://user-images.githubusercontent.com/13142166/51157006-e02d3000-1832-11e9-8f62-17bfdc5d4c90.png)

To reproduce, setup a breakpoint in a method in test code and debug the test.  When it comes up, make a trivial change

[2019-01-15 03:59] LisaAlmarode opened #403 "Double click in method browser change class to show instance methods"
In the class methods of a class in the Project Browser.
Select a method, and browse implementors which brings up a method browser with some class methods.
Double click on the method (for the selected class in the PB) in the method browser.

And the class in the project browser is now displaying its instance methods, not its class methods.  It doesn't switch the class/instance tab to match, though.

[2019-01-15 04:01] LisaAlmarode commented on #403
Also happens when I left-click to bring up the menu for the method in the method browser.

[2019-01-15 04:08] LisaAlmarode opened #404 "Removing a method using method browser"
The method browser has an item, remove method (s), which appears intended to remove a method from the image.  And it seems to do so.  However, it leaves the method in the method browser so it looks like it didn't work.  If you do the remove again in an attempt to get rid of the method, you get a walkback:
a UserDefinedError occurred (error 2318), reason:halt, These selectors were not removed ....

[2019-01-15 05:32] LisaAlmarode commented on #286
I'm running into this in 3.0.56.  I'm annoyed, so prioritizing this as an annoyance bug.

[2019-01-15 05:46] LisaAlmarode opened #405 "SUnit select class flips sunit pane in PB to the method"
I was looking at my tests in the SUnit tab of the PB.  But I thought hey, I'll test in the SUnit browser.  So found that browser and clicked to that same class.
The PB flips the view off the Sunit pane, back to a method pane.

I don't like browsers changing other browsers.

[2019-01-15 19:01] LisaAlmarode opened #406 "Jadeite crash with "IDE has stopped working""
I ran into this in 3.0.55, but I can reproduce it in 3.0.53 too.  While this is a critical issue, I kind of suspect it's related to heavy use of GsFiles on the windows client so it may be of limited impact amongst current users.  I wasn't able to reproduce a problem using the ston and tonel test cases.

I can reliably reproduce this using plantis, though, with the following sequence:

(1) In the p

[2019-01-15 19:50] LisaAlmarode commented on #406
When I adjusted the code to write and read GsFiles on the server (linux), the problem doesn't reproduce.

[2019-01-15 20:26] LisaAlmarode commented on #384
I've built up quite long lists of changes at various times over the last few days (in 54, 55 and 56) and have never seen any problems with order.

[2019-01-15 20:33] LisaAlmarode commented on #377
It does remove the class, it just doesn't update the view, so the class appears to be there.  Since it's showing the methods still and if you try to edit the method you get a walkback... it gets messy.

[2019-01-15 20:51] LisaAlmarode commented on #396
Eric would like some details on semantics. He notes that would be more manageable to code if the commit occurs on each service request, rather than adding code for every single specific operation (besides adds/removes/changes done in various browsers and debuggers and also category changes etc.)

I'd imagine the commit would occur after successful completion of a change, e.g. failed compile does n

[2019-01-15 21:06] dalehenrich commented on #396
That's pretty much the model used by tODE (successful completion of a "service request") ...

[2019-01-15 21:09] LisaAlmarode commented on #377
I've reproduced what is probably the real issue here.

Class operations in hierarchy view are simply ignored if no class was selected in class view

To reproduce:
In one package select a class.  Change to hierarchy view.
Then select a different package, so you are in a hierarchy view with no class selected.
Click on a class to select it.  Try variously the remove and the add subclass menu items.
S

[2019-01-15 22:45] ericwinger commented on #385
Should have a fix for the immediate problem in Oscar 3.0.57. There is now a simple registry of window handles to objects held in SessionTemps. When the inspector is opened, the window & it's root object is registered. When the window is closed the entry is removed, releasing the object.  The inspector is the only window that uses it. We can add more windows as necessary.

[2019-01-15 22:45] #385 closed, assigned to LisaAlmarode

[2019-01-16 01:03] ericwinger commented on #404
Fixed in 3.0.57 with supporting tests.

[2019-01-16 01:03] #404 closed, assigned to LisaAlmarode

[2019-01-16 16:01] regkrock commented on #398
A bigger issue is why not open a regular inspector. All of the other Smalltalks do that. This is very annoying as I wanted to look at some details and execute code against the string.

[2019-01-16 18:48] dalehenrich opened #407 "(3.0.56) would like option to browse class OR method from changes window"
![image](https://user-images.githubusercontent.com/623951/51271250-e3800300-197b-11e9-8101-6eed243aa200.png)

Often I want to look at the source of a method in a method browser (so I can do senders/implementors or modify the method and getting a brand new giant project browser is overkill when all I want to see is the method ...

[2019-01-16 19:08] LisaAlmarode commented on #374
I'm seeing a mild leftover bit of this problem in 3.0.56.

In one browser, navigate to Rowan | Rowan-Definitions.  Select RwClassDefinition in the list view, then switch to hierarchy view.  You'll see four classes with the lowest one being RwClassDefinition.

In the other browser, go to Rowan | Rowan-Definitions.  Select in the list view, e.g. RwMethodDefinition.  Over in the other browser, that n

[2019-01-16 19:26] LisaAlmarode opened #408 "(3.0.56) lose selected class/method on reload if it's an extension class"
This is more or less the same as issue #284 but it gets too muddy to reopen an old issue.

When I have an extension class and method selected, reload causes my selection to be lost.  This occurs both on reload from the console project list and reload from the PB project pane.

- Select RowanSample1-Extensions | RowanSample1 | accessing | foo
- reload RowanSample1
- See selection revert to the pack

[2019-01-16 19:28] LisaAlmarode commented on #352
This issue is probably the same as #375.  Verified that it is fixed in 3.0.56.
However, retest of #284 shows that particular angle is not fixed for extension classes...  filed #408.

[2019-01-16 20:48] LisaAlmarode commented on #395
Well the list is the same now but they all reverted status to untested.  I'll file a separate issue on that.

[2019-01-16 22:55] dalehenrich commented on #110
hit this again .. hit halt point:
![image](https://user-images.githubusercontent.com/623951/51283673-d8d66580-199d-11e9-9e56-0edbc10798d8.png)
after step over - instead of stopping at the extension method, we step into the extension method ... not right:
![image](https://user-images.githubusercontent.com/623951/51283739-03282300-199e-11e9-94df-c359f76c6303.png)
Note that halt is step point 6:
![im

[2019-01-16 23:21] dalehenrich opened #409 "(3.0.56) duplicate class entry shows up hierarchy view"
RwRepositoryComponentProjectTonelReaderVisitor class shows up twice in class hierarchy list in project browser ... note that it shows up as if it is an extended class, but that class has no extension methods
![image](https://user-images.githubusercontent.com/623951/51284733-6cf5fc00-19a1-11e9-92f6-67b6a7aeb175.png)
**suddenly appears** while working away .. note the open debugger ... i did happen

[2019-01-16 23:40] dalehenrich commented on #409
I seems that the duplication does occur when I do an accept in the debugger ...

[2019-01-16 23:42] LisaAlmarode commented on #409
This looks like it's the same as #402

[2019-01-16 23:47] dalehenrich commented on #409
... i agree, except that this is more than an annoyance ... we need a category for embarrassing?

[2019-01-16 23:47] dalehenrich commented on #409
The duplication keeps multiplying ...
![image](https://user-images.githubusercontent.com/623951/51286013-00c9c700-19a6-11e9-800c-5d5ffe1bd1a6.png)

[2019-01-16 23:47] ericwinger commented on #286
Fixed in 3.0.57. Should be able to drag multiple methods to new classes now.

[2019-01-16 23:47] #286 closed, assigned to LisaAlmarode

[2019-01-16 23:53] LisaAlmarode commented on #409
Well, I don't escalate to significant unless I am really stuck working... however, another tag might be a good idea since there are a number of issues lately that have minor impact to "work" (for me)... but are quite distressing emotionally, like any side effects to other browsers.

[2019-01-16 23:53] ericwinger commented on #402
@LisaAlmarode #402 and #409 appear to be very similar but they have much different labels and priorities in the Oscardale project. Could you help me prioritize & label them properly? Thanks.

[2019-01-16 23:54] ericwinger commented on #409
@LisaAlmarode #402 and #409 appear to be very similar but they have much different labels and priorities in the Oscardale project. Could you help me prioritize & label them properly? Thanks.

[2019-01-16 23:57] ericwinger commented on #374
This is a feature. :)  Actually, it only populates if the newly selected class is in the hierarchy but it probably shouldn't.

[2019-01-17 01:02] LisaAlmarode commented on #409
Closing this one in favor of the earlier one which is IMO a bit less confusingly reported (which I would say since I reported it).  I increased priority on #402 to make up for it.

[2019-01-17 01:02] #409 closed, assigned to LisaAlmarode

[2019-01-17 06:22] LisaAlmarode opened #410 "Selecting class in Project Browser changes test status icons in SUnit Browser"
This is the title from issue #294, but that issue has got a bit muddy.

If you run tests in the sunit browser then go to a project browser and select that class, just select it... all the cross, check mark and triangle icons revert to the open envelope.  That's a little unfair.

Vice versa, too... if you have run the tests in the project browser sunit pane and select the class in the sunit browser

[2019-01-17 06:23] LisaAlmarode commented on #294
The title of this bug refers to a problem that still exists in 3.0.56, and is annoying.

The bulk of the verbiage (picturiage?) is about a separate issue of non-test methods popping up in the sunit browser.  This was reported recently as #395 and does not reproduce in 3.0.56.  I also cannot reproduce a non-test-method-appearance problem when a package is loaded.

So I'm thinking that part is fixed

[2019-01-17 06:23] #294 closed, assigned to LisaAlmarode

[2019-01-17 06:25] LisaAlmarode commented on #293
This is seems related to #410 and should be considered.

[2019-01-17 06:26] LisaAlmarode commented on #410
See also issue #293, which reproduces in 5.0.56 and is similarly annoying.

[2019-01-17 06:31] LisaAlmarode opened #411 "SUnit browser's colored status bar is sticky"
When you run tests, it puts a status bar over the panes with the results.  But those results stay there regardless of where you go and what you do...

The results from RowanSample1Test following me:

![image](https://user-images.githubusercontent.com/13142166/51299625-f75c5100-19dd-11e9-8656-ba8d049fe170.png)

[2019-01-17 19:52] LisaAlmarode commented on #353
I agree... I kind of like the warning too.

[2019-01-17 19:56] LisaAlmarode commented on #389
This reproduces in 3.0.56.  Need to actually have a test selected, not just be in the sunit tab.

[2019-01-17 20:11] LisaAlmarode commented on #394
I don't see this; in 3.0.56 it reports a compiler error normally in the status bar.  I think something was fixed meanwhile, closing this.
![image](https://user-images.githubusercontent.com/13142166/51345857-f6b0d280-1a50-11e9-9180-fd7f492a49a4.png)

[2019-01-17 20:11] #394 closed, assigned to nobody

[2019-01-17 20:15] LisaAlmarode commented on #359
This just happened in 3.0.56, on an abort.  I'd changed a method, had some compile errors in the debugger.  Two debuggers were open when I did an abort and got this stack.

a UserDefinedError occurred (error 2318), reason:halt, Use on*Process: constructors
UserDefinedError (AbstractException) >> _signalWith: @6 line 25
UserDefinedError (AbstractException) >> signal @2 line 47
RowanProcessService c

[2019-01-17 20:58] dalehenrich commented on #390
Retest by executing the class creation code in a workspace --- issue #257

[2019-01-17 20:58] dalehenrich commented on #257
duplicate of #390

[2019-01-17 20:58] #257 closed, assigned to LisaAlmarode

[2019-01-17 21:00] dalehenrich commented on #244
possibly fixed ...

[2019-01-17 21:03] dalehenrich commented on #240
haven't seen drag drop issues for  awhile

[2019-01-17 21:03] #240 closed, assigned to nobody

[2019-01-17 21:11] dalehenrich commented on #204
This seems to be a server problem ...

[2019-01-17 21:11] #204 closed, assigned to dalehenrich

[2019-01-17 21:31] dalehenrich commented on #191
no longer the case

[2019-01-17 21:31] #191 closed, assigned to nobody

[2019-01-17 22:52] dalehenrich commented on #278
Number and Integer should be purple to indicate that they have extension methods ... whether or not you are in hierarchy view ... this is still a problem in 3.0.56

[2019-01-17 22:57] dalehenrich commented on #221
this is still an *issue* in 3.0.56

[2019-01-17 22:59] dalehenrich commented on #372
see issue #197, too

[2019-01-17 23:01] ericwinger commented on #374
Fixed in 3.0.57. A class selected in another browser won't populate in the list with the exception of a newly added class. Selection of the new class is only done if one has created a new class in the browser you're working in.

[2019-01-17 23:01] #374 closed, assigned to LisaAlmarode

[2019-01-17 23:01] dalehenrich commented on #108
probably fixed

[2019-01-17 23:01] #108 closed

[2019-01-17 23:07] dalehenrich commented on #311
walkback attempting to reproduce this bug in 3.0.56:
[code]

[2019-01-17 23:11] #304 closed

[2019-01-17 23:26] dalehenrich commented on #358
@LisaAlmarode suggests that `Browse Class` be changed to `Browse method` and always select the method ... it is a *method browser* after all and you get the class *for free*

[2019-01-17 23:34] dalehenrich commented on #332
There is at least one other bug that had an MNU in a service class cause an infinite loop and loss of work ... would be nice if we did some bullet proofing of the client side code to prevent inifnite loops ...

[2019-01-17 23:39] ericwinger commented on #285
The stack shows that a class hierarchy drag operation was in effect at the time of the bug. When a drag is initiated ``onDragClassHierarchy:`` is called. At the time of the bug, this method only existed in the browser's superclass which expected a different object than a ``RowanClassService``. Hence the walkback.

As far as the frozen browser, the stack shows it was stuck logging the error. It's n

[2019-01-17 23:39] #285 closed, assigned to LisaAlmarode

[2019-01-18 01:20] ericwinger commented on #311
I have a fix in 3.0.57 for the poor display when HEAD is checked out.

As far as the walkback, ``projectBranches:`` no longer sends ``returnQueryToClient`` so I suspect an older server was being used during the previous walkback. Here's the correct version.
[code]

[2019-01-18 01:20] #311 closed

[2019-01-18 17:11] ericwinger commented on #190
The scroll bar was there but it was just pushed off the right of the window. Visible in 3.0.57.

[2019-01-18 17:11] #190 closed, assigned to LisaAlmarode

[2019-01-18 17:59] ericwinger commented on #389
Should be fixed in 3.0.57.  https://github.com/GemTalk/Jadeite/commit/be234a312bcba6d8bbe7ad2338464762653d84e4

[2019-01-18 17:59] #389 closed, assigned to LisaAlmarode

[2019-01-18 19:37] dalehenrich opened #412 "(3.0.56) incorrect project browser update on method accept"
I had two tabs open and both tabs had the same test class selected ... I was in the first tab; edited code and on accept the browser switched to the second tab

If the second tab does not have the same class selected I did not see it happen ...

[2019-01-18 19:55] ericwinger commented on #293
Can I assume that this is referring to the SUnit tab in the Projects browser?  And not the stand-alone SUnit browser?

[2019-01-18 20:03] ericwinger commented on #402
This looks a lot like the bug in #374 which is fixed in 3.0.57 (https://github.com/GemTalk/Jadeite/commit/5133cd6b2b4653f28499daca081c9ba369efa4e6). Since I can't reproduce what appears to be an easily reproducible bug, it's possible that it's already fixed. Closing for retest.

[2019-01-18 20:03] #402 closed, assigned to LisaAlmarode

[2019-01-18 20:12] dalehenrich commented on #293
This is an issue with the stand-alone SUnit browser ...

[2019-01-18 21:04] dalehenrich opened #413 "(3.0.56 & 3.0.62) running out vm memory quickly"
![image](https://user-images.githubusercontent.com/623951/51411952-b6b82100-1b1e-11e9-82c0-f7480a689218.png)

I've run out of temp memory twice this morning working fixing a Rowan bug... both times were within maybe 15 minutes of starting a fresh session ...

Naturally when I try to reproduce the OOM problem, nothing I do duplicates the issue.

I've really done nothing different than in the past (

[2019-01-18 21:17] dalehenrich commented on #413
out of memory again:
![image](https://user-images.githubusercontent.com/623951/51413200-ef59f980-1b22-11e9-8e98-3302219fb228.png)

after finishing the bug report I started work and saved a method maybe 5-10 times a kabloey ... here's a log file ... note the error says the stone is shutting down, however the stone did not shut down (so there were earlier log files that looked like this one --- but

[2019-01-18 21:21] ericwinger commented on #411
The intent was to leave the results display until the next set of tests were run. However, we can change that. When should the results be cleared - method change? class change? package change? other?

[2019-01-18 21:32] dalehenrich commented on #411
the useful information in the SUnit browser is the test status on a per test basis (green checkmarks in test pane) ... note that no test status is shown, so whenever you clear the per test icons is the time to clear the status at the top ... if you are showing actual test status and not the envelope the test summary should be retained --- they both should be showing the same results

[2019-01-18 23:00] ericwinger commented on #412
Fixed in 3.0.57 https://github.com/GemTalk/Jadeite/commit/66854ac9fdff38e74505083c83c6bf8c343f754a
Both tabs had to have the same method selected.

[2019-01-18 23:00] #412 closed, assigned to LisaAlmarode

[2019-01-18 23:35] ericwinger commented on #377
Hierarchy view was broken. The only reason the class was removed in (1) was because it happened to be selected in the class list. Should be fixed in 3.0.57. https://github.com/GemTalk/Jadeite/commit/9eadcdc36338d64497885288919530ff6d3e4b55

[2019-01-20 02:48] ericwinger commented on #411
Fix in 3.0.58. Status bar reset on class & package change (which is when method statuses are updated)

[2019-01-20 02:48] #411 closed, assigned to LisaAlmarode

[2019-01-20 06:55] LisaAlmarode commented on #158
The only thing that still occurs is that the category is added in both, and I think that's OK.

[2019-01-20 06:55] #158 closed

[2019-01-21 19:38] LisaAlmarode commented on #358
Magically, in v3.0.57, the method list browser browse class also selects the method in the browser. I think this is a better menu name since browse method implies method browser.

[2019-01-21 19:38] #358 closed, assigned to LisaAlmarode

[2019-01-21 19:43] LisaAlmarode commented on #376
Magically healed in 3.0.57.  The console list loses italic font immediately on load.

[2019-01-21 19:43] #376 closed, assigned to LisaAlmarode

[2019-01-21 19:51] LisaAlmarode commented on #390
Still the same in 3.0.57.

![image](https://user-images.githubusercontent.com/13142166/51495868-a5ffe900-1d72-11e9-94ab-5ad0e02a2ce5.png)

[2019-01-21 20:00] LisaAlmarode opened #414 "Jadite doesn't exit cleanly on OOM"
If you run out of GemStone memory, you lose your session (reasonably).
However, Jadeite won't close cleanly.  The login dialog closes, but the console and PB I get the error:

JadeiteProjectsBrowserPresenter does not understand #halt

And I have to use task manager to shut down those two windows.

To try this at home, fill memory using
| temp |
temp := Array new.
1000000000 timesRepeat: [temp add:

[2019-01-21 20:52] LisaAlmarode commented on #349
It turns out that we already have built-in a GCI call tracing feature, which does part of the GBS call tracing.  See the Jadeite login Advanced tab, "Debug GCI" button.

This writes the client GCI calls to a file on the client.  It does not report the details of the calls, just the GCI call and bytes sent/received.  Alas! no timestamps.

I think it might not be very solid; I had two sessions and I

[2019-01-21 20:55] LisaAlmarode commented on #413
I'd like a bit more supporting data to confirm that log goes with the VM out of memory error; it seems unexpected that it can return the message to the client without mentioning it in the log.

Please run with gemnetdebug (login dialog, advanced tab, NetLDI Task name is gemnetdebug) so we can see some stats as memory gets close to the edge.

[2019-01-21 21:11] LisaAlmarode commented on #291
When you have a debugger on a breakpoint within a block context, the debugger believes there is a breakpoint in the wrong place.  Possibly it's taking a source offset into the code within the block and applying that to the outer method.

Note that "new" is not only highlighted as if it was a breakpoint (red box), the debugger is even willing to remove this non-breakpoint, which removes the breakpo

[2019-01-21 21:18] LisaAlmarode commented on #293
Applies to Project Browser too, but harder to reproduce.

If you have two project browsers open, and modify a method, it flips the other one with the text results to show a method (not the same one), that was reported elsewhere.  So we don't know yet if this bug applies to the project browser.

If you have tests results in an PB sunit tab and open a method browser on a method in that class, it cle

[2019-01-22 05:34] LisaAlmarode commented on #110
There is something wonky about step points, and I think that's messing up stepping over.  It seems to be a little confused about numbering in blocks vs. methods.

With the construction

[
self halt.
1 negated = 2 negated ]
	on: Error
	do: [:ignored |
		self error: 'error' ]

I don't seem to be able to ever get to a place in the debugger where I'm looking at this code and execution is before the in

[2019-01-22 17:55] dalehenrich commented on #414
What does your gem log look like when **you** run out of memory?

[2019-01-22 18:01] dalehenrich commented on #413
Do I have to do this manually every time I run? I'm willing to bet that the minute I forget to set this, I'll run out of memory ... is there an env I can set that will make you happy? If so, I can make sure that every gem on this and other stones gets opened with the proper *protection* without relying on my memory:)

[2019-01-22 18:08] LisaAlmarode opened #415 "Browse changes on a class definition change handled poorly"
When you look at the changes in a project, if you've been editing classes, you might find lines such as:

```Modication  rwSubclass:   <empty field>  ClassDefinition```

- [x] rwSubclass: is insufficient; it really should provide the name of the class.  My Changes Browser shows three classes changed and there's no way to see other than clicking on each one.

- [x]  if you use the Browse pop-up men

[2019-01-22 18:19] LisaAlmarode opened #416 "NetLDI task in login is not displayed correctly"
In the Jadeite login dialog, Advanced tab, I set my NetLDI task name to gemnetdebug.

After restarting Jadeite, the display says gemnetobject again.

However, it's still executing gemnetdebug.  If I edit it, I can restore gemnetobject.  But it's not a trustworthy item; this is sometimes needed for debugging issues such as #413.

[2019-01-22 18:25] LisaAlmarode commented on #413
No, it's sticky, at least for me on windows; see issue #416.

This isn't protection or fix - it's just additional information to narrow down the problem a bit.

My OOMs:

<various rowany stuff>
'''set -e; cd $ROWAN_PROJECTS_HOME/Rowan; git --git-dir $ROWAN_PROJECTS_HOME/Rowan/.git --work-tree $ROWAN_PROJECTS_HOME/Rowan log  -1 --pretty=format:%h '''
'ad2864d'
--------------------------------------

[2019-01-22 18:26] LisaAlmarode commented on #414
I'm not reproducing the problem today.  Possibly there was some order in which I closed the windows or something interesting that had gone on previously in the image.  Eric, if the error message isn't suggestive to you, you can close this.

[2019-01-22 20:04] regkrock commented on #414
Since I am still on 3.0.50 this may be not relevant but I am getting errors because of mark/sweep issues. Only seeing these the last two or three days.

[2019-01-22 20:12] dalehenrich commented on #413
... never mind :) ... I can save the login dialog with this in it ... sorry for the noise ... forgot to press comment ... before staff meeting :)

[2019-01-22 20:14] dalehenrich commented on #413
perhaps I was not getting the `VM temporary object...` message because the log file wasn't getting flushed .. OR ... what button do you click when you get the OOM in Jadeite?

[2019-01-22 20:30] dalehenrich commented on #413
At this point I have to start wondering where the log files went when I ran out of memory ... I didn't look at them immediately, but I also don't delete log files from the log directory and the log files did disappear ... so perhaps running out of memory while performing a service is getting caught by a different handler --- and perhaps exiting cleanly?

[2019-01-22 21:16] dalehenrich commented on #413
While running with gemnetdebug ... I got this crash but it was a HostCallDebugger ... without gemnetdebug, would this have ended in OOM?:
[code]

[2019-01-22 21:59] dalehenrich commented on #359
Just reproduced in 3.0.59 ... Did a load of multiple projects .... something I've done before without hitting this (random) error ... screenshot:
![image](https://user-images.githubusercontent.com/623951/51568132-d9637600-1e4d-11e9-9e88-5ddcfc39023c.png)
...and stack:
[code]

[2019-01-22 23:08] dalehenrich opened #417 "(3.0.56) extra method entries in project browser on accesp"
Could be related to #402, but reporting anyway, in case it matters, since it involves methods not classes:
![image](https://user-images.githubusercontent.com/623951/51571089-f00dcb00-1e55-11e9-9e31-448dd5a0b7c1.png)
I accepted a class method (_readObjectFrom:) in the method list on left and then extra methods showed up in **class-side** there should only be two methods in list:
![image](https://us

[2019-01-23 01:06] ericwinger commented on #410
The test results between a sunit browser and sunit tab should sync nicely now and not wipe the test results in the sunit browser when selecting the class in a projects browser. Fixed in 3.0.58. https://github.com/GemTalk/Jadeite/commit/15ec383aa4654bdc5f411ea545a95b2dfecd74e9

[2019-01-24 17:35] ericwinger commented on #417
The bug I'm seeing doesn't even require a compile. Needed to make sure that method & category updates were restricted to the proper meta (class/instance side). Fixed in 3.0.58.

[2019-01-24 17:35] #417 closed, assigned to LisaAlmarode

[2019-01-24 17:45] ericwinger commented on #416
@LisaAlmarode From within a logged in session, what gemstone message can be sent to see what the netldi task name is?

[2019-01-24 22:19] ericwinger commented on #416
The instance variable ``gemTask`` wasn't being saved to the external .gss file but the full netldi string (with the debug inserted) is saved. That explains the behavior and I'll have a fix in 3.0.58.

[2019-01-24 22:19] #416 closed, assigned to LisaAlmarode

[2019-01-25 00:54] ericwinger commented on #415
We were parsing the changes string incorrectly. Fixed in 3.0.58.

[2019-01-25 00:54] #415 closed, assigned to LisaAlmarode

[2019-01-25 01:02] ericwinger commented on #403
Select a method, and browse implementors which brings up a method browser with some class methods.
Double click on the method (for the selected class in the PB) in the method browser.

I believe the above part of the issue was fixed with #417.

The last paragraph (incorrect double-click selection) still needs to be fixed.

[2019-01-25 01:53] ericwinger commented on #403
Double click action fixed in 3.0.58 https://github.com/GemTalk/Jadeite/commit/fa022e6e66e8658528d735bf130c79ba9214fef5

[2019-01-25 01:53] #403 closed, assigned to LisaAlmarode

[2019-01-25 03:05] dalehenrich commented on #321
See GemStone Internal bug 47281 for additional info ... this feature should be implemented when v2.0.0 support is implemented

[2019-01-25 21:35] ericwinger commented on #396
I've added a first-cut at auto commit in 3.0.58. Default for a new login is false. Menu option is in the Console>Jadeite menu. No attempt to save the auto commit beyond the life of the session is currently made. Commits are done as the penultimate step after each service request to the server. An unexpected error in a service request 'should' not commit (but any subsequent service requests will).

[2019-01-25 22:14] dalehenrich commented on #396
@ericwinger Sounds perfect ...

[2019-01-25 22:18] ericwinger commented on #414
@LisaAlmarode  I'm curious if you start seeing the error by doing this -

- Compile your 'fill memory' code into a method like ``RowanQueryService>>implementorsOf:``
- Then browse implementors.
- If it fails oddly, send me the ``Jadeite.errors`` file

I speculate that the failure you originally saw was an out of memory within a service call which may not be handling unexpected errors well. We may

[2019-01-25 23:49] ericwinger commented on #405
It appears that you have to have a method selected in the projects browser for the issue to be exposed. Fix is in 3.0.58.

[2019-01-25 23:49] #405 closed, assigned to LisaAlmarode

[2019-01-28 19:35] LisaAlmarode opened #418 "Navigating and category creation in class hiearchy view can't keep class side/instance side straight(3.0.58)"
Open a project browser, navigate to class, change to hierarchy view. click on class to see class side, add a class method category that is the same as one you know existing on the instance side.

In a second project browser, navigate to class.  Click on hierachy view.  (The first browser reset, losing class selection, but this is a minor annoyance)

Reselect the class in the first/class methods br

[2019-01-28 21:40] LisaAlmarode commented on #414
Within a service doesn't create a problem and again cannot reproduce... closing for now.

[2019-01-28 21:40] #414 closed, assigned to LisaAlmarode

[2019-01-28 21:48] LisaAlmarode commented on #405
If you have one or more test selected and/or run (with check icons) in the SUnit tab in the project browser,
then selecting the same class in the SUnit browser loses the selection and the test result icons.
This is kind of minor... not sure it's worth reopening.

[2019-01-28 22:01] LisaAlmarode opened #419 "Sunit confused by multiple Sunit tabs in project browser"
I have an SUnit browser open. and a project browser that has two project tabs.  Both project tabs are on test classes, different test classes, and both are on their respective SUnit tabs.

The PB tab #1 sunit tab makes the SUnit browser update in sync, which is nice.

If I go to PB tab #2, with a different test class selected, and run the test - that updates the SUnit Browser test results, except

[2019-01-28 22:03] LisaAlmarode commented on #419
![image](https://user-images.githubusercontent.com/13142166/51869472-7c603800-2305-11e9-944f-4e7500d00f84.png)

[2019-01-28 22:04] LisaAlmarode commented on #410
Things mostly sync but see the screen shot in issue #419...

[2019-01-28 22:05] LisaAlmarode commented on #411
cf issue #419

[2019-01-28 22:36] LisaAlmarode commented on #402
My test case, which was previously easy to reproduce, doesn't reproduce in 3.0.58.  So I'm not sorting out which bug was with which fix but call this one good.

[2019-01-28 22:44] LisaAlmarode commented on #377
Other class menu items now work in hierarchy view, but add subclass is still a no-op or even adds a subclass to the wrong class.

In class list view, select a class and go to hierarchy view.
Select a superclass or subclass of the selected class.
add subclass displays the definition to create a subclass on the class that was selected previously in the class list view, NOT the class that is currentl

[2019-01-29 00:02] ericwinger commented on #398
I have a fix for this bug in 3.0.59. Also, all inspectors open with a dual pane inspector with inst vars on the left & code pane on the right, as requested. It would be helpful to have extra testing on special objects to make sure that any cracks in the implementation are filled.

[2019-01-29 00:02] #398 closed, assigned to LisaAlmarode

[2019-01-29 17:23] ericwinger commented on #418
Even though this is referred to as an annoyance, I fixed it in 3.0.59. It was a bit disconcerting.

[2019-01-29 17:57] ericwinger opened #420 "Customer requests "Find Method" feature"
Customer has requested a "Find Method" feature in the projects browser. A good start would be to add a menu item to the category browser that will present a list of methods with a "keystroke search" feature similar to the current Find Class dialog.

VisualWorks has a similar feature which could be used as a model.

[2019-01-29 18:22] regkrock commented on #420
The spotlight feature in Pharo is really nice. It returns classes, methods, senders, references, etc. Would that be possible?

Reg Krock

Sent from my iPhone

[2019-01-29 19:17] LisaAlmarode commented on #399
Still happens in 3.0.58.  Session loss does not seem to be related.

[2019-01-29 19:24] LisaAlmarode commented on #283
Easy to reproduce in 3.0.58, project menu item log opens a window and that stays open after logout.

[2019-01-29 22:44] LisaAlmarode commented on #396
I would like an indicator that auto commit is on that is always visible.  In GBS there's a specific icon in the icon bar for all browsers, which is highlighted when autocommit is on.  I like to check that it's on or off to avoid surprises.

Perhaps you can change the color of the camera?

[2019-01-29 22:46] ericwinger commented on #396
@LisaAlmarode  Can this be a new issue for our February release?

[2019-01-29 22:52] ericwinger commented on #418
After some investigation, I believe that this was regression introduced in a recent release. A fix for review will be in the 3.0.59 release. https://github.com/GemTalk/Jadeite/commit/488756614dc7f59f12cc0e4db3b483d87ae7abcb

[2019-01-29 22:52] #418 closed, assigned to LisaAlmarode

[2019-01-30 00:05] ericwinger commented on #283
Fixed in 3.0.59. Log browser needed to be a Jadeite shell.
https://github.com/GemTalk/Jadeite/commit/ffce2a942ceccb194f080d5c3d278a87c438fc55

[2019-01-30 00:05] #283 closed, assigned to LisaAlmarode

[2019-01-30 00:49] LisaAlmarode opened #421 "Need a way to know if you are in autocommit"
It's very important to know if you are in autocommit.  I do all sorts of weird things when trying to reproduce bugs that I don't want committed.

In VW, there's an autocommit icon in the icon bar of all browsers, that shows selected if autocommit is on.  Some such highly-visible indicator is needed.

[2019-01-30 00:50] LisaAlmarode commented on #396
opened issue #421 for the indicator

[2019-01-30 00:50] #396 closed, assigned to LisaAlmarode

[2019-01-30 00:54] LisaAlmarode opened #422 "(3.0.58) Add subclass in hierachy view adds to wrong class (or does not work)"
This is part of the issue #377 that didn't get fixed in 3.58.  Other class menu items now work in hierarchy view, but add subclass is still a no-op or even adds a subclass to the wrong class.

In class list view, select a class and go to hierarchy view.
Select a superclass or subclass of the selected class.
add subclass displays the definition to create a subclass on the class that was selected pr

[2019-01-30 00:55] LisaAlmarode commented on #377
The part of this bug that wasn't fixed is now in #422, so reclosing.

[2019-01-30 00:55] #377 closed, assigned to LisaAlmarode

[2019-01-30 18:46] LisaAlmarode commented on #396
@regkrock and @dalehenrich, you are testing the autocommit feature, right?  This should get some general broad-usage testing to detect holes in corner cases...

[2019-01-30 19:03] dalehenrich commented on #396
I am not working on Rowan right now as I have been gearing up for 3.5
work ... and @regkrock is on vacation at the moment and I don't think
has updated to the latest version of Jadeite for a while ... if I don't
finish up the 3.5 work by the end of this week, I'll switch over to
Rowan and when I do I will turn on auto-commit for sure ... it is a
highly anticipated feature:)

On 1/30/19 10:46 AM, L

[2019-01-31 00:28] ericwinger commented on #420
@regkrock The Spotlight feature would be worth investigating as a possible addition to Jadeite. Could you add a new issue and label it as an enhancement?

[2019-01-31 00:28] dalehenrich commented on #420
@regkrock if you want spotlight-like features in Jadeite, could you be more specific about where and what bits you like and how they would be included in a separate issue ... I've never really understood spotlight as I haven't spent a lot of time in Pharo in the last few years so the more details about what you like and dislike the better ...

[2019-01-31 17:41] ericwinger commented on #420
Find Method, similar to Find Class, will be in 3.0.59. Ctrl-Shift-M or a menu item will open the dialog. https://github.com/GemTalk/Jadeite/commit/013283f1436a4919a3821baff9a409e1b52c980e

[2019-01-31 21:34] LisaAlmarode commented on #372
Not going to try to get this into the february drop.  First, there's some work to be done, to decide what we really ultimately want - e.g. is opening a new project browser control N (which Eric likes) or control P (which is a bit more obvious but less user-friendly).  Second and perhaps more important, changing menus (esp accelerators) tends to create various hard-to-detect bugs depending on where

[2019-02-01 01:40] ericwinger commented on #421
Have a fix for this in Oscar 3.0.60. https://github.com/GemTalk/Jadeite/commit/e31b2905800a20471c5cf4b4cc491aa2235a326d

[2019-02-01 01:40] #421 closed, assigned to LisaAlmarode