[2020-02-26 19:08] LisaAlmarode commented on #729
I wasn't able to reproduce in pr6, so I'm going to call it good.  Had to fake things up a bit in my usual reproduction case, due to issue #731 so will retest again when that's fixed.

[2020-02-26 19:35] LisaAlmarode commented on #725
Quibble: the method list returns methods that have a symbol matching the class name, as well as methods with actual class references.  I think this is probably the most helpful result, but technically the one with the symbol will compile just fine.

[2020-02-26 19:37] LisaAlmarode commented on #723
I see them there.

[2020-02-26 22:11] ericwinger opened #733 "Show all methods failing compilation after Rowan issue 576 is finished."
When https://github.com/GemTalk/Rowan/issues/576 is fixed, enhance Jadeite to display all methods failing compilation after a class compilation at once.

[2020-02-26 22:51] ericwinger commented on #692
Fixed in Oscar 3.1.0 (dolphin port version)

[2020-02-26 22:51] #692 closed, assigned to LisaAlmarode

[2020-02-26 23:10] LisaAlmarode commented on #731
Setup classes:
[code]
with following methods:
[code]
And the subclass:
[code]
with only one method
[code]

Now go to the sunit tab for LisaSubTest  (note, the sunit browser is not broken with this bug)

test_okay works fine.
test_error shows an assert failure.
However, if you use the debug icon to figure out the assert, you get:

![image](https://user-images.githubusercontent.com/13142166/75396736

[2020-02-26 23:45] ericwinger commented on #731
recent changed exposed bug in sunit tab. Tester was running tests as their compiled class not the selected class.

Fixed in 3.0.93 pre-release7

[2020-02-27 02:50] LisaAlmarode opened #734 "Copy stack produces un-stopable error (3.0.93-7)"
Copy stack appears to be not only broken, but require at least 23 dialog closes, or hard-kill of the image, to continue working.

![image](https://user-images.githubusercontent.com/13142166/75407469-ed3aa080-58c7-11ea-8265-97840955e1b8.png)

[2020-02-27 03:01] LisaAlmarode opened #735 "In multi-monitor setupt, inconsistent locations for opening windows (3.0.93-7)"
With three monitors, there's some choice about where to open windows.  It appears sensitive to the location of the file explorer from which jadeite was launched, but inconsistent

If file explorer is on left-hand or the right-hand monitor, the following open on the center (main) monitor:
 - login window
 - the console
 - the Project Browser
regardless of where the cursor or the window from which t

[2020-02-27 19:18] LisaAlmarode opened #736 "Test status icons retained on focus change (3.0.93-8)"
If you run some tests in the SUnit browser, the test result icons used to stick around when you went to other classes and clicked back on that class, and update the Project Browser.  Now, the icons turn back into untested icons every time.

[2020-02-27 22:19] ericwinger commented on #734
Fixed in 3.0.93-8.

[2020-02-27 22:19] #734 closed, assigned to LisaAlmarode

[2020-02-27 23:07] LisaAlmarode commented on #526
Things are now working correctly in 3.0.93-7, the results are not sticky in the project browser between different subclasses.  Closing this as I am now happy.  We seem to lack specific specs on test result stickiness, any further changes needs to trigger analysis.

[2020-02-27 23:07] #526 closed, assigned to ericwinger

[2020-02-27 23:12] LisaAlmarode commented on #736
The issue appears to be in the project browser tab, not the sunit brower.  There is some disagreement about how things used to work and also how they should work; we don't seem to have any sort of specs for the ideal behavior.  Since this (I believe) changed behavior fixes issue #526, and Eric is making the project browser work consistently with the Sunit browser, closing this.  I will do more thr

[2020-02-28 00:34] dalehenrich opened #737 "sent but not implemented from JadeServer methods (in 3.5.0)"
JadeServer is definitely not the only offender when it comes to sent but not implemented in Rowan, but there **are** quite a few methods that contain dead code --- many of them appear to be Monticello/GLASS methods. Anyway, soon I will be pushing Rowan into the base and all of the sent but not implemented will have to be cleaned up or otherwise accounted for .. so I figured I'd extract the informa

[2020-02-28 18:07] ericwinger commented on #732
Fixed in Oscar 3.1.0. Needed to add a new path if symbols aren't cached.

[2020-02-28 23:08] ericwinger commented on #543
It's not reproducing for me (with autocommit on and debugger open + other open windows based on image in report) so I can only speculate. Perhaps @LisaAlmarode  will have better luck.

1. If the source changes but not the method list.

Based on this comment it is possible, although not probable, that the dolphin gui window didn't redraw correctly. If it happens again, one can easily test this by w

[2020-02-28 23:31] ericwinger commented on #453
Dolphin 7.1.9 supports unicode characters better. Here is what happens now in Jadeite.

Change (Added bullet point to method):
![image](https://user-images.githubusercontent.com/36212516/75594828-0580fb80-5a3f-11ea-85f3-ac7946876ac3.png)

Changes browser now shows:
![image](https://user-images.githubusercontent.com/36212516/75594855-1c275280-5a3f-11ea-9ee0-a59a9c0ffdda.png)

Going to assign to @Li

[2020-03-02 06:10] LisaAlmarode commented on #736
In 3.0.93 pre-release 8, this bug is fixed, which means, the bad behavior for inherited tests in the project browser was re-introduced and issue #526 is re-introduced.

Here is an example of the problem:

Setup three classes, LisaTest, LisaSubTestOne, and LisaSubTestTwo.
[code]
Now, go to the Sunit browser and go to LisaSubTestOne and run all. You see the test pass.
Click on LisaSubTestTwo and you

[2020-03-02 06:17] LisaAlmarode commented on #731
I seem to remember that this was indeed fixed in pr7; but it looks very much like this was re-introduced in pr8.

[2020-03-02 06:20] LisaAlmarode commented on #734
stacks copy fine in pr8

[2020-03-02 06:30] LisaAlmarode commented on #728
I'm okay with including this as a placeholder, with the unreleased label and the specific build undefined; with Eric not expected to keep this updated on any particular schedule. If there is bad behavior the user should copy in the 3.6 library that matches their server.

I don't have a rowanized 3.6 and I got a gci login error when trying to login with the 3.6 unreleased to my regular 3.6 stone. S

[2020-03-02 06:30] #728 closed, assigned to LisaAlmarode

[2020-03-02 06:31] LisaAlmarode commented on #635
Haven't seen this, I don't think, so (tentatively) agree it's fixed.

[2020-03-02 17:53] ericwinger commented on #731
Regression was related to the work for #736, commit https://github.com/GemTalk/Jadeite/commit/bfed80ecbd766788339a8c8b3cdcfb61f74dcc61.

Test didn't catch the problem because of a setup error in the test.  `JadeiteProjectBrowserLowerTabsTestCase>>test_sunitRunTestAsSelectedSubclass`

[2020-03-02 17:53] #731 closed, assigned to LisaAlmarode

[2020-03-02 17:57] ericwinger commented on #736
@LisaAlmarode If this bug is fixed, let's close it and open a new issue clearly identifying the regression in #526. It's still unclear to me what you really want.

[2020-03-02 18:00] LisaAlmarode commented on #736
The sunit browser and project browser are not consistent, and I don't want to re-enter my nice example, so please run the example and make things consistent.  I prefer the Sunit behavior.

[2020-03-02 22:52] ericwinger commented on #736
There seems to be many issues in this bug report, none of which are spelled out clearly. And there were errors in the use case https://github.com/GemTalk/Jadeite/issues/736#issuecomment-593237340 - inst method `zork` was false in both classes.

Fixed what I think is the problem in prerelease9. Now switching classes in both the sunit browser & sunit tab does not retain the last test run state.

[2020-03-02 22:52] #736 closed, assigned to LisaAlmarode

[2020-03-03 20:06] LisaAlmarode commented on #731
Looks good in pr9

[2020-03-03 20:08] LisaAlmarode commented on #736
I am seeing the status not sticking after changing to a sibling with inherited tests, so I am happy.  Behavior in Sunit browser and project browser close enough for me.

I am also seeing another change in the PB, that switching classes if you are on the sunit tab doesn't switch you to the class definition view, which is a very nice new feature.

[2020-03-04 18:45] ericwinger commented on #462
Now throw a dialog if the auto commit fails. Dialog will allow the user to abort or not. If they choose not to abort, an inspector on the transaction conflicts dictionary is opened. Fix in 3.1.0

[2020-03-04 18:45] #462 closed, assigned to LisaAlmarode

[2020-03-04 19:06] ericwinger commented on #555
Looking at this again after porting to Dolphin 7.1.9, part of the problem appears to be the unnecessary icons in the Instance/Class & Classes/Hierarchy tabs. They add visual clutter.

@LisaAlmarode What would you think if I just removed the tab icons like in the picture below?

Without tab icons ...
![image](https://user-images.githubusercontent.com/36212516/75913241-6de92780-5e07-11ea-98d8-bfbb9e

[2020-03-04 19:11] dalehenrich opened #738 "(Oscar-3.0.93) "Index 47 out of bounds" selecting an existing method in the method browser"
[code]

[2020-03-04 19:14] ericwinger commented on #738
Do you remember how you opened this particular method list browser, @dalehenrich ?

[2020-03-04 19:19] dalehenrich commented on #738
I think it was with either senders or implementers ... most likely senders...

[2020-03-04 22:09] ericwinger commented on #738
@dalehenrich The code is trying to set the selection range in the method source pane of the first occurrence of the sender/implementer. It thinks the position of the start of the string is at 47, but (from observation of your window), finds an empty method source pane. The source pane should never be empty therefore it's possible there was an earlier error.

Do you still have the full `jadeite.err

[2020-03-04 22:30] ericwinger commented on #738
@dalehenrich  hold off for a second.  I think I just found a reproduction case.

[2020-03-05 00:13] ericwinger commented on #738
The reproduction case was not reliable but I was able to get one live Dolphin debugger on the problem.

When a method is selected in the method list browser, a number of events are triggered. One event calls the server to update the method. Depending on the order of these events it is possible, although not probable, that the source pane will not be finished updating before Jadeite tries to highli

[2020-03-05 00:13] #738 closed, assigned to LisaAlmarode

[2020-03-05 00:54] dalehenrich opened #739 "(3.0.93) Shouldn't the `breakpoints enabled` menu be available on the breakpoint browser?"
I don't think I should have to hunt down the `breakpoints enabled` menu, when I am already looking at  the breakpoints browser

[2020-03-06 22:40] dalehenrich opened #740 "nice to have `Browse selected method` menu item in debugger, too"
Often I just want a method browser for the method in the debugger and opening a big old project browser to view a single method is overkill and a waste of screen real estate...

[2020-03-07 00:55] dalehenrich opened #741 "(3.0.93) would be nice if debugger remembered it's size"
It **is** very nice to have the debugger show up in  a stable position, however, I often resize the debugger window and it would be nice if it remembered the size as well ....

[2020-03-08 18:55] dalehenrich opened #742 "(3.0.93) Incomple revert in changes browser"
Over the last week or so, I've started noticing that when you revert a method (everytime?) you end up with an extra lf at the end of the method (sometimes?), so the reverted method stays modified when you look at changes again. Here's an example method:
![image](https://user-images.githubusercontent.com/623951/76169181-f252e780-6132-11ea-8408-4e984d5f1362.png)
Note that the comparison doesn't show

[2020-03-10 18:32] dalehenrich opened #743 "(3.0.93) nice to have selected test remain visible aftr pressing the `debug selected` button"
similar to issue #467 only I'm clicking on the 'debug' button instead of the 'run' button ...

[2020-03-10 18:42] dalehenrich commented on #743
Note that if the debugger comes up when click on `debug`, the selected test remains visible ... so it seems that only when the test passes, does the test list get refreshed and the selected test scrolls out of sight ...

[2020-03-10 22:09] ericwinger commented on #739
Fixed in 3.1.0

[2020-03-10 22:09] #739 closed, assigned to LisaAlmarode

[2020-03-10 22:11] ericwinger commented on #545
Have a first cut at a fully-featured breakpoint browser ready to start testing in 3.1.0

[2020-03-10 22:11] #545 closed, assigned to LisaAlmarode

[2020-03-10 22:12] ericwinger commented on #648
Should be ready to test with the work from #545 .

[2020-03-10 22:12] #648 closed, assigned to LisaAlmarode

[2020-03-10 23:19] ericwinger commented on #608
Fix seems to be working in 3.1.0.

[2020-03-10 23:42] ericwinger commented on #514
Fixed in 3.1.0.  If possible, highlight the method selected in the project browser when opening the breakpoint list.

[2020-03-10 23:44] ericwinger commented on #544
The new breakpoint browser should handle breakpoints automatically. Plus, it has a refresh button just in case. Fixed in 3.1.0.

[2020-03-10 23:44] #544 closed, assigned to LisaAlmarode

[2020-03-10 23:57] ericwinger commented on #371
This should be better in 3.1.0. However, there appears to be a bug in the 3.2.15 server when getting the step points of selectors.  It manifests in that you can't see the implementors/selectors of a breakpoint method. To reproduce:

1. Select a method and add some breakpoints
2. Run this code for the method to which you added breakpoints.
`(((<MyClass> methodDictForEnv: 0) at: #<mySelector>)  _sou

[2020-03-11 00:56] ericwinger commented on #224
@LisaAlmarode  this is probably worth rechecking given it's age.

[2020-03-11 20:06] dalehenrich opened #744 "(3.0.93) getting an explicit compilation warning dialog during method compilation"
I don't remember getting a Warning dialog during method compilation in the project browser in the past, but now it does pop up:
![image](https://user-images.githubusercontent.com/623951/76458927-8c679980-6398-11ea-9bb4-cc22567cc8d0.png)
I thought that the warning info in the bottom pane was sufficient for warnings ...

I'm using Jadeite in 3.6.0 in case that matters...

[2020-03-12 00:52] dalehenrich opened #745 "(3.0.93) would be nice to be able to inspect the keys of a dictionary"
I've got identity key value dictionaries, so the keys are of interest and there doesn't seem to be a way to inspect the keys:
![image](https://user-images.githubusercontent.com/623951/76476968-14fa3000-63c1-11ea-9a26-e4988f387086.png)

[2020-03-12 16:46] dalehenrich opened #746 "(3.0.93 ... 3.1.0) Occasional freezes after "invalid session" error"
If I've left my Jadeite session open overnight and I've suspended my laptop, I often get an 'invalid session" error, because the windows vm has timed out on the firewall connection (just guessing). Most of the time, when I get the "invalid session" error the whole session and all of the windows shut down ...
Occasionally, when I get a dialog about "saving a file" (I think), most of the windows are

[2020-03-12 16:49] dalehenrich commented on #746
Another possibility is that the window with unsaved changes is the console window itself ... I don't often use the workspace in the console, but every once in a while i do ... in this case I can see that two workspace windows and a console are remaining and all or none of them could have been dirty...

[2020-03-12 16:52] dalehenrich opened #747 "(3.0.93) would be nice if the "unsaved changes" dialog would include the window title in the message"
Related to #746, when I get an "unsaved changes" dialog I often have several windows that could be dirty open and my choice of whether or not I want the changes saved depends upon which window is dirty ...

The case when this happens is when I am exiting a session and all of the windows are being closed ... when I am closing a single window, I do know which window is being referred to ...

[2020-03-12 16:55] ericwinger opened #748 "Debugger should ignore breakpoints"
Once a server error is encountered, and a debugger has begun to open, Jadeite should ignore breakpoints until the debugger is fully built.

Currently, if a breakpoint is encountered while opening a debugger, an endless series of partially-built debuggers will open, culminating in a stackDepth error. While we can't prevent the user from creating errors in the debugger service code, we can avoid thi

[2020-03-12 21:10] ericwinger commented on #748
Disable breakpoints before building a debugger and re-enable (if formerly enabled) immediately after debugger is built.

[2020-03-12 21:10] #748 closed, assigned to LisaAlmarode

[2020-03-12 22:36] ericwinger commented on #656
I believe the fix for #748 should handle the case where Jadeite gets in trouble when it encounters a breakpoint while building a debugger. This will be available in 3.1.0.

In my limited testing, I was able to debug, fix, and continue two broken tests using the `debug` button in the SUnit tab and SUnit browser.

@dalehenrich There are many places where setting a breakpoint in the current Jadeite r

[2020-03-12 22:47] ericwinger commented on #222
@LisaAlmarode Worth rechecking in 3.1.0.

[2020-03-12 23:02] ericwinger commented on #744
This is coming from Rowan. My suspicion is that 3.6.0 is giving a warning where none was given in 3.2.15. We should be able suppress that in Jadeite code but I'll need to hook up to a 3.6.0 server to identify where. Currently, the scripts I use to install Rowan into a 3.6.0 server don't work.

[2020-03-13 00:36] ericwinger commented on #747
Should be ready for review in 3.1.0.

[2020-03-13 00:36] #747 closed, assigned to LisaAlmarode

[2020-03-13 01:26] dalehenrich commented on #744
I thought you would have already been handling the CompileWarnings to build your list of unused method temps and these are slipping through? I am seeing the list of unused temps popluated in the bottom pane ... were you using a different mechanism than handling CompileWarnings?

[2020-03-13 01:30] dalehenrich commented on #744
Regarding 3.6.0, right now I'm focussing on getting V2 to load into 3.5.0 and 3.6.0 so I've got a special branch where this is done ... if you want to work with 3.6.0 (not a bad idea if you are starting work on the V2 jadeite) let me know on slack and we can figure out a path that you should take ... alternately I could come into the office tomorrow and we can talk face to face ..

[2020-03-13 16:17] dalehenrich commented on #746
DATAPOINT: I just had another "invalid session" event with an "unssved changes" dialog and I didn't save changes and the process terminated cleanly ...

[2020-03-13 16:26] ericwinger commented on #737
@dalehenrich Since we'll be supporting older server versions for awhile, it might be worth running your query against 3.2.15. For example, I see `GsProcess _stepThrough` is implemented in 3.2.15.
[code]
[code]
Alternatively, you can post the code used to generate [this list](https://github.com/GemTalk/Jadeite/issues/737#issue-572446190) in this issue and I can run it against 3.2.15.

[2020-03-13 16:51] dalehenrich commented on #744
DATAPOINT: just compiled a method in 3.6.0/3.0.93 and **did not** get a dialog when there were unsued temp vars:
![image](https://user-images.githubusercontent.com/623951/76642314-31f14900-6510-11ea-9c04-695db2f5d5b3.png)

[2020-03-13 17:22] dalehenrich commented on #737
The [sent but not implemented test](https://github.com/GemTalk/Rowan/blob/candidateV2.0/rowan/src/Rowan-Tests/RwSentButNotImplementedTest.class.st) is part of the 3.2.15 test suite starting in candidateV2.0 ... so when you start developing Jadeite for V2, the test will be present ...

I don't think it is necessary to run the test against 3.2.15 for RowanV1.2 ...

The main motivation for cleaning u

[2020-03-13 18:15] ericwinger commented on #742
Changes browser is on the "to rewrite some day" list. In the meantime, work around clumsy old Jade code that delimits strings with an lf during server replication. In this case, it was leaving an lf at the end old and new method sources, preventing a proper revert.  Fixed in 3.1.0.

[2020-03-13 18:15] #742 closed, assigned to LisaAlmarode

[2020-03-13 18:16] ericwinger commented on #685
I believe this was related to #742 and should be fixed in 3.1.0.

[2020-03-13 18:16] #685 closed, assigned to LisaAlmarode

[2020-03-13 18:18] dalehenrich commented on #744
DATAPOINT: This time I was creating a new method from an old method (changed the selector:
![image](https://user-images.githubusercontent.com/623951/76648395-dcbb3480-651b-11ea-99a8-254e96b3e3d2.png)

and here's the stack ... and I see that RowanClassService>>initializeMethodHistoryFor: is on the stack ... so that call probably needs a Warning handler that ignores the Warning ...:
[code]

[2020-03-13 18:19] ericwinger commented on #737
Ok, I'll leave this for now. Assigning to @LisaAlmarode for guidance on what project to put it in so it doesn't get left behind when we start working on Rowan V2.0.

[2020-03-13 18:54] ericwinger commented on #744
We can certainly wrap a handler around the initializing of method history or, more specificially, the `_parseMethod:category:using:environmentId:`.

Curiously, it appears that in 3.2.15 the `CompileWarning` is being handled in the parse method. Has this method changed or are we throwing the `CompileWarning` asynchronously in 3.6?

Here's the code I see.

[code]

[2020-03-13 20:13] dalehenrich commented on #744
That's the same code that's in 3.6.0 ... the methods haven't changed

[2020-03-13 20:21] ericwinger commented on #744
I wonder why that exception block isn't handling the `CompileWarning` then.
fyi - I did check in a CompileWarning handler in the service method that is asking for the parsed selector. It will be in 3.1.0.

[2020-03-13 20:35] dalehenrich commented on #744
I think that we are getting more than one CompileError ... the first one is handled, but the second one leads to an `ex pass` ... so the mystery is why isn't 3.6.0 satisfied with now defined temps (maybe there is a subtle difference in that method between 3.2.15 and 3.6.0 ...

OTOH, somehow you are able to get the list of undefined temps in the method in the first place (I don't know how you get t

[2020-03-16 18:10] ericwinger commented on #686
Fixed in 3.1.0 per changes in commit.

[2020-03-16 18:10] #686 closed, assigned to LisaAlmarode

[2020-03-17 17:30] ericwinger commented on #584
Added a changed indicator in the system tab if the method has unsaved changes. Also added a `Revert` method menu option to undo changes without having to change methods.  `Revert` will ask for confirmation before reverting.

![image](https://user-images.githubusercontent.com/36212516/76884043-4e57f300-683a-11ea-95c6-b98e8dc03c5c.png)

[2020-03-17 23:02] ericwinger commented on #745
Fixed in 3.1.0.

[2020-03-17 23:02] #745 closed, assigned to LisaAlmarode

[2020-03-18 21:42] ericwinger commented on #637
This should have been fixed in https://github.com/GemTalk/Jadeite/commit/c901396fe3461bd22a7d72d6be9b2285757487de. Please reopen if ad-hoc executions don't seem to hold onto their results long enough.

[2020-03-18 21:42] #637 closed, assigned to LisaAlmarode

[2020-03-18 22:41] ericwinger commented on #323
@dalehenrich I tried the code [here ](https://github.com/GemTalk/Jadeite/issues/323#issuecomment-442545934) but it didn't seem to tell me what I hoped. I hoped it would tell me if my local repository had a commit that was not pushed to the github repository.  Instead, it shows me if I have uncommitted changes written to the local repository.

While knowing if the local disk is dirty is helpful and

[2020-03-18 23:16] dalehenrich commented on #323
It looks like this just might do the trick (returns empty status if the commits have been pushed):
[code]
Of course, this is all relative to the remote ... and a repository can have multiple remotes, so not sure if it is **feasible** to do what you want ...

[2020-03-18 23:44] ericwinger commented on #323
That's a good point. Have to think a bit on that. Might be able to show something, even if it's limited.
In the meantime, added support for showing if the project is dirty on local disk.

[2020-03-19 00:11] dalehenrich commented on #323
In v2, I have a field for the remote ... IMHO, knowing whether or not  a project is dirty on disk is right up there with project skew .... you don't want to overwrite changes on disk unless you are keeping track ... ... if you're not sure whether or not you have pushed, you can always do a push *just in case* and it's pretty harmless ... personally I puah right after a commit, if I'm going to push

[2020-03-19 18:04] ericwinger commented on #323
Now show local disk dirty status with an asterisk. Removed notion of default project and re-purposed project asterisk. Fixed in 3.1.0.

As discussed in thread, no longer seeking status of "have I pushed this commit to git".

[2020-03-19 19:52] ericwinger opened #749 "Need "fully featured" set of git commands in jadeite"
It would be nice to expose common git commands in the Jadeite project list menu - deleting a local commit, remote commit, etc.

[2020-03-19 19:53] ericwinger commented on #749
https://gemtalksystems.slack.com/archives/DTQTTMC07/p1584642876014200

[2020-03-19 19:55] ericwinger commented on #749
<sub>[View in Slack](https://gemtalksystems.slack.com/archives/DTQTTMC07/p1584642876014200)</sub>

[2020-03-19 20:44] ericwinger commented on #255
Retiring due to age and lack of the ability to reproduce.

[2020-03-19 20:44] #255 closed, assigned to ericwinger

[2020-03-19 21:34] ericwinger commented on #287
In spite of the snarky comments, this was fixed in 3.1.0 by certain a client application GUI developer. :)

[2020-03-19 21:34] #287 closed, assigned to LisaAlmarode

[2020-03-19 22:41] ericwinger commented on #314
Fixed in 3.1.0.
- receiver first
- sorted  receiver inst vars next
- sorted args & temps last

[2020-03-19 23:05] ericwinger commented on #393
This is worth reviewing in 3.1.0.  I suspect an toolbar button display problem in Dolphin that I don't see in the latest Dolphin code.

[2020-03-19 23:09] ericwinger commented on #408
I think this just forgot to be closed based on September 9th, 2019 activity. Closing.

[2020-03-19 23:09] #408 closed, assigned to LisaAlmarode

[2020-03-20 01:03] dalehenrich opened #750 "(3.0.93) it seems that a full window method pane is not updated when changed in a separate method browser"
I've just a series of episodes where I was editting a method in a separate method browser and/or debugger and the source in the full window method pane was not updated to match:
![image](https://user-images.githubusercontent.com/623951/77128027-e1945280-6a0b-11ea-9149-36962d6d914f.png)

[2020-03-20 15:41] ericwinger commented on #750
I'm not seeing this in the latest development work, 3.1.0. Here are two screen shots. In each case, I just changed one source pane and all three updated.

It's possible this was fixed inadvertently in 3.1.0. It's also possible that a certain type of method list browser might be the source of the problem.

Closing for now and asking Lisa to review when 3.1.0 comes out shortly.

![image](https://use

[2020-03-20 15:41] #750 closed, assigned to nobody

[2020-03-20 18:17] dalehenrich opened #751 "(3.0.93) compile errors not visilble when in full window method source view"
I got an error compiling a method in full window and while the offending symbol is highlighted, I have to guess what the error is:
![image](https://user-images.githubusercontent.com/623951/77193664-dab52080-6a9b-11ea-88b0-3a06505936b7.png)
... I **can** switch to normal method view to see the error, but I think that the error message pane should be visible ... especially if there are warnings, sin

[2020-03-20 18:40] dalehenrich opened #752 "(3.0.93) nice if I could compare two arbitrary methods"
Every once in a while, I find it very useful to be able to compare two arbitrary methods ... most often this happens with test methods, as I often derive one test method from another as I try to characterize bugs ... but there are other times as well, usually involving methods that appear to be copied and modified and a diff can confirm or deny the supposition

[2020-03-20 22:49] ericwinger commented on #752
I think the version you're using will allow you select two methods in the project browser, then go to the `Comparison` tab. If that's not what you want, let me know.

[2020-03-20 23:16] dalehenrich commented on #752
The comparison tab only allows you to compare methods within the same class, instance/class side.

We used to be able to select super classes and view their methods, which would allow me to compare methods between (related) class hierarchies, but we don't have that feature anymore.

Soooo, I think the current comparison tab is too restrictive in functionality,...

As I think about it I think I wou

[2020-03-22 00:55] dalehenrich commented on #752
Just noticed that the method browser has a comparison tab ... if I could drag arbitrary methods to a method browser (and open an empty method browser) ... I think we'd have all that I'm looking for ... being able to drag arbitrary methods to a method browser would be a useful enhancement in it's own right (as it happens I was wondering if I could drag a method to a method browser and it occurred t

[2020-03-24 20:25] dalehenrich opened #753 "(3.0.93) when removing a class that has no references, no need for empty method browser and notification"
It's a bit jarring to have both the method browser and notification pop up when there **are** references, but it shouldn't be necessary when there are no references ...

[2020-03-24 22:30] ericwinger commented on #752
This was more tricky to implement than it might appear but should have a reasonable first-cut at this in 3.1.0.

You can now drag/drop methods from a method list in another browser into either pane of the comparison browser and the comparison is done immediately. Selecting two methods in a browser moves you to the Comparison tab automatically & compares them. Single method selection moves you to t

[2020-03-25 00:12] dalehenrich opened #754 "(3.0.93) empty (invisible) debugger window?"
Before:
![image](https://user-images.githubusercontent.com/623951/77488196-c0f44000-6df1-11ea-9214-a7f87e078400.png)
After clicking on `Debug`:
![image](https://user-images.githubusercontent.com/623951/77488240-dec1a500-6df1-11ea-8139-35e984ec9695.png)
So there is no debugger window that is visible, and the window picker(?) shows a blank view of the debugger (lower right). I can close the debugger

[2020-03-25 00:19] dalehenrich commented on #754
I quit the Jadeite session and restarted and the debugger is still `invisible` ... a `self halt` in a workspace goes immediately to the invisible debugger ... I enclosed a picture of the STB file before I delete it and see if that helps:
![image](https://user-images.githubusercontent.com/623951/77488728-43313400-6df3-11ea-8581-29feb8e2b56b.png)
If clearing the STB file, does not repair things, I w

[2020-03-25 00:21] dalehenrich commented on #754
**WHEW**, restarting the Jadeite process has cleared things up ... at least the `self halt` brings up a debugger

[2020-03-25 00:23] dalehenrich commented on #754
... and I can debug the original issue ... so it is clearly something funky happening with the saved debugger location ... maybe we need a 'clear debugger default` menu item?

[2020-03-25 14:49] ericwinger commented on #754
If this happens again, and you are using multiple monitors, you might try
using <Shift-Windows Key-Left Arrow>. Right Arrow works, too.

This moves the current window one monitor to the left. Repeatedly pressing
this combination will cycle the window through each of your monitors. (You may
also use <Windows Key-Left Arrow> which pushes the window to the edge
of the current monitor first before tra

[2020-03-25 16:21] dalehenrich commented on #754
The invisible window occurred on my laptop inside a vm that was sized to fullscreen of the laptop ... so this event did not involve multiple monitors.

It is curious that the window showed up blank in the window picker(?) ... it implies (to me) that the window was not being displayed properly... I don't know if this would happen if the windows was being drawn outside the visible bounds of the disp

[2020-03-25 20:08] ericwinger commented on #751
Fixed in 3.1.0 pre-release2.

[2020-03-25 20:08] #751 closed, assigned to LisaAlmarode

[2020-03-25 22:20] ericwinger commented on #583
Enablements are all fixed in 3.1.0 pre-release2.
Undo/redo sequence was fixed in a prior checkin.
There is an `Edit` menu on the method list browser, but it's not consistent with the source pane pop-up menu. If we want these to match like the projects browser, please open a separate bug with guidance on how to distribute the existing `Edit` menu items.

[2020-03-25 22:20] #583 closed, assigned to LisaAlmarode

[2020-03-25 22:58] ericwinger commented on #572
A `DeafObject` is a Dolphin object that

quoted from the `DeafObject` class comment.

I've seen these show up when a view has been closed and is cleaning itself up.

Without much more information or a reproduction case, this is likely to remain a mystery.
Retiring. Can reopen if it appears again preferably with more information about how to recreate it. It would also be worth looking further if on

[2020-03-25 22:58] #572 closed, assigned to ericwinger

[2020-03-25 23:55] ericwinger commented on #565
I've added a menu option `Browse Selected Tests` in the sunit tab. It'll open a method browser on the tests selected similar to how `Browse Selected Methods` does.

[2020-03-26 18:48] ericwinger commented on #511
I think this is fine, Lisa. Closing.

[2020-03-26 18:48] #511 closed, assigned to LisaAlmarode, ericwinger

[2020-03-26 22:26] ericwinger commented on #425
Should have a first-cut at this in 3.1.0pre-release2.

[2020-03-27 01:18] martinmcclure opened #755 "SUnit browser runs test in abstract test class if more than one test class selected"
Found in 3.0.93.

Select more than one test class within the same test package. Select a test to run that is defined in an abstract test class. Run the test. The test is run in the abstract class, so if, for instance, your #setUp relies on a method that is #subclassResponsibility in the abstract class, the test will fail.

[2020-03-27 16:37] ericwinger commented on #755
Currently, if a single class is selected, the SUnit browser runs tests in the scope of the selected class. If more than one class is selected, it runs the test within the scope of the class where the test method is defined.

This example illustrates the challenges faced by the SUnit browser when running hierarchical tests:
- Define classes (A1 & A2 are subclasses of A):
A  (all test methods define

[2020-03-27 16:48] martinmcclure commented on #755
If more than one class is selected, and a test method is legitimate in more than one class, the method should be both displayed and run multiple times, once in each selected class. Otherwise it's very time-consuming to run all tests when one has a lot of test classes.

In the case I ran into (and I think this will generally be more common) the common superclass where the test methods are defined i

[2020-03-27 16:58] martinmcclure opened #756 "SUnit Browser does not handle duplicated test method selectors well"
Found this while testing issue 755.
If you select two test classes in the same package, and the classes each contain a test method with the same selector, the selector is listed in the methods pane twice. This seems desirable and correct. "Run all" runs both tests, which also seems desirable and correct.

However, if one of the tests passes and the other fails, both tests get marked with the same

[2020-03-27 18:57] ericwinger commented on #329
Fixed in 3.1.0.

[2020-03-27 18:57] #329 closed, assigned to ericwinger

[2020-03-27 19:25] dalehenrich commented on #704
That's not what I'm looking for ...

I would like to copy the selected frame in a form that I can paste into a note or a message ... to use copy stack, I would have to copy the stack, then open a an editor, then search for the frame ---- and that would entail having to hand type the very information that I am trying to avoid typing (and mistyping)

This could be viewed as a general feature that on

[2020-03-27 19:48] ericwinger commented on #704
Fixed in 3.1.0 pre-release2

[2020-03-27 19:48] #704 closed, assigned to LisaAlmarode

[2020-03-27 20:53] ericwinger commented on #735
There were three places in old Jade code that were forcibly putting the login shell, console, and project browsers to a hard-coded position. It's pretty poor style to have constants buried in the code anyway so they were removed.

Fixed in 3.1.0pre-release2. We may still need to implement a "lastPosition" type of solution for all Jadeite windows depending on the needs of the issue writer.

[2020-03-27 22:28] ericwinger commented on #628
@LisaAlmarode  Do you still have this stone lying around?  Or do you have the script to recreate all the test classes & methods?

[2020-03-27 22:44] ericwinger commented on #664
Fixed in 3.1.0. Used Ctrl-F10, F11 and friends for debugger navigation.

[2020-03-30 17:21] ericwinger commented on #746
If you are able, try saving changes next time. If it hangs, it will give me a better chance at finding a reproduction case.

[2020-03-30 18:08] ericwinger commented on #740
Fixed in oscar 3.1.0pre-release3

[2020-03-30 23:07] ericwinger commented on #669
Should have a fix for this in 3.1.0. Should improve the autocomplete seletions as well.

[2020-03-30 23:07] #669 closed, assigned to LisaAlmarode

[2020-03-31 23:09] LisaAlmarode commented on #699
I don't know what a "card" icon is... the picture shows no tab navigation buttons which are currently there so one speculates that is what's meant.

[2020-03-31 23:10] LisaAlmarode commented on #701
whichever browser was broken I will trust that eric fixed it.

[2020-04-01 00:12] ericwinger commented on #755
Have a fix for this in 3.1.0 - the tests pane was converted to show the test selector as well as the test it will executed in.

[2020-04-01 00:12] #755 closed, assigned to LisaAlmarode

[2020-04-01 00:13] ericwinger commented on #756
Fixed along with #755 should show test results properly for each inherited test in the test run. Oscar 3.1.0pre-release3.

[2020-04-01 00:13] #756 closed, assigned to LisaAlmarode

[2020-04-01 00:56] LisaAlmarode commented on #721
the debug-it should be on the menu too.

[2020-04-01 16:31] ericwinger commented on #721
debug-it is in the `Jadeite` menu now as well. Fixed in 3.1.0pre-release3

[2020-04-01 16:31] #721 closed, assigned to LisaAlmarode

[2020-04-01 17:10] ericwinger commented on #680
Did some work on window positioning in #735. Might be worth checking this again.

[2020-04-01 17:45] LisaAlmarode commented on #664
-- if you select multiple projects in the console, the checkout git branch is disabled, but the checkout git tag is enabled.  The checkout git tag gives an error, so that menu item should be disabled too.

-- if you checkout git tag on one of the Rowan projects, like STON, then it really checks out tag on all **but you can't tell**... you have to explicitly refresh.  I think after a git checkout o

[2020-04-01 17:59] ericwinger commented on #652
Debugger & project browser fixed in 3.1.0pre-release3.

[2020-04-01 17:59] #652 closed, assigned to LisaAlmarode

[2020-04-01 18:09] LisaAlmarode commented on #323
I've been seeing the asterisks next to the Rowan project immediately after pull and load.  This is bothering me since I am, and should be able to confirm, that I don't have a change from the origin.

On executing the git status command, I think I can see why:

Rowan gitTools
	gitstatusIn: ((Rowan image loadedProjectNamed: 'Rowan') asDefinition repositoryRootPath) with: '' 'HEAD detached at Oscar-3

[2020-04-01 18:21] dalehenrich commented on #323
@LisaAlmarode, I disagree that untracked files should be ignored ... In tODE, I will make changes to disk files (like adding a new class to a package) and then go back into Rowan and do additional work that I save to disk  and knowing that there are untracked files on disk is a caution, that when I save my packages, I could destroy my manually created files ... also when you do a commit from Jadei

[2020-04-01 18:25] dalehenrich commented on #323
It is interesting to note that `gitk` doesn't notice that there are untracked files on disk, but then `gitk` does not do `git commit` or `git add`, either...

[2020-04-01 18:27] ericwinger commented on #323
The asterisk comes from Rowan and means that the it thinks the disk is dirty. (The indicator `*` was a re-purposing of the unused default project notion which was retired.)

So if you see an asterisk, it comes from this code:

[code]
@dalehenrich may have some ideas on why `pull` and `load` show as dirty for you.
`<guess>`Perhaps because you're checking out on a tag?`</guess>`

[2020-04-01 18:53] LisaAlmarode commented on #425
<accidently put this on unrelated bug>

-- if you select multiple projects in the console, the checkout git branch is disabled, but the checkout git tag is enabled. The checkout git tag gives an error, so that menu item should be disabled too.

-- if you checkout git tag on one of the Rowan projects, like STON, then it really checks out tag on all but you can't tell... you have to explicitly refre

[2020-04-01 18:59] LisaAlmarode commented on #664
Reopened by mistake.

The key shortcuts are on the menu and appear to work but - I usually don't remember or use keyboard shortcuts, and these are much more baffling and non-intuitive than the others, so checking all the details will have to set with someone who would find these useable.

[2020-04-01 18:59] #664 closed, assigned to LisaAlmarode

[2020-04-01 19:06] LisaAlmarode commented on #323
Like I said, I know why the asterisk is there, and don't really object to the untracked files causing an asterisk.

If it's there, though, I need a way to find out that it's untracked files (not a problem for the end user for the case of Rowan), and not an actual difference from the origin (a serious problem for the case of Rowan).

The project list in general for the average end-user will include

[2020-04-01 19:11] dalehenrich commented on #425
This might be something that Rowan will have to get involved in ... STON is an `embedded project` which means it shares a git repository with more than one Rowan project ... so git operations on individual projects could/should return a list of the affected projects ... with V2, loading Rowan automagically loads STON, Tonel, FileSystem and Cypress ... so those projects need to be refreshed

[2020-04-01 19:21] dalehenrich commented on #425
When you check out a tag, you are **not** on a branch ... you are on a commit and you will not be allowed to commit, pull, or any other operation that operates on branches. A single commit can be part of multiple branches so it is not really possible to automatically associate a tag with a branch. You can't be "on oscar" and "on a tag" at the same time, unless the tag is pointing at the commit tha

[2020-04-01 20:26] LisaAlmarode opened #757 "Remove instance variables with accessors requires saving definition for each individual accessor method"
This is the second part of issue #692.

If you have a class with two instance variables, each with accessor methods,
and you want to remove the two instance variables;
when you save the updated class definition:
  you get a dialog with a single method,
  remove the method,
  close the method list browser,
save the class definition again,
 get a dialog with a single method,
  remove the method,
  c

[2020-04-01 20:27] LisaAlmarode commented on #692
It does not walkback; but the need to re-run the method save for each method is still present.  File that as new issue #757.

[2020-04-01 20:33] LisaAlmarode commented on #732
No change, not working in prerelease 2; with autocomplete off, the list is empty for Browse Implementors of... on postLoad* (while e.g. Browse Implementors of... on postLoadOver: returns two methods).

[2020-04-01 20:39] LisaAlmarode opened #758 "Empty breakpoint browser appears to want me to save a method"
I went to open the breakpoint browser.

![image](https://user-images.githubusercontent.com/13142166/78184318-21046b00-741e-11ea-8a74-8b377280b218.png)

My, is it large.  And apparently wants me to save a method.

![image](https://user-images.githubusercontent.com/13142166/78184490-704a9b80-741e-11ea-947e-c7869b79d123.png)

[2020-04-01 20:48] ericwinger commented on #323
Essentially, you'd like `git status` exposed in Jadeite @LisaAlmarode ?

[2020-04-01 20:53] ericwinger commented on #323
I'm not seeing the problem after I did some more work in this area for #669 in pre-release3.  Please review again when that is released.

[2020-04-01 20:53] ericwinger commented on #732
I'm not seeing the problem after I did some more work in this area for #669 in pre-release3. Please review again when that is released.

[2020-04-01 20:55] ericwinger commented on #323
Closed by mistake.

[2020-04-01 22:24] LisaAlmarode opened #759 "Breakpoint Browser enable/disable not intuitive"
The breakpoint browser is a multi-select list of lines that are a mix of classes and methods.
The menu operations enable/disable/clear/browse Breakpoints or All Breakpoints have different behaviors depending on if it's a method, class, two methods, two classes, a method and a class, etc. and it's not clear what will happen under given circumstances.

I think in particular the versions without the

[2020-04-01 22:28] LisaAlmarode commented on #545
breakpoint browser present and accounted for.  Some display issues, issue #758, and menu complaints, issue #759.

[2020-04-01 22:35] LisaAlmarode commented on #608
The underlines now vanish in the same browser pane after saving a method, regardless of any other browsers.  For example:

before:
![image](https://user-images.githubusercontent.com/13142166/78192945-1c47b300-742e-11ea-88e4-1496883901e5.png)

trivial change
![image](https://user-images.githubusercontent.com/13142166/78192967-2ec1ec80-742e-11ea-8d27-2347e677d0f8.png)

after saving method:
![image](

[2020-04-01 22:41] LisaAlmarode opened #760 "Duplicate classes pop up if a class is selected (3.1prerelease2)"
Things look normal with package selected:
![image](https://user-images.githubusercontent.com/13142166/78193264-fa9afb80-742e-11ea-976c-6dfc2a34b00d.png)

And I select a class: oops, there are two:
![image](https://user-images.githubusercontent.com/13142166/78193287-04bcfa00-742f-11ea-8e61-2eaa669951e0.png)

and another class; two duplicate classes
![image](https://user-images.githubusercontent.com

[2020-04-01 22:49] LisaAlmarode commented on #514
The (left side of the breakpoint browser) method is now selected, when you open the BB from the project browser.  However, this feature request didn't ask for that; it wants the first breakpoint within the selected method highlighted (in the right side breakpoint browser), and that is not in 3.1prerelease2.

[2020-04-01 23:03] ericwinger commented on #425
Believe that it was meant to say "git branch gives an error" . Enablement fixed.

Refresh after checkout tag/branch now done.

[2020-04-01 23:03] #425 closed, assigned to LisaAlmarode

[2020-04-01 23:12] ericwinger commented on #757
@LisaAlmarode It seems that this is already an issue waiting on Rowan support. See #733 .

If I am correct, please close and/or merge #733 & #757.

[2020-04-02 00:01] ericwinger commented on #758
Fixed in 3.1.0 pre-release3

[2020-04-02 00:01] #758 closed, assigned to LisaAlmarode

[2020-04-02 16:02] ericwinger commented on #759
@LisaAlmarode I struggled a bit with trying to keep the menu options simple, yet intuitive. Yet, you described what they did correctly so it must have been somewhat intuitive. Here's an idea:

- Remove the word "Breakpoint" from the 1st six menu options (menu is called `Breakpoints` already)
- Change the family of `Enable/Disable/Clear Breakpoints` to `Enable Selection` `Disable Selection` and `Cl

[2020-04-02 17:02] ericwinger commented on #608
Fixed in 3.1.0pre-release3.  Indicators needed to be reset after method save.

[2020-04-02 17:02] #608 closed, assigned to LisaAlmarode

[2020-04-03 00:09] LisaAlmarode opened #761 "delete key on empty line does not delete lf (3.1pre2)"
I think this is new in 3.1, since I don't think I'd be so annoyed otherwise.

In a method, with the cursor on an empty line, if you press the delete key on the keyboard, I expect it to delete that lf or cr or whatever, and remove the empty line. It does not do this; when the cursor is on an empty line, the delete key does nothing.

[2020-04-03 00:10] LisaAlmarode commented on #761
actually the delete key is generally not working!

[2020-04-03 00:38] ericwinger commented on #761
Think I'll fix this before I prepare pre-release3. fyi

On Thu, Apr 2, 2020 at 5:10 PM Lisa Almarode <notifications@github.com>
wrote:

--
Eric Winger
Staff Engineer
GemTalk Systems

[2020-04-03 00:40] ericwinger commented on #760
Fixed in 3.1.0pre-release3. Make sure we don't add class twice when updating the class list.

[2020-04-03 00:40] #760 closed, assigned to LisaAlmarode

[2020-04-03 01:11] ericwinger commented on #761
Fixed in 3.1.0pre-release3. This should restore delete key behavior. Had it disabled by mistake except when there was a selection.

[2020-04-03 01:11] #761 closed, assigned to LisaAlmarode

[2020-04-03 16:37] ericwinger commented on #514
Fixed in 3.1.0pre-release4.

[2020-04-03 16:37] #514 closed, assigned to LisaAlmarode

[2020-04-03 17:48] ericwinger commented on #754
I can reproduce this. If you open a notifier, it will not show up in the Windows 10 "windows picker". This happens with Dolphin notifier windows, too. Not sure much is I can do about it.

Don't believe Jadeite does anything to have one window "steal" another without a click. Before I investigate further, can you check your Windows settings to see if you have `Activate a window by hovering over it

[2020-04-03 18:31] ericwinger commented on #753
Fixed in 3.1.0pre-release4

[2020-04-03 18:31] #753 closed, assigned to LisaAlmarode

[2020-04-03 19:29] ericwinger commented on #574
@LisaAlmarode  Can you take a crack at reproducing this in the 3.1.0pre-releases?

[2020-04-03 19:36] dalehenrich commented on #574
it's worth noting that this bug is appearing in 3.5.0 and I think I have seen it off and on since reporting way back when and has shown up off and on ... but then I only use iv refs off and on ... it _could_ be a base bug ..

[2020-04-03 23:21] LisaAlmarode commented on #425
Main issues were fixed in pr3, and per Dale I'll not worry about the branch - I don't normally, it was just testing checkout where I was at risk of getting lost.

Especially nice that I didn't have to do a fetch on the branches, the tag was there and I could do it all in jadeite - that's even a happy dance!

[2020-04-03 23:28] LisaAlmarode commented on #735
It's now consistent, but annoying.  I don't like having to move the file explorer before I open Jadeite.  Now I have to close it down, move the file explorer, and restart jadeite so I don't have to move every single new window.

I think the windows should all be opened in a location relative to the current location of either the jadeite login dialog or the console.

[2020-04-03 23:37] ericwinger commented on #735
You might create a shortcut on the desktop / monitor you'd like to open Jadeite in. That seems to be reasonably consistent for me. Given the various combinations & possibilities of windows & monitors available, I'm not sure I can auto code window placement and satisfy everyone.

I would suggest we open a new enhancement issue to create a human-editable file that records the last known location & s

[2020-04-04 00:07] LisaAlmarode opened #762 "Debug-it in debugger / missing menu item, failure on up arrow, and error dialog (3.1pr3)"
Say I have a breakpoint in a method called by a test method, run the test, and get a debugger.

Then, I select some code in the method and want to do a debug-it.

(1) the popup menu does not include the Debug item, although it's in the Edit menu.  The shortcut does work.

![image](https://user-images.githubusercontent.com/13142166/78413430-34edcf80-75cc-11ea-9232-bee21aa1cdd0.png)

(2) if I try to

[2020-04-05 23:26] dalehenrich commented on #746
This time Jadeite froze with an invalid session error without any `save changes` dialog popping up ... something else must be going wrong...
![image](https://user-images.githubusercontent.com/623951/78512551-5e3c6600-775a-11ea-8c7c-faa2cecef9f3.png)
If you notice there is an unsaved workspace in the console, but the system froze before bring up any dialog ....

I had clicked on a method browser se

[2020-04-06 18:04] ericwinger commented on #762
I've got (1) working in pre-release4. However, (2) & (3) seem to be code specific. Can you post the code you were debugging as well as the frame you are on when getting this error?  And also where you had the breakpoint which was hit in (3)?

[2020-04-07 16:58] LisaAlmarode commented on #698
Nothing to verify...

[2020-04-07 17:40] LisaAlmarode opened #763 "Breakpoint browser text pane not refreshed on method disappear (3.1pr3)"
If you remove all breakpoints from a method, the method is removed from the left side pane of the breakpoint browser.

However, the method itself remains in the text pane.  This may or may not be a feature.

The right side text pane popup menu does allow you to re-add the breakpoint you just cleared (it allows you to enable it, not set it).  However, the popup menu here is not updated with the ste

[2020-04-07 17:50] ericwinger commented on #763
This was, in fact, a feature.  I couldn't decide if removing a breakpoint should make your method disappear completely as it is jarring even though it is technically correct. It would be cleaner to make the method source disappear completely.  What would you prefer?

[2020-04-07 17:51] LisaAlmarode commented on #584
I like the stars and the revert. feature.

 - [x] After you save the method change... the star doesn't go away.  Not until you select a different method.

 - [x] the revert menu option is present on workspace menus, and enabled if you make edits.  But instead of reverting to saved version, it reverts all the way to an empty workspace.

 - [x] the revert menu option is present in the breakpoint bro

[2020-04-07 18:06] LisaAlmarode opened #764 "Changes Browser confusing handling of newlines in method text (3.1.pr3)"
To look at the changes, I added some newlines to a method.

- [ ] The results show the "on disk" with the newlines, which I know is wrong and caused me to disbelieve the Changes Browser.

It's useful to not report "changes" that are just white space, but white space does need some respect.  Claiming that's what's on disk  is removing credibility.

![image](https://user-images.githubusercontent.com

[2020-04-07 18:31] LisaAlmarode commented on #314
- [ ] It doesn't show dynamic instance variables.  In the example below, extraInfo is dynamic.

I'm slightly uncomfortable with alphabetizing the inst vars since I'm used to the order being as per the class def/list of variables.  But this may just be habit.

- [ ] However - it was a problem when I was looking at an inspector on this object and the order was not the same. possibly the inspectors s

[2020-04-07 18:36] LisaAlmarode commented on #740
Please rename "Browse Frame Method" to just "Browse" on the debugger menu.  I believe the unadorned Browse means the project browser with or without specific method selected.

Browse Frame Method and Browse Selected Method aren't semantically distinguishable.

[2020-04-07 18:42] LisaAlmarode commented on #732
Eric, did you try the specific example with postLoad*?  Still no improvement in pr3.

[2020-04-07 18:43] dalehenrich commented on #314
I'm concerned about partial alphabetizing ... if we're going to alphabetize, the whole list should be alphabetized otherwise there is no value in alphabetizing ... When I am looking for a specific variable name, I know the name of the variable, but I may not know that it is an inst var, arg, temp var, or??? ...

AFAICT, this _is_ the use case for alphabetizing ... I spend a fair amount of time scr

[2020-04-07 18:52] LisaAlmarode commented on #287
Hey, the snarkiness worked!

[2020-04-07 18:57] LisaAlmarode opened #765 "Debugger Browse Selected Method error on lower methods in stack (3.1pr3)"
Just testing around, as I do, and tried the Browse Selected Method on a method way down in the stack, RowanAnsweringService >> exec:context:inWindow:. This was not friendly.

Note that I'm running as DataCurator.

![image](https://user-images.githubusercontent.com/13142166/78708310-c5772900-78c6-11ea-83ba-e4060582f1df.png)

[2020-04-07 19:03] LisaAlmarode commented on #765
Actually this might be part of a more general problem - I'm seeing the same error when I try to browse methods from the SUnit browser, possibly inheritance issues there.

[2020-04-07 19:13] LisaAlmarode commented on #565
The menu item is there but I can't seem to use it to browse methods that are not on that same class.  Which is the use case that is described in the initial report.

The abstract TestCase subclass LisaTest implements test_zork, LisaSubTest is the concrete class that inherits it but does not override it.  In the Sunit Browser you see LisaSubTest with the method test_zork.  But I cannot browse LisaT

[2020-04-07 19:31] LisaAlmarode opened #766 "Run-all stops for breakpoint (3.1pr3)"
The behavior I was expecting, presumably that in previous releases, is that run all (the little man in the sunit tab of the browser), ran all the tests, without stopping for errors or breakpoints.  This is a nice way to check which test is in which state so you can debug or whatever on the test of interest.

I put a breakpoint in and wasn't sure which all methods would be affected.  I can only fin

[2020-04-07 19:43] LisaAlmarode opened #767 "Debugger dropdown RowanProcessService (3.1 pr3)"
Above the stack, there's a drop down with RowanProcessService that I usually ignore.  But the scrolling issue has brought it to my attention.

- [x] If you set focus on the debugger, but don't select a method in the stack, the focus is on the RowanProcessservice drop down, and a down-scroll will bring you to an inscrutable stack.  Default focus should be anywhere else!

- [x] As I do testing, my d

[2020-04-07 19:56] LisaAlmarode opened #768 "Test cleanup on closing debugger (3.1pr3)"
I have a setup for testing Plantis similar to the setup that James put into the bug system, which uses SessionTemps and a current and a default to setup test data and then cleanup afterwards.  I run these tests a great deal using GBS. A critical thing is that tearDown is always invoked so after tests are done I can see my production data, not my test data.  This is reliable in GBS.

In Jadeite, if

[2020-04-07 21:40] dalehenrich commented on #766
Personally I have had mixed feelings about the fact that halts and breakpoints caused the debugger to pop up ... I tend to agree with Lisa that breakpoints and halts should only be honored when debugging tests (I don't think that halts and breakpoints should *not* count as failed tests either) ... debug all would be very nice ..

[2020-04-08 00:01] dalehenrich commented on #746
I just had a case where running a 3.6.0 stone, I had the dialog pop up and I pressed yes and Jadeite exited without freezing ...

[2020-04-08 21:46] ericwinger commented on #584
Fixed in 3.1.0pre-release4

[2020-04-08 21:46] #584 closed, assigned to LisaAlmarode

[2020-04-08 22:58] ericwinger commented on #764
I inherited a substandard change browser that was substandard but it's what we've got at the moment. However, understanding it's "philosophy" might help. The philosophy of the changes browser (if it ever had any thought put into it) was to ignore blank lines as much as possible in order to let the user compare code differences more easily by putting them side-by-side.

In the picture below, I've m

[2020-04-08 23:38] ericwinger commented on #732
Yes, this is what I see after starting Dolphin & loading Jadeite without touching the auto complete menu item or doing anything else.

![image](https://user-images.githubusercontent.com/36212516/78843289-3dbd1780-79b7-11ea-8935-e0edd28ee29a.png)

[2020-04-09 04:16] LisaAlmarode commented on #764
Perhaps we can add a paran modifier after the "Disk" to indicate that this isn't simply "Disk" but say, persistent or cached or per repository or something.  It''s the declaration of "Disk" that I took literally, as one does! and is completely wrong... it made me think I'd accidentally saved to disk...

[2020-04-09 04:19] LisaAlmarode commented on #732
I'm glad you see that list but it doesn't help me...

[2020-04-09 16:53] LisaAlmarode commented on #757
Yes, appears to be the same as issue #733, but described as user rather than from developer point of view.  I'll close this.

[2020-04-09 16:53] #757 closed, assigned to LisaAlmarode

[2020-04-09 19:21] dalehenrich opened #769 "(3.0.93) highlighted compile error message is not selected"
When I see the following in a workspace, I am inclined to hit `backspace` to delete the error message, like I would with any other selected text:
![image](https://user-images.githubusercontent.com/623951/78932419-4b78a880-7a5c-11ea-89f2-2fa040922e5c.png)
However, the `backspace` does not work and it seems I have to explicitly select the error message get rid of it ...

[2020-04-09 20:59] ericwinger commented on #732
Found the problem. When a new method is compiled, the symbols are added to the client's autocomplete cache of symbols so that the user can find those symbols without recaching all symbols. This was still being done even if autocomplete was off. The code path that was searching for matching selectors was asking the all symbols cache if it was empty (which it wasn't if a method had been compiled.) S

[2020-04-09 23:08] ericwinger commented on #740
renamed to `Browse` in 3.1.0pre-release4

[2020-04-09 23:08] #740 closed, assigned to ericwinger

[2020-04-09 23:51] ericwinger commented on #565
Fixed in 3.1.0 pre-release4.  Use same code to display selected tests in sunit tab & browser. Menu option named same, too.

[2020-04-09 23:51] #565 closed, assigned to LisaAlmarode

[2020-04-10 00:21] LisaAlmarode commented on #762
(2) and (3) are not code specific for me, running as DataCurator in PR3.

Try putting a breakpoint on the assert: in RowanSample1Test >> test1.
Run the test (from Sunit tab); let the debugger open, then press the up arrow.  See error.

You'll have to close the debugger and run test again. This time highlight "RowanSample1 new foo" and debug-it (from the edit drop down menu).  Then press the run bu

[2020-04-10 00:29] LisaAlmarode commented on #735
The first window that opens should correctly open whereever file explorer is, since that's where the cursor is and what has focus.  I don't think we need to worry about exact location on the monitor.

I can't imagine opening further windows based on which monitor the cursor is on, or the monitor of whatever window currently has focus, could surprise anyone; that's how the everything else works.

I

[2020-04-10 00:33] LisaAlmarode commented on #763
I can see value in keeping the last method text there; but in that case the popup menu needs to be fixed, so it works as if there was no breakpoint in the method... then you could add a breakpoint whereever you wanted.

I'm okay with the method text disappearing completely, which is easier and perhaps less fraught.

[2020-04-10 00:38] LisaAlmarode commented on #555
The removed icons make the Instance and Class blend in even more with the Package and list of classes and everything else. I need something to draw the eye.
Maybe create a simple glaring icon like a big red and a big green I ?

[2020-04-10 17:31] ericwinger commented on #762
Still not seeing error.  By default the Process list pull-down combobox is the focus subview. So the up arrow key will operate on that list. Can you manually pull down that down so I can see what's in it?

Note - when I do up/down arrow, it rotates through the different processes correctly. Here's what my list looks like.

![image](https://user-images.githubusercontent.com/36212516/79010167-437d3f

[2020-04-10 17:49] ericwinger commented on #735
I've lost track in the issue comment chain. Is this the request? If not, can you clarify the request?
If it is the request, I think that Jadeite already does this when I can control the windows. (I'm not sure I can control all dialog boxes)  Perhaps sending me pictures or a list of which Jadeite windows are problematic would help?

[2020-04-10 21:54] LisaAlmarode commented on #762
Did you try as DataCurator?

When I run as SystemUser I don't have a problem either.

[2020-04-10 22:03] ericwinger commented on #763
Method source disappears after last breakpoint removed. This is a cleaner solution. Fixed in 3.1.0pre-release4.

[2020-04-10 22:03] #763 closed, assigned to LisaAlmarode

[2020-04-10 22:07] LisaAlmarode commented on #735
Here's the story line.  I have a file explorer on monitor #3, and I double click on the executable.  The login dialog opens on monitor 3.  This is expected and correct.

![image](https://user-images.githubusercontent.com/13142166/79026060-7a664b80-7b3c-11ea-95e4-25a80d414b16.png)

----

I drag the login window over to the main monitor.  Then I press the login button.  Now, I think the console shou

[2020-04-10 22:22] ericwinger commented on #555
I haven't found an icon that makes any sense yet. Would bold text help?

![image](https://user-images.githubusercontent.com/36212516/79026896-15f8bb80-7b3f-11ea-93b6-820797585344.png)

[2020-04-10 22:34] ericwinger commented on #762
DataCurator works ok for me. I suspect it's related to a variable in a process you're switching to.

What does your process list look like when it fails?
Also, can you send me an entire screen shot of your debugger + error dialog when it happens?

[2020-04-10 23:07] LisaAlmarode commented on #555
Yes!  That was my original request, so I assumed there was a technical reason that it wasn't possible.

[2020-04-11 17:22] ericwinger opened #770 "Ensure new method is alphabetized after compile"
After saving a method, ensure it is alphabetized in the project browser method list. Saw it recently but not sure it's reproducable.

[2020-04-13 21:59] ericwinger commented on #735
Hopefully this will do what is requested. All windows will open relative to the upper left corner of the console (25@25). The transcript will open relative to the login window. Debugger continues to do it's own thing per other issues. Fixed in 3.1.0pre-release4.

[2020-04-13 21:59] #735 closed, assigned to LisaAlmarode

[2020-04-13 21:59] ericwinger commented on #741
Fixed in 3.1.0pre-release4.  Debugger retains it's last extent.

[2020-04-13 21:59] #741 closed, assigned to LisaAlmarode

[2020-04-13 22:14] ericwinger commented on #555
Bold wasn't my first choice aesthetically but it is done in 3.1.0pre-release4.

[2020-04-13 22:14] #555 closed, assigned to ericwinger

[2020-04-14 18:37] ericwinger commented on #768
I think this might be a server bug in 3.2.15.  If you put halts in this method as I've done you'll see the test start, but when the debugger is closed, the ensure block is not performed.

Jadeite terminates the process using `RowanDebuggerService>>terminateProcess:` which sends `terminate` to the `GsProcess`.

What I don't know if this is expected behavior. My suspicion is that it's related to thi

[2020-04-14 19:15] ericwinger commented on #767
Initial focus is set on the stack list now. Much more useful.

Regarding checkbox #2 ... I created lots of processes that didn't do much to test if building the debugger was slow because of the number of processes. I didn't see any delay opening the debugger with this code running in the background:
`1 to: 50 do: [:idx | [30 timesRepeat: [(Delay forSeconds: 1) wait]] fork]`.

It's possible one or

[2020-04-14 20:52] ericwinger commented on #770
Fixed in 3.1.0pre-release4.

[2020-04-14 20:52] #770 closed, assigned to LisaAlmarode

[2020-04-14 21:35] ericwinger commented on #765
Browsing class-side methods was broken. Presumable that's a class-side method in the stack frame in the issue report. Should be better in 3.1.0pre-release4. Good catch!

[2020-04-14 21:48] ericwinger commented on #766
`Debug all` is the similar to `Debug` in that it opens up a debugger if it hits a test failure/error. However, it differs in that if you close the debugger, it does not terminate the test run. Instead it continues until it either encounters another failure/error or the test run completes. Correct?

[2020-04-15 16:43] dalehenrich commented on #746
I just had a case where I had a freeze with no dialog popping up, but it looks like a popup should have happened as the console workspace has not been saved:
![image](https://user-images.githubusercontent.com/623951/79363783-350b9a80-7efd-11ea-89ab-2180bc7140da.png)
So this is a case where the image froze while bringing up the dialog?
There a number of windows that closed before hitting the dialog

[2020-04-15 19:53] LisaAlmarode commented on #555
the bold doesn't look quite as nice on my windows box as in Eric's picture but it's better than before.

[2020-04-15 20:08] LisaAlmarode commented on #732
I still see an empty list in PR4 when I search for implementors of postLo* or postLoad*.

[2020-04-15 20:11] LisaAlmarode commented on #735
Yes!  Happy Dance.

[2020-04-15 20:16] LisaAlmarode commented on #680
This issue seems to be made irrelevant by the fix for issue #741.  Now, the debugger always opens on the location of the last closed debugger, and on whatever monitor that was on.  I'm good with this.

[2020-04-15 20:16] #680 closed, assigned to LisaAlmarode

[2020-04-15 20:24] LisaAlmarode commented on #765
Not fixed in PR4.  The problem is not that it's not a class method; the problem is that RowanMethodService >> runTest:inCassName: is not visible to DataCurator.  Some handy trick lets you see the method source in the debugger when you select that frame, but not to open a browser on it.

[2020-04-15 20:41] LisaAlmarode opened #771 "Remove "delete" menu item from pop up method edit menu (PR4)"
This menu item works differently in the project browser method pane and the method list method pane.  It's also kind of pointless - I am a menu user and often copy and paste with menus but delete has a key on my keyboard. I suggest this open be removed rather than bothering to make the behavior consistent.

This is a leftover from issue #583.  Not very important.

[2020-04-15 20:49] LisaAlmarode opened #772 "Menu bar edit menu on Method Browser missing most options (3.1pr4)"
The Project Browser and the Method Browser have both Edit menu-bar menus and method pane pop-up menus.

The title bar and pop up menus for PB, and the popup menu on the MB, all look very similar.

![image](https://user-images.githubusercontent.com/13142166/79386824-90e71b00-7f1f-11ea-9979-56690818af6b.png)

But the MB edit menu is missing many options:

![image](https://user-images.githubuserconte

[2020-04-15 20:54] LisaAlmarode commented on #583
Nits on the delete menu item filed, also filed issue #772 on the edit menu.  I have other follow-on nits.  Like hydra, one issue closed but seven issues grow back...

[2020-04-15 20:59] LisaAlmarode commented on #750
Not reproducing, marking done optimistically.

[2020-04-15 21:11] ericwinger commented on #732
New code didn't handle cases correctly. Fixed in 3.1.0pre-release5.

[2020-04-15 21:11] #732 closed, assigned to LisaAlmarode

[2020-04-15 21:43] LisaAlmarode commented on #453
This issue is confusing since a bullet is not always a bullet, and it can be hard to know what you are really working with using a GUI.

If you paste a bullet into the UI, it's confusing since dophin sort of supports the 1252 code page which re-uses ascii 149 for unicode 2020. This would have worked in the older dolphin codebase and is presumably what the customer is using and seeing?

![image](ht

[2020-04-15 21:52] ericwinger commented on #453
@LisaAlmarode The entire issue needs to be visited thoroughly, especially STON replication of unicode strings. However, for now, is the issue to make the Changes Browser handle the bullet?

[2020-04-15 22:01] LisaAlmarode commented on #462
Dale's use case doesn't reproduce problems, presumably since ad-hoc execution is also committed by autocommit. So whatever tests you have, @ericwinger, are not testing anything...

However, by setting up commit in  a hot loop in topaz I triggered an autocommit conflict (on an ad-hoc execution) and indeed icons turned red and dialogs came up.

[2020-04-15 22:14] dalehenrich commented on #453
... it make sense to handle the Unicode characters using RSR ... I think Kurt has tests cases for passing Unicode characters/strings around, so he might be solving the problem in Dolphin as well ... I can check with Kurt if you want...

[2020-04-15 22:15] LisaAlmarode commented on #453
@ericwinger's comments, I believe, are related to bullet 149, the codepage 1252 bullet. not the real unicode bullet 2022.  Handling of bullet 149 and other code page characters is really bad now and that should be looked at.

I think we've cleaned up unicode strings from rowan pretty well and that may not be an issue any more. The customer appears to have actual bullet 2022 in their code.

[2020-04-15 22:27] LisaAlmarode opened #773 "Answer no to "Unsaved Changes" on logout, can result in browser open after logout and multiple sessions logged in (3.1)"
Say you have three open method browsers with changes, and you close the console/logout, per issue 747. And autocommit is on.

The dialog says "Keep unsaved changes?'.  But if I answer  yes... logout still continues.
Now the console is gone, I have three method browsers up and every time I touch any of them I get an error dialog:

![image](https://user-images.githubusercontent.com/13142166/79394509

[2020-04-15 22:29] LisaAlmarode commented on #747
The changes dialog contains the windows titles. The sum total behavior has shortcomings, see issue #773.

[2020-04-15 22:42] LisaAlmarode commented on #702
I can't say I find it friendly or useful, but it appears to work. However, it is not integrated fully into our SUnit test support:

- [ ] The step feature is not in the SUnit browser, only on the Sunit tab of the PB.

- [ ] It's missing from the popup menu on the SUnit tab of the PB (as well as  missing from the SUnit browser popup)

- [ ] "step" needs a better icon.

Also, It looks like there are

[2020-04-15 22:46] ericwinger commented on #765
This is going to have to wait until post-3.1.0. What is being asked is to be able to browse any code even if it's not in the user's symbol lists. While that likely can be done, it's a pretty big job because one would want to support all the `Browse`* menu options in the debugger without having a fully functional browser to do it. Not sure what that would look like.

What I can do in the meantime i

[2020-04-15 22:51] ericwinger opened #774 "Disable Browse* debugger frame list menu options if method not visible"
Per https://github.com/GemTalk/Jadeite/issues/765, disable debugger's frame `Browse` menu options if method isn't visible to the user.

The use case is to try browsing the upper frames of a server stack using services, say a method on `RowanAnsweringService`.

[2020-04-15 22:57] rjsargent commented on #774
I don't understand why preventing browsing is the desirable behavior here. You do have the method object and therefore the class object. They could be browsed.

[2020-04-15 23:43] LisaAlmarode opened #775 "Stubborn sorting in the Sunit browser"
In the Sunit browser,if you have several classes selected, it sorts them by selector.  You can use the column header to sort by class.

I'm trying to sort out which ones should pass or fail and so I sort by class, but EVERY TIME I select one of these classes in the project browser it resorts the list by selector.

[2020-04-15 23:47] LisaAlmarode commented on #775
The sort also isn't the same - as I click between classes in the PB, the Sunit list of classes (with the same method selector) is in different order after each click.

[2020-04-15 23:57] LisaAlmarode commented on #755
I think this is working - there are probably some old bugs of mine that are also fixed as I do seem to be able to get the test results I expect from various inherited breakages.

[2020-04-16 00:09] LisaAlmarode commented on #752
This design does not make me happy - it's like we didn't want to bother with a real solution, so we hacked this function into some existing pane of the project browser.  I would not want to have to document this.

I also really dislike the orange bar in the middle.  It is glaringly out of place. At least the saturation should be knocked way down - but I don't see why gray wouldn't work.

Functiona

[2020-04-16 00:12] ericwinger commented on #774
@rjsargent Yes, they could be browsed but not for 3.1.0.  It's a fair bit of work to make the browsers handle all the nuances of code that's not visible. See this comment. https://github.com/GemTalk/Jadeite/issues/765#issuecomment-614317314

[2020-04-16 00:15] ericwinger commented on #774
Fixed in 3.1.0pre-release5. Re-enablement will be when #765 is fixed & browsers can handle non-visible code better.

[2020-04-16 00:15] LisaAlmarode commented on #669
I think this is working as designed... it's a great change if so as that was very annoying in GBS.

[2020-04-16 00:16] LisaAlmarode commented on #764
Eric, could you make the small label change?  I hate to file a separate bug but that misled me.

[2020-04-16 00:47] LisaAlmarode commented on #762
Update: the problem does only seem to happen if I have more than one process in the drop down list.  So it might not happen in a fresh image.  After I've run tests in the debugger and closed tests I get a second process and that's when the up arrow button becomes entirely broken.

Isn't the up arrow supposed to bring me up in the process stack?  the help says top of stack.  the current process is

[2020-04-16 00:59] LisaAlmarode opened #776 "SUnit browser updated with lists of classes without updating the package selection (3.1pr4)"
I opened an SUnit browser and didn't select any packages. So column 2 and 3 are empty.

Left that to one side, I opened the project browser and selected a test class and saved a method.

Suddenly, the Sunit browser has a list of the test classes in my current package in the PB... and since there is no package selected, they are purple.

In the project browser, if I now go a different project and p

[2020-04-16 01:18] LisaAlmarode commented on #766
What I needed was a way to run all tests such that tests with a breakpoint, halt, or other error don't stop, but shows as a a failed test. (the red X).  It's how GS Sunit works.

It would be useful to be able to run a test of tests such that they are all run, until the first one that encounters an error, and have the debugger open on that failure.  You can do this now by selecting all tests and us

[2020-04-16 01:24] LisaAlmarode commented on #767
The performance impact is serious.

I'm not doing anything with processes myself, my code is pretty simple and contains neither forks, knives nor spoons.  The various processes in my stack (currently there are 7 besides the MNU that the debugger is for) all have stacks like this:

![image](https://user-images.githubusercontent.com/13142166/79404293-17aeee80-7f46-11ea-9458-959330a9b44d.png)

[2020-04-16 01:27] LisaAlmarode opened #777 "Method list browser pane does not turn green on edit (3.1 PR4)"
In the method list browser, you can start editing a method and it doesn't turn green until you mouse click.

It's working correctly in the project browser.

[2020-04-16 16:45] ericwinger commented on #766
@LisaAlmarode  Is this needed for 3.1.0?

[2020-04-16 17:00] LisaAlmarode commented on #766
I dug out v3.0.91 and I see that the current behavior is not a change... while I'm finding it very annoying since I can't do what I want to do, it's clearly liveable-with.

[2020-04-16 21:30] ericwinger commented on #773
Fixed in 3.1.0pre-release5. Menu query wasn't checking for nil session.

[2020-04-16 23:38] ericwinger commented on #775
Fixed in 3.1.0. Sort order by column now "sticky" after class change.

[2020-04-16 23:43] ericwinger commented on #764
I'd prefer not to choose the name. Could you suggest a complete title and I'll change it?

[2020-04-17 18:15] ericwinger commented on #762
The underlying problem was that an old-school GsProcess was being used instead of a RowanProcessService. That created problems when sorting the variable list pane. Fixed in 3.1.0pre-relesae5.

[2020-04-17 20:59] ericwinger commented on #776
Fixed in 3.1.0pre-release5

[2020-04-17 20:59] #776 closed, assigned to LisaAlmarode

[2020-04-17 21:03] LisaAlmarode commented on #764
How about "Disk Equivalent".  It's not clear, but unclear is better than clear-but-incorrect.

[2020-04-17 21:24] ericwinger commented on #764
Fixed in 3.1.0 pre-release5

[2020-04-17 21:24] #764 closed, assigned to LisaAlmarode, ericwinger

[2020-04-17 21:33] ericwinger commented on #777
Fixed in 3.1.0pre-release5

[2020-04-17 22:52] ericwinger opened #778 "Logger client time stamp not accurate"
In order to make ston replication work fork instances of Time from the server, Jadeite needed to change Time>stonOn:. However, that doesn't work for the logger which ston-ifies client instances of Time. Need to resolve that issue so the client timestamp in logs is correct.

[2020-04-17 23:45] ericwinger commented on #767
Server only fix should speed up debugger opening when many background processes are running. Available in 3.1.0pre-release5.

Here's some example code to run before / after fix:

Run this first to get 25 processes going. Then open a debugger on `1 zork`.  Should see a big performance win.
[code]

[2020-04-17 23:48] ericwinger commented on #777
Fix seems to cause an issue with method source reverting. Re-opening for investigation.

[2020-04-20 17:43] ericwinger commented on #777
Wasn't accounting for changed source pane views and updates were coming more frequently for method list browsers. Should be fixed in pre-release5 again.

[2020-04-20 22:13] kurtkilpela opened #779 "Implement keyboard shortcut for 'commit' and 'abort' actions"
Currently, a keyboard shortcut does not exist for the 'commit' and 'abort' actions. These actions require use of the mouse to select the toolbar button or the menu item in the 'Jadeite' menu.

I'd suggest the follow keyboard shortcuts are introduced to allow 'commit' and 'abort' without the use of a mouse.

commit: ctrl + shift + c
abort: ctrl + shift + a

[2020-04-20 23:42] LisaAlmarode commented on #765
I agree with deferring making this work correctly, I think that is outside the scope of this bug, I just don't like error dialogs.   I think we need a separate bug for the future work.

As for this bug:  If I double click on one of these lower methods in the list of frames, I do still get an error.  It would be nice to close this hole.

![image](https://user-images.githubusercontent.com/13142166/7

[2020-04-20 23:58] LisaAlmarode commented on #762
Not fixed in pr5.

The act of clicking on the up-arrow appears to be turning innocent RowanProcessServices into GsProcesses.

Get my debugger, see dropdown of RowanProcessServices:

![image](https://user-images.githubusercontent.com/13142166/79810483-0ab84380-8328-11ea-8385-117a41917f6f.png)

click on the up arrow, have problems:

![image](https://user-images.githubusercontent.com/13142166/7981050

[2020-04-21 00:03] LisaAlmarode commented on #777
I am still seeming some problems, both in the project and method browsers.

If you delete an empty line partway through a method, it does not turn the pane green.

[2020-04-21 00:13] LisaAlmarode commented on #773
Still not working in ways that make sense.  I seem to have got orphan windows that stuck around after logout, and then, using this feature, I am able to get two logins from the same Jadeite which is also a no-no.

I think if you request to logout, and then answer yes to "keep unsaved changes", the logout sequence needs to be aborted.  Continuing with the logout is creating a number of holes that w

[2020-04-21 00:15] LisaAlmarode commented on #774
I agree with deferring making this work correctly, I think that is outside the scope of this bug, I just don't like error dialogs.   I think we need a separate bug for the future work.

As for this bug:  If I double click on one of these lower methods in the list of frames, I do still get an error.  It would be nice to close this hole.

![image](https://user-images.githubusercontent.com/13142166/7

[2020-04-21 00:16] LisaAlmarode commented on #765
The bug I filed was hijacked, so this can go back to never-never land

[2020-04-21 17:40] ericwinger commented on #777
I dont' see this.
Project Browser Before:
![image](https://user-images.githubusercontent.com/36212516/79895707-253bfc80-83bc-11ea-8495-24c738e96ab5.png)
After:
![image](https://user-images.githubusercontent.com/36212516/79895732-338a1880-83bc-11ea-952e-072ddb59b3af.png)

Method list browser before:
![image](https://user-images.githubusercontent.com/36212516/79895830-5e746c80-83bc-11ea-8d38-0f5f2bd

[2020-04-21 17:42] ericwinger commented on #777
wrong button

[2020-04-21 17:51] LisaAlmarode commented on #775
still the same in PR5; possibly due to my particular use case, which involves inherited tests.

This is the before:

![image](https://user-images.githubusercontent.com/13142166/79896854-bcee1a80-83bd-11ea-9b44-2a98cc064dea.png)

In the project browser, I select one of the classes that I have selected in the SUnit browser:

![image](https://user-images.githubusercontent.com/13142166/79896890-cb3c36

[2020-04-21 17:57] LisaAlmarode commented on #767
The performance is MUCH better.  However, that's not really a fix, although it makes the consequences much less dire.

What causes the leftover RowanProcessService instances to get stuck in the environment and never go away, is when I have a breakpoint in code in or called by an sunit test; run the test and instead of doing anything in the debugger, I close it using the upper right title bar x ico

[2020-04-21 18:10] LisaAlmarode opened #780 "Debugger terminate button (3.1 PPR5)"
Per issue #767, I've got oodles of RowanProcessService instances that show up as a long list in the debugger.  I was wondering if there was a way to get rid of them and I noticed a "terminate" button right next to the list of processes.

![image](https://user-images.githubusercontent.com/13142166/79898127-9335f300-83bf-11ea-9610-6334cc04d128.png)

![image](https://user-images.githubusercontent.com

[2020-04-21 18:23] ericwinger commented on #767
Original issue report:

Comment after performance is improved:

Uhhhh, the problem was performance. How can improved performance not be a fix?

[2020-04-21 22:56] LisaAlmarode commented on #767
Well, I believe that the problem is that there are excess RowanProcessServices.  They ought to not be there, I assert.  It's great that these guys are now not making things very slow is great, and it means it's not urgent, but it doesn't fix the problem that they exist.  You can close the closet door and not see the mess, but that doesn't mean the closet is cleaned up...

[2020-04-21 23:27] ericwinger commented on #777
Dolphin doesn't seem to handle some keys correctly. For example, if press Ctrl-X, it cuts but does not seem to run the `editCut` method defined in the gui. If you use the menu option (with accelerator key defined) it will run that method. In the case of #777, I  think the user was pressing the `Del` key which seems to not run smalltalk code but only windows vm code and also doesn't update the text

[2020-04-21 23:37] ericwinger commented on #767
Sounds like this is an omnibus bug. As I've suggested before, it's best to focus the issue as narrowly as is reasonable to avoid confusion & complications. This sounds like it should have been two issues.

Do you want the extra processes to go away when the process finish?  If so, that's a behavior change in the debugger. The debugger doesn't update on the fly as that can be disturbing when you ar

[2020-04-22 00:42] ericwinger commented on #775
Should be fixed in pre-release6

[2020-04-22 01:45] ericwinger commented on #773
Although it has a new name,  "keep unsaved changes" functionally hasn't changed and it's always been scoped for one window without knowledge of logout. We can certainly change that but it would be a behavior change. Do you want to do that for 3.1.0?

[2020-04-22 17:24] LisaAlmarode commented on #773
I'm not entirely sure of the history of this set of issues, but it does seem like this particular gaping hole filled with snakes might not be new.  As such, it doesn't need to be fixed for 3.1.  Also I really did want Dale's input.

[2020-04-22 17:37] ericwinger commented on #774
The failure I found was with a class method. Similar to one of the problems in #765 https://github.com/GemTalk/Jadeite/issues/765#issuecomment-613693480.  If there is a further problem, please provide the stack & stack frame to aid debugging.

[2020-04-22 17:38] LisaAlmarode commented on #767
My guess is that when the debugger is closed after a breakpoint is encountered, it's not cleaning up after itself, which may be the same sort of cause as issue #768.
Users define bugs by symptoms, engineers define bugs by causes; a cause may have multiple symptoms and there may be multiple ways to fix a single symptom.  I try... but it's hard enough to figure out what people did, never mind what t

[2020-04-22 17:44] LisaAlmarode commented on #774
Did you miss that this was only for attempting to browse using double-click?

You did fix this issue for the browse menu item, that is now disabled.  But the double-click performs a Browse and runs into the same problem.

Since this bug was only for the browse menu item, perhaps I should file a separate bug?

![image](https://user-images.githubusercontent.com/13142166/80014812-b2975380-8485-11ea-9

[2020-04-22 17:52] ericwinger commented on #774
Yes, I did notice it was only for double-click. And, after trying every frame in the stack I found that the class side methods failed. So I fixed that. The example that you provided doesn't fail for me. https://github.com/GemTalk/Jadeite/issues/774#issuecomment-617929130

[2020-04-22 18:14] ericwinger commented on #762
I'm not seeing GsProcesses appear.

Notes:
- When I first open the debugger, clicking up arrow now moves to the next frame, not process.
- When I open the process list and arrow up/down, I see no change.
- I'm creating processes using this code
[code]

Question:
- @LisaAlmarode Would it be better to change the print back to a GsProcess for clarity when this bug is fixed? I'm inclined to think so.

[2020-04-22 19:38] dalehenrich commented on #773
@LisaAlmarode, the best way to get my feedback is to ping me on slack ... I get email for all of the github interactions and often I read each one in detail ... recently there has been an avalanche of github messages while have been deep into the rowanization of 3.6.0, so I haven't been diligent about reading all of the messages and it was just by luck that I noticed that you wanted my input ...I

[2020-04-23 01:46] ericwinger commented on #762
I believe I have the fix for GsProcess's fix. It was a bit invasive so some extra emphasis in testing process list switching and termination would be appreciated. Ready for testing in 3.1.0pre-release6

[2020-04-23 01:46] #762 closed, assigned to LisaAlmarode

[2020-04-23 16:57] LisaAlmarode commented on #774
I don't see any class methods in my typical example, which very reliably always triggers an error and leaves an PB around.

![image](https://user-images.githubusercontent.com/13142166/80126832-5d704600-8548-11ea-8233-2eea0f5b7ee1.png)

[2020-04-23 17:11] LisaAlmarode opened #781 "Unsaved changes dialog is missing option to cancel"
I closed an inspector that I didn't want to close, by blindly clicking on the righmost button.  Turns out I expect that to be a cancel.

I did a quick survey of applications that I use and universally if you have unsaved work, you get three buttons: save, discard changes and close, and cancel.

akelpad
Save changes to document <filename> before closing?
[Save] [Close without saving] [Cancel]

libr

[2020-04-23 19:03] LisaAlmarode opened #782 "Cleanup handling of browsers and workspaces with unsaved changes on logout (3.1)"
When you logout of Jadeite, you might have various windows open: project and method browsers with unsaved methods and workspaces with unsaved changes. This is not handled very well now, see issue #773.

To get it right, I think we need to implement issue #781 and add a cancel button.  The cancel in this case would stop the logout process.

Unsaved changes in workspaces, which is Dale's main concer

[2020-04-23 19:09] LisaAlmarode commented on #773
thanks, dale, that's helpful.  I have filed issue #781 (which is not specific to logout), and added a new issue #782 to cleanly handle unsaved changes on logout.  I'm going to close this issue since while the current situation is still buggy, I don't think patching is a good use of time...

[2020-04-23 19:09] #773 closed, assigned to LisaAlmarode

[2020-04-23 19:21] ericwinger commented on #774
I was able to reproduce and have a fix in 3.1.0.

[2020-04-23 19:21] #774 closed, assigned to LisaAlmarode

[2020-04-23 23:33] ericwinger commented on #779
Should have a fix in 3.1.0.

Used Ctrl-Alt-C / A because Ctrl-Shift-A was already taken by SUnit.

[2020-04-24 00:15] LisaAlmarode opened #783 "Checkout git tag does nothing, if the sha are the same as the one loaded (3.1pr6)"
I've been rather baffled why I can't checkout the latest Rowan tag from Jadeite; the project browser keeps saying it's got pr5 loaded no matter what I do.  It turns out that pr5 and pr6 have the same sha.

If the same commit has two tags, and you checkout a git tag, the console should show that you have checked out the tag you requested...  It looks like jadeite or rowan is deliberately ignoring t

[2020-04-24 00:23] LisaAlmarode commented on #762
I don't get problems on arrow-up, which is good!  Still the maddening list of RowanProcessServices.

[2020-04-24 00:50] LisaAlmarode commented on #779
I don't think I can test this to where I would feel like I trusted it... there's no feedback and no way to know if you really committed or not (other than to have made a visible change and abort afterwards)... which makes it problematic to blanket test the many panes in various different browsers to be sure all of them correctly understand that shortcut.  E.g. what happens in the Sunit browser...

[2020-04-24 01:01] LisaAlmarode commented on #775
Not fixed. _(programmer's note. Technically, the issue was fixed. This is a variant of the problem.)_ If save a new test method on the parent class in the project browser, and then click on one of the selected child test classes, the list in SUnit browser now only lists methods in that class, not in the other three selected classes.

The selected classes in the sunit browser
![image](https://user-

[2020-04-24 01:04] LisaAlmarode commented on #777
Not fixed for pressing delete key in project browser (nor in debugger, for that matter).

Delete key does make pane green in method browser so you must be on the right track.

[2020-04-24 01:17] LisaAlmarode commented on #779
I'm also thinking that I'm not too sure I like like having control-shift-a do an abort at all; I'd prefer to at least be able to disable this feature.  I don't use shortcuts a whole lot, but since there are so many shortcuts infesting my computer, I do sometimes do things I did not intend at all to do, by accidentally using shortcuts I was unaware of.  Having to press both control and alt is bette

[2020-04-24 15:45] ericwinger commented on #779
Maybe @kurtkilpela would like to get the latest pre-release and see if it's to his satisfaction?

[2020-04-24 16:56] kurtkilpela commented on #779
The request is based upon the desire to be able to easily commit from the keyboard. Pressing ctrl + alt + c/a makes this harder as it still requires two hands. Technically, I can do it from one hand but it is very awkward. shift + alt +c/a does not work either. Windows binds shift + alt to changing the language. How often does Jadeite 'AutoCommit' if active?

[2020-04-24 16:59] kurtkilpela commented on #779
If a commit happens after every change to the model, my case would be satisfied.

[2020-04-24 17:02] kurtkilpela commented on #779
Regardless, I downloaded 3.1.0 pre-release 6 and I don't see the shortcut associated with any of the menu options in any of the Jadeite windows I use. (Console, Projects Browser, SUnit). Do I need to use some branch instead of the published pre-release?

[2020-04-24 18:13] ericwinger commented on #779
@kurtkilpela It's not a menu option yet but it's bound to every window. With luck, you can press ctrl-alt-a/c from anywhere and commit or abort.

AutoCommit commits on every trip to the server. Pretty much every time the user clicks on something (but not typing in a method).

[2020-04-24 19:25] ericwinger commented on #777
Same fix as for method list browser. Should be fixed in pre-release7.

[2020-04-24 19:25] #777 closed, assigned to LisaAlmarode

[2020-04-24 19:34] ericwinger commented on #775
What is the hierarchy relationship between the classes given as example? `LisaSubTest` `LisaSubTestTwo` Is there a common parent?

[2020-04-24 19:38] LisaAlmarode commented on #775
The parent class is LisaTest, the child class is LisaSubTest, and LisaSubTestTwo is another child class of LisaTest.  Parent=superclass child=subclass.  I believe this behavior is the same if the parent class is abstract or not, as long as the children inherit test methods.

[2020-04-24 20:41] dalehenrich commented on #779
@kurtkilpela, technically I think that autocommit may commit too often, however in practical terms, commits with no dirty objects are pretty cheap (in a single user stone), I've been using autocommit since it was implemented and I don't have any complaints ...

[2020-04-24 21:28] ericwinger commented on #775
Should be fixed in 3.1.0pre-release7.

[2020-04-24 21:28] #775 closed, assigned to LisaAlmarode

[2020-04-24 22:50] ericwinger commented on #779
@LisaAlmarode  @kurtkilpela Can you coordinate on what is needed? I can revert the feature. As far as the command-key combination, I don't find ctrl-alt-c/a that much different than ctrl-shift-c/a.   Regardless, I'd like to fix this and cut a pre-release 7 soon.

[2020-04-24 23:02] kurtkilpela commented on #779
@LisaAlmarode I'm happy to just use AutoCommit and have this change reverted. Assuming you are fine with this.

[2020-04-24 23:09] LisaAlmarode commented on #779
I suggest revert until we have time to figure it out...

[2020-04-28 22:19] dalehenrich opened #784 "(Oscar-3.1.0) 3.6.0 libraries not included?"
The GemStone version drop down is missing 3.6.0:
![image](https://user-images.githubusercontent.com/623951/80543371-92730300-8963-11ea-8399-6327b9aa2246.png)

[2020-04-28 22:21] LisaAlmarode commented on #784
your title bar implies you're running 3.0.71?

[2020-04-28 22:21] dalehenrich opened #785 "(Oscar-3.1.0) some extra files in runtime.exe"
I believe that the STB file and `call trace log` file are extraneous files:
![image](https://user-images.githubusercontent.com/623951/80543478-cd753680-8963-11ea-8224-ef04c360d895.png)

[2020-04-28 22:24] dalehenrich commented on #784
I.m clicking on my 3.1.0 shortcut ... I'll see if I created the shortcut in the wrong directory..

[2020-04-28 22:26] dalehenrich commented on #784
The shortcut is from my 3.1.0 directory ... I'll redownload the runtime.zip

[2020-04-28 22:30] dalehenrich commented on #784
![image](https://user-images.githubusercontent.com/623951/80543995-f518ce80-8964-11ea-8e4f-a5f9da54c6d1.png)
![image](https://user-images.githubusercontent.com/623951/80544065-15e12400-8965-11ea-8fd6-434539bcd2e9.png)

I think the runtime.zip file that was uploaded to github is wrong ...

[2020-04-28 22:37] ericwinger commented on #784
Hmm, not sure what happened.  Just recut the runtime.zip.  It shows the proper 3.6 library & `jadeite.exe`.  If this fixes the problem, please close the bug, @dalehenrich.

[2020-04-28 22:41] ericwinger commented on #784
Speculating on what might have happened for future ... For whatever reason, `.gitignore` refuses to acknowledge that I want to ignore `runtime.zip` in my Jadeite git directory. Been this way forever.  Every time I cut a new runtime, I have to remove that change from my dirty git directory or commit another version. I may have cleared that change before I dragged the file into the Assets of the rel

[2020-04-28 23:25] dalehenrich commented on #784
runtime.zip is working now ... picked up the 3.1.0 executable and 3.6.0 present. Thanks!

[2020-04-28 23:25] #784 closed, assigned to dalehenrich

[2020-04-28 23:26] dalehenrich commented on #785
..these extra files are still present in the updated runtime.zip file ... just a cleanliness issue, no bad side effects.

[2020-04-28 23:55] dalehenrich opened #786 "useful to have a prefs file that can be editted so user can define the default window locations"
As suggested by @ericwinger [here](https://github.com/GemTalk/Jadeite/issues/735#issuecomment-608824432) ... as an alternative, If I could define coordinates for windows that I want opened at login, theat would satisfy me ...

[2020-04-29 01:05] dalehenrich commented on #746
This was a 3.1.0 freeze ... don't know whether or not the workspace window has been modified, but there was an open project browser, workspace, and test browser -- I got an invalid session notifier for this puppy:
console ![image](https://user-images.githubusercontent.com/623951/80552151-8f374180-897a-11ea-97e1-148e97e4c311.png)

[2020-04-29 16:35] dalehenrich opened #787 "Features in support of RowanV2.0"
The following items (in no particular order) are the high level features that are needed to support RowanV2.0:
- [ ] incorporate RwProject in service architecture
      This is an internal implementation detail and the preferred route for interacting with the loaded project ... I've made edits to the services in the candidateV2.0 code base ... this item is really a reminder that moving forward RwP

[2020-04-29 16:57] dalehenrich opened #788 "(Oscar-3.1.0) Duplicate variables in nested blocks in debugger"
This is a view of the debugger with the outermost method context selected (no duplicate variables):
 ![image](https://user-images.githubusercontent.com/623951/80623205-b5062a00-89fe-11ea-9e42-9c8307ce23a8.png)
and here is a shot with an inner block selected and it seems that all of the duplicated names are from the block temps:
![image](https://user-images.githubusercontent.com/623951/80623780-8f2

[2020-04-29 17:22] dalehenrich opened #789 "(oscar 3.1.0) Frozen project browser"
At some point during my debugging session, the project browser has become disfunctional. Not that the GemStone64 project is selected, but the packages are from the Rowan project which was perviously selected:
![image](https://user-images.githubusercontent.com/623951/80625428-09f76f80-8a02-11ea-81f6-f937b7dc5106.png)
I first noticed the freeze because the slider bar in the package pane would move,

[2020-04-29 17:44] dalehenrich opened #790 "(3.1.0/3.0.93) bottom of Changes browser extends beyond bottom of visible screen"
Changes browse has to be resized in order to be able to see the full extent of the window in my vm:
![image](https://user-images.githubusercontent.com/623951/80628376-1d0c3e80-8a06-11ea-96b8-d7ec9880a160.png).
I observed this behavior in 3.0.93, but waited for 3.1.0 to see if it had improved.

[2020-04-29 17:56] dalehenrich opened #791 "(3.1.0) flickering highlighting in method changes browser (via method history)"
Here's a screen shot that catches the browse in mid flicker. Lines 50-61 should be highlighted but are not at this moment. As you move the mouse around the screen different highlighted regions flicker which is a bit confusing:
![image](https://user-images.githubusercontent.com/623951/80629325-88a2db80-8a07-11ea-80ca-707a70a6833e.png)
I didn't notice this kind of behavior in 3.0.93.

[2020-04-29 18:16] dalehenrich opened #792 "(3.1.0) not sure why the mouse icon switches between I-beam and hand cursor with highlighting"
In this image you can see that there is a weird little area that is highlighted and the arrow cursor is visible (in real time the hand cursor is shown):
![image](https://user-images.githubusercontent.com/623951/80630489-26e37100-8a09-11ea-8429-90ea2c8b35ab.png)
I am not sure what the highlighting is supposed to be showing me, but it is disturbing as I am trying to aim precisely at the beginning of

[2020-04-29 18:20] dalehenrich commented on #792
Hoho, there's a third cursor icon involved ... an arrow cursor pops up when I move the i-beam into a `selected` area ... again annoying for the same reason, since this time I get flickering when crossing the boundary between selected and unselected areas ...

[2020-04-29 18:22] dalehenrich commented on #792
... and there appears to e two forms of highlighting involved as well, so when I am selecting I have to pay attention to which color of highlighting I'm actually seeing ... which causes me to have to pay even more attention to minute details...

[2020-04-29 18:42] dalehenrich commented on #792
The switch to the arrow cursor makes selection a bit harder, since if I want to select a subrange of an already selected chunk, I now have to click to deselect and then click again to start my real selection ...
... I can see where some folks might like these new features, but for me with sore hands and marginal eyesight, these new features are more annoying than useful, but I never drag/drop sele

[2020-04-29 18:47] dalehenrich opened #793 "(3.0.93) Attempting to log into a stone with 3.1.0 installed gives error instead of nice warning"
I guess I thought I was supposed to get a nice message about having the wrong Oscar support present when I attempted to log into a stone with the wrong Oscar support installed, instead I am getting an error:
 ![image](https://user-images.githubusercontent.com/623951/80633980-855f1e00-8a0e-11ea-86ac-ff139085a32d.png).

I don't have a 3.0.93 stone handy to see what happens if I try to use 3.1.0 to l

[2020-04-29 19:17] dalehenrich opened #794 "MNU #asUppercase in method browser"
Here's the error:
![image](https://user-images.githubusercontent.com/623951/80636451-5ba7f600-8a12-11ea-8382-e7530ac93dae.png)
here's the stack:
[stack.txt](https://github.com/GemTalk/Jadeite/files/4554020/stack.txt)
and when I went to the project browser and multi-selected the two methods, the obscured method browser refreshed (automagically) and in the background you can see that the source pane

[2020-04-29 19:45] dalehenrich commented on #794
Another occurrence:
![image](https://user-images.githubusercontent.com/623951/80639527-002c3700-8a17-11ea-99bb-cb68cf651633.png)
Not sure what is triggering this problem, but it didn't take long to hit it again ... reselecting the method in the project browser, seems to have unlocked the method browser ...

[2020-04-29 19:55] dalehenrich opened #795 "(3.0.93/3.1.0) in method browser clicking off of selected method to revert changes ends up with a region select"
I had forgotten that in 3.1.0 there is a revert menu item, but if you do click off of a method and then elect to not keep changes, you get this annying region select, which requires an extra click before getting back in business:
![image](https://user-images.githubusercontent.com/623951/80640331-1a1a4980-8a18-11ea-8dba-7d8d3f30fdbc.png)
this probably shouldn't happen, but **is** less critical now

[2020-04-29 21:20] dalehenrich opened #796 "(3.1.0) MNU #asString after `browse test method`"
Here's the shot:
![image](https://user-images.githubusercontent.com/623951/80647968-2f957080-8a24-11ea-89f5-e52683fbe6de.png)
here's the stack
[stack.txt](https://github.com/GemTalk/Jadeite/files/4554644/stack.txt)

[2020-04-29 21:22] dalehenrich commented on #796
reselecting the class and test method allowed me to finally open the method browser

[2020-04-30 01:28] dalehenrich opened #797 "(3.1.0) hung Jadeite process"
I believe that I clicked the close button on the inspector and now the whole process is hung:
![image](https://user-images.githubusercontent.com/623951/80662780-f8848680-8a46-11ea-9f39-40b85a579f11.png)
I'm going to have to kill the process to move forward ... thank god for auto commit

[2020-04-30 01:37] dalehenrich commented on #797
This is a case similar to #746, in that I was probably prompted (or should have been prompted) to keep changes and I would have answered no ... only this didn't happen during image shutdown  ... It's also worth noting then I was in a phase where I did the same operation (close a dirty inspector) several times in a row, before the the image hung

[2020-04-30 02:20] dalehenrich opened #798 "(3.1.0) disabled step over and step into icons in debugger"
If you notice, the cursor is over the step over button, but the button is not highlighted and that means that the icon button doesn't work ...
![image](https://user-images.githubusercontent.com/623951/80663630-616cfe00-8a49-11ea-9e8f-2416a575d264.png)
I've had this happen to me a couple of times today..... and using the Debug menu items doesn't appear to reenable the icons when they stop being ena

[2020-04-30 16:38] dalehenrich opened #799 "(3.1.0) Wondering what purpose the `Test Execution Class` column serves in SUnit Browser"
I have yet to see an entry in that column deviate from the selected test class in the `Classes` column:
![image](https://user-images.githubusercontent.com/623951/80734369-e8f75300-8ac3-11ea-9e8d-85bdfdca9055.png)
I bring this up because you have to notice that by default the test pane is too narrow for me to see the full method name for tests, so I invariably spend more time resizing the panes ...

[2020-04-30 16:45] LisaAlmarode commented on #799
It's important if you select multiple classes in the middle pane, so you know which test selector is for which class.

[2020-04-30 16:47] LisaAlmarode commented on #799
But the default column sizes aren't ideal in the sunit browser I'd think... I have the same column issue with the console.

[2020-04-30 16:51] ericwinger commented on #799
The `Test Execution Class` column is part of the fix for #755 and #756 which was a complaint about how the SUnit browser handles hierarchies of test classes and equivalent test selectors.

If you'd like more screen real estate or column header name changes please coordinate with @LisaAlmarode and outline the requested changes in this issue. If you would both like behavior changes, please open a ne

[2020-04-30 17:29] ericwinger commented on #786
- The auto-save nature of the Jade solution is not ideal because the last-known position of a browser is not necessarly the preferred position of a browser.
- Some sort of "save/record window position" initiated from a browser by the user would probably be preferred.
- Resulting disk file that holds positions should be easily editable. Probably just origin and extent and browser's Jadeite class na

[2020-04-30 17:58] dalehenrich commented on #799
@LisaAlmarode, screen real estate is an issue, so I will do a little bit brainstorming ...
1. include class names as part of the test selector when multi-selection is done
2. only enable the test execution class column when multiple test classes are selected
3. make collapsing the test execution class column easier
4. preference for enable/disable the test execution class column

[2020-04-30 21:19] LisaAlmarode commented on #799
I looked over the related issues, and my own experiences with a complicated hierarchy... and I think option 2 is a good solution.

There were a number of complaints (many by me) around hierarchies of tests and getting the wrong results marked depend on who implemented the selector, which I'm happy to say are fixed now... but as long as the underlying code is keeping track of the execution class, I

[2020-04-30 21:51] ericwinger commented on #787
@dalehenrich Do you have any kind of diagram or documentation which maps these features onto existing Jadeite features?  My memory is hazy on what was discussed in the past.

[2020-04-30 23:01] dalehenrich commented on #787
I've updated the [issue description](https://github.com/GemTalk/Jadeite/issues/787#issue-609196674) with additional thoughts on these new features ... the updates are not requirements, so nothing I say should be taken literally, think of it as a rough sketch of what I think the features could be and at some point you would decide just how the various features would be presented.

[2020-04-30 23:07] dalehenrich opened #800 "(3.1.0) would be nice to be able to copy the selected line items in the debugger inspector pane"
Similar to the rationale for copying the frame information, I occasionally find myself needing to record the printString and Oop of the object for use at a later point in time in a debugging session ... otherwise it is quite labor intensive and error prone to collect the information

[2020-05-01 17:45] ericwinger commented on #787
@dalehenrich Can you point me at a sample load specification?

[2020-05-01 18:15] dalehenrich opened #801 "(3.1.0) hung find class window"
The find class window's been in this state for several minutes (no entry in error log) ... ended up killing task (thank goodness for autocommit):
![image](https://user-images.githubusercontent.com/623951/80829781-9fc70200-8b9c-11ea-9415-13ccb67a7f75.png)
This is in an image running against 3.6.0 with the base packaged ... however, it is not the first time I've run `find class`

[2020-05-01 18:26] dalehenrich commented on #801
This bug seems to reproduce (at least at the moment) by doing a `find class` with the debugger open and a project list with several test projects present.
`find class` works with test projects present, but no debugger:
![image](https://user-images.githubusercontent.com/623951/80830448-d5201f80-8b9d-11ea-9721-fe14bb627968.png)
then image hangs, when `find class` attempted with debugger open:
![imag

[2020-05-01 18:28] dalehenrich commented on #787
[Here's the Rowan load specification](https://github.com/GemTalk/Rowan/blob/candidateV2.0/rowan/v2/proposed_specs/RowanDiskAPI_proposed.ston) ... the #groupNames field is no longer used.

[2020-05-01 21:00] ericwinger commented on #787
That link doesn't seem to work anymore.
![image](https://user-images.githubusercontent.com/36212516/80841373-19b6b580-8bb4-11ea-8b48-a2c7020cea97.png)

[2020-05-01 21:21] LisaAlmarode commented on #786
There are a number of issues related to positioning, besides Dale's bunching problem, also issue #799, #790, #796... and I'm seeing the find class dialog is on the wrong monitor relative to the console.  Worth looking into improvements for 3.1.1

[2020-05-01 21:27] LisaAlmarode commented on #785
I've looked at the runtime.zip for the release (https://github.com/GemTalk/Jadeite/releases, click on runtime.zip) and today there no extra files within the zip.

[2020-05-01 21:27] #785 closed, assigned to ericwinger

[2020-05-01 21:36] dalehenrich commented on #785
Yeah, those extra files seem to randomly appear in a release ... this time they were present because the wrong zip file had been uploaded:)

[2020-05-01 21:57] LisaAlmarode commented on #799
Candidate for 3.1.1 work.

[2020-05-01 22:12] LisaAlmarode commented on #795
This is reliabley reproducible in 3.2.1.5... I've seen intermittent purple area selection and been annoyed which may or may not be the same.

[2020-05-01 22:23] LisaAlmarode commented on #567
close this in favor of issue #795 which has more details and is easier to understand.

[2020-05-01 22:23] #567 closed, assigned to ericwinger

[2020-05-01 22:26] LisaAlmarode commented on #653
While it's possible we want to give folks more control over fonts, we'll wait for the complaints to come pouring in.

[2020-05-01 22:29] LisaAlmarode commented on #782
Waiting on issue #781

[2020-05-02 19:04] dalehenrich commented on #787
Haha, I deleted that branch after it was merged into candidateV2.0 (after I'd written comment):)..

Updated the link in the comment ... and [here it is again](https://github.com/GemTalk/Rowan/blob/candidateV2.0/rowan/v2/proposed_specs/RowanDiskAPI_proposed.ston)

[2020-05-02 19:11] dalehenrich commented on #653
Is there a new prefs file browser? I copied my old 3.0.93 prefs file into the 3.1.0 directory and when I click on the icon or menu I get the workspace variant of "prefs file editor", Am I missing the ability to control font size?

[2020-05-02 19:28] dalehenrich commented on #787
Updated the [issue description field](https://github.com/GemTalk/Jadeite/issues/787#issue-609196674) with my thoughts on Components being used to view/organize classes in the project browser...

[2020-05-02 20:36] dalehenrich commented on #787
Updated the [issue description field](https://github.com/GemTalk/Jadeite/issues/787#issue-609196674) with my thoughts on possible changes to the functionality of the Project List

[2020-05-02 22:21] dalehenrich opened #802 "(3.1.0) frozen debugger"
debugger is frozen ... not updated and clicking on different frames doesn't change state:
![image](https://user-images.githubusercontent.com/623951/80893573-6bc90b00-8c88-11ea-8dc1-b553e8efb457.png)
resize debugger causes the method pane to refresh, but the frame list is still not updating:
![image](https://user-images.githubusercontent.com/623951/80893589-94e99b80-8c88-11ea-98c8-49ce028564a6.png)

[2020-05-02 23:32] dalehenrich opened #803 "(3.1.0) same test shows up twice in sunit browser"
The test `test_issue428_loaded_on_disk` shows up twice in the list, but there is only one implementer and it is in RwProject test:
![image](https://user-images.githubusercontent.com/623951/80894692-172a8d80-8c92-11ea-8dde-327518b340b0.png)
**NOTE**: there is another test that is an extension method ... if that matters

[2020-05-02 23:34] dalehenrich commented on #803
not a bug ... `no_disk` and `on_disk` ... larger fonts would help these old eyes;)

[2020-05-02 23:34] #803 closed, assigned to ericwinger

[2020-05-05 23:28] LisaAlmarode commented on #788
I have confirmed that this reproduces with candidatev2.0 and 3.6, but not in 3.1.0 with 3.2.1.5.

The given example reproduces easily in candidatev2.0 and 3.6.

[2020-05-06 01:19] dalehenrich commented on #787
Updated the [issue description field](https://github.com/GemTalk/Jadeite/issues/787#issue-609196674) with my thoughts on the support for readonly repos in the project list

[2020-05-06 18:33] LisaAlmarode commented on #653
There's the source styler still available on the project menu bar, but yes, the ability to control the system font and styling in the workspace was removed by this change.  Are you a complaint pouring in?

[2020-05-06 18:44] dalehenrich commented on #653
Well, I guess so ... I've been waiting to ask for the ability to change fonts until the new Dolphin was integrated ... now that it has been integrated, I didn't actually look for that capability until I saw this bug, that seemed to imply that changing fonts and font sizes might actually be a thing now:)

Does the source styler save the settings to a file? if not then I won't waste time figuring ou

[2020-05-06 22:00] LisaAlmarode commented on #653
The source styler doesn't write to any file, and changes don't persist over jadeite restart.  I wouldn't expect the currently inaccessible preferences to change workspace code styling and system fonts to be persistent either.

The source styler has about a bajillion options (well, 240) so maybe a bit much for a file and overkill for what you want, which would be a single override for font size - a

[2020-05-06 22:09] dalehenrich commented on #653
I wouldn't necessarily expect that the preferences for styling to be "human usable", but there should be a way to persist the settings across jadite invocations ... I assume that the styler is the same one used for Dolphin development where I assume there is the ability to save an image ... the same goes for system fonts and font sizes ... I wouldn't expect to be changing them by hand ... for Jade

[2020-05-06 22:32] LisaAlmarode commented on #653
You might want to actually look at the source styler (PB menu bar item for Preferences > Source Styler...).  Personally I'd hate to have to adjust font and font size for readability using the source styler, 30 separate changes to adjust font size...

[2020-05-06 23:33] dalehenrich commented on #653
Yikes ..yeah that is not what I think of when I say "change font and font size":) Since all of the fontfields (that  I looked at) are empty, I don't even know which font or font size i'm actually using ... I would think there's be a simpler way to set font size ... and more persistent:)

[2020-05-08 19:18] ericwinger opened #804 "Update 3.6 client libraries"
Until 3.6 is a released product, update the 3.6 client libraries with each release of Jadeite.

[2020-05-08 19:26] LisaAlmarode opened #805 "Preference to adjust font size (3.1.0)"
It is likely that someone would want to adjust their font size for:
  (1) all fonts everywhere (system and code),
  (2) have that be persistent across restarts of Jadeite.
  (3) have it be fairly easy to change, so e.g. you could adjust the font size if you sometimes ran with an external monitor and sometimes not.

Currently, we have the sourceStyler which only updates the style for method code in

[2020-05-08 19:29] LisaAlmarode commented on #653
I've formulated the request as issue #805, so any further discussion should be on that issue.

[2020-05-09 01:14] dalehenrich opened #806 "(3.1.0) incorrect tab label in Project Browser"
The selected tab, should probably be RwResolvedProject:
![image](https://user-images.githubusercontent.com/623951/81460035-9e2aaa80-9157-11ea-8d3c-bd29b253efc1.png)

[2020-05-11 18:46] dalehenrich opened #807 "(3.1.0) would be nice to have `browse method history` in debugger frame list"
As a general rule, I think that all of the method menus in the project browse should be available in the debugger frame list and the method browser ... there may be certain menu items that don't make sense in a specific window, and in those cases the menu item should be excluded, whenever a new menu item is added to the project browser it should be added to the debugger and method browser as well

[2020-05-12 17:54] dalehenrich commented on #797
hung again ... got `invalid session`, clicked okay the project browser closed and perhaps another and then froze. The window on top appears to be the workspace tab of the console and it would not have been saved, so Jadiete froze before/while bringing up the `save` dialog:
![image](https://user-images.githubusercontent.com/623951/81728121-ce679700-943e-11ea-8a96-091775439958.png)

[2020-05-14 18:38] dalehenrich opened #808 "(3.1.0) additional changes browser suggestions"
it might be nice to do `identical source` filtering on changes that are the same after `parse diff tree` filtering is applied since it is tedious to wade through a bunch of changes where only formatting was changed ... might also make the use of parse tree diffing optional when one is interested in actually looking at the formatting differences, when you want to wade through the formatting changes

[2020-05-14 18:44] dalehenrich opened #809 "project browser should list the `repositoryRoot` path for each project"
with Rowan V2.0, it is possible to changed the repository root of a project (a feature that needs to be added to the project list for v2) and therefore, it should be possible to see the repository root for a project

[2020-05-14 19:22] dalehenrich opened #810 "(3.1.0) MNU `stackDepth` in middle of debugging session"
Here's the error stack:
![image](https://user-images.githubusercontent.com/623951/81975987-b75eab80-95dc-11ea-8035-5f48f2a2e5b4.png)
The blank window on the left was the original debugger, the blank widow center was a debugger that I think was coming up after a step in the original debugger (offset error) and the visible debugger is the `stack depth` mnu:
![image](https://user-images.githubusercon

[2020-05-14 19:56] dalehenrich commented on #798
bumping this one to critical ... happens pretty much randomly, but today it seems like every third debugger comes up with the icons disabled and using the menu to step is VERY annoying...

Assigning this to @LisaAlmarode so that perhaps work on this particular bug can be prioritzed

[2020-05-14 20:01] dalehenrich commented on #810
hit it again ... sorta ... this time the `offset error` window has frozen the image and I'm going have to kill jadeite:
![image](https://user-images.githubusercontent.com/623951/81980153-f3950a80-95e2-11ea-9d78-6abdc3e024d5.png)

[2020-05-14 20:06] dalehenrich commented on #807
add changes browser to the list of `method menus` that sould have common menu items ... (the class and method selector) are available and it is often the case that I want to browse the method itself and not wade through a list implementors to find the right method ...

[2020-05-14 20:09] dalehenrich commented on #810
I think that this the method that is causing the problem:
[code]
Note that there is a `send to self` in this method ... earlier the `gitcommitShaIn` was throwing errors, but notice that there **IS** and ERROR handler block in place, so not clear to me why the debugger would get confused ... I **am** using stepping around in here and it is 3.6.0.

[2020-05-27 21:02] ericwinger opened #811 "Possible performance improvement after rsr integration complete"
Depending on the speed of the new transport layer currently being integrated into Jadeite / Rowan Services, there may be a performance improvement had by configuring whether a service is automatically replicated to the client.  See this issue in the RSR project https://github.com/GemTalk/RemoteServiceReplication/issues/7#issuecomment-634930464

[2020-05-29 16:53] dalehenrich opened #812 "would be useful to have option in project list, to show only those projects created by current user"
Currently when logging in as non-SystemUser you see the list of projects based upon those created by the current user and those projects that have packages installed in the visible symbol dictionaries. Here's an example for the user `Ernie` in 3.6.0:
![image](https://user-images.githubusercontent.com/623951/83284611-c07d7a00-a191-11ea-9794-02b1d9572332.png)
Only the `Ernie` project has been create

[2020-05-29 17:11] dalehenrich opened #813 "would be useful to be able to filter failing/error tests in SUnit browser ..."
My use case is that I have an Ernie test case with 100+ tests and only 10 failures and I would like to be able to focus only the failing test cases:
![image](https://user-images.githubusercontent.com/623951/83286168-561a0900-a194-11ea-9d02-4cbba85829ab.png)
Scrolling around in the list of 100+ tests looking for the failing tests is not very convenient

[2020-05-29 17:49] dalehenrich opened #814 "(Oscar3.1.0) long delays for opening `Ernie-Tests` in SUnit browser"
This is a multi-minute delay when I'm logged in as Ernie in 3.6.0 with base and Ernie packaged ... I understand that it doesn't make sense to do performance improvements until we have started using RSR, so treat this issue as a test case (packaged base and Ernie test suites) for performance moving forward.

Once the SUnit browser is opened, click on `Ernie-Tests` and settle down to wait... there a

[2020-05-29 17:54] dalehenrich commented on #814
Turns out that the long delay for find class dialog was actually an instance of #801, as I had a debugger open at the time ... SUnit browser was opened **before** I brought the debugger up, so it's long opening time is still a valid complaint

[2020-06-03 18:41] dalehenrich opened #815 "break point browser enhancements"
I was hoping that I could use the breakpoint browser as a guide to setting breakpoints in a topaz run, but it turns out that the step point (the piece that I was hoping to get is not displayed:
![image](https://user-images.githubusercontent.com/623951/83674960-1c2e7580-a58d-11ea-962c-2755d64d9b8f.png)
Firstly, I think that the step point should be displayed in the browser. If there are multiple br

[2020-06-07 17:27] dalehenrich opened #816 "(3.1.0) need to change class lookup in project browser and ? for use with 3.6.0 image"
When there is more than one class with the same name in a symbol list, the Project Browser will find the wrong class when browsing by package or by symbol dictionary.

This happens in 3.6.0, since there are multiple classes for each of the following Stream classes: ReadStream, WriteStream, and PositionableStream. There are legacy and the portable variants for each of those classes, but in a standa

[2020-06-11 19:54] dalehenrich commented on #789
I am doing a lot of debugging/development today and I am continually hitting this issue ... I cannot use the project browser if the debugger is open, which is quite a serious issue and it is definitely hindering my ability to use Jadeite.

[2020-06-11 20:51] dalehenrich opened #817 "(3.1.0) should be able to independently control width of code pane in breakpoint browser"
you can see that I'm starting to waste screen real estate in the left hand pane as I try to widen the window wide enough to avoid line wrap:
![image](https://user-images.githubusercontent.com/623951/84437865-8e850280-abea-11ea-8557-6502257df46a.png)

[2020-06-11 22:22] dalehenrich commented on #802
Hit frozen debugger for the second or third time today ... creates a real break in development flow when you have to restart image to continue with your next thought ... I was closing debugger so I could edit code in the project browser without freezing the project browser (#789)... when debugger freezes I have to kill and restart Dolphin

[2020-06-12 01:35] dalehenrich commented on #802
hit frozen debugger again ... killed image start over ... unsaved method in progress lost

[2020-06-12 16:59] dalehenrich opened #818 "(3.1.0) find string dialog disabled when debugger is present"
I'm actually trying to search in the workspace (upper right), but the debugger is apparently blocking the proper operation of the dialog:
![image](https://user-images.githubusercontent.com/623951/84527392-e0816300-ac92-11ea-9c50-31e36de90629.png)
Related issues: #789,  #801, #802

[2020-06-12 18:28] dalehenrich commented on #802
hit frozen debugger again ... this time I had modified a method and then clicked on another frame ... a dialog should have come up, so I'm suspicious that something in the debugger is blocking the creation of the dialog and or processing windows events in some way ...

[2020-06-12 18:41] dalehenrich opened #819 "(3.1.0) hung debugger with unknown error trying to trim stack"
I am getting to the point, where I not able to use Jadeite for development. I need to be able to work for more that 10 minutes in a row, before having to kill my image and get back to what I am trying to figure out:
![image](https://user-images.githubusercontent.com/623951/84535710-2cd39f80-aca1-11ea-9d4c-fd5ac2049035.png)

[2020-06-12 20:53] dalehenrich commented on #802
image froze again with open debugger and a `dirty` inspector, so again a dialog was expected with debugger open and the image is frozen:
![image](https://user-images.githubusercontent.com/623951/84545408-12ef8800-acb4-11ea-9fde-8dffb70d90b0.png)

[2020-06-15 04:00] martinmcclure commented on #691
Reopening, since I'm still seeing this with Jadeite 3.1.0 and the latest dkh-rowanCandidateV2.0, developing as SystemUser.

[2020-06-15 04:32] martinmcclure opened #820 "Easily advance to tip of branch if no change to GemStone code"
Today, if you are working in Jadeite and make a commit to a repo from outside of Jadeite, the SHA in the Jadeite Project Browser turns red. The only path forward that I've found that preserves any uncommitted work is to create a new branch, do a "Checkout Git Branch" of the new branch, commit there, do a merge outside of Jadeite, and load from the merged branch.

This is true even if the foreign c

[2020-06-15 16:09] dalehenrich commented on #691
What is the exact sequence of events leading from black to red? As I think about this I'm not sure that the `loaded SHA` is changed on write ... I seem to recall that this happens to me when I have done a command-line commit before doing the write ... of course, if we pick up the SHA after we've written to disk, we will immediately get skew again if we do another command line commit ... Personally

[2020-06-15 16:55] martinmcclure commented on #691
The sequence is:
1) Start with the project **isDirty** false, **skew** false.
2) Add a method. Now **isDirty** is true, **skew** false.
3) "Commit to Git" in project browser. **isDirty** is now set to false, but **isSkew** is true and the package is shown in red.The **Loaded Sha** has _not_ been changed.

It seems like if you do a commit _through Jadeite_ it should move the **Loaded Sha** to what

[2020-06-15 17:21] martinmcclure commented on #820
I had the thought that a **Checkout Git Branch** of the current branch might do something like what I requested. It doesn't. It leaves the **Loaded Sha** set to where it was, even if that's not the tip of the branch.

I am left rather unsure of what **Checkout Git Branch** is supposed to do. Is it *only* supposed to update disk, and not affect loaded packages at all?

[2020-06-15 18:14] dalehenrich commented on #691
I've created a Rowan bug (GemTalk/Rowan#622) that references this one to take a look at the `git commit` logic and make sure that we update the loaded commitId on `git commit`

[2020-06-15 18:26] dalehenrich commented on #820
The loaded sha is supposed to represent the commit that was actually loaded into the image ... this is supposed to be a reference that is maintained so that the developer will know that unless they absolutely `know what they are doing` they might do something that they regret later ...

The approved way of finding yourself with a dirty image (unsaved changes) and version skew is to checkout the lo

[2020-06-15 20:06] martinmcclure commented on #820
I understand that handling all the desirable cases is complicated. What I'm asking for here is one fairly simple case that is safe and would relieve a significant pain point for development of Sparkle. Many commits are to Pharo-specific code, or to GemStone-specific code, or to documentation. When I've made changes to Pharo-specific code, and to GemStone-specific code, and I now want to commit to

[2020-06-15 20:16] dalehenrich commented on #820
the version skew shouldn't prevent you from doing what you want ... it doesn't stop you from writing/commiting/loading, it is just an indicator that you should be aware that there is a mismatch ... so where is it that Jadeite prevents you from "doing what you want to do"?

if you **mentally** move the loaded sha forward, and commit that should work ...

[2020-06-15 21:22] martinmcclure commented on #820
Committing does work; I wasn't sure it would. It's not safe, though -- for any changes to shared packages the later commit wins, even when adding or removing the same method. And there aren't any warnings that you're doing something unsafe, other than the text style.
What I'd like with this request is for the new feature to check that it's safe to move the loaded sha to the tip of the branch. If t

[2020-06-16 18:41] dalehenrich commented on #820
It is never "safe" to write when there is version skew, unless you do a diff and confirm that the changes make sense to you ... I'm not quite sure that I follow the "safety check", it seems that it might be hard to determine what is safe ... the point of the skew is to let me know that the commit is not safe ... and that is a pretty cheap way to keep ourselves sane ...

When I am sharing work betw

[2020-06-16 18:57] dalehenrich opened #821 "Breakpoints don't stay disable"
I disabled breakpoints for a method using breakpoint browser:
![image](https://user-images.githubusercontent.com/623951/84815637-2b1f1a00-afc8-11ea-839e-48463dfead35.png)
then proceeded to run a test via doit in workspace and ended up hitting the disabled breakpoint:
![image](https://user-images.githubusercontent.com/623951/84815777-628dc680-afc8-11ea-983c-1b165de27d90.png)

[2020-06-16 19:37] martinmcclure commented on #820
The "safety check" that I had in mind is pretty simple. It's "has _anything_ in _any_ loaded package changed between loadedSha and branchTipSha."
If not, it's safe to set loadedSha to branchTipSha.

This is useful to me because many times a commit makes no changes to any package loaded in GemStone, only to Pharo-specific packages or to documentation.

[2020-06-16 21:03] dalehenrich commented on #820
I'm not so sure that a special advance operation is actually required or not, but this is simple enough for you to do manually: look at the diffs yourself and then load if you are satisfied ... given the rule that the loaded commitId is supposed to match the commit that was loaded ... your advance feature (if it becomes a feature) has to do a load at the end, otherwise the "safety check" becomes e

[2020-06-16 22:44] dalehenrich opened #822 "would be nice to be able to choose to browse a method, when full project browser is overkill"
There are a number of places in Jadeite, where one is given the option to `browse`, but you end up with an entire project browser when all you want is to browse the method:
![image](https://user-images.githubusercontent.com/623951/84835194-e60ae000-afe7-11ea-880e-67491b185679.png)

I've shown the breakpoint browser here, but there are a number of places where the `browse` menu item shows up and in

[2020-06-16 23:36] martinmcclure commented on #820
You mean look at the diffs in Git (outside of Jadeite)? That would be a bit of work, and error-prone, but not too bad.
But I can't just load, because I will often have uncommitted changes, and for that reason the advance operation can't load either. It should just change the loaded sha if it's safe, and fail to do anything if it's not.

I don't mind that it doesn't compare changes that affect the

[2020-06-17 18:02] ericwinger opened #823 "[V2.0] Restore RowanProjectService>>addPackageNamed: so client tests work"
Adding a V2.0 Package is different but the client tests that exercise the now-removed `RowanProjectService>>addPackageNamed:` should still work. Need to setup a default using 'Core' component.

For reference: https://github.com/GemTalk/Rowan/issues/623

[2020-06-17 18:07] dalehenrich commented on #823
If this method is included in Jadeite, then we run the risk of leading any users of Jadeite that `add package` can be used ... if the menu items that call addPackage: are disabled, then I'm not concerned about having `RowanProjectService>>addPackageNamed:` implemented.

[2020-06-17 19:05] dalehenrich commented on #801
bumped to critical, because I just hit this problem again this morning and had to kill jadeite and lose working state (with autocommit no code was lost, just time getting back to where I was when the image froze

[2020-06-17 20:36] ericwinger commented on #823
The only concern of this bug is to make sure we can continue to run Jadeite tests which add packages as part of testing other gui functions. It's not related to product features. Currently, some Jadeite tests won't run because `addPackageName:` is missing.

When Jadeite is updated to add V2.0 packages, all the menu items will be updated and tests written (& rewritten). Then I'll "re-remove" `addPa

[2020-06-17 20:42] dalehenrich commented on #823
So the `Add package` menu item in 3.1.0 has been removed? ... I removed the method, because I don't want developers to think that add package works ... same rationale for remove the newGit... method ... better to get a MNU than to do something random that the user doesn't expect ... The add package should not work until it has been converted to v2.0 ... I understand that you want tests to pass, bu

[2020-06-17 21:26] ericwinger commented on #823
`Add package` is present in the current Jadeite git branch based on Jadeite 3.1.0.

However, I see your concern now of adding the method `addPackageNamed:` back into server services and will disable the client menu option `Add package` in my next Jadeite commit.

If you want me to remove other gui features. I can do that, but I'd need a list of menu items and features to disable listed in a separa

[2020-06-17 21:50] ericwinger commented on #823
`addPackageNamed:` was restored to `RowanProjectService` in Rowan project and `Add package` menu option was disabled in the Jadeite gui temporarily.

[2020-06-17 21:52] #823 closed, assigned to ericwinger

[2020-06-18 15:19] dalehenrich commented on #789
As a data point, I've found that if I drag the debugger window around on the screen the project browser becomes momentarily active and updates ... the sequence is:
1. discover project browser is unresponsive with debugger open
2. select a method (with no effect)
3. drag debugger around
4. method becomes visible, but project browser is still unresponsive
Hopefully this will help you isolate the pro

[2020-06-19 21:10] ericwinger opened #824 "post project load handling improvement"
Loading a project in Rowan V2.0 can, so far, be done by `(Rowan projectNamed: <project_name>) load` or `(RwSpecification fromUrl: <fileString>) resolveString load`.

In V2.0, both of these return an array of RwProject instances which can be used to update the project list. Currently, Jadeite only updates the named project.

[2020-06-19 22:17] ericwinger commented on #457
V2.0 audit code is `(Rowan projectNamed: <project-name>) audit`

Moving this to the new V2.0 project so it will get addressed.

[2020-06-22 18:47] dalehenrich opened #825 "v2.0 support: RowanBrowserService >> recompileMethodsAfterClassCompilation will need to change"
changing RowanBrowserService >> recompileMethodsAfterClassCompilation may depend upon the ultimate resolution of GemTalk/Rowan#626. My current plans involve allowing unmanaged classes and methods to coexist with package classes and methods ... the implication here is that the Project browser should not expect that all classes and methods will be packaged.

As I'm starting to make this a reality, I

[2020-06-22 18:48] dalehenrich commented on #825
This is not a critical bug ... the classes and methods (presumably) are created correctly and I'm working through the errors in Rowan as we speak:)

[2020-06-24 18:11] dalehenrich opened #826 "Does it make sense to maintain menu item order across windows?"
I've got several screen shots here and the `Browse Selected Method` menu item bounces around a bit and is missing from the message browser ... consequently every time I want to browse a method that I have selected I end up searching the menu for `Browse selected method` because I can't count on it being in the same place (or even being present) when I have a method selected. ... and I do this fair

[2020-06-24 18:16] ericwinger commented on #826
This is a @LisaAlmarode question.  If menu order is desirable, then I'd ask that you (kindly) coordinate on what the order should be for each menu.

[2020-06-24 20:42] dalehenrich commented on #826
Here are a couple of examples for the "Jadeite" menu. Two menus with the same name, but entirely different content ... I actually would like the "Jadeite" menu from the console to be present on all of the windows, so I don't want to have to hunt for the console window to toggle one of the properties (auto commit or breakpoints):
![image](https://user-images.githubusercontent.com/623951/85625126-cb

[2020-06-25 19:14] dalehenrich opened #827 "Would be nice to be able to request that all `browse` menu items be routed to an existing project browser"
I often find myself in a position where there is the opportunity to use the `browse` menu item:
![image](https://user-images.githubusercontent.com/623951/85783972-ab3a3380-b6dc-11ea-99da-546f7c7029f3.png)
and I really want to browse the class and the method, but I already have enough window clutter that opening another project browser when I already have a perfectly serviceable project browser rea

[2020-06-25 23:52] dalehenrich opened #828 "`UndefinedObject does not understand #asString` from `Browse Selected method` in SUnit Browser"
All three selected methods exist (seems I cannot browse any of the selected  methods in SUnit Browser (1 or many selections) right now) ... project browse is open on one of the methods so they all exist  :
![image](https://user-images.githubusercontent.com/623951/85806545-29f69700-b704-11ea-9d03-55ab94848ed0.png)

[code]

[2020-06-25 23:54] dalehenrich commented on #828
Browsed all three selected methods from the project browser without error .... still can't browse from SUnit Browser

[2020-07-01 21:56] ericwinger commented on #819
Was able to get a recurrence of the trim stack error:
![image](https://user-images.githubusercontent.com/36212516/86295025-919c5e80-bbaa-11ea-8e68-83e61fa28a1c.png)

1. I had put a breakpoint in the following code at the `with:` before running the method.
2. Executed `RowanSample1 new arbitraryCode` and a debugger opened.
3. Then from inside the debugger I added a breakpoint at `show:`
4. Then ran

[2020-07-02 20:06] ericwinger opened #829 "Cleanup references to unsent JadeServer methods"
Running `ClassOrganizer new sentButNotImplementedReport` one sees numerous entries for `JadeServer` methods that are unsent on the server. While some are still being called from the Jadeite client, many are obsolete and should be removed.

Full list is here:
[20200702 sentButNotImplemented.txt](https://github.com/GemTalk/Jadeite/files/4866411/20200702.sentButNotImplemented.txt)

[2020-07-10 17:01] dalehenrich opened #830 "Warning during login, terminates login sequence"
After a new server build, I am seeing the following Warning, that is coming from the server:
![image](https://user-images.githubusercontent.com/623951/87179711-0733b900-c294-11ea-9536-0d9560bd13bf.png)
Since it _is_ a warning, I thing that the dialog is appropriate, but we should probably continue with login sequence ...

[2020-07-10 17:21] ericwinger commented on #830
<sub>[View in Slack](https://gemtalksystems.slack.com/archives/DTQTTMC07/p1594401377014200)</sub>

[2020-07-11 18:14] dalehenrich opened #831 "browse selected method menu item would be useful in method browser, too"
Everywhere that you have a method selected, it would be useful to have `browse selected method` option to open a method browser on that method in a separate method browser ...

[2020-07-11 18:20] dalehenrich commented on #831
in case a use case is needed for justification. Window on left is list of failing tests methods that need work. I just finished getting the first test to pass, and now want to move on to the other tests ... the window opened on right is in separate window for reference, but I had to navigate to the project browser and the method in order to open the window:
![image](https://user-images.githubuserc

[2020-07-30 19:47] dalehenrich opened #832 "OffsetError during `find method containing` in 3.6.0"
In an image with these particulars:
![image](https://user-images.githubusercontent.com/623951/88967430-abd96300-d262-11ea-823c-2456785f54d9.png)

I did a search for methods containing `tonel` and hit this error .seems that the methods array is not structured as expected:
[code]

[2020-08-05 22:12] ericwinger commented on #824
Projects updated as a result of a load to their "parent project" are now updated in Jadeite 3.2. https://github.com/GemTalk/Rowan/commit/edf0168d1117a01d174925333efedec82df0261c

[2020-08-05 22:12] #824 closed, assigned to ericwinger

[2020-08-06 20:26] ericwinger commented on #832
This appears to be a change in 3.6. From memory, `ClassOrganizer >> substringSearch:` used to return two arrays - the methods & the first offset of the search string. Now three arrays are returned. `RowanQueryService>>methodsContaining:` accessed the "last" element of the array to get the first offset. It should have referenced the second element. https://github.com/GemTalk/Rowan/commit/bf941fadc0

[2020-08-06 20:26] #832 closed, assigned to ericwinger

[2020-08-06 20:52] dalehenrich commented on #832
Is that fix going to be on the oscar branch? If not, I think I'll just cherry pick the commit into Rowan ... I'd like to have the fix sooner rather than later

[2020-08-06 22:34] ericwinger commented on #832
The fix is in the OscarV2.0 branch and probably won't be ported back. However, it's a simple fix.

Let me know if that does not work for you.

[code]

[2020-08-07 16:27] dalehenrich opened #833 "Dolphin stack overflow during doit that is expected to produce an error (HR10114 reproduction test case)"
I got the following stack while executing the doit:
![image](https://user-images.githubusercontent.com/623951/89666627-8ca88a00-d88f-11ea-9224-f58e3d52d76b.png)
[bug_1.txt](https://github.com/GemTalk/Jadeite/files/5042542/bug_1.txt)
after closing the `recursion too deep dialog`:
![image](https://user-images.githubusercontent.com/623951/89666694-aa75ef00-d88f-11ea-89d6-5c959c9af892.png)
I was unabl

[2020-08-07 16:30] dalehenrich commented on #833
The topaz stack is not that large, so something else must be consuming all of the Dolphin stack space:
[code]

[2020-08-07 16:39] ericwinger commented on #801
Is it fair to assume that a debugger was open at the same time the error occurred? (As in the previous examples)

[2020-08-07 16:51] ericwinger commented on #833
Trying to install the code necessary to reproduce the problem...

I don't seem to be able to get to the `_home` directory in the file-in path specified. Perhaps I'm doing something wrong or it links to a location I don't have access to?

[code]

[2020-08-07 17:05] ericwinger commented on #831
I think that the best course of action is to use a common method menu anywhere method lists & sources are displayed. Currently the respective menus for the browser, debugger, and the method list are different and maintained separately. Unifying them (and allowing for window-specific menu enablement - e.g. not running tests from the debugger possibly) would be easier to maintain.

![image](https://

[2020-08-07 17:15] ericwinger commented on #830
It is probably relatively easy to wrap the login code in a Warning handler. Adding to the[ Support Rowan 2.0 project](https://github.com/GemTalk/Jadeite/projects/5).

We could either raise a dialog & continue, print a Transcript message, or possibly allow the user to abort the login procedure.
My first inclination is to just print a Transcript message rather than requiring user interaction so test

[2020-08-07 17:17] ericwinger commented on #829
Not going to impact anything but server tests. Still we should clean this up before the 3.6 release. Labeling as Critical so it won't get lost.

[2020-08-07 17:25] dalehenrich commented on #801
Yes. in the second image and comment in the bug report, I state `then image hangs, when find class attempted with debugger open` and the debugger is visible in the image ...

[2020-08-07 17:27] dalehenrich commented on #833
That's /home on my machine and it is not accessible by anyone else .. you can download the file from https://kermit.gemtalksystems.com/bug?bug=48965

[2020-08-07 17:33] dalehenrich commented on #830
FWIW, I would prefer to get a dialog ... I never (rarely) open the transcript tab, so I would not be getting the Warning, that I supposedly need to see ... it would be fair to have a preference for `ignore login warnings` that is off by default ... to make it possible to ignore during tests ...

[2020-08-07 17:35] dalehenrich commented on #829
Actually, the server tests will be run against an extent without Rowan installed, so it isn't as critical as it once was ... OTOH, it should be cleaned up before we start work on 3.7 ... I would prioritize V2.0 GUI ahead of the SNI ...

[2020-08-07 19:18] ericwinger commented on #801
I should have been more specific. I was referring to the [June 17th comment](https://github.com/GemTalk/Jadeite/issues/801#issuecomment-645565325) which didn't explicitly state a debugger was open. Presumably it was.  The images are from May 1st.

[2020-08-07 20:21] ericwinger commented on #828
Fixed in Jadeite 3.2. When the sunit browser was open on a test class when a new test was added in another browser, the method service was not getting the `definedClassName` inst var updated correctly. Without that, the test doesn't know which method to browse when `Browse Selected Tests` is selected. Fix in `Rowan`. Tests in both `Rowan` and `Jadeite` projects.

[2020-08-07 20:21] #828 closed, assigned to ericwinger

[2020-08-07 21:08] ericwinger commented on #827
This certainly wouldn't be too hard to do. It would add YAMO (Yet Another Menu Option). If my suggestion in #831 is implemented https://github.com/GemTalk/Jadeite/issues/831#issuecomment-670616423, that would add to an already busy menu.

Jadeite would also have to guess which browser to add a tab to if multiple project browsers were already open. Maybe that doesn't matter?

Another possibility wo

[2020-08-07 21:10] ericwinger commented on #826
A related comment about the method menu is here https://github.com/GemTalk/Jadeite/issues/831#issuecomment-670616423.

[2020-08-07 21:13] ericwinger commented on #822
Might be worth including some of the method menu functionality here as well. That would bring in the "Browse Selected Method" feature. See https://github.com/GemTalk/Jadeite/issues/831#issuecomment-670616423

[2020-08-07 21:51] ericwinger commented on #821
The first picture of the breakpoint browser shows that there is a disabled breakpoint. But the second picture (copied below) shows that the same breakpoint is not disabled. If the second one is to be believed, then the correct behavior was for the test to stop at the second breakpoint.

![image](https://user-images.githubusercontent.com/36212516/89690108-998ea300-d8ba-11ea-9d98-c01f111c7126.png)

[2020-08-07 21:54] ericwinger commented on #820
Is there consensus yet on whether this feature should be put into Jadeite?

[2020-08-07 22:01] martinmcclure commented on #820
It would make things easier for developers. I think it would also require support in Rowan, so can't be added to Jadeite until that support is there.

[2020-08-07 22:04] martinmcclure commented on #820
Rowan would have to diff between two commits (current base and tip) and verify that there are no GemStone code changes between them.

[2020-08-07 22:54] ericwinger commented on #819
This took a long time to fix and may not be complete. The heart of the problem was that Jadeite was not able to open two debuggers at once safely.

Code inherited from early Jade development opens a debugger on a server error then sends `answer` which waits on the idleProcess to know when it may close itself or resume. See `JadeiteDebugger class>>openOn:message:terminateOnClose:` and `JadeDebugger

[2020-08-08 00:00] dalehenrich commented on #801
Yes, I would have opened a new bug or mentioned the variation ... I re-reported the instance because I wanted to keep the issue "warm"

[2020-08-08 00:16] dalehenrich commented on #827
I can understand menu clutter ... this happens to be a case where a preference could be used ... I only EVER have one project browser open at a time ... if there are multiple project browsers open, I would think that randomly choosing one to add the new tab to would be preferable to creating a new project browser ...

I would definitely like this feature ... I often want to consolidate methods fro

[2020-08-08 00:25] dalehenrich commented on #821
I haven't been using the breakpoint browser recently ... I think I have several issues submitted and I'm waiting for those issues to be addressed (I think this gets them: https://github.com/GemTalk/Jadeite/issues?q=is%3Aopen+is%3Aissue+author%3Adalehenrich+breakpoint+browser).... don't get me wrong ... i **want** to use the breakpoint browser:)

[2020-08-08 00:28] dalehenrich commented on #820
I think the answer is that there is no consensus ... I think it will take some white boarding (or water boarding) to come to consensus:)

[2020-08-08 00:34] dalehenrich commented on #819
I got hit by the two debugger problem earlier today, so I'm glad you're making progress on the hung Dolphin front ...

[2020-08-11 22:58] ericwinger commented on #833
After filing in `HR10114Reproduction.gs` then running `TestPerson reproduceProblem`, I get a stack which failed because an object was not present in an IdentityBag. No recursive stack. Is this an expected error?

[20200811_issue833_stack.txt](https://github.com/GemTalk/Jadeite/files/5059839/20200811_issue833_stack.txt)

I am using my latest development Jadeite code against a GemStone/64 3.6 server

[2020-08-11 23:25] dalehenrich commented on #833
That is not the error I am seeing when I debug from topaz ... this is an nsc with an index, so depending upon how you are inspecting the object, you may be getting back other instance variables in the collection and thinking that they are in the collection?

[2020-08-11 23:41] ericwinger commented on #833
I see the same error in topaz. The error is generated on the server.
[code]

[2020-08-12 00:00] dalehenrich commented on #833
I thought you said that you were seeing "because an object was not present in an IdentityBag" ... I get a stack overflow instead of a TransactionError ... are you saying that you've fixed the problem or that you are not getting a stack overflow when you try (which is perhaps the same thing)?

[2020-08-12 00:00] dalehenrich commented on #833
okay ... so you may have fixed the issue then ...

[2020-08-12 16:01] ericwinger commented on #833
_"okay ... so you may have fixed the issue then ..."_
It's possible the issue was fixed in my debugger work.

Right now, I'm trying to reproduce the stack overflow which I cannot. Instead, I am getting a server error. I don't understand if the server error was the expected result. For me, the server error is consistent on both topaz and the latest, unreleased Jadeite.

Let me know if you would lik

[2020-08-12 16:30] dalehenrich commented on #833
It certainly seems fixed to me ... a debugger coming up on the server error was what I was hoping for:)

[2020-08-12 17:14] ericwinger commented on #833
Closing. Can reopen or file a new bug if it recurs again.

[2020-08-12 17:14] #833 closed, assigned to ericwinger

[2020-08-12 18:07] ericwinger commented on #810
I hit the same symptom but don't yet have a reproduction case. Here are the notes I took.

Possible timing bug.  Initial process oop of debugger got recycled. Not obviously reproducible. Very intermittent.
Scenario where issue was encountered:

- Debug tests in sunit browser on failing tests.
- Open debugger.
- In separate browser, run same test that fails.
- Get notifier, open debugger - Walkback

[2020-08-18 19:10] dalehenrich opened #834 "(3.1.0) closing SecurityError dialog from GemTalk/Rowan#638 results in error"
See GemTalk/Rowan#638 for reproduction info. Here's the error stack:
[code]

[2020-08-18 20:55] ericwinger commented on #834
I'm unable to login to the stone given in #638 recommended as the reproduction case. I assumed the password for HostAgentUser is the same as DataCurator & SystemUser. (No error log was produced)

![image](https://user-images.githubusercontent.com/36212516/90564263-f0696780-e159-11ea-9eef-f8f5d52aa1f1.png)
![image](https://user-images.githubusercontent.com/36212516/90564533-6241b100-e15a-11ea-9b4c-

[2020-08-18 21:45] dalehenrich commented on #834
swordfish is the password ... be aware that the bug only reproduces in a stone that has been freshly created ... so it's possible that that stone won't exhibit the bug ... if you want, ping me on slack and I'll create a fresh stone for you to log into ...

[2020-08-18 21:48] dalehenrich commented on #834
the ip address of rogue is probably different, but I can make an extent0.dbf available to you ... but then you'll need a non-std build ... it is possible that this bug reproduces with a sanctioned build ...

[2020-08-18 23:01] ericwinger commented on #834
When trying to open the debugger, Jadeite uses the transcript window's position to raise subsequent windows. But somehow a `JadeiteTranscript` instance ended up with a `DeafObject` instead of a proper window.  `DeafObject`'s are these annoying holders that are created by Dolphin and do nothing but return themselves no matter what message you send them. It's possible the login failed in a way that

[2020-08-18 23:01] #834 closed, assigned to ericwinger

[2020-08-18 23:30] ericwinger commented on #801
Naturally, this is proving devilishly difficult to reproduce. [Because the debugger mucks with the idle state in a way that was found to be inaccurate](https://github.com/GemTalk/Jadeite/issues/819#issuecomment-670775128), I suspect my changes in that area may have fixed this problem. But I don't have proof of that.

It would be helpful if I could see all windows open in the image next time this o

[2020-08-19 00:52] dalehenrich commented on #801
Of course it doesn't reproduce for me either - `1 foo` from console workspace ... in the snapshot above I can see a test browser (likely source of the debugger) a project browser and a workspace window and that's my standard complement of windows (of courxe there would be multiple tabs open in the project browser ... these days I'm doing limited debugger work in jadeite as I am debugging the slowf

[2020-08-19 17:45] ericwinger opened #835 "Doing a Find Class with unsaved method changes should confirm then save changes"
If you have unsaved changes in a project brower, then do a `Ctrl-Shift-F` and go to a new class, the tab stays starred and the method source pane stays on the changed method but the class is different.

Should send `isOkayToChange` or a cousin before allowing the browser to move to the new class.

[2020-08-19 18:43] ericwinger commented on #801
I can't quite tell from the issue report and comments ...
Did the Find Class dialog hang when it was opening?  Or did it hang after you've entered values and have pressed ok (or cancel)?

[2020-08-19 21:22] ericwinger commented on #818
Might be related to #801

[2020-08-19 22:00] ericwinger commented on #816
What are you replacing the senders of `globalNamed:` with?

[2020-08-19 22:16] ericwinger opened #836 "Can't reload (UnPackaged) project"
Not sure if this falls into the work of #787 but need to be able to reload the `(UnPackaged)` project or disable the menu option in the project browser.

![image](https://user-images.githubusercontent.com/36212516/90695192-d483c580-e22e-11ea-9b70-a341f349330b.png)

[code]

[2020-08-19 22:24] dalehenrich commented on #836
The UnPackaged project shows up as `not a project` in the project list ...  this is a misnomer, but this particular project is not attached to disk, so one should be able to write the project (and in the V2 universe attach the project to disk), but reload and load as operations do not make sense ... I'm curious what message you use to determine that this is not a project ... I can add a real messa

[2020-08-19 22:31] dalehenrich commented on #816
I replaced the use of globalNamed: with explicit lookup of the class in a symbol list and/or symbol dictionary ... for the project browser the lookup needs to depend upon the context ... if you are viewing the contents of a package, there is a symbol dictionary associated with each package and the lookup of classes in the package should use that symbol dictionary ... if you are viewing the class i

[2020-08-20 18:18] ericwinger commented on #806
There's obviously a path through the code where the tab label does not get updated.  However, I don't have enough clues yet to track it down.

If this happens again, please let me know what actions/clicks/etc you did immediately preceding the problem. Hopefully, that will give me enough to generate a reproduction case.

[2020-08-20 18:50] dalehenrich commented on #806
This happens pretty regularly with 3.1.0m but like most of the 3.1.0 bugs it is pretty random and I have not noticed any regular pattern ... it is worth noting the the actual bug seems to be that the tab **IS** updated, but it is using the wrong value ... as if a tab is updated with the previous tabs label ... just this morning I had a 4 tabs end up with the same (incorrect label) ... This morning

[2020-08-20 19:39] dalehenrich opened #837 "(3.1.0) Should be legal to `browser implementors or senders` of a removed method from changes browser"
![image](https://user-images.githubusercontent.com/623951/90817029-13268800-e2e2-11ea-8a52-a45b3d9378aa.png)

[2020-08-21 20:14] dalehenrich opened #838 "(3.1.0) Dirty project/package not updated after a drag of method between categories"
Here's a screen shot immediately after dragging the `substrings:` method from one package to another (between categories):
![image](https://user-images.githubusercontent.com/623951/90930738-0c664680-e3b0-11ea-804c-2acd63278732.png)

and here's the screenshot after doing a manual refresh in project list, so the Rowan meta data was updated:
![image](https://user-images.githubusercontent.com/623951/9

[2020-08-25 18:29] dalehenrich opened #839 "Managing packages for Rowan V2.0"
When we add support to Jadeite for the Rowan package convention (no correlation between packages and method categories) we will need to change how the Monticello and RowanHybrid conventions are handled and the main take away is that it seems that we will no longer manage packages in Jadeite by dragging a method to a category (see GemTalk/Rowan#639). If we explicitly move methods between packages,

[2020-08-25 21:38] ericwinger commented on #837
Should be fixed in next Jadeite release (version unknown - 3.2 perhaps?)

[2020-08-25 21:38] #837 closed, assigned to ericwinger

[2020-08-25 22:24] ericwinger commented on #838
This is very odd.  While I can move other methods in this project around and the project/package's dirty state gets updated, the package stays clean after moving this method to a new package (hybrid category). I would think the package would be dirty at this point.

![image](https://user-images.githubusercontent.com/36212516/91233463-1bb5fe80-e6e6-11ea-8618-74aa4df4c84f.png)

Here's the command th

[2020-08-25 22:45] ericwinger commented on #838
The aforementioned `moveMethods:to:` code looks like this:

[code]
![image](https://user-images.githubusercontent.com/36212516/91234047-5b311a80-e6e7-11ea-9d3e-e357262e40a4.png)

[2020-08-25 23:32] ericwinger commented on #838
Moving between packages via the hybrid category trick was not updating the destination package for the methods.

[2020-08-28 20:31] ericwinger commented on #147
Additional data point - The informal plan has been to separate RowanServices packages into their own project so they can be loaded independently of Rowan.

[2020-09-01 21:27] ericwinger commented on #799
Should be fixed in the next release of Jadeite. Per option #2 [here](https://github.com/GemTalk/Jadeite/issues/799#issuecomment-622010094), the Test Execution Class only appears if you have multiple classes selected.

[2020-09-01 21:27] #799 closed, assigned to ericwinger

[2020-09-02 19:08] ericwinger commented on #806
Using released Jadeite 3.1.0, I'm still unable to even see the problem. Code review doesn't reveal any leads. Assigning to Lisa in hopes she might find a reproduction case.

[2020-09-02 20:03] ericwinger commented on #816
When raising the Find Class Dialog window, Jadeite gets it's list of classes from `ClassOrganizer new classes`.  However, in my image, this code only returns one `PositionableStream` with oop `14027009`.

If there are two classes in the image, I think that we should show both in the Find Class Dialog window and let the user choose which they want to go to.

@dalehenrich What's the magic for gettin

[2020-09-02 21:15] ericwinger commented on #835
Fixed in Jadeite 3.2.0.

[2020-09-03 22:06] ericwinger commented on #805
Added a setting in the `Jadeite.prefs` file which will set the point size of the text pane globally.

[2020-09-04 18:28] ericwinger commented on #805
Also, added handy set & reset font size menu options to the `Preferences` browser menu.  Font size can be set  from 1 to 50. Reset sets it to the system default which appears to be about 10.

Remember, with great power comes great responsibility.

![image](https://user-images.githubusercontent.com/36212516/92274230-b6120100-eea1-11ea-8f7d-2019ded03e34.png)

[2020-09-04 21:22] ericwinger commented on #314
To make the instance variables stand out from the args and temps, I'm playing around with a layout that creates headers for easier identification. The variables would stay alphabetized within the two groups. If there are no variables within a group, the header is not displayed. Even if one doesn't know if a variable is an arg, temp, or inst var, the headers make it easier to scan.

Examples below.

[2020-09-07 16:06] dalehenrich commented on #314
I like the headers... separating args from temps might be useful when there are more than 3 or 4 args or more than 5 or 6 temps (or something along those lines)

[2020-09-08 21:14] dalehenrich opened #840 "(3.1.0) dialog for revert should be consistent ..."
This is the type of dialog that I **expect** for a `revert` menu item ... this comes up when you use the `File>>revert` menu item:
![image](https://user-images.githubusercontent.com/623951/92528062-fee8f300-f1dc-11ea-8c8b-959b1a32e253.png)
This is the `unsaved changes` dialog that you get with `Edit>>revert` menu item and is couter-intuitive, because in order to complete the operation I explicitly

[2020-09-10 21:16] ericwinger commented on #314
Going to call this fixed. We can tweak the display after users have had a chance to play with it.

[2020-09-10 21:16] #314 closed

[2020-09-17 19:38] ericwinger commented on #795
This turned out to be a bug in Dolphin 7.1.9. Upgrading to the latest release, 7.1.14, fixed the problem.

[2020-09-17 19:38] #795 closed, assigned to ericwinger

[2020-09-17 21:08] ericwinger commented on #790
Fixed in 3.2. Changes browser is about the same height as the project browser now.

[2020-09-17 21:08] #790 closed, assigned to ericwinger

[2020-09-17 21:55] ericwinger commented on #457
Fixed in Jadeite 3.2. Simply brings up the audit results in a workspace.

[2020-09-17 21:55] #457 closed, assigned to ericwinger

[2020-09-17 22:30] ericwinger commented on #831
For now, just fix the immediate request. `Browse Selected Methods` was added to the method menu list.

Also fixed that annoying pause when opening the method list context menu - was making an unnecessary round trip.

[2020-09-17 22:30] #831 closed, assigned to ericwinger

[2020-09-23 17:04] ericwinger commented on #801
Attaching some notes from August 19th. Might be leading down the wrong path, but also might be a good place to resume when I take up this bug again. Without a reproduction case, it's hard to know what is useful data.

[code]

[2020-11-11 21:51] ericwinger opened #841 "Review Project Refresh"
I'm not sure that refreshing a project after updating the disk sha is working correctly. Need to make sure that the correct sha & color (red for skew) is done in both the project list and project browser.

[2020-11-13 18:31] ericwinger commented on #841
It's ok. Refresh doesn't reload your code but does change the color of the text to red if the disk has become skew from the loaded project.

[2020-11-13 22:10] dalehenrich opened #842 "login window hung after exiting session"
[code]

[2020-11-16 19:28] dalehenrich opened #843 "a server process interrupt key sequence would be useful ..."
When the server goes into an infinite loop it would be useful to be able to interrupt the running process and bring up a jadeite debugger to debug the problem ...

[2020-11-20 23:23] ericwinger opened #844 "Update the project browser's project tab after project reload"
And probably other events which might change the sha - like Abort.

[2020-12-03 19:47] rjsargent opened #845 "Pop up messages while evaluating a Do It expression"
I was evaluating a Do It expression to load a project in tonel format. I got a Jadeite message box with "Index 238 is out of bounds". I have seen other numeric values in the message, once as high as 447. No idea what it was working with. Dale thinks it might have been malformed STON in the reply from the server.

Sometimes I get a pop up compiler warning about an unused temporary variable, but not

[2020-12-03 20:05] ericwinger commented on #845
There should be a `Jadeite.errors` file in your Jadeite directory.  Can you peel off the last stack containing the Index 238 error and attach it to this issue?

[2020-12-03 22:10] rjsargent commented on #845
This is the first one I encountered, with offset 447.
Line 115 has CodeSourcePresenter>>showCompileError: trying to insert 'undefined symbol' into the Do It string rather than the method source.

[Stack_InsertingCompileErrorInTheDoItString.txt](https://github.com/GemTalk/Jadeite/files/5639181/Stack_InsertingCompileErrorInTheDoItString.txt)

[2020-12-15 01:48] rjsargent opened #846 "When removing a class avoid listing methods from the class that reference it"
I removed GemToGemAnnouncement from my package and presented with a list of methods to fix that referenced the class. The list had the one method, #installStaticHandler.

[2020-12-15 01:53] rjsargent opened #847 "Errors during menu display make it difficult to do anything to deal with the error"
When I removed GemToGemAnnouncement, the #installStaticHandler method was presented in the list of methods referencing the class. When I right clicked on the method in the list, I got an error pop up. But, because the error occurred while creating the menu, I could not see my cursor anywhere over the Jadeite windows.

I was able to close the debugger prompt, after which the menu finished displayin

[2020-12-15 01:56] rjsargent opened #848 "Option changes in class definitions do not result in anything in the changes display"
I added #instancesNotPersistent to a number of classes, but when I browsed changes in the project none of them were reported.
I had also removed the GemToGemAnnouncement class, so its artefacts were shown, including its class definition showing as removed. But, none of the other class definitions showed as changes.

[2020-12-18 20:50] ericwinger opened #849 "Should be able to select all in the debugger's message description field"
The highlighted text pane in the example is kind of long.  Should be able to copy it quickly. Select All would be convenient.

![image](https://user-images.githubusercontent.com/36212516/102660168-73fa8b80-412f-11eb-8a96-7c34768616fd.png)

[2020-12-23 18:30] ericwinger opened #850 "Upgrade to 3.6.1"
- [ ] Move Jadeite development to 3.6.1
- [ ] Change name of 3.6.0 client library to "64-bit 3.6.0" from "64-bit 3.6.0 unreleased"
- [ ] Connect to masterV2.1 branch (See Dale's email of 12/22/20)
- [ ] Ensure works with Sparkle

[2021-01-15 00:33] dalehenrich opened #851 "(reverted) should be more obvious in changes browser"
In the following image, the first entry has been reverted, but since the Selector field is clipped you can't tell difference between a reverted method and a method that just has a long selector ...
![image](https://user-images.githubusercontent.com/623951/104665277-d048c080-5685-11eb-801b-0708b633fbce.png)

[2021-01-22 18:40] dalehenrich opened #852 "would be convenient if `Expand Full Hierarchy` was enabled when `Classes` tab selected in project browser"
Whenever I want to `expand full hierarchy` I am often sitting in the `Classes` tab, so I have to click the `Hierarchy` tab, then select the  `expand full hierarchy` menu item ... would save some mouse movement to simply have the  `expand full hierarchy` menu item `select` the `Hierarchy` tab for me ...

[2021-02-03 02:03] dalehenrich opened #853 "would be useful for project browser to show the component that a package is in (ala package that class is in)"
... along those lines making it possible to jump to the containing component(s) would also be useful ... at this point it is an open question whether we want to include the category group (package group) components for the package ... a package can only be in a single non-category group component, while it can be in multiple category group components  ... and of course navigating to category group

[2021-02-12 02:52] ericwinger opened #854 "Double clicking on "My Session" configuration gives bad offset error"
On the Console, navigate to `My Session` tab. Select GEM_TEMPOBJ_CACHE_SIZE in right configuration column and double click. Get error below.  Probably should just make double-clicking a no-op.
[code]

[2021-02-12 03:08] ericwinger opened #855 "Fatal error does not cleanup well"
If Jadeite encounters a fatal error, the session is invalidated and GsSession's instance variable `library` is set to nil.  However, Jadeite doesn't tell you that. Instead, it silently lets you believe that everything is ok.  But then, Jadeite will give you a random error on pretty much any action taken thereafter.  That's not user friendly.

After encountering a fatal error, Jadeite should give y

[2021-02-12 03:15] ericwinger commented on #855
Note - Running with servers that use the default `gem_tempobj_cache_size` is good to do to catch other bad behavior that might result if a fatal error is encountered.

[2021-02-12 05:05] dalehenrich commented on #855
.... and a good memory stressor is to do changes against the gemstoneBaseImage project ...

[2021-02-12 16:38] ericwinger commented on #855
@dalehenrich - Thoughts on how you'd like to see Jadeite cleanup from a fatal error?

[2021-02-12 16:39] ericwinger commented on #855
Attaching Jadeite errors showing the second error in the issue report. Fatal error does not appear because it was displayed and handled by Jadeite.

[Jadeite.errors.txt](https://github.com/GemTalk/Jadeite/files/5973122/Jadeite.errors.txt)

[2021-02-25 18:23] dalehenrich opened #856 "(Oscar-3.1.1pre-release1) find class on Rowan as DataCurator leads to "No loaded package named 'Rowan-Kernel' found" error"
I think the solution will involve a combination of Jadeite and Rowan work as we need to be able to view classes whose packages are not visible and I will have to do some thinking about that before we can fix this bug (I'll report a companion bug against Rowan).

Here's the stack:
[code]

[2021-03-15 17:10] dalehenrich opened #857 "would be convenient to provide access to a directory of load specs to use for loading projects ..."
I find myself constantly copying the path to this load spec or that load spec when I'm trying to populate a stone with the projects that I want to work on and I think that it would be useful to make it possible for a developer to create directory where they could copy the load specs for their frequently used projects and then click on the load spec from a pop up list and voila the project is loade

[2021-04-19 18:13] dalehenrich opened #858 "better gci error reporting is needed ..."
I had an incorrect IP address for my host and got "An unknown GciLoginFailed has occurred" error which didn't give me enough info about where to look for my problem ...
![image](https://user-images.githubusercontent.com/623951/115283260-f99f3f80-a0ff-11eb-8a17-b582b17805cc.png)

[2021-04-19 18:32] jgfoster commented on #858
If you try the same thing with Topaz, what error do you get? My guess is that Jadeite is reporting the full error message from the GCI library. If so, then it would be nice to get a more descriptive error message from the GCI library.

[2021-04-19 21:14] dalehenrich commented on #858
[code]

[2021-04-19 22:01] jgfoster commented on #858
Thanks, I stand corrected! That was much more useful message. It does seem that it ought to be able to be provided in Jadite as well. Sorry for the misdirection.

[2021-04-23 20:50] ericwinger opened #859 "Need 3.6.2 support for Jadeite"
Probably should make Oscar3.1.1pre-release2

[2021-04-23 21:47] dalehenrich commented on #859
If it wasn't too difficult, would it make sense to replace the version dropdown with a version field that can be filled in by users ... then it might not be required to  make a jadeite release to coincide with every gemstone release  ... i suppose this probably would make sense to go along with clientlibs support, since the user would download a new clientlib (or internal dev create new directory

[2021-04-26 20:16] ericwinger opened #860 "Replace version drop-down with version field"
If it wasn't too difficult, would it make sense to replace the version dropdown with a version field that can be filled in by users ... then it might not be required to  make a jadeite release to coincide with every gemstone release  ... i suppose this probably would make sense to go along with clientlibs support, since the user would download a new clientlib (or internal dev create new directory

[2021-04-26 20:18] ericwinger commented on #860
This is do-able. Would like to discuss sometime as one nice thing about the current setup is that client libs don't need to be considered during login, currently.

[2021-04-26 20:29] martinmcclure commented on #860
The drop-down is convenient, and less error-prone than typing a version number. Perhaps the drop-down could be built automatically from the versions actually in the library directory?

[2021-04-26 22:22] ericwinger commented on #859
https://github.com/GemTalk/Jadeite/releases/tag/Oscar-3.1.1-pre-release2

[2021-04-26 22:22] #859 closed, assigned to ericwinger

[2021-04-30 18:24] ericwinger opened #861 "Need a "Stop Active Tests" button in SUnitBrowser & maybe other places"
It's annoying to not be able to easily stop a test run. Would like a button in the SUnit browser gui that stops the active test thread.  Might be handy in the browser, too, if you accidentally start a long test.

[2021-04-30 18:46] ericwinger opened #862 "Don't truncate the printString of the selected variable in the debugger"
It's rather misleading to truncate the printString of the selected variable in the debugger's variable pane. Instead, we should probably show the entire string. Or, at least as much as the inspector shows.

![image](https://user-images.githubusercontent.com/36212516/116740111-68568580-a9a9-11eb-9a6c-30488b02c790.png)

Work around - Double-click or right-mouse inspect the variable to open an inspec

[2021-04-30 19:26] ericwinger commented on #862
Looks like the truncation was actually in this method. Still, worth double-checking the debugger at some point to make sure it isn't truncating. Once verified, close this issue.
[code]

[2021-05-03 23:17] dalehenrich opened #863 "(Oscar 3.1.0 and 3.1.1) Under certain conditions selected methods browser loses method source and errors out"
This has been a bug that I have seen for a long time, but only today did I notice that pattern that would reproduce the problem ...

1. Select one or more methods in Project Browser and open a Selected Method Browser:

![image](https://user-images.githubusercontent.com/623951/116944297-0fe1eb00-ac2a-11eb-80ea-41a923d28a51.png)

2. select project browser and add a new tab:

![image](https://user-im

[2021-05-03 23:40] dalehenrich commented on #863
I don't think that multiple selection is required to reproduce the problem, since I've seen this happen plenty of times without multiple selection ... but until now I didn't notice the pattern ...

[2021-05-05 23:30] dalehenrich opened #864 "(Oscar 3.1.1) truncated var names in Warnings pane"
I'm sorta on the fence ... in this case I saw enough of the var name to know which variable was unreferenced, however it is technically possible that two vars could have the same 30 char(?) prefix ... just thought it is worth reporting so @ericwinger can make the call:
![image](https://user-images.githubusercontent.com/623951/117221777-da223b00-adbe-11eb-8d0a-aff92e251491.png)

[2021-05-07 19:00] dalehenrich opened #865 "would it make sense to (or can you) specify more than one package to open project browser on during startup"
I have to go through the (tedious) ritual of opening the N packages/classes that make up my current working set every time I login and **I think that it might be useful**  to specify this in the preferences file ... when components appear< i would likely extend this request to be able to open multiple tabs on a set of component/package/class combos ...

With that said, it also would be convenient

[2021-05-10 23:18] dalehenrich opened #866 "method browser menu item `Run Tests` should be `Run Selected Tests`?"
When there are multiple test methods in a method browser, it isn't clear whether `Run Tests` will run **ALL** of the test methods in the method browser or just the selected tests ... the project browser uses `Run Selected Test(s)` and `Run All Tests` which is sorta where the confusion (for me) comes into play ... If you and Lisa think developers won't be confused then I'm fine with that ... a whil

[2021-05-11 00:19] dalehenrich opened #867 "(Oscar-3.1.1-release1) revert of a class method restores as an instance method (apparently)"
after reverting a class method in changes browser and saving to git, noticed the following:
![image](https://user-images.githubusercontent.com/623951/117739763-d8d48200-b1b3-11eb-8167-11d214d790c4.png)

[2021-05-11 16:44] dalehenrich opened #868 "(Oscar-3.1.1-release1) debugger selects incorrect frame"
The selected frame looks like the correct frame to select (at first glance), however note that the frame `[] in RwRowanSample9Test >> testSpec_0052_3` is a better choice:
![image](https://user-images.githubusercontent.com/623951/117852826-97d48000-b23c-11eb-8bd7-7564f789325d.png)
The problem is that it took me several tries debugging the test failure to realize that the assertion failure that **I

[2021-05-14 00:58] dalehenrich opened #869 "for RowanV3.0 (formerly known as RowanV2.0) ... allow developer to add/remove conditional attributes when loading an infividual project or project with required projects"
A new feature that is present in V3.0 allows one to add/remove conditional attributes to/from the primary project as well as it's required projects ... the smalltalk for causing all the tests for a project and it's required projects to be loaded or unloaded looks like the following
[code]
It would be useful to initiate either of these code sequences from the project console ... not sure the gui wo

[2021-06-02 23:51] dalehenrich opened #870 "MNU a RowanAnsweringService does not understand #'key'"
**Forwarded from GemTalk/Rowan#712** stack is recorded in the Rowan bug report

[2021-06-04 23:36] rjsargent opened #871 "Feature request to force an inspector to refresh"
It would be good to be able to make an inspector refresh its display of state. One can work around it by inspecting self and getting a new inspector, but that's a little annoying.

[2021-06-18 21:27] rjsargent commented on #576
I have been seeing this, too. I occasionally try to evaluate an expression in the inspect display pane or even in the source display pane and Jadeite turns unresponsive. If I hit Ctrl-F12, I see a pop up error message which reads "Recursion too deep; the stack overflowed." But nothing changes with respect to the unresponsive process. There is nothing I can do except kill Jadeite.

[2021-06-28 17:12] dalehenrich opened #872 "(3.0.91) feature to support automated sigabort protection"
A customer reported that it would be useful to be able to configure automatic sigabort protection at login ... I think this could be generalized to creating a Dolphin side process that periodically wakes up and runs a given workspace on the server ... and in the case of sigabort protection check for a SIGABORT signal and abort  ...

[2021-07-06 16:41] dalehenrich opened #873 "(Oscar-3.0.91.1-pre-release1) Error during JadeServer64bit35>>step:inFrame:"
Got the error porting Rowan v1.2.10 to 3.6.1 ... I see that we're using JadeServer64bit35 class ... perhaps there are changes in the step api for 3.6.0 or 3.6.1?  If the gci api didn;t change for 3.6.1, then this might be a server bug ... not likely since 3.6.1 has been released...
[code]

[2021-07-15 18:37] ericwinger commented on #873
I see that the process in frame 5 GsProcess >> _setBreaksForStepInto has stackId = -1 which, I believe, means the process is not in a stack memory area. This indicates it is quite possibly a defunct process.  Closing after discussion with Dale. Can reopen if it recurs.
`stackId oop(18446744073709551610) == -1`

[2021-07-15 18:37] #873 closed, assigned to ericwinger

[2021-07-22 20:45] LisaAlmarode opened #874 "After project write, menu option git commit is disabled"
This is in Oscar-3.0.91.1-prerelease2.

If I've done a write, my changes are written to disk, but not committed to git.  But after a write, the commit to git button is disabled. So I can't commit to git until I make more changes.

This is probably related to the attempt to make it harder to encounter bug #317.

Minor.

[2021-07-22 20:47] LisaAlmarode commented on #317
This is not fixed, since if you make a change and undo it, you will get the walkback. If Jadeite can't handle it, then it needs to go to Rowan.  It's pretty minor but it does need to get dealt with for some future GA release.

[2021-07-22 21:55] LisaAlmarode opened #875 "Placeholder for inability to use client GsFiles from Jadeite to 3.6.1"
Per bugs 49623 and 49007, the server has been changed between 3.2.15 and 3.6.1 such that some kinds of GCI calls cause client user actions, including GsFile operations, to be disabled.  The flags GCI_PERFORM_FLAG_ENABLE_DEBUG and  GCI_PERFORM_noClientUseraction  and GciNb... calls are implicated.

With these server changes, in Jadeite for 3.6.1, if you attempt to execute GsFile openWrite:, it resu

[2021-07-22 23:23] ericwinger commented on #874
I don't see any Rowan api's available that can identify a project that has uncommitted changes on disk and in the image.

One possible way to fix this issue in Jadeite without Rowan changes would be to
- Never disable the `Commit to Git ...` project menu option
- Wrap the menu item's action in an error handler so a dialog could be raised instead of a walkback.

This doesn't seem like a great solut

[2021-07-22 23:46] LisaAlmarode commented on #317
The problem is that the commit to git will fail, if the on-disk state is the same as what was already in git.  The jadeite project could be dirty due to add and remove of a space, for example.

Can Jadeite detect if the on-disk files in the repository, that would be git-checked-in, actually has changes from what is already checked in?  If Jadeite can figure that out, it can enable/disable commits

[2021-07-23 01:38] dalehenrich commented on #317
@LisaAlmarode I don't know which version of Jadeite and Rowan you are looking at here, but in V3/V2.2, I think you should be getting a dialog that contains the message from the result of the commit ... if there was nothing to commit, you get a dialog telling you that there is nothing to commit ... I've got tests that handle the interaction request and check the message ... so I've guessing you are

[2021-07-23 22:02] ericwinger commented on #875
Per side discussions, this should be fixed, if possible, in Jadeite that supports later versions of Rowan - probably v3.

[2021-08-02 21:35] martinmcclure opened #876 "GciErrSType64_3[01] >> reason gets subclassResponsibility error"
Attempting to log in when the netldi is not running should produce an error, but probably subclassResponsibility is not the best error.

The cause seems to be that #reason sends #fromAddress: to the class String, which defines it as subclassResponsibility. Using a subclass such as AnsiString instead of String would probably fix this.

This bug appears to be present in at least 3.1.1-pre-release2 a

[2021-08-19 16:28] chisandrei opened #877 "Error when committing from Jadeite when GemStone runs on Mac Big Spur"
When trying to commit from Jadeite I get an error. The GemStone server is running on MacOs. Seems that `mktemp --template` fails on MacOs; `mktemp -t` works in MacOs and Linux and could be used instead. I'm using jadeite-3.1.1-pre-release3

<img width="1350" alt="Screenshot 2021-08-19 at 16 24 01" src="https://user-images.githubusercontent.com/3534711/130106689-9e3a04d1-1035-48d2-ae08-b347ea049634

[2021-08-19 16:47] dalehenrich commented on #877
Closing this issue in favor of GemTalk/Rowan#739

[2021-08-19 16:47] #877 closed, assigned to nobody

[2021-08-20 20:04] ericwinger opened #878 "Inspector gets walkback when right-mouse clicked in list pane"
Open an inspector on `1` then right click over the `-.asOop` in the left pane. Get this walkback. Possibly a Dolphin 7.1.20 bug.
[code]

[2021-08-31 21:41] ericwinger opened #879 "Removing class does not remove class from sunit browser"
In `JadeiteSUnitSupportTestCase>>test_extensionTestShowsUpInSUnitBrowser` removes the test class at the end of the method. While the test class is removed from the browser, it is not removed from the sunit browser.
[code]
It would be nice if it was.

[2021-09-08 18:42] dalehenrich opened #880 "Would be nice if the name in the Task Managerlist correlated with the running Jadeite process ..."
I've found that I need to kill a Jadeite process and I get to play Russian roulette with the Jadeite tasks, deciding which one to kill ... only one Jadeite is running ... at least I don't have two active sessions so I don't risk losing work in process for more than one session (I've had that bad luck before) ... fortunately when I get back to an active image I'll just have to reproduce the error:

[2021-09-08 18:44] dalehenrich commented on #880
I found the correlation!
![Screenshot from 2021-09-08 11-44-13](https://user-images.githubusercontent.com/623951/132566967-4027001e-92a9-49f1-8cdb-9bae446e0a4d.png)

[2021-09-08 18:44] #880 closed, assigned to ericwinger

[2021-09-08 18:46] dalehenrich commented on #880
oops killed the wrong one yet again ... but this time I think I've got it ...
![Screenshot from 2021-09-08 11-46-12](https://user-images.githubusercontent.com/623951/132567248-fab75b7a-0e9c-46ae-bd49-9bc7f87e7cdf.png)

[2021-09-10 01:31] dalehenrich opened #881 "(Oscar3.2pre-release3) selected Project>>reload ... boom"
I'd been playing with the project browser ... looking at the classes that I could see when clicking on the components (very pleased ... and more ideas on how to structure things that I want to see), then I decided to update to the latest Rowan and from the looks of things the reload was successful, but got a "hard coded breakpoint":

![Screenshot from 2021-09-09 18-21-21](https://user-images.githu

[2021-09-10 01:35] dalehenrich commented on #881
I'm guessing that the error occurred AFTER the project was loaded, and I'm gonna bet that I'm using the wrong RowanClientServices version and possibly wrong Rowan version ...

Hold on while I poke around ...

[2021-09-10 01:37] dalehenrich commented on #881
yep RowanClientServices was wrong version ... my latest candidateV3.0 code loaded cleanly so that's good ...

[2021-09-10 01:37] #881 closed, assigned to ericwinger

[2021-09-10 16:34] dalehenrich opened #882 "(Oscar3.2pre-release3) Console refresh after changing SHA for project ... changes don't show up until moused over"
You can see in this screenshot that Rowan and STON have updated (after I moused over them), but Cypress and FileSystemGs have yet to refresh:
![Screenshot from 2021-09-10 09-29-53](https://user-images.githubusercontent.com/623951/132886782-2c569047-c735-498d-997b-faf0f8864cb7.png)

[2021-09-14 17:57] ericwinger opened #883 "Differentiate components better in component hierarchy"
From @dalehenrich via Slack:

An alternative would be to show the hierarchical structure of the components ... as seen on disk (vim screen shot):
![Screenshot from 2021-09-14 11-12-30](https://user-images.githubusercontent.com/623951/133311281-bfe74850-cd2a-4fbb-9b87-da615b977dd2.png)

[2021-09-16 18:52] LisaAlmarode opened #884 "Breakpoint within a block is only honored for a few iterations"
If you set a breakpoint within a block, you expect it to trip each time the block executes.  It seems to stop after 1-3 iterations of the loop.  The code run fine; it just decides it doesn't want to bother stopping any more.

This is with 3.7 private build of Dale's from Sept 1, Rowan CandidateV3.0 fd2e276c8, Oscar 3.2pre-release3.  It appears to happen in the .exe but not in development of Jadeit

[2021-09-16 19:25] ericwinger commented on #884
I was able to reproduce it one time using `Jadeite.exe`. Was unable to reproduce at all in development environment and (so far) no further using the .exe.

[2021-09-23 20:17] nrgiii opened #885 "Add Jadeite option to handle SigAborts"
Email from Gunnar and UBS:

Hi,

We would like to request a change in Jadeite. There should be a feature in Jadeite to act on SIGABORTs.

Reasons
    Reduce risk of large commit-records (and all related problems)
    Reduce manual actions of hitting abort-button periodically
    Eliminate risk losing the session

 Suggested solution

    Add preferences in Jadeite for the session transaction mode

[2021-09-24 00:17] dalehenrich commented on #883
fixed as part of #760

[2021-09-24 17:25] dalehenrich opened #886 "(Oscar 3.2) by default the components in the Components pane should be opened 1 level"
By opening the first level, the component organization is revealed and provides easy navigation to a desired collection of packages:
![Screenshot from 2021-09-24 10-24-05](https://user-images.githubusercontent.com/623951/134716016-14c5a285-3630-4d56-8d01-8186efa62ed4.png)
If we implement this feature, then it would also be nice to have appropriate component selected when one does a `find class` (o

[2021-09-24 17:33] dalehenrich opened #887 "(Oscar V3.2) consider having the `Preferences>>Package list visible` menu apply to all tabs in a browser"
also consider putting an entry into the Preferences file for this as well ...

[2021-09-24 17:49] dalehenrich opened #888 "(Oscar 3.2) saving a test method can be slow .."
When I save a method in RwRowanSample9Test it can take 5 seconds to finish ... non-test methods or methods in tests with fewer methods seem to compile much faster than that ...

[2021-09-24 20:46] ericwinger commented on #883
Does `RowanComponentService` need to new accessor to get the improved display, @dalehenrich ?  Right now, Jadeite & Services are looking at the component's name & basename.