[2019-02-01 18:16] dalehenrich opened #423 "(3.0.59) would like to have auto-commit be persistent"
Since I tend to have development sessions that last for days ... I imagine that I will be so used to having "auto-commit" turned on that I will forget to enable it when I launch a new session ...

1. If it was on by default, then I wouldn't have to worry ...
2. I it was persisted in the db, then I would only have to remember to set it when I build a new stone (part of the build script in the first

[2019-02-01 18:27] LisaAlmarode opened #424 "Background colors of text pane"
In a project browser, the method pane background may have one of three colors,
  Color for Compile Errors (pink)
  Color for No Edits (yellow)
  Color for Unsaved Edits (green)

However, if you are on the class definition tab (or the class documentation tab), the background is white (usually).  If you edit it turns pink.  Then a compile error is inlined, not displayed in the status bar.

It should

[2019-02-01 18:35] LisaAlmarode commented on #423
Personally, I do NOT want autocommit to be persistent!  I'm a somewhat hesitant autocommit user so this is not an unbaised opinion.

Autocommit is the kind of thing that ought to be in a preferences file somewhere.  We have an existing file-based mechanism that's used to disable tranlog writes that works like a charm for me, but I think you don't like that, and are working on a more fully develope

[2019-02-01 18:46] LisaAlmarode commented on #405
last part appears okay in 3.0.59

[2019-02-01 18:55] dalehenrich commented on #423
When storing prefs in a stone, it is (should be) a bit more complicated than just stash in UserGlobals.

See the test RwPlatformInstanceTest>>testPreferencePrecedence (issue_361 branch for sure) for examples of how to store preferences in a stone: global, user, session ....

So if we use that framework it would be possible to programatically set Global/User preferences when a stone is created  by

[2019-02-01 18:59] LisaAlmarode commented on #410
It's not entirely clear what the optimal behavior is for corner cases.  Having a second browser of (PB/SUB) open makes test results sticky in some cases but not all.  Should stickiness depend on which browser ran the tests?  Should clicking on a difference class and back clear results in all browsers?

select the same test class in both SUnit and a project browser/SUnit tab, e.g. TonelWriterForCyp

[2019-02-01 19:34] dalehenrich commented on #410
@LisaAlmarode ... I'm not exactly sure what you are asking, but when it comes to stickiness, my inclination is that the test results should show the results of the last test run in the pane itself ...

If I run the tests in an SUB, then I want those results to be sticky until I re-run/rest the tests ... if I run the tests in the PB then I want the same thing to be true ... it's a bonus if the test

[2019-02-01 19:39] LisaAlmarode opened #425 "Jadeite should be able to check out a git tag not just branch"
To use the correct rowan with jadeite I need to get the correct tag; the latest checkin in rowan may not work with the latest jadeite.

But I can't do this from Jadeite.  I don't want to have to go to the command line and remember the correct git magic invocation -- I'm using jadeite so I can avoid having to do that.

In addition to Checkout Git Branch... there ought to be a Checkout Git Tag...

[2019-02-01 19:48] LisaAlmarode opened #426 "Strange case of classes turning purple"
I have an SUnit browser open and a project browser open on the same package, which has several test cases.

When I select one of the classes in the SUnit browser, that class in the Project browser, the font turns purple.  Affects both class list and hierarchy view.

[2019-02-01 22:13] ericwinger commented on #426
Have a fix in 3.0.60 https://github.com/GemTalk/Jadeite/commit/4d88ec2e0276c9b9cae36832f1f71bbe553eda22

[2019-02-01 22:13] #426 closed, assigned to LisaAlmarode

[2019-02-01 22:34] ericwinger commented on #423
A few arguments against persistent auto commit:

1. I don't use the feature because making a change to server services code runs the risk of making my development environment unusable. If changes are automatically committed, recovery is difficult and potentially results in lost work. Without auto commit, I can just abort the transaction and continue. (Admittedly, I'm not doing "normal" Jadeite dev

[2019-02-01 22:45] dalehenrich commented on #423
Just as another point of reference I use it all the time in tODE and in tODE it is on by default and I haven't heard many complaints either:)

To be fair, your bullet points aren't about whether or not a developers choice for autocommit be persistent, but why you don't want the default to be auto commit  on ...

I am asking that it be made persistent and I assume that I will be able to include it

[2019-02-01 23:30] ericwinger commented on #419
@LisaAlmarode - I'm having trouble reproducing this either running the test from the SUnit tab or SUnit browser. I can't find the version you're using in the information provided. Does this reproduce with 3.0.60?

[2019-02-02 00:35] ericwinger commented on #422
Fixed in 3.0.60 https://github.com/GemTalk/Jadeite/commit/4191b4f9c870ae3d6dae037dfcf3686612512bfd

[2019-02-02 00:35] #422 closed, assigned to LisaAlmarode

[2019-02-02 01:36] dalehenrich opened #427 "(3.0.60) autocommit not done after successful doits"
I know that the autocommit feature was "documented" as a commit being applied after every service request but apparently not every interaction with the server is done through a service request ... at the end of the day I think that all server interactions should have an autocommit applied ... a workspace/doit is an obvious place that I would want an autocommit at e performed since I may be modifyi

[2019-02-02 01:50] LisaAlmarode commented on #427
GBS's autocommit semantics are that changes to classes and methods are automatically committed, but there's no commit after ad-hoc executions even if they might have the effect of changing persistent data.   I think in Rowan debugger method changes trigger autocommit, unlike GBS, and I think Rowan's behavior is better/more intuitive.

We should to get Martin's input since he was the driver for the

[2019-02-02 02:43] dalehenrich commented on #427
... I've been used to tODE's autocommit which commits after everything .... and there is never a time when you worry about whether or not you will lose your work ...

Of course this comes up because of the relatively frequent crashes/hangs/OOM events that are frequent enough to be troublesome ... I can't remember the last time I had a tODE crash, but it wouldn't matter much because the only thing

[2019-02-04 17:25] ericwinger opened #428 "Need to clean up icons directory"
In fixing #421, a few unused icons were left around. Need to clean those up once the feature is solidified.

[2019-02-04 18:19] ericwinger opened #429 "(3.0.60) 'Browse Class' on Transcript gets walkback"
The method source pane has a pop-up menu option ``Browse Class`` which appears when a class is highlighted. However, it also appears when ``Transcript`` is selected. Pressing the menu item gives a walkback in this case.

Either we should tighten up when we offer that menu item, or give a better error when the selected "class" is not a class.

[code]

[2019-02-04 18:31] ericwinger opened #430 "(3.0.60) Find Class in system browser recently broken"
This was broken when Find Method was put in. Only a problem in Dictionary browser but should be fixed before next release. Need to forward ``updateList`` method to ``updateClassList``

Do a Ctrl-Shift-F in the dictionary browser to reproduce.

[code]

[2019-02-04 19:35] ericwinger commented on #206
After review, it appears that the fix put in back in September(ish) is solid. Transcript installation and interactions won't go through UserGlobals in Jadeite. See ``JadeServer64bit3x>>installTranscript`` for implementation.

[2019-02-04 19:35] #206 closed, assigned to ericwinger

[2019-02-04 23:45] ericwinger commented on #430
Fix in 3.0.61. https://github.com/GemTalk/Jadeite/commit/699189787b518b7c7c34693372c0cd50d30d2603

[2019-02-04 23:45] #430 closed, assigned to LisaAlmarode

[2019-02-05 04:42] LisaAlmarode commented on #396
I'm going to call this fixed, since it's there, although there are many details that are under discussion, those will be filed as separate bugs.

[2019-02-05 04:47] LisaAlmarode commented on #293
This is not entirely correct in 3.0.60.

If you have two project browsers open on a test class.
In one, go to the sunit tabe and run tests.
In the other class, edit a method.

Test results in the SUnit tab in the other project browser are cleared, though the SUnit browser isn't cleared.

[2019-02-05 05:06] LisaAlmarode opened #431 "I'm not on branch "HEAD", really"
I have to go to the command line to get the right Rowan to go with my Jadeite, since I can't checkout a tag from Jadeite.

When I do this, my browser tells me I'm on the branch HEAD.  I'm detached head, and this may mean I'm not really on a branch at all, but I'm pretty sure I don't want to see HEAD right there. In fact what I'm NOT on, as far as I understand , is HEAD.

benton:/benton1/users/gsad

[2019-02-05 05:13] LisaAlmarode commented on #421
The autocommit icon is not in the debugger... which is okay, I guess.  Not in dictionary browser, which is fine. It's eye catching and in the main code browsers.  I'm going to call this done although I'm sure there's work to be done, but this is good for now.

[2019-02-05 05:21] LisaAlmarode commented on #420
I happened to be on a test class Sunit tab, having run a test, when I tried the new findMethod feature and what happened was an error:

Jadeite error dialog:
JadeiteSUnitInClassPresenter does not understand #findMethod

[2019-02-05 16:46] ericwinger commented on #431
This comes straight from Rowan. ``(RwProject newNamed: name) currentBranchName``

I'll reassign to @LisaAlmarode  and @dalehenrich  for discussion on what the right answer is.

[2019-02-05 17:21] ericwinger commented on #420
Sunit tab walkback fixed in https://github.com/GemTalk/Jadeite/commit/4f1007341084a4455f6fe2017d0b692ca9a2e729

[2019-02-05 17:32] ericwinger commented on #293
@LisaAlmarode Between #410 and this issue, it's not clear what is supposed to be fixed nor do I see what error is being described by the comments. Can you please either create a new issue with a clear reproduction case? If it's multiple issues, adding a task list will help me.

[2019-02-05 17:37] ericwinger commented on #428
Cleaned up.

[2019-02-05 17:37] #428 closed, assigned to ericwinger

[2019-02-05 18:04] dalehenrich commented on #431
This is related to issue #311.
With git here is what happens when you checkout a tag ...
[code]
And `HEAD` is what is returned by `git rev-parse --abbrev-ref HEAD` the command to extract just the branch name in Rowan:
[code]
... and here is the result of `git status`
[code]
I think that the status message has a little more useful information and the use of `git rev-parse --abbrev-ref HEAD` is an a

[2019-02-05 18:22] LisaAlmarode commented on #431
All I ask is if Jadite can't give me useful information, at least pretend to care and give me a more soothing message, not something obviously blatantly incorrect... as long as I'm required to go to the command line and checkout a tag, it's a situation that we need to be prepared to deal with...

What's wrong with the entire line:
   "HEAD detached at Oscar-3.0.60"
that contains what I really need

[2019-02-05 18:30] ericwinger commented on #431
@LisaAlmarode  The entire line is not available from the command. From a detached state, Rowan gives me back:
[code]
I would need different support from Rowan to give the entire line.

[2019-02-05 18:41] dalehenrich commented on #431
"HEAD detached at Oscar-3.0.60"
that contains what I really need to know.

Nothing but I will have to see if I can find another git command to extract the information that you want ... also do you really want to have this addressed before Thursday? I wasn't planning on touching Rowan, but if it is needed, I will do it ...

[2019-02-05 18:57] dalehenrich commented on #431
@LisaAlmarode, as I splash about with git commands here are two different options I've come across:
[code]
In both cases you are getting a SHA ... which is better than HEAD ... but I haven't determined whether these two variants will evergive you the name of the branch you are on ... in git, `HEAD` is the "name" of the detached branch ... so I'm still  splashing around as I try to avoid getting in

[2019-02-05 19:17] LisaAlmarode commented on #419
It's in 3.0.60, but it turns out to be specific to inherited tests.

To reproduce, load RowanSample1 and create a subclass of RowanSample1Test, mine is named RowanSample1TestSubclass.  Don't create any methods.

In the Project Browser, select RowanSample1TestSubclass and the SUnit tab - it will show all the inherited tests.
In the SUnit browser, select the superclass, RowanSample1Test, which shows

[2019-02-05 19:22] dalehenrich commented on #431
Looks like the winner is: `git branch | sed -n '/\* /s///p'` (from an answer in https://stackoverflow.com/questions/6245570/how-to-get-the-current-branch-name-in-git .. not the top answer:) ...
for tag:
[code]
for branch:
[code]
for arbitrary sha:
[code]
for Jadeite:
![image](https://user-images.githubusercontent.com/623951/52298566-12184a80-2938-11e9-885c-384b1c983131.png)

@LisaAlmarode If this

[2019-02-05 19:56] LisaAlmarode opened #432 "Fix for cross-browser clearing test results is incomplete in 3.0.60"
Fixes have been made in the clearing of test results between browsers per issue #419 and issue #293.  Closing both those per Eric's request and opening a new issue.
Marking as February since this is really part of one of the stability issues that was intended to be fixed for this drop.

Specific known problems:

- [x] Have two project browsers open on two different test classes.  No other browsers

[2019-02-05 19:56] LisaAlmarode commented on #293
Closing in favor of #432

[2019-02-05 19:56] #293 closed, assigned to LisaAlmarode

[2019-02-05 20:00] LisaAlmarode commented on #410
Closing in favor of #432.  While some stickiness is nice, I feel it's a bit too sticky... but we're confusing Eric so will file a separate bug once we've got everything at the same stickiness level.

[2019-02-05 20:00] #410 closed, assigned to LisaAlmarode

[2019-02-05 20:05] LisaAlmarode commented on #429
It's a general problem with non-class Globals.  Same thing occurs for PlusInfinity.

[2019-02-05 20:48] LisaAlmarode opened #433 "Walkback on new inspector in presence of #size method"
I have a class that's a subclass of IdentitySet that has an instance variable that holds an instance of a Dictionary.  When I attempt to inspect this, I get a walkback (now, previously it was all good in earlier Jadeite and in GBS). The walkback is very inexplicable.

This class implements the size method, which returns the size of the dictionary rather than the size of the collection itself.  Thi

[2019-02-05 21:16] LisaAlmarode commented on #431
That looks fine...  I'll be very happy with the tag, but the sha really would be enough, since I can match that to the release. I'm actually not fussy, I just didn't like the plain "HEAD".

[2019-02-05 21:28] LisaAlmarode commented on #168
Since I've been attempting to test inspectors and find a workaround for #433, I've encountered similar issues twice since lunch.  Crashing the IDE is not very nice.  Making this a little more prominent.

For a class similar to the one in the example in 433, I put a halt or breakpoint in the size method.  I
I ran tests. I lost everything.

[2019-02-05 21:38] LisaAlmarode opened #434 "New inspector pane sizes are very awkward"
I've been trying out the new inspector.  The half-and-half proportions aren't right, the left pane is too wide and the right pane is too narrow.  1/3 -2/3 would be much better, and even 1/4-3/4 might work.

This is quite annoying in a new feature... and hopefully not a hard change so marking it for February.

![image](https://user-images.githubusercontent.com/13142166/52305684-9673c900-294a-11e9-8

[2019-02-05 21:54] dalehenrich commented on #431
[fixed in this commit](https://github.com/GemTalk/Rowan/commit/d798d926b52b685c1140957eeb47ccbd1400f144)

[2019-02-05 21:54] #431 closed, assigned to dalehenrich, LisaAlmarode

[2019-02-05 22:02] LisaAlmarode opened #435 "Inspector should handle out of range characters a little better"
Inspecting an out of range character or strings gets weird errors.  The first two are for the same code, but I think a little white space around execution makes a difference.  This isn't really expected to work (customer not using out of range characters), but it should at least fail a little more gracefully.

![image](https://user-images.githubusercontent.com/13142166/52306126-d4bdb800-294b-11e9-

[2019-02-05 22:16] LisaAlmarode commented on #411
The status bar is sticky in 3.0.60 under the conditions in issue #419.

[2019-02-05 22:37] LisaAlmarode opened #436 "Need a way to handle preferences (that Dale likes)"
Dale wants autocommit to be always on for him, per issue #423.  The rest of us want it to be always off unless turned on and then revert to off on logout.  We can't have both behaviors until we sort out how we are ultimately handling preferences for the user.

As of 3.0.60:

1. We have a file-based preferences mechanism that works very well for me to ensure Transcript Writes On is always off.  It'

[2019-02-05 23:03] dalehenrich commented on #436
Lisa, you are putting an awful lot of words in my mouth ... why don't you take a chill pill and lets talk on Thursday when we are both in the office --- It is clear to me that besides misinterpreting my thoughts with relation to default behavior, now you are misinterpreting my thoughts on whether or not "the rest of you" can handle preferences (that "the rest of you like") ...

It is very obvious

[2019-02-05 23:03] #436 closed, assigned to ericwinger

[2019-02-06 00:50] ericwinger commented on #427
Have a fix for this in 3.0.61. I believe it is stable enough for our next release. If not, we can pull it out as it's contained in this commit - https://github.com/GemTalk/Jadeite/commit/01955cdbb37311263cb4d40b2dd5b24f14d6ece4

[2019-02-06 17:13] ericwinger commented on #427
I'm unclosing this. Found some problems in my solution.

[2019-02-06 17:21] ericwinger commented on #434
The inspector isn't new but I'm using this inspector for all inspected objects now. Before, special objects, characters, etc used a simplified inspector but it was requested to be changed here https://github.com/GemTalk/Jadeite/issues/398#issuecomment-454833499

Regardless, I've changed the width to about a 1/3 - 2/3 proportion in 3.0.61. https://github.com/GemTalk/Jadeite/commit/0e22c1b91bf9b6b17

[2019-02-06 17:44] ericwinger commented on #433
@LisaAlmarode  If I execute this code, I see the same error. ``LisaSet new printString``.  I would argue that this isn't an inspector bug.

[2019-02-06 18:14] dalehenrich commented on #433
One _could_ also argue that the inspector should handle Errors during printing and allow the object to be inspected ...

[2019-02-06 18:45] ericwinger commented on #432
Should be a fix for part 1 in https://github.com/GemTalk/Jadeite/commit/28b45e1b40d213ddd8a1663c7cd9a3779c6c277d

[2019-02-06 18:54] ericwinger commented on #432
I'm pretty sure that the second item was fixed as part of the first in 3.0.61. Please reopen if that is not so.

[2019-02-06 19:27] LisaAlmarode commented on #433
Is it a requirement that printString always be implemented?  This code doesn't given me any problems in GBS, and the tests are running clean.  It's not a display type object at all, but I needed size for the tests.  I'm not sure I agree that my code is "broken".

And, well, I am forever introducing problems in display for inspectors... as least for me it's part of code development.  I would expect

[2019-02-07 15:41] dalehenrich opened #437 "(3.0.60 & 3.0.50) Error opening session xml file: "JadeLogin does not understand #halt""
Cannot read from either 3.0.50 or 3.0.60 ...
I have not been in the habit of editing the session files by hand so this session file was saved from Jadeite:
[code]
Dolphin stack:
[code]

[2019-02-07 17:10] ericwinger commented on #433
The inspector should indeed play nice when an unexpected error occurs. However, is that an immediate need of this release?  I would argue that it could wait until a more robust error handling solution could be put into the inspectors.

[2019-02-07 17:15] ericwinger commented on #437
Removed ``halt`` left in the code for 3.0.61 https://github.com/GemTalk/Jadeite/commit/2f55b6f7b0295038a47123fd4cffff27c0b6a820

[2019-02-07 17:15] #437 closed, assigned to LisaAlmarode

[2019-02-07 21:40] ericwinger commented on #413
As a quick experiment, @dalehenrich and I set a ``whileTrue:`` loop in motion that wrote to the transcript continuously.
![image](https://user-images.githubusercontent.com/36212516/52444730-0e262d00-2ade-11e9-9a32-d26d2456ec97.png)

Eventually, the Dolphin vm ran out of memory trying to write to the text window but the server did not get a fatal gemstone out of memory error.
![image](https://user-

[2019-02-07 22:27] dalehenrich opened #438 "Preferences Browser(s) needed"
### Rowan/Jadeite Preferences:
- Client Prefererences
   - login parameters
   - fonts
   - colors
- Server Preferences
   - autocommit
   - (?) autoformat
   - class initialization black list
   - instanceMigrator (?)
  - platform attributes (?)
### Client Preferences Browser
The working hypothesis is that the Session Dialog will include the client side preferences ... unless the Client Preferenc

[2019-02-08 19:51] dalehenrich opened #439 "`rename` class menu item would be useful"
The plan is to add rename class Rowan api in v1.2.x (GemTalk/Rowan#470) ... then a `rename class` menu item would be considered for addition to Project Browser for April release ... See [this comment](https://github.com/GemTalk/Rowan/issues/470#issuecomment-463365292) for details about the `renameClassNamed:to:` functionality --- available in candidateV1.2 now

[2019-02-12 04:24] #434 closed, assigned to LisaAlmarode

[2019-02-12 04:25] LisaAlmarode commented on #434
Much nicer.

[2019-02-12 04:34] LisaAlmarode commented on #433
Surely developers who have no choice can live with this... it's just not great to give the impression that jadeite is quite that dainty.  I verifed that a recursive call does get an AlmostOutOfStack and not crash, though.

[2019-02-12 23:32] ericwinger commented on #419
Believe I've got this fixed in 3.0.63. Added tests in https://github.com/GemTalk/Jadeite/commit/0de131a5b81d77ba1a4097ee09478019c49bfc76
Fix in https://github.com/GemTalk/Jadeite/commit/db74b81816651a8d4e557f2ec98024b4a8194973

[2019-02-13 00:45] dalehenrich commented on #413
Just had another case of running out of memory and this time we had a gem log ...
**STACK**:
[code]
**NEW GEN**:
[code]
**OLD GEN**:
[code]

[2019-02-13 00:49] dalehenrich commented on #413
based on discussion with Allen, it is possible that the largish strings used to pass browser state to client along with an accumulation of error messages caught by client could be culpable in the oom events, because the objects returned by GCI calls along with the error objects involved in client side error handling all get added to the export set

[2019-02-13 00:50] dalehenrich commented on #413
I do have 4 tabs open in the project browser ... a SUnit browse and a project list

[2019-02-13 01:19] dalehenrich opened #440 "(3.0.62) error message from previous compile error hangs around after error fixed"
Marking for Feb release, since it should be looked at and decision made whether it belongs in Feb or not.
![image](https://user-images.githubusercontent.com/623951/52679467-07d2ef00-2eea-11e9-97dc-5ee439f4b615.png)

[2019-02-13 01:41] dalehenrich opened #441 "(3.0.62) suspicious code in RowanClassService>>hierarchyClassServiceFor:"
I got an error in project browser while running a test and here's the snapshot of the debugger:
![image](https://user-images.githubusercontent.com/623951/52680194-7618b100-2eec-11e9-94ce-0fdc623545d3.png)
You can see that the `className` argument is a symbol, but the comparison `className = 'Object'` will never return true ... because the className is a Symbol ... don't know if there are other tes

[2019-02-13 01:44] dalehenrich commented on #441
In case it _is_ relevant, I've included another debugger that came up when I tried to use the dictionary browser to debug my situaion ... again it is possible that I've messed up the hierarchy and am just trying to figure out what my class structure looks like ... Here's the screen shot:
![image](https://user-images.githubusercontent.com/623951/52680566-b75d9080-2eed-11e9-9060-7b382c0a81fd.png)

[2019-02-13 01:48] dalehenrich commented on #441
I did mess up the class structure ... so the errors may not be relevant, but the symbol/string comparison is the target of this bug report

[2019-02-13 18:58] dalehenrich opened #442 "(3.0.62) odd (but legal) class hierarchy causes trouble for Project Browser"
Here's the test method that produces the "odd (but legal) class hierarchy, with two `halts` one after initial structure is created and second after odd structure created:
[code]
The is screen shot after initial structure with three classes in a hierarchy are created:
![image](https://user-images.githubusercontent.com/623951/52735591-d7886080-2f7c-11e9-896e-20c0e4430bfc.png)
The odd structure is cr

[2019-02-13 20:10] dalehenrich commented on #359
Just hit this issue again in 3.0.62 and it seems to be reproducible:
![image](https://user-images.githubusercontent.com/623951/52740590-356e7580-2f88-11e9-8e0b-1207859730aa.png)

This has happened twice in the last hour and each time I had a debugger up and did an abort ...

[2019-02-13 20:12] dalehenrich commented on #359
In this case with debugger open, **every time I hit abort, I got walkback**. When I close debugger and hit abort no more errors ...

[2019-02-13 22:37] ericwinger commented on #413
I have fixes in 3.0.63 to release all oops from the export set after every service call and after server errors are raised. https://github.com/GemTalk/Jadeite/commit/69718be0ef1ffd3f1498f2a53bc239e22f3d4690

Tests seem to be tolerating the change and manual checking of the export set shows that it's no longer growing.

Need to be on the lookout for gc'd objects, though. It's possible there are som

[2019-02-13 22:37] #413 closed, assigned to dalehenrich, LisaAlmarode

[2019-02-14 18:07] ericwinger commented on #441
Need to take a look and categorize as either immediate or defer until April.

[2019-02-14 23:07] ericwinger commented on #429
Fixed in 3.0.63. https://github.com/GemTalk/Jadeite/commit/bd43759df010ee500f2e9fcbb0d9520b4648d72f
If a non-class is browsedin the source pane, the class of the object is browsed. i.e.  PlusInfinity browses Float.

[2019-02-15 18:37] ericwinger commented on #433
I have a fix in 3.0.63 that handles errors during inspection and displays a message with the oop and underlying error message instead. https://github.com/GemTalk/Jadeite/commit/e88121212dfa854c2a761732a33a524ccc4729dd

[2019-02-15 18:51] ericwinger commented on #440
@LisaAlmarode  I'm not seeing compile errors hang around in my limited testing. Can you reproduce?

[2019-02-15 23:18] ericwinger commented on #441
Fixed in 3.0.63. https://github.com/GemTalk/Jadeite/commit/6f8e7e15b72ca16014b96b7f0776014c1c57fbc4 Also took a pass and made sure that ``RowanClassService >> name`` & ``RowanMethodService >> className`` were always strings. Didn't take out the call to ``asString`` in the method referenced by this issue due to the proximity of release and the chance that there are still symbolic class names out th

[2019-02-15 23:18] #441 closed, assigned to LisaAlmarode

[2019-02-19 18:57] dalehenrich opened #443 "(3.0.62) Error drag/drop of method"
This is a method that was originally drag/dropped into this class and the error is occurring when I try to drag the method back to the original class:
![image](https://user-images.githubusercontent.com/623951/53039563-49a4ed80-3434-11e9-8e5c-1904ed7b32ff.png)

Here's the server stack:
[code]
The error is occuring because the `methodString` is `nil` ...  it seems that the nil is coming from the cli

[2019-02-19 18:59] dalehenrich commented on #443
It seems that if I do the drag/drop operation without first selecting the method, I get the error ...

[2019-02-19 19:14] ericwinger commented on #443
I can reproduce it. It was recently introduced with the recent optimizations. Will be fixed in the next release. Workaround is to select the method first before dragging (as you note).

[2019-02-19 19:21] ericwinger commented on #443
Fixed in 3.0.63 https://github.com/GemTalk/Jadeite/commit/cda254d5906f19d66f33e903b617f2935419

[2019-02-19 19:21] #443 closed, assigned to ericwinger

[2019-02-19 21:55] ericwinger commented on #73
Reassigning to @LisaAlmarode in hopes she can figure out what, if anything, is left to do on this issue.

[2019-02-19 21:56] ericwinger commented on #51
This might be related to #130

[2019-02-19 21:56] ericwinger commented on #130
This might be related to #51

[2019-02-19 21:57] ericwinger commented on #148
@dalehenrich Since no one is using Jadeite Alpha anymore, should we close this issue?

[2019-02-19 22:00] ericwinger commented on #18
Pretty sure we can close this issue.  I've been executing a script that runs all rowan tests before every Jadeite tagged release.

[2019-02-19 22:00] #18 closed

[2019-02-19 22:01] ericwinger commented on #18
Here's the script - /home/ewinger/Scripts/runRowanTests.sh
[code]

[2019-02-19 22:03] ericwinger commented on #427
Would like to fix this in the next customer release of Jadeite targeted for April. Changing label.

[2019-02-19 22:03] ericwinger commented on #424
Would like to fix this in the next customer release of Jadeite targeted for April. Changing label.

[2019-02-20 00:01] dalehenrich commented on #148
... not for Alpha1, but do we need one for Jade? There is some public information about how to install Jade persistently in an image that would cause problems for Jadeite and if anyone were to try to use Jade in a Rowan image  (changing Rowanized methods or classes) that would definitely cause trouble ... I would think that creating a object that cannot be written to in one of the spots used by Ja

[2019-02-20 16:26] ericwinger commented on #148
@dalehenrich I assigned to you for a response to my question. Nothing more.

Putting in the poison pill for Jade is a good idea as much of the Jade service code would get overwritten. I'll reassign back to myself and mark as an April fix.

[2019-02-20 21:35] LisaAlmarode commented on #429
There are two problems left.

 - [x] The transcript no longer gives me any option to browse class when a class or a non-class global is selected.  So the bug is fixed (and was in v.62 for that matter), but I think it was a handy feature there.

The source pane of the project browser nicely does the right thing for kernal classes and Globals like PlusInfinity (open a dictionary browser), However,

[2019-02-20 21:40] #432 closed, assigned to LisaAlmarode

[2019-02-20 21:48] LisaAlmarode commented on #432
still see some behavior that's not entirely solid when it comes to cross-browser sunit result; the banner is too quick to clear in the project browser and maybe not quick enough in the sunit browser, and I'm not sure the exact semantics of the browser in some cases.  However, it's no longer appears to be confusing, wrong or losing results, so I'll call it good enough.

[2019-02-20 21:59] LisaAlmarode opened #444 "Peculiar behavior when opening parameters file when logged in"
This isn't supported functionality, but it's a little too distressing to not mention.

I created a parameters file for DataCurator.
I was logged in as SystemUser with no parameter file loaded, and a package browser open.
I opened the parameters file, which changes the login dialog to say "DataCurator", and logged in.

My existing console and project browser transformed to DataCurator's project lis

[2019-02-20 22:04] LisaAlmarode commented on #420
With no class selected in the project browser, find method is enabled but does nothing.

[2019-02-20 22:22] dalehenrich commented on #429
I use tabs a lot in the project browser, so I would prefer that I get a new tab in the project browser ... this might only make sense if you are doing a find class from the project browser although it would be cool if Jadeite to add a tab to an existing project browser

[2019-02-20 22:29] LisaAlmarode commented on #433
weeealll it's fixed in the case where you inspect the bad object, which is nice.  But my actual use case is not fixed.

If you're inspecting the object that references the bad object, and select the instvar referencing the bad object, you get a walkback.  The error ought to be displayed on the right.

You can't see this in the example since Arrays show themselves as part of the main inspector so y

[2019-02-20 22:57] LisaAlmarode commented on #419
The SUnit case is fixed but the Project browser remains.  The list of icons can be displayed for the superclass even though tests were not run on the superclass and would fail if they were run.

If you've got two project browsers.
One is on the subclass and has run tests and shows all the icons (passing)
In the other project browser, select the superclass, that actually implements the tests and wh

[2019-02-20 23:07] ericwinger commented on #429
@LisaAlmarode  I'm confused by check box one.  I see an option to Browse Class when Transcript is selected.
![image](https://user-images.githubusercontent.com/36212516/53131261-168c5800-3521-11e9-80f7-a205a2d6e903.png)

[2019-02-20 23:31] dalehenrich opened #445 "(3.0.63) class def / instance var oddities"
1. add iv to class, switch to variables pane (pink background ... okay)
   - add instance variable `postLoadClassList`
   ![image](https://user-images.githubusercontent.com/623951/53132054-57856c00-3523-11e9-8fdd-1fbbf0788549.png)
   - accept (looks good)
   ![image](https://user-images.githubusercontent.com/623951/53132125-9ca99e00-3523-11e9-82ca-1dbf903501e3.png)
   - click on variables pane, wi

[2019-02-20 23:37] dalehenrich opened #446 "(3.0.63) Accessors menu disabled"
Continuing on from Issue #445, the Accessors menu item is disabled:
![image](https://user-images.githubusercontent.com/623951/53132559-e646b880-3524-11e9-8be2-d794d0a71741.png)

Don't know if it really ever worked, since I just noticed it the other day ... after I had added accessors manually:) ... was looking forward to using it too ...

If it's not expected to work I vote for including it in Apr

[2019-02-21 00:04] ericwinger commented on #429
Second check box fixed in https://github.com/GemTalk/Jadeite/commit/df00723d045102f0f245b49ba3c0b4e5bac52bd2
New browser is opened if rowanized class is selected in both method & project browser. Holding ctrl opens new tab instead (from within project browser only)

[2019-02-21 00:07] ericwinger commented on #446
Think this is the same as #382.  April release works for me.

[2019-02-21 00:11] dalehenrich commented on #382
[feedback for comments](https://github.com/GemTalk/Jadeite/issues/319#issuecomment-451213540)

[2019-02-21 00:12] dalehenrich commented on #446
indeed

[2019-02-21 00:12] #446 closed, assigned to ericwinger

[2019-02-21 00:23] ericwinger commented on #420
Fixed in 3.0.64 https://github.com/GemTalk/Jadeite/commit/9de37ea7c538800f6075bee2da12bc9407539f31

[2019-02-21 00:23] #420 closed, assigned to LisaAlmarode

[2019-02-21 00:53] LisaAlmarode commented on #429
"transcript" may have been confusing to one or the other of us, since the problem is the console window which I automatically could consider as "the transcript"... you know, the window that you get when you first log in...   I believe that used to let you browse a class but doesn't now.

[2019-02-21 01:13] ericwinger commented on #433
Should have a fix in 3.0.64. Both examples reported today seem to work. https://github.com/GemTalk/Jadeite/commit/6a4555c046dfead9dadcdee6dd47b6c1273d16b3

[2019-02-21 01:13] #433 closed, assigned to LisaAlmarode

[2019-02-21 17:34] ericwinger commented on #429
I see now. Not sure that the transcript ever let you browse classes, implementors, or senders but it (and the workspace) does now. Fixed in 3.0.64. https://github.com/GemTalk/Jadeite/commit/407a65b309e46d7a33845c891a43335cf3d93f88

[2019-02-21 17:34] #429 closed, assigned to LisaAlmarode

[2019-02-21 18:14] dalehenrich opened #447 "(3.0.63) more odd behavior with add instance variable"
I added an instance variable to a class and the the project browser updated and switched to method view ... but I wasn't done with adding instance variables ...

Not able to reproduce (tried several different possibilities, I hadn't been working too long in a fresh session before it appeared) ... might be related to Issue #445 ...

[2019-02-21 19:53] ericwinger opened #448 "Class selection not retained from Hierarchy->Class view"
- Select class in hierarchy view
- Select category / method
- Select ``Classes`` tab  (class selection not retained)

After fixing, make sure that category selection updates methods properly.

[2019-02-21 22:02] ericwinger commented on #445
The service wasn't getting updated properly before selecting the variables tab. Fixed in 3.0.64. https://github.com/GemTalk/Jadeite/commit/7b316500b6b75697ea2951ab7d08965a1b45b0d9

[2019-02-21 22:02] #445 closed, assigned to LisaAlmarode

[2019-02-21 23:51] ericwinger commented on #448
Fixed in 3.0.64. https://github.com/GemTalk/Jadeite/commit/dacc7610976a6a7ea83b7676be2c5c95f35941af

[2019-02-21 23:51] #448 closed, assigned to LisaAlmarode

[2019-02-22 17:44] ericwinger commented on #419
@LisaAlmarode I'm not seeing this behavior. Instead I see no test results from selecting the super class. Is it possible you were testing with a version prior to 3.0.63?

[2019-02-22 18:29] dalehenrich opened #449 "(3.0.63) missing class definition template in empty package"
I deleted the last class in a package and now there is no class definition template:
![image](https://user-images.githubusercontent.com/623951/53262840-8703b800-368c-11e9-82a4-c2881d8922dc.png)

Candidate for April consideration ...

[2019-02-22 19:27] dalehenrich opened #450 "(3.0.63) sticky package selection"
Don't know exactly how got here (I had been doing some drag drop between classes in different packages via the class hierarchy --- drag from a subclass in one package into a superclass in another, but it was only after a bit of time went by to notice the permanent selection), but the package GsDevKit_upgradeDevKitImage-Core seems to be permanently selected no matter what I do:
![image](https://use

[2019-02-22 20:27] dalehenrich opened #451 "(3.0.63) loading a project version when classes moved between packages (and possibly selected) hits error"
My use case involved the project [GsDevKit_upgradeDevKitImage](https://github.com/GsDevKit/GsDevKit_upgradeDevKitImage) where I was sitting at commit 3503a5e9fe4776d5e68e5600d2e4a77c508bbba9, with the class **GsuAbstractGsDevKit**  selected while viewing he **GsDevKit_upgradeDevKitImage-Core** package using hierarchy view; then loaded commit cf8ecda8a4a2641c3cbd35864917f80b31fd3ef7 .... and got th

[2019-02-23 00:13] ericwinger commented on #334
After running into a bug related to this, I was able to root around and find a better solution. Here's the chain of events that causes the problem.

- User selects new class with right mouse.
- Menu pops up blocking a class refresh.
- User selects menu item (for me it was ``Browse References``)
(At this point there are a couple server calls queued up)
- After menu item is selected, the class refre

[2019-02-23 00:13] #334 closed, assigned to LisaAlmarode

[2019-02-25 04:24] LisaAlmarode opened #452 "busy cursor changes to insert over code pane (3.0.63)"
Without the dialog, I'm looking at the cursor to know when things are done.

I execute some code by do-it in a PB code pane.  This code does client file reads and takes a while to run.

When the cursor is over the code pane, it's the I insert, NOT the busy cursor.  When I move the mouse over the rest of the browser it's the busy hourglass cursor (rather than the arrow).  But the cursor over the co

[2019-02-25 19:03] ericwinger opened #453 "Handle unreadable characters gracefully"
When doing a ``changes`` command from the changes browser, the customer had a unicode character in the comment field. Until unicode is fully supported by Jadeite in #307, we need to handle this more gracefully. Attaching a stack and customer-generated screen shots. Looks like the problem is in our STON implementation.

[code]
From customer:

Customer screen shots:
![image](https://user-images.gith

[2019-02-25 20:40] ericwinger commented on #451
STON replication can handle references but I've found that it works better to only replicate simple objects - strings, integers, booleans, etc.  This issue is representative of the kind of failure I've run into. Jadeite only replicates simple objects by and large and if we can figure out what inst var in RowanClassService was a reference instead of a simple object, we probably can fix this.

@Lisa

[2019-02-25 20:50] ericwinger commented on #450
When two packages are selected, we don't update the hierarchy. Since you're seeing a hierarchy I suspect that you've actually only got one package selected. The "permanent select" might be a Dolphin visual artifact from a selection that didn't get properly invalidated.

I'd be curious of a few things if this happens again:

- Does dragging another window over the "permanent selection" erase it whe

[2019-02-25 20:55] dalehenrich commented on #451
One thing that would help resolve issues like this is to have the option to include the values of args and temps when copying the stack (ala topaz stack dumps) to provide more information to the person who understands the code involved ... it doesn't replace the need to sometimes need to debug, but the extra information often provides enough clues to figure out what went wrong (I've been doing "re

[2019-02-25 20:58] dalehenrich commented on #450
... FWIW, I believe that I tried "everything" in an attempt to avoid having to close the project browser

[2019-02-25 23:31] LisaAlmarode commented on #429
The control-browse class is a nice feature.  Seems hard to document such that it doesn't get lost.

[2019-02-25 23:43] LisaAlmarode commented on #419
Still happens in 3.0.64.  It occurs when the methods are inherited, not defined in the subclass.  It's a peculiar scenario.

in subclass, run the tests.  Note that there are no test methods in this class.

![image](https://user-images.githubusercontent.com/13142166/53376659-f6d7a400-3913-11e9-95ce-27cf6e4d04e0.png)

Now, select its superclass, then select the sunit tab.  See icons:

![image](https

[2019-02-25 23:55] dalehenrich commented on #419
agree that it is a peculiar scenario ... in this particular case the fact that the tests are behaving correctly in the concrete test is most important to get right at this stage

[2019-02-26 20:11] LisaAlmarode commented on #445
I don't see Dale's behavior.  It's not clear what he does in step 1 "switch to variables pane", since the catagories pane is showing and he switches to variables pane in step 3.

I see a little peculiar behavior in that with variables tab selected, you can move around and between unsaved class and method defs, but when you select category you have to save or lose.  I don't see anything like a bug,

[2019-02-26 20:17] LisaAlmarode commented on #419
In my test code, both are concrete classes; the superclass runs the same tests on windows and is the important one.  The subclass was added just for Jadeite testing so I could run tests on unix, since the windows tests take so long.  The difference is that the subclass overrides a few methods that setup files and directories.

I removed the labels since I'm guessing this isn't in scope for this we

[2019-02-26 20:23] dalehenrich commented on #445
@LisaAlmarode in the first graphic (step 1) I had not actually added the instance variable yet ... just edited the (pink) pane and step 2 is the accept, so step 3 is the initial switch where the iv is not visible in the vars pane and that is/was the the bug ... I did see other odd behavior in this area and was just happy that I could take screen shots of the "bad behavior" ... many times even I ca

[2019-02-26 20:25] LisaAlmarode opened #454 "Variables tab, change variable selection, are not prompted to save method"
If you are in a class with variables, and the variables tab, and select a variable, and edit the template to write a method,
and then select a different variable,
you are not prompted to stay on unsaved method

[2019-02-28 17:15] ericwinger opened #455 "Would like args & temps in stack dump"
@dalehenrich mentions in https://github.com/GemTalk/Jadeite/issues/451#issuecomment-467179379 that it would be useful to (possibly always) includes args & temps for stack dumps. A good use case is doing a copy stack from the debugger or notifier.

Should at least look at before February release.

[2019-02-28 17:16] ericwinger commented on #455
Limit args & temps to 80 chars at least to start.

[2019-02-28 17:25] ericwinger opened #456 "Jadeite - Inspector on characters in iso88599 fails"
Issue reported in Rowan https://github.com/GemTalk/Rowan/issues/473#issue-414657840

Looks like a Jadeite issue.

[2019-03-06 20:40] dalehenrich opened #457 "`audit project` menu item in project list pane?"
... having just made a bunch of edits on disk and then load/update ... would be useful thing to have ...

[2019-03-07 17:07] dalehenrich opened #458 "(3.0.64) category error"
[code]

[2019-03-07 23:02] ericwinger commented on #458
After failed compile, methods didn't get reinitialized. If you compiled successfully without changing methods or categories the problem was masked. Fixed in 3.0.65. https://github.com/GemTalk/Jadeite/commit/18a35c359ee30abc54060327fe34cce8b8586de5

[2019-03-07 23:02] #458 closed, assigned to ericwinger

[2019-03-08 17:56] dalehenrich commented on #458
... verified that this bug is fixed

[2019-03-11 23:42] dalehenrich opened #459 "CompileWarnings should be more noticable ..."
I just found out that the ProjectBrowser has been giving me compile warnings all along, when Eric told me that the warnings show up in the tiny pane at the bottom of the project browser ... I knew that the debugger provided Warnings (via popup), but never realized that I was getting warnings from the Project Browser ...

With GemTalk/Rowan#477, the Rowan bootstrap code and Rowan test scripts will

[2019-03-13 16:31] ericwinger commented on #457
@dalehenrich What is the Rowan api & what output does the audit generate ?

[2019-03-13 17:15] dalehenrich commented on #457
Api is in RwPrjAuditTool ... currently the most useful output is written to the gem log ... the audit returns a dictionary containing audit results ... the audit passes if the dictionary is empty ...  @alexkogan has plans to improve the form of the dictionary results and the prospect of supporting a Jadeite GUI would accelerate this work ... the simplest change would be to log output to a stream t

[2019-03-13 23:00] ericwinger commented on #148
@dalehenrich I looked at the JadeServer installation [code](https://github.com/jgfoster/Jade/blob/9234b495723f360c39636b27fe4ff0fab7e18d00/sources/JadeServer.cls#L784) and Jade creates a new symbol list on the server then installs the JadeServer client code into the that symbol list. If persisted, this could make Jadeite non-functional as indicated earlier in this issue.

In thinking about a poiso

[2019-03-13 23:23] dalehenrich commented on #148
The "poison pill" idea is to force an error during installation so that the user does not get the idea that Jade can be safely used, or is inadvertently logging into a Rowanized stone ... eventually it will be legal to use the "standard" class and method creation calls at which point it won't hurt for Jade to be installed, so this is only an "issue" as long as a Rowanized stone is "vulnerable" ...

[2019-04-01 18:45] ericwinger commented on #459
@dalehenrich @LisaAlmarode
Trying to work within the limits of what Dolphin will easily let me do ... What would you think about compile warnings and errors showing up something like this?

warnings - yellow status bar
compile errors - more intense red

![image](https://user-images.githubusercontent.com/36212516/55348854-085d2000-546d-11e9-84eb-ed8a0f52d46c.png)

![image](https://user-images.githu

[2019-04-01 20:59] ericwinger commented on #345
@dalehenrich If memory serves, there was some work to do to put the formatter code, ``RBParser`` into the current Oscar branch. Is this ready to merge?  (It's a good time for me to integrate it)

![image](https://user-images.githubusercontent.com/36212516/55359193-18352e00-5486-11e9-9461-81b2f2b0a97f.png)

[2019-04-01 23:01] ericwinger commented on #457
@dalehenrich @alexkogan  I looked at ``RwPrjAuditTool `` and the api doesn't look too difficult to implement. However, it appears that the only easily accessible output is in the KeyValueDictionary.  I could spit out some output based on the dictionary that's produced but it would be nice if there was more user-friendly output I could present.

Also, is there an easy way to make a project fail an

[2019-04-02 18:11] ericwinger commented on #439
When this is done, close #306.

[2019-04-02 18:24] dalehenrich commented on #359
stack form 3.0.65:
[code]

[2019-04-02 18:28] dalehenrich commented on #359
screenshot from 3.0.65:

![image](https://user-images.githubusercontent.com/623951/55426748-81cf3e00-5553-11e9-85df-960dd289e840.png)

[2019-04-02 18:35] dalehenrich commented on #459
The yellow for warnings is okay -- I have enough information from the message to know what to do ... the only comment would be that the warning needs to be cleared when a recompile (that cleans up the warning is succeful) ... I have seen cases where the warning messages stick around after I removed the temp and recompiled.

[2019-04-02 18:50] dalehenrich commented on #359
Jadeite crashed and after logging back in I opened a project browser on the `stash` project, opened a debugger using a `self halt` in workspace and then did a reload of the `stash` project in the project browser ... and kaboom:

![image](https://user-images.githubusercontent.com/623951/55427984-310d1480-5556-11e9-8fed-8596888457cc.png)

[2019-04-02 19:10] ericwinger commented on #359
During project reload, Jadeite looks for services which are selected that can be refreshed. However, debugger services should not be refreshed. The fix is to make sure that debugger services return ``false`` when sent ``isRowanService`` (now called ``isUpdatableService``).

[2019-04-02 20:43] dalehenrich commented on #345
Yes ... the code is ready to be merged ... I'll let you know when it is available on candidateV1.2

[2019-04-02 21:43] ericwinger commented on #359
Fix and test in https://github.com/GemTalk/Jadeite/commit/acff45137ffec69464e3419f4e93043e79d1cc18

[2019-04-02 21:43] #359 closed, assigned to ericwinger

[2019-04-02 22:06] ericwinger commented on #459
@dalehenrich @LisaAlmarode Verbal feedback for the compiler error change was that the darker red background obscured the squiggly underlines. The picture below shows what would happen if we left the background color unchanged, but made the status bar red.

Thoughts?

![image](https://user-images.githubusercontent.com/36212516/55439211-ba254b00-5558-11e9-9788-cdd173918639.png)

[2019-04-02 23:40] dalehenrich commented on #459
We're wandering into territory where it is hard for me to read the
message with the darker red background ... I think a lighter red would
still do the trick as long as white background always means no
error/warning ...

Dale

On 4/2/19 3:06 PM, ericwinger wrote:

[2019-04-03 14:02] dalehenrich commented on #345
[merged into candidateV1.2](https://github.com/GemTalk/Rowan/issues/404#issuecomment-479502251), so you're ready to go ... let me know if you need anything else.

[2019-04-07 15:40] dalehenrich opened #460 "(3.0.65) browse methods containing `%` yields "Can't hold $\x3B1" Dollphin error"
![image](https://user-images.githubusercontent.com/623951/55685954-8fe4dc00-5910-11e9-8113-11737ee11eac.png)

Here's the dolphin stack:
[code]

[2019-04-08 17:07] ericwinger commented on #460
The culprit is this method which contains unicode characters. Need to official support unicode in Jadeite (Dolphin).

[code]

[2019-04-08 17:08] ericwinger commented on #460
See issued #307 and #453

[2019-04-08 17:14] ericwinger commented on #460
One stopgap possibility is to check each method service's source before returning to the client via STON. If it contains unicode, replace the source with an uncompilable ascii string. That string could include the UTF8 string for the original source with an explanation of what is presented.

[2019-04-08 17:35] ericwinger opened #461 "Support 3.5.0"
Need to support connections to 3.5.0 server. Think this entails -

- [x] Adding 3.5 client libraries to the Jadeite release.
- [x]  Supporting 3.5 logins in the Jadeite login dialog.

[2019-04-08 22:49] ericwinger commented on #461
Fixed in 3.0.6.6 https://github.com/GemTalk/Jadeite/commit/35e6d49b69c24a25924d66c5bcd5ac450e2d9f5b

[2019-04-08 22:49] #461 closed, assigned to ericwinger

[2019-04-09 18:24] ericwinger commented on #459
@dalehenrich Better?

![image](https://user-images.githubusercontent.com/36212516/55825008-eb9e9900-5ab9-11e9-9b0e-4db9379bbb02.png)

[2019-04-09 18:40] dalehenrich commented on #459
... better yes ... i can read the message now ... I'm still thinking that just the background change is not enough to indicate (to me) that an error occurred ... so perhaps a bright yellow (like warning) in the message area at bottom would scream that there is "a message to look at down here" and draw my eye ...

[2019-04-09 23:04] ericwinger commented on #459
Like this?

![image](https://user-images.githubusercontent.com/36212516/55840693-2b2cab80-5ae1-11e9-9e21-01a94c0465d8.png)

[2019-04-09 23:10] ericwinger commented on #439
Checked in a "final" fix in https://github.com/GemTalk/Jadeite/commit/8476f8fc39024c9f0e0fd3d74715a263ece05623
Should be in 3.0.67

[2019-04-09 23:10] #439 closed, assigned to LisaAlmarode

[2019-04-09 23:13] ericwinger commented on #306
Fixed with comments in #439

[2019-04-10 00:07] dalehenrich commented on #459
yes ... it makes my eyes hurt to see those two colors together, but that's what I'm looking for:) ... thanks

[2019-04-10 14:11] ericwinger commented on #459
@LisaAlmarode  Could you weigh in on Dale's color scheme? Thanks.

[2019-04-12 18:06] LisaAlmarode commented on #459
It's nice to have yellow=warning and red=error.

Can we discuss the font? The footer font is regular-weight gray, and not easy to read in any case.  Making it bold and black would help visibility in all cases.

If we do that than the darker pink might work.  While the yellow is highly visible, there's no narrative continuity; we want a story about color meanings, not randomly making things clash.

[2019-04-12 18:24] ericwinger commented on #449
Not sure how you deleted the class but I did find that if you delete the class from the hierarchy browser no class template is shown. Now we retain the removed class's template for convenience.
Fixed in 3.0.66 https://github.com/GemTalk/Jadeite/commit/06eef323274ac0bd885333fc1d18b56507973ac5

[2019-04-12 18:24] dalehenrich commented on #459
@LisaAlmarode sounds good to me ... while we're at it, could we re-evaluate the use of the squiggly red underline on red background at the same time ... that's a worse problem than the readability of the error text in my poor vision opinion ...

[2019-04-12 18:31] LisaAlmarode commented on #459
Squiggle improvement would be great -  I don't have a problem noticing the pink error, myself, but often I have a very hard time actually FINDING the error in my code based on that teeny, low-contrast squiggle.

[2019-04-12 18:49] dalehenrich commented on #449
I'm not quite sure what you mean by:

But when I delete the last class in a package, I expect to see the same class template that you see when you have just added a package (here I added the xxx package) and this is the class template I'd expect to see when I delete the last class in a package:
![image](https://user-images.githubusercontent.com/623951/56059393-d1162b00-5d18-11e9-9984-3df996c44ff5.

[2019-04-12 19:01] dalehenrich commented on #459
I have trouble enough noticing the pink background as an error condition:) As I've mentioned before, I spent an hour with a pink background in browser before I realized that it meant a compile error ... In tode the window would flash when an error occurs, but in Jadeite the window flashes on updates as well and the color change from yellow to green to red or yellow just doesn't register :) ...

I

[2019-04-12 19:44] ericwinger commented on #449
I don't retain the old class template forever, just until you click away.

[2019-04-12 20:59] ericwinger commented on #449
Old class template was removed in favor of the package default template. https://github.com/GemTalk/Jadeite/commit/a4ac97526e4417d6fc3266bd6845937be6bb6a70

[2019-04-12 20:59] #449 closed, assigned to LisaAlmarode

[2019-04-13 00:46] dalehenrich commented on #449
so deleting a class does not count as "clicking away"? ... I'll repeat that I **expect** that when I delete a class the class template will be a fresh class template that looks the same as the template visible when I add a new package ... but it is only an expectation ...

[2019-04-13 00:50] dalehenrich commented on #449
... deleted previous comment that was a reply to https://github.com/GemTalk/Jadeite/issues/449#issuecomment-482699627 ... without seeing the later comment (https://github.com/GemTalk/Jadeite/issues/449#issuecomment-482721355) where you appear to be saying that your expectations are the same as mine:)

[2019-04-15 21:26] ericwinger commented on #447
It appears that if the ``Variables`` tab is selected, the class switches to the ``Method Source`` tab after saving a class. That has been fixed in 3.0.67 https://github.com/GemTalk/Jadeite/commit/2be436e9d377b0e08a97a767b3a4d9c8024c4fbe

[2019-04-15 21:26] #447 closed, assigned to LisaAlmarode

[2019-04-15 21:50] ericwinger commented on #459
@dalehenrich @LisaAlmarode Without modifying the colors, what about this for a squiggle improvement?
![image](https://user-images.githubusercontent.com/36212516/56167692-b26c9a00-5f8d-11e9-93bb-9266a19b45e5.png)

[2019-04-15 22:10] dalehenrich commented on #459
Looks good ... I can see it even at small size ... out of curiousity could you show what a missing `]` error would look like ....

[2019-04-15 22:17] ericwinger commented on #459
This is one possibility.
![image](https://user-images.githubusercontent.com/36212516/56168984-99fe7e80-5f91-11e9-85fe-cd5841414645.png)

[2019-04-16 00:10] dalehenrich commented on #459
that works fine ...

[2019-04-16 18:28] LisaAlmarode commented on #459
Definitely an improvement, though I can't say until I've got a mass of code with a buried error.

[2019-04-16 20:25] ericwinger commented on #459
I made the text black and the colors more consistent (yellow-warning, red-error). What do you think?

Warning:
![image](https://user-images.githubusercontent.com/36212516/56241491-d7731280-604a-11e9-9309-e432d1c41bfb.png)

Error:
![image](https://user-images.githubusercontent.com/36212516/56241569-05f0ed80-604b-11e9-9140-d23ab22d1f1b.png)

[2019-04-16 20:47] dalehenrich commented on #459
I can read the message in both ... much better ...

[2019-04-16 21:08] ericwinger commented on #459
@LisaAlmarode  - comments?

[2019-04-16 21:18] LisaAlmarode commented on #459
I like the consistent colors, I can read both pretty well, so if Dale thinks it's the reds and pinks are
noticeable enough it works for me.

However, question: do warnings stop the compile from taking place?  The yellow background currently means "saved changes" so I hope so.  If not, we're back to misleading.... we might revisit the "saved changes" color (which is occasionally white).

[2019-04-17 21:42] ericwinger commented on #459
@LisaAlmarode Warnings don't prevent compilation so yellow still means the changes have been saved. I'll go ahead and close this bug. The changes will be in 3.0.67 for review.

[2019-04-17 21:49] ericwinger commented on #460
@dalehenrich @LisaAlmarode  what do you think about this presentation of an "undisplayed" source below?

Instead of the UTF8 string, I look for characters > 255 and present those in their hex form. Note that the source is not  intended to be compilable.

![image](https://user-images.githubusercontent.com/36212516/56323114-b92b1680-611f-11e9-94ba-c95efa552170.png)

[2019-04-17 22:42] dalehenrich commented on #460
that would seem to be okay as long as it is obvious that that translated sequence is really a replacement for an undisplayable character ... maybe a purple background is needed, since you should be disallowed from saving the method ...

[2019-04-17 23:09] ericwinger commented on #460
I added an all caps warning and made the background the same color as a compiler error. Thoughts?

![image](https://user-images.githubusercontent.com/36212516/56326501-24c6b100-612b-11e9-8d79-3dea9dddd81c.png)

[2019-04-17 23:15] dalehenrich commented on #460
works for me:)

[2019-04-19 23:54] ericwinger commented on #460
The above pane should show up if a unicode character is encountered as of 3.0.67 https://github.com/GemTalk/Jadeite/commit/079848be53c30ab5ae866e4b2a7b41075280426d

[2019-04-23 17:09] ericwinger commented on #435
I'll have a partial fix checked in for 3.0.67. Reassigning to Lisa for review at that time.

[2019-04-23 17:21] ericwinger commented on #457
Awaiting on @alexkogan for better output api's.

[2019-04-23 23:51] ericwinger commented on #455
Fixed in 3.0.67. https://github.com/GemTalk/Jadeite/commit/60a29df458620e6e9b6560711f88cdd729a7ae30
Copy stack from a debugger and a notifier now include variables.

Made the printing limit for variables 200 as 80 seemed rather short.

[2019-04-23 23:51] #455 closed, assigned to LisaAlmarode

[2019-04-24 18:49] dalehenrich opened #462 "(3.0.66) silent commit conflict/failure when auto commit is enabled"
I don't know for certain that this is the case, but I had been working for a few minutes in Jadeite with autocommit enabled, when I noticed that work I had done was not available to a session in topaz. I had been working pretty regularly making changes in Jadeite and then running a topaz script, and up until that moment, when I noticed the changes did not seem to be propogated, auto commit had bee

[2019-04-24 22:17] ericwinger commented on #454
Fixed in 3.0.57. https://github.com/GemTalk/Jadeite/commit/890e973e36be342104ed880b164bd2edd0c99a01

[2019-04-24 22:17] #454 closed, assigned to LisaAlmarode

[2019-04-24 23:02] ericwinger commented on #462
@dalehenrich It's a good theory. Any recommendations on how to code up a simple commit conflict in a single session so I can investigate?

[2019-04-24 23:20] dalehenrich commented on #462
Let's see ... add an association to UserGlobals commit ... in topaz session abort, in Jadeite turn on autocommit, abort.
In topaz add a new value to the association and commit ... in Jadeite in a workspace change the association (do not abort or commit) then edit a method and save ... you should get a commit conflict ... I'll be in office tomorrow if you need more help

[2019-04-25 16:56] alexkogan opened #463 "Stuck with UndefinedObject doesn't understand #gciCallInProgress prompt"
After loosing connection to stone. I occasionally end up with this forever prompt. Have to use task manager to kill process. At this point we should probably just exit jadeite after user clicks prompt first time. Not much on can do. Or prevent it from popping up again so user could possibly copy content of current editor or something.
![image](https://user-images.githubusercontent.com/1958382/5675

[2019-04-25 21:41] ericwinger commented on #427
Fixed in 3.0.67 https://github.com/GemTalk/Jadeite/commit/7186aeed1653a645aa2fae7de5285236dd2d51de

[2019-04-25 21:41] #427 closed, assigned to LisaAlmarode

[2019-04-26 17:25] dalehenrich opened #464 "(3.0.67) String does not understand #format: ... during doit"
I had a test failure merging the latest candidateV1.2 (with the latest oscar) into candidateV1.3 and I used a workspace to run the test in Jadeite:
[code]
After fixing the test I tried to rerun the presumably passing test and got the following Dolphin error:
[code]
It turns out that I can print the result of `3+7` in the workspace so I am a bit confused as to what might be going on .. I only have

[2019-04-26 18:01] dalehenrich commented on #464
I've looked at the code a bit closer and I see that the AST-* packages are all installed correctly ... I also see that #format: is not implemented in CharacterCollection ... so #format: is a message that is supposed to be sent to the RBFormatter, but not in the Dolphin code space ... so I'm a little less confused:) ... doesn't solve the MNU, though:)

[2019-04-26 18:27] dalehenrich commented on #464
... okay this error is actually coming from STONReaderError>>messageTest:
[code]
and this something for which there is no test (obviusly) ... #format: is a Squeak/Pharo message from way back whose intent is to insert a chunk of text into a stream at a certain position.

Here's the implementation from tODE:
[code]
looking at this method, there are additional methods needed to fully implement ... if

[2019-04-26 22:15] dalehenrich commented on #459
Missing bold font in compiler error pane (3.0.67) ...
![image](https://user-images.githubusercontent.com/623951/56839104-e53c4b00-6835-11e9-842a-7048d2871fce.png)
I downloaded the runtime.zip directory ... if that matters

[2019-04-26 22:18] dalehenrich commented on #459
Warning is suffering from gray font has well:
![image](https://user-images.githubusercontent.com/623951/56839250-79a6ad80-6836-11e9-8cae-d624bd9641d9.png)

[2019-04-26 23:32] ericwinger commented on #462
The first cut at a fix is complete.
@dalehenrich Can you think of a way to create a commit failure using a single session? I'd like to write some automated tests but Jadeite doesn't support multiple sessions yet.

[2019-04-26 23:47] dalehenrich commented on #462
It takes two sessions to tango ... You should be able to use
**GsExternalSession**:

     GsExternalSession newDefault
	login;
	executeString: '<modify-shared-global>';
	commit;
	logout

Ought to do the trick...

Dale

On 4/26/19 4:32 PM, ericwinger wrote:

[2019-04-29 17:05] LisaAlmarode commented on #435
It consistently errors the same way in 3.0.67, but previously it appears to have printed the correct results and now it always errors, which is reduced functionality.  It's okay for the single current customer but is not going to work for a more general audience.

[2019-04-29 17:11] LisaAlmarode commented on #458
Since Dale didn't give the reproduction scenario, just take his assessment of fixed.

[2019-04-29 18:19] dalehenrich opened #465 "(3.067) error after rename class in hierarchy view"
Renaming the class RwAdoptMethodErrorNotification to RwAdoptMissingMethodErrorNotification
![image](https://user-images.githubusercontent.com/623951/56917122-89f59d00-6a6f-11e9-9a95-7287fdaa29e3.png)
After refreshing the project window, it is clear that the rename had completed and that the references were properly replace, AND the post successful operation commit had been performed:
![image](http

[2019-04-29 18:49] ericwinger commented on #459
The method list browser still had gray text. Compiler & warning text is fixed.  Also noticed that the compiler error red status bar was hanging around when the method was changed. Fixed. https://github.com/GemTalk/Jadeite/commit/cf8b542dc5ae0d8a8bde0a75a7d16400d65afeef

[2019-04-29 19:51] dalehenrich commented on #464
Another variation of the same problem (I think) ... this time `ByteArray does not understand #asHexString` on the dolphin side --- untested path for STON process --- --- doing an `inspect it` in an inspector :
[code]
Dolphin stack
[code]

[2019-04-29 21:19] LisaAlmarode opened #466 "Jadeite and misleading non-unicode ought to have warning"
This is the inverse of issue #460.

I pasted in the method text from the example (actually simplified into '-ß-ñ-α-€-∏-') into a Jadeite browser, and it pasted in fine, and compiled without complaint. However, the three unicode characters are messed with; the alpha is a, the euro looks normal but is 128/16r80, and the pi is ?.

There should be some kind of warning when you attempt to use character

[2019-04-30 22:59] ericwinger commented on #464
There were quite a few problems introduced in 3.0.67 with ad-hoc execution. Think I've straightened out the more common cases in 3.0.68. https://github.com/GemTalk/Jadeite/commit/a93396ef5ce2228fcc322bfe944f685527ed8480

[2019-04-30 22:59] #464 closed, assigned to LisaAlmarode

[2019-05-01 23:27] ericwinger commented on #465
The reproduction case is:
- Select a class with methods in the hierarchy view of a project browser
- Select several methods and ``Browse Selected Methods``
- With the method list open, rename the class.
- get walkback shown above

[2019-05-02 00:10] ericwinger commented on #465
Fixed in 3.0.69 https://github.com/GemTalk/Jadeite/commit/ba67da5d9da9720e35dc6324d2f1e2fa495ea436

[2019-05-02 21:29] ericwinger commented on #462
Visual indication is a red auto commit button. Tests added and functionality seems to be working in 3.0.69. https://github.com/GemTalk/Jadeite/commit/827881dbce3f7bba2c91c6e5aa90dd429c19a7dc

[2019-05-03 17:54] dalehenrich opened #467 "(3.0.68) nice to have selected test remain visible aftr pressing the `run selected` button"
BEFORE (note selected test):
![image](https://user-images.githubusercontent.com/623951/57155897-78730480-6d91-11e9-9bd0-04e4d63cc772.png)
AFTER:
![image](https://user-images.githubusercontent.com/623951/57155952-93457900-6d91-11e9-848b-c9470221a94b.png)
Would be nice if the selected test stayed visible after update ... for large number of tests, it can mean a bit of manual searching has to be repe

[2019-05-03 20:57] ericwinger opened #468 "Find text dialog does not highlight correctly"
The Ctrl-F find dialog doesn't always highlight found text properly. Also, you have to click a radio button to search in the right direction. Replacing the current find dialog with an advanced find would add the wrap & regex search capabilities.

Fixed in 3.0.69

[2019-05-03 22:20] ericwinger commented on #424
Have a fix for this in 3.0.69. Will need review and, no, I couldn't get the sunit tab header to be anything other than white. The rest are yellow and a dirty class def pane is green - same as method pane dirty.

[2019-05-06 21:30] ericwinger commented on #467
As of 3.0.69, after test run, the first selected test is visible.

[2019-05-06 21:30] #467 closed, assigned to LisaAlmarode

[2019-05-06 21:43] alexkogan opened #469 "Commit to git failure."
Commit to git relies on single tmp file for commit message. If another user has already created such file and left it behind it prevents other users from committing on same server.
Also code need to check if GsFile open... returned nil and report an error possibly.
![image](https://user-images.githubusercontent.com/1958382/57257075-38b85100-700d-11e9-9bff-521d514526b9.png)

[2019-05-06 22:14] ericwinger commented on #442
The trouble starts when ``Rowan globalNamed: 'Issue470Class2'`` returns nil because, as you presumed, the class is not in ``GsCurrentSession currentSession symbolList``

The question is ... what should be displayed?

[2019-05-07 00:24] dalehenrich commented on #442
If I'm not mistaken, I think that this is a case where you have a reference to a class that is not in your current symbol list ... and I think that the class still needs to be shown as a special case ... in tODE, I think I display this class as: `class-name{class oop}` ... we need to talk in person to resolve this correctly

[2019-05-07 16:36] ericwinger commented on #442
From discussion with Dale, even though the non-resolvable class isn't in the symbol list, it is a fully formed class. Instead of resolving the class with ``Rowan globalNamed:`` we can get it by oop (if necessary, we may already have it).

On the client we should give some indication, perhaps {oop} as was mentioned, that distinguishes it as a unique class.

[2019-05-07 22:34] ericwinger commented on #382
Fixed in 3.0.69. Warns before overriding existing methods. Tests added.

[2019-05-07 22:34] #382 closed, assigned to LisaAlmarode

[2019-05-08 23:35] dalehenrich opened #470 "(Oscar-3.0.68) Find class produces `UndefinedObject does not understand #value`"
Here's the Dolphin stack:
[code]

[2019-05-09 16:36] ericwinger commented on #442
Fixed in 3.0.69.  Hierarchy list looks as below with non-resolvable class in dark red and the oop beside it.

![image](https://user-images.githubusercontent.com/36212516/57470517-dbefad00-723d-11e9-8293-4e7be76799aa.png)

[2019-05-09 16:36] #442 closed, assigned to LisaAlmarode

[2019-05-09 18:17] ericwinger commented on #470
If the service that gets the list of classes came back nil this error could happen. The only way I could see a list of classes be nil is if the system hadn't finished another service operation or if the ston replication failed leaving the service inst var ``allClasses`` nil.

I've added a guard against this in 3.0.69 so that a nil list of classes won't crash Jadeite but instead produce an empty fi

[2019-05-09 18:17] #470 closed, assigned to LisaAlmarode

[2019-05-10 23:39] ericwinger commented on #390
Fixed in 3.0.69.  Similar to what was described here - https://github.com/GemTalk/Jadeite/issues/390#issuecomment-452478601

Two stage class compiles implemented - class compilation failures get highlighted text in class definition pane. Method recompilation failures get a debugger.

Per the referenced comments, workspace context objects & class compilation in workspace should probably get a new i

[2019-05-13 16:14] ericwinger commented on #469
@dalehenrich Should this be a rowan issue?

[2019-05-13 16:20] dalehenrich commented on #469
Yes ... and this is a duplicate of GemTalk/Rowan#257

[2019-05-13 16:20] #469 closed, assigned to dalehenrich

[2019-05-13 17:01] ericwinger commented on #452
@LisaAlmarode I executed a simple expression ``(Delay forSeconds: 10) wait`` but didn't see the cursor change no matter which pane I passed it over. Perhaps it has something to do with the type of execution?
If you execute this expression do you still see the insertion cursor?

fyi - I'm running on Windows 10.

[2019-05-13 18:26] ericwinger commented on #399
To make it consistent with the method list browser, I disabled Browse Hierarchy Senders/Implementors in the project browser when multiple selections are made. That's what was getting the "exactly one object" error.

[2019-05-13 18:26] #399 closed, assigned to LisaAlmarode

[2019-05-13 21:11] ericwinger commented on #407
Fixed in 3.0.69.  I added Browse Senders / Browse Implementors to show the method list. Browse Implementors takes you directly to the changed method source.

[2019-05-14 18:30] ericwinger commented on #378
Fix entirely in Rowan oscar branch https://github.com/GemTalk/Rowan/commit/a962ffe0c7891d96ed4b439a4b9d521884dbb9cc

[2019-05-14 21:40] ericwinger commented on #179
Think I've finally solved the focus issues. Should be fixed in 3.0.69.

[2019-05-14 21:40] #179 closed

[2019-05-14 23:52] #407 closed, assigned to LisaAlmarode

[2019-05-16 17:14] ericwinger opened #471 "First Browse Methods invocation from SUnit browser does not display source"
- Open a Jadeite SUnit Browser.
- Select a class and method
- From the method list, choose ``Browse Methods``
- The method list browser has a blank method source pane

Note that subsequent invocations of the menu options seem to work once the work around has been applied. Bug seems to reappear when a new class is selected.

Work around. Send ``Browse Implementors`` to the method in the method list

[2019-05-17 15:52] ericwinger commented on #471
Method sources needed to be updated prior to sending Browse Methods. Fixed in 3.0.70

[2019-05-17 15:52] #471 closed, assigned to LisaAlmarode

[2019-05-18 18:09] dalehenrich opened #472 "(3.0.69) Jadeite process crashes shortly after closing debugger ..."
********************************************************************************
************************** Dolphin Crash Dump Report ***************************

11:05:46 AM, 5/18/2019: Jadeite.exe caused an unhandled Win32 Exception C0000005
at 004121E5 in module 00400000 (C:\Users\dhenrich\Oscar-3.0.69\Jadeite.exe)

*----> Exception Parameters <----*
00000001
0241FFFC

*----> CPU Context for th

[2019-05-21 00:35] dalehenrich opened #473 "(3.0.69) Project Browser `Run Tests` broken"
Here's the stack:
[code]

[2019-05-22 17:56] dalehenrich opened #474 "(3.0.69) inconsistent debug menu on workspaces"
The Jadeite menu in console workspace:
![image](https://user-images.githubusercontent.com/623951/58196632-95f40980-7c7f-11e9-8487-ba33971a9b87.png)
 is not consistent with the Jadeite menu in a workspace opened from file:
![image](https://user-images.githubusercontent.com/623951/58196669-ae642400-7c7f-11e9-9167-acbd618d56ca.png)
The specific issue I am having is that the Debug shortcut key is `Ctr

[2019-05-25 19:01] dalehenrich opened #475 "(3.0.69) 'incorrect` class creation template"
Step 1. class creation template is `correct`:
![image](https://user-images.githubusercontent.com/623951/58373513-2894e280-7ee4-11e9-91c3-a7004ffab8f4.png)
Step 2. select class that is not defined in the Rowan-Tools-Deprecated package ... again class creation is `correct`:
![image](https://user-images.githubusercontent.com/623951/58373524-59751780-7ee4-11e9-96f7-2a0ca9a28f1b.png)
Step 3. deselect t

[2019-05-29 01:18] ericwinger commented on #250
Initial cut at ston-based logging in 3.0.70.  Two files are created - one in the Jadeite working directory and the other in the gem log directory. Turn on logging from the console's Jadeite menu. Browse the logs from the console's Browse menu. Logs are integrated into one display. If no files are specified, the above directories are searched for the latest logs. **Note, because a lot of informatio

[2019-05-29 01:18] #250 closed, assigned to LisaAlmarode

[2019-05-29 01:19] ericwinger commented on #473
Believe this is fixed in 3.0.70.

[2019-05-29 01:19] #473 closed, assigned to LisaAlmarode

[2019-05-29 06:39] alexkogan opened #476 "SUnit Run all tests fails with index out of bounds"
oscar 3.0.69. Clicking run all tests with nothing selected results in error.
![image](https://user-images.githubusercontent.com/1958382/58534971-886be180-81a1-11e9-9d9b-9a588962a5e1.png)

[2019-05-29 06:40] alexkogan commented on #476
![image](https://user-images.githubusercontent.com/1958382/58535106-e993b500-81a1-11e9-85a6-641796af65a0.png)

[2019-05-30 22:27] dalehenrich commented on #472
Another mysterious crash ... not specifically related to debugger (logging showed that method browser closed last)  ... but it felt the same to me ... waving mouse around thinking about where to go next and Jadeite disappears:
[code]

[2019-05-31 16:09] ericwinger opened #477 "Opening logger for first time gets error"
- Start a new Jadeite.exe.
- Login
- Select ``Browse>>Browse Jadeite Logs``
- Get walkback

Note that the logger was only added in 3.0.70.

[code]

[2019-06-06 23:53] ericwinger commented on #477
Log Browser couldn't handle nil file names. Fixed in 3.0.71.

[2019-06-06 23:53] #477 closed, assigned to LisaAlmarode

[2019-06-06 23:55] ericwinger commented on #472
A hard crash like this while moving the mouse, unfortunately, implies Dolphin may be to blame. Getting a stack with Jadeite doing something bad would be helpful to show it's in our code.

[2019-06-07 00:11] dalehenrich opened #478 "(3.0.70) need a new version of Jadeite with latest 3.5.0 gci libraries ..."
current 3.5.0 libs don't work with the latest builds ... I'm not shutdown, at the moment, since I'm mainly doing 3.2.15 based work, but would be nice to have sooner rather than later ...

[2019-06-10 22:13] ericwinger commented on #475
Just needed to send ``JadeiteProjectsBrowserPresenter>>resetClassTemplate`` before bailing out of ``refreshClass`` after the deselection.  Fixed in 3.0.72.

[2019-06-10 22:13] #475 closed, assigned to LisaAlmarode

[2019-06-11 01:56] dalehenrich opened #479 "(3.0.71) `jadeiteCallTraceLog_2019_06_10_12.47.25` and `Jade System Browser Layout.stb` appear in runtime.zip"
Yet another couple of files that needs to be aware of for cleanup before release ,,,

[2019-06-11 19:48] dalehenrich opened #480 "(3.0.71 & 3.2.15) "OffsetError occurred (error 2012), reason:objErrNotIndexable, , object does not have varying instVars" while stepping in debugger"
I set a breakpoint initially and then when I did a step over I get the following error and stack ... it seems to be reproduceable as I hit it the first time, while stepping through bits of code:
[code]
I'm in the midst of chasing a bug ... don't recall if this is the first time I've used the debugger in 3.0.71 or not ...

[2019-06-12 19:46] dalehenrich opened #481 "(3.0.71) would like method browser to be consistent with project browser when saving methods"
In the project browser, when you save a method, your position in the method is preserved, in fact the source pane is not modified at all ...
In the method browser, when you save a method, the source pane is reset to the beginning and you have to remember where you were and navigate (often painfully) back to the point where you were editing the method.

[2019-06-12 19:58] dalehenrich commented on #481
I realize that when a method browser is brought up on a senders query, that it is definitely preferable to have the first message send in the method selected when it is selected from the list, but when a method is accepted, I would think that preserving the position at accept time should take precedence ... i should always be able to use the `Find Next` menu item if I want to search for more sende

[2019-06-14 21:10] ericwinger commented on #478
Libs updated in 3.0.71

[2019-06-14 21:10] #478 closed, assigned to LisaAlmarode

[2019-06-14 22:19] ericwinger commented on #474
Accelerator fixe to Ctrl-B in workspace in 3.0.72.

[2019-06-14 22:19] #474 closed, assigned to LisaAlmarode

[2019-06-14 22:59] ericwinger commented on #472
@dalehenrich Just curious. Have there been anymore occurrences using 3.0.71?

[2019-06-14 23:07] ericwinger commented on #328
@LisaAlmarode I'm having trouble understanding the specific complaint. If I do a ``Browse Literal References...`` I would expect that if I type in ``filetree`` the resulting method list would show any method that has ``'filetree'`` in it's source - which it currently does.  Can you provide clarification on what needs to be fixed in Jadeite?

[2019-06-14 23:43] dalehenrich commented on #472
There haven't, but I have not been using Jadeite with autocommit turned on, because I got tired of having the browser lose it's mind ... have I tried autocommit at all with 3.0.71? Maybe once and things went haywire so I've quite using autocommit (not because I don't want to use it, but because it has become unstable) ... maybe you should turn autocommit on and see if you see the misbehavior I hav

[2019-06-14 23:44] ericwinger commented on #472
Ok, thanks for the feedback.

[2019-06-14 23:46] dalehenrich commented on #328
`filetree` is not a literal string. `'filetree'` **is** a literal string ... if I use `1` in browse literal references, is that a SmallInteger or a string?

[2019-06-14 23:53] ericwinger commented on #328
Maybe what is needed is an additional ``Browse Literal String ...`` search so the common use case could be done without having to remember whether to enter quotes or not.

[2019-06-15 00:30] dalehenrich commented on #328
Before we go too far ... I believe there are several issues here ...
1. **I** expected that a menu item labeled `Literal References` would take a string and interpret that as a Smalltalk literal (... yes compile the string) ... so naturally I typed in a literal string.
2. the method highlighting mechanism in the Method Browser **does not** do literal matching, so even if you do a literal search, t

[2019-06-17 16:07] ericwinger commented on #328
To summarize the issues to fix:
- [x] Change Literal References menu option to compile the input string, then search. Change instructions in dialog accordingly.
- [x] Review the highlighting mechanism for both searches.

[2019-06-17 16:42] dalehenrich commented on #328
I don't understand what you mean by the second bullet point ... are you intending to have two literal search menu items?

[2019-06-17 16:46] ericwinger commented on #328
Yes.  It fits with your comments and what I believe will be most useful - A Literal String search for the common case and a Literal Reference search for more complex cases.

[2019-06-17 16:55] dalehenrich commented on #328
Since literal searches aren't that common in the first place, I would think that a single literal object search (that takes a Smalltalk expression that evaluates to a literal) would be more than sufficient ... but, it is your call and I rest my case:)

[2019-06-17 17:18] ericwinger commented on #328
Yeah, ``Browse Methods Containing...`` handles the string case well enough even though you may get more back then you want. I'll see if I can make ``Literal References`` handle compiled code and review the highlighting code in the method list browser.

[2019-06-17 17:39] dalehenrich commented on #328
yes ... I think that the string literal search use case is very similar the other literal use cases --- you use a literal search when you are searching for a literal that has too many false positives in the `method containing` case: `1`,  `true`, `'1'`, `'true'`, etc ...

[2019-06-17 23:05] ericwinger commented on #328
Fixed in 3.0.72. Literal references now compiles the expression entered in the dialog.

Unfortunately, the highlighting of the method list's first reference to the literal is done in the client which doesn't have access to the server results for browse literal references. Instead it just does a string search. Opening a new bug to move around functionality so that the highlighting matches the actua

[2019-06-17 23:05] #328 closed, assigned to LisaAlmarode

[2019-06-17 23:08] ericwinger opened #482 "Need better highlighting after browsing literal references"
After doing a literal references search, the syntax highlighting of the first literal reference in the method is done by simple string search in the client which may be wrong. Instead, we should get and retain the reference from the server if available.

See #328 also.

[2019-06-22 15:15] dalehenrich opened #483 "Need recursion protection ..."
If the server goes into an infinite loop either via workspace or Rowan (my case:), there needs to be a way to terminate the process ... short of killing the gem, since killing the gem means that a developer will lose uncommitted work ...

[2019-06-23 23:08] dalehenrich opened #484 "(Oscar-3.0.72) Empty Find Class dialog"
Here's the empty `Find Class` dialog (it starts out empty as well):
![image](https://user-images.githubusercontent.com/623951/59983027-7a0dbb80-95cf-11e9-8648-306708fd66f1.png)
auto commit is enabled and this is the first bad behavior that I've noticed for the system since turning on auto commit several hours ago.
I've attached the log file:
[log file.txt](https://github.com/GemTalk/Jadeite/files/

[2019-06-25 00:21] dalehenrich opened #485 "(Oscar-3.0.72) Display in method source pane does not `visibly` dirty the pane"
The highlighted `nil` is evidence that I did a Display in the method window, but the background shows as unmodified...:
![image](https://user-images.githubusercontent.com/623951/60060144-2325e600-96a4-11e9-9b41-72e4c54b466c.png)
... until I click on something:
![image](https://user-images.githubusercontent.com/623951/60060193-5b2d2900-96a4-11e9-9c59-a2c941726f20.png)
A backspace will clear the `ni

[2019-06-25 00:36] dalehenrich opened #486 "(Oscar-3.0.72) an abort immediately after login yields MNU"
[code]

[2019-07-01 16:25] dalehenrich opened #487 "hierarchichal class list with versions(?) reorders on select"
Notice that the class order has changed and that difference classes are selected:
![image](https://user-images.githubusercontent.com/623951/60451889-062c6e00-9be2-11e9-870d-c2fdd3d521f1.png)

![image](https://user-images.githubusercontent.com/623951/60451907-13495d00-9be2-11e9-8d8d-67fb11b44362.png)

[2019-07-11 23:17] ericwinger commented on #144
The rowanCompile flag has been removed so I don't think this is an issue any longer.
https://github.com/GemTalk/Rowan/commit/5a8a3b5bbd36ed0a3dd74ee29ebc368a1894ba27

[2019-07-11 23:17] #144 closed

[2019-07-12 17:19] ericwinger commented on #78
Marking this closed as the integrated project/dictionary browser is close to its first release.
https://github.com/GemTalk/Jadeite/commit/92c4f91c37872a2102b628d3c50187b3514a0084

[2019-07-12 17:21] ericwinger commented on #202
Removed rowanCompile flag. https://github.com/GemTalk/Rowan/commit/5a8a3b5bbd36ed0a3dd74ee29ebc368a1894ba27

[2019-07-12 17:21] #202 closed, assigned to LisaAlmarode

[2019-07-15 18:26] ericwinger commented on #218
Fixed in 3.0.73.

Believe I got all the quibbles cleaned up. Note Ctrl-A selects the list of test classes or test methods in the sunit browser depending on cursor focus. This matches Ctrl-A behavior in the sunit tab. Run All tests & Run Selected are now Ctrl-Shift-A and Ctrl-Shift-S respectively. Both Ctrl-Shift-A & S are available from the Classes pane in the projects browser as menu picks, too.

[2019-07-16 17:04] dalehenrich opened #488 "(Oscar-3.0.72) seems that we've lost ability to login as non-SystemUser?"
![image](https://user-images.githubusercontent.com/623951/61314239-0f583600-a7b1-11e9-9601-0cc7304c9063.png)

[2019-07-16 18:06] ericwinger commented on #488
Fixed in 3.0.73.
https://github.com/GemTalk/Rowan/commit/92936f0d4b3c4974fc9edad60565a0ba7f8ac84a

[2019-07-16 18:06] #488 closed, assigned to LisaAlmarode

[2019-07-16 21:39] ericwinger commented on #217
Marking as fixed before doing an internal release in 3.0.73. Please open new issues for problems.

[2019-07-16 21:39] #217 closed, assigned to LisaAlmarode

[2019-07-16 23:32] ericwinger commented on #487
@dalehenrich This doesn't reproduce for me. If this happens again, it would be useful to have a Jadeite.errors file attached to see if there were any recent errors which might affect browser state.
You can also turn on logging as you click on the hierarchy in the bad state then attach the log file.

[2019-07-16 23:35] ericwinger commented on #316
As of 3.0.73, Jadeite will use ``Rowan image symbolList`` exclusively.

[2019-07-16 23:35] #316 closed

[2019-07-17 16:13] ericwinger commented on #70
Checked in with @dalehenrich on this today. Still desirable to have a fileout feature but needs to be implemented. For a class or method fileout, a number of questions like "What is my current package?" still need to be addressed.

[2019-07-17 16:14] ericwinger commented on #324
Still waiting for Rowan support. See https://github.com/GemTalk/Jadeite/issues/70#issuecomment-512349705

[2019-07-17 16:16] ericwinger commented on #73
@LisaAlmarode - I believe this bug can be closed. Can you see any open issues still remaining?

[2019-07-17 16:41] ericwinger commented on #485
Fixed in 3.0.73. Browser needed to respond to the #textChanged event as well.

[2019-07-17 16:41] #485 closed, assigned to LisaAlmarode

[2019-07-17 22:31] ericwinger commented on #484
Fixed in 3.0.73.  My hunch is that this will also fix other auto-commit "funnies" that were noticed in the past but were hard to reproduce.

[2019-07-17 22:31] #484 closed, assigned to LisaAlmarode

[2019-07-17 22:55] ericwinger commented on #486
This doesn't reproduce for me.
``logSentServices`` is only sent to RowanLoggingService's current instance. Per issue #488, the current instance is now a session temp instead of a class var. @LisaAlmarode  - can you see if you can reproduce with 3.0.73?

[2019-07-18 22:25] ericwinger commented on #345
Fixed in 3.0.74. Ctrl-Shift-F works in both projects & method list browsers

[2019-07-18 22:25] #345 closed, assigned to LisaAlmarode

[2019-07-19 18:20] dalehenrich opened #489 "(3.0.73) package multi-select is not functional"
I am interested in seeing the classes in the two selected packages, but it seems that Jadeite is not cooperating:
![image](https://user-images.githubusercontent.com/623951/61556429-9e19bc80-aa16-11e9-8591-907f39b15421.png)
It seems that multi-select of packages is not working ... I would like to be able to drag some methods from a class in one package to a class in another package and it seems tha

[2019-07-22 18:16] ericwinger commented on #483
@dalehenrich There are two options that already exist:

1. ``Console>Browse Processes`` allows you to debug or terminate server processes. (Right mouse ``Refresh`` may be needed)
2. ``Ctrl-F12`` will interrupt the gci call in the Dolphin gui.

Let me know if these aren't sufficient.

[2019-07-22 18:19] ericwinger commented on #489
Until I can fix the hierarchy view, you can see the combined list in the ``Classes`` tab.

![image](https://user-images.githubusercontent.com/36212516/61655002-8179c080-ac72-11e9-9254-e67d1ade046b.png)

[2019-07-22 22:22] ericwinger commented on #489
Fixed in 3.0.74. Single package/dictionary select (and class) hierarchy working. Needed to add multi-select support.

[2019-07-22 22:22] #489 closed, assigned to LisaAlmarode

[2019-07-23 14:04] dalehenrich opened #490 "(Oscar 3.0.73) `Find Class ...` menu item greyed out after opening new tab"
Here's the evidence of the inactive menu item:
![image](https://user-images.githubusercontent.com/623951/61718065-0f0eec00-ad17-11e9-89de-7f8c076a65c0.png)
Of course when I attempted to produce more detailed pictures, the menu item refused to go inactive ... including after logout ...

[2019-07-23 14:46] dalehenrich opened #491 "(Oscar 3.0.73) need a way to find class in the dictionary view"
sometimes I want to find out which dictionary a class is located in and the natural way to do that would be to find class within context of dictionary view ...

[2019-07-23 16:27] ericwinger commented on #490
@dalehenrich The ``Find Class...`` menu option is disabled only while the browser tab is being opened. It is enabled in the method ``JadeiteProjectBrowserPresenter>>queryCommand:.`` There is no code path to disable it once enabled. Therefore, a problem might have occurred before the browser tab was fully built. Can you look in your Jadeite.errors file to see if there is any suspicious activity abo

[2019-07-23 16:45] dalehenrich commented on #490
Haha I was trying to get a picture of the tabs, when the problem went away ... no entry in the error log ...
I just logged in, selected a project, opened a new tab and did `find class`...

Is there a way to move a menu around once it has been opened?

[2019-07-23 16:52] dalehenrich commented on #490
This is what the browser looked like before I attempted to do find class ...
![image](https://user-images.githubusercontent.com/623951/61730979-5acd8f80-ad2f-11e9-90ae-da120d58f28c.png)

[2019-07-23 17:05] ericwinger commented on #490
No way to move a menu once it's opened. (That I know of)

I'm going to assign to Lisa to see if she can reproduce this as I'm not having any luck. My best guess is that the tab wasn't fully built before it allowed you to open the menu. Conceivably, there could be a window of time between the tab construction and the menu enablement when gui control is released to the user. A slow client (or a poor

[2019-07-23 18:39] LisaAlmarode opened #492 "In (NONE), there are bad-printstring walkbacks under conditions of issue #433 (3.0.73)"
In the project browser, an attempt to select the project (NONE), or possibly to select a specific symbol dictionary, throws a walkback.

This is since in my code, I'd undone the workaround for issue #433, so there is an instance of a class that cannot be printed.  This was fixed such that debuggers, inspectors etc. work.
I don't know why the (NONE) project is looking at instances - perhaps showing

[2019-07-23 20:16] ericwinger commented on #491
Fixed in 3.0.74. Added a menu item that lets the user see the class's dictionary and go directly to it.

[2019-07-23 20:16] #491 closed, assigned to LisaAlmarode

[2019-07-23 20:55] dalehenrich commented on #491
... good idea ...

[2019-07-23 20:55] ericwinger commented on #51
@LisaAlmarode  Can you recheck this? I believe it is fixed.

[2019-07-23 20:55] #51 closed

[2019-07-24 18:25] dalehenrich opened #493 "(oddity) change from category tab to variables tab should not give "method has unsaved changes" prompt"
Currently you do not lose the changed method (which is the desired behavior) ... but the prompt discourages the `timid`:)
![image](https://user-images.githubusercontent.com/623951/61818124-01d02b00-ae05-11e9-8e58-d4e574b5b71d.png)

[2019-07-24 21:36] ericwinger commented on #493
Should have a fix for this in 3.0.74.

[2019-07-24 21:36] #493 closed, assigned to LisaAlmarode

[2019-07-24 22:42] LisaAlmarode commented on #51
Verified four operations on instance and class side in PB, the project and get dirty.

[2019-07-24 22:52] LisaAlmarode commented on #452
In 3.0.73, I see the correct busy cursor over all panes when I do what I probably did to create the original problem, and also with Eric's code sample. Spot checked in workspace and PB code pane using doit and printit.  Call it fixed.

[2019-07-24 22:52] #452 closed, assigned to LisaAlmarode

[2019-07-24 23:24] LisaAlmarode opened #494 "Sunit tab fail to enable/disable right side icons related to selection (3.0.73)"
Say you are on the SUnit tab in the PB, with say RowanSample1Test being the class you have selected.

There are 5 icons in the sidebar; two apply to all 5 tests, three are just for selected test/s.

With the fix for #179, the little guy is enabled on first entry which is nice, and reset is fine.

The three middle selected-test icons are all a bit wonky:

With nothing selected:
  run triangle is di

[2019-07-24 23:26] LisaAlmarode commented on #179
Points #2 and #3 are now working, as is #1; but I filed issue #494 on the enable/disable of the icons.

[2019-07-25 00:45] LisaAlmarode opened #495 "minor error dialogs (3.0.73)"
Minor error dialogs sprinkled about.

- [x] In PB, on the sunit tab, if you attempt to maximize the method pane (no reason to do this, other than not knowing that the white box with the green top would do), you get an error dialog with "JadeiteSUnitInClassPresenter does not understand #maximizeCode".

- [x] A nice chance to try out the Logger Browser.  When I turn on logging and open the logger br

[2019-07-25 16:11] ericwinger commented on #495
I fixed the first bullet item but the second (inspect in logger browser) presents some challenges. The browser tries to open a dolphin inspector, not a jadeite inspector. Because runtime Jadeite is currently stripped of all its client inspectors, there is no inspector available to open. I've disabled this feature in the runtime as the intent is for a developer with a dolphin development environmen

[2019-07-25 16:11] #495 closed, assigned to LisaAlmarode

[2019-07-25 22:30] ericwinger commented on #494
I believe that the enablement of the three menu options and tool bar buttons are better now. Each should disable & enable based on selection.

A note about run selected (triangle) ... We're overloading the accelerator key Ctrl-Shift-S when the SUnit tab is shown. If different methods are selected in the method list pane and the sunit tab, we try to run what is presumably most intuitive based on th

[2019-07-25 22:30] #494 closed, assigned to LisaAlmarode

[2019-07-29 17:14] ericwinger commented on #492
@LisaAlmarode I'm not sure that the problem lies in Jadeite but I can provide a workaround.

If you look at the stack frame below you'll see that it is simply trying to send ``printString`` to an array which includes an instance of ``LisaSet`` while displaying a global in the Globals tab.

I'll add an error handler for bad printStrings.

[code]

[2019-07-29 17:14] #492 closed, assigned to LisaAlmarode

[2019-07-29 17:56] LisaAlmarode opened #496 "Rename instance variable with accessors is too successful (3.0.73)"
this is the inverse of #390.

If you have a class with an instance variable and accessor methods, and you rename the instance variable (that is remove it, and add a new instance variable), the class compile succeeds.

However, your accessor methods remain and appear somehow mysteriously to be entirely functional and can even be recompiled.  It's creepy.

I can't find a way to find out which method

[2019-07-29 17:59] LisaAlmarode commented on #390
On rename, class compile doesn't fail, but it succeeds in creating weird state in your code since there's no alert that you have references to the instance variable.  The accessor methods remain there and work... but still this is weird.  Reported issue #496 on that situation.
Am seeing walkback on failed compile, but will wait for 3.0.74 coming soon.

[2019-07-30 04:25] LisaAlmarode commented on #345
Contrary to assertion in Eric's comment, in 3.0.74, the formater is control-shift-o

project browser with cursor in a method, control-shift-F opens a find class dialog.
method list browser, with cursor in a method, control-shift-F causes a little red ACK to appear.

The project browser has undo option grayed out; the method list browser has the undo enabled, but it doesn't work.  That this is enab

[2019-07-30 04:36] LisaAlmarode commented on #440
This can be reproduced in 3.0.74 in a multi-tab environment.
- Have different methods in two tabs in the PB
- edit one to generate a compile error.
- switch to the other tab.  Continue seeing status bar.

Autocommit was on for this case but it doesn't matter.

![image](https://user-images.githubusercontent.com/13142166/62101004-b4125300-b248-11e9-8bc1-2c3b25da95ea.png)

[2019-07-30 04:50] LisaAlmarode commented on #459
The colors and fonts are all very nice.

The warning bar is hanging around after the method has changed.  Not critical but nice to clean this up, assuming that's the intetnion.

If there are multiple unused temps, it's not handled very pleasingly. At least, please add a space between.

I'd added
   | aa bb cc dd |
saved, got warning, then edited to remove the temps.

![image](https://user-images.g

[2019-07-30 05:12] LisaAlmarode commented on #489
It works nicely.  I don't think it's ideal that if you have a method selected, and you select a second package, you lose the method selection.  But that's a quibble.

[2019-07-30 05:26] LisaAlmarode commented on #250
While the feature has been added (I can confirm), it's not entirely user-friendly per side comments in #495.  There is, at least, a text file at least if you need to find out anything.

Whatever further features are needed to make this feature entirely do whatever we think it ought to do should be filed in separate issues by whoever feels the absence of said features.

[2019-07-30 06:44] LisaAlmarode commented on #468
- [x] Layout needs to be tweaked for native windows 7 - the down and wrap labels  are wrapped and partly obscured.

![image](https://user-images.githubusercontent.com/13142166/62105888-8503dd80-b258-11e9-8f2c-3258757a55d9.png)

 - [x] find direction up is broken.  Without wrap it only finds the first instance of the match; with wrap it goes back and forth between the first two occurrences.

 - [x]

[2019-07-30 17:58] LisaAlmarode commented on #490
My particular slow client configuration doesn't have a gap; turns into a busy cursor right at the icon click, by the time I'm allowed to see a menu it's never grayed out.

It might be a slowish GUI with a very fast backend?

Eric, I'm reassigning to you since if it's a rare timing issue that only Dale sees, it might need some instrumentation.  Dale would have to decide the priority.

[2019-07-30 18:05] LisaAlmarode commented on #491
Works nicely !

[2019-07-30 18:07] LisaAlmarode commented on #493
I see no prompt and changes not lost.

[2019-07-30 18:51] LisaAlmarode commented on #218
In the projects browser, control-shift-A is on the methods pop-up and drop-down menus.  It ought to be on the classes menu since it applies to the class, not a specific method.   This may be a matter of taste; I looked for it for in the class pane.

There's no menu item on the classes pane popup menu in the SUnit browser, but there's the run icon so I think this is fine.

------------------

My la

[2019-07-31 16:26] ericwinger commented on #218
Ctrl-Shift-A runs all the tests in the selected class. It's like the Ctrl-Shift-A in the projects browser sunit tab. You're looking at a list of methods and you want to run them all. So I'm inclined to leave the menu option on the method pop-up to be consistent.

[2019-07-31 17:10] ericwinger commented on #218
Changed the behavior of Ctrl-B so that only the selected test methods get run. If you choose a method that is not a test method, it will take you to the SUnit tab but show 0 tests run. Combinations of test & non-test methods are handled, too. Checked for  3.0.75.

[2019-07-31 17:10] #218 closed, assigned to LisaAlmarode

[2019-07-31 22:03] ericwinger commented on #490
@dalehenrich Neither Lisa nor I are able to reproduce this. Is this a common occurrence for you or a one-time event? What priority do you give to fixing this?

[2019-07-31 23:08] dalehenrich commented on #490
If you can't reproduce or see a path that would lead to the menu being disabled, then we'll just hope that you run into this in your development environment before anyone else runs into it:) ... or better yet, we never see it again, because it's been magically fixed:)

[2019-07-31 23:13] ericwinger commented on #490
Let's retire it then. If you see it again and can gather any more information, please reopen this issue.

[2019-07-31 23:13] #490 closed, assigned to dalehenrich, ericwinger

[2019-08-01 19:06] LisaAlmarode commented on #385
The original issue I was able to reproduce before, doesn't seem to be showing up now.

[2019-08-01 19:23] LisaAlmarode commented on #216
If this reproduces, I'd need more detail: particularly, if there are added/removed/moved methods, and the initial and after commit order (one or the other is either badly ordered, or sorted using a different criteria).  Also, the specific number of senders/implementors wpi;d be helpful, or at least a numeric estimate ("pages" is too vague - how big is the window?). The initially opened browsers do

[2019-08-01 19:23] #216 closed, assigned to dalehenrich

[2019-08-01 19:29] LisaAlmarode commented on #73
Very old bug; much has changed.

[2019-08-01 19:29] #73 closed

[2019-08-01 22:53] LisaAlmarode commented on #435
In 3.0.74, it does not print results and does not error.  Instead it prints a space and a single quote mark and highlights the last 11 characters in the line.  This cannot be described as unbroken.

![image](https://user-images.githubusercontent.com/13142166/62332407-69751e80-b474-11e9-9317-64c04530a359.png)

[2019-08-01 23:13] LisaAlmarode commented on #390
In 3.0.74, class compile errors seem to always throw a walkback.  Also if classcompile would succeed but if methods couldn't be recompiled it throws a walkback.

It's not giving dialogs nor highlighting randomly, but still, please make it less grumpy.

[2019-08-01 23:17] dalehenrich opened #497 "Base classes with extension methods should be purple in the package containing the method"
![image](https://user-images.githubusercontent.com/623951/62333214-70e9f700-b477-11e9-9925-883cc78a205f.png)

The code in ``RowanPackageService>>update`` shows both classes having extension methods as shown below. Therefore, wethinks both should be purple.

Note - GsFile is not packaged.

[code]

[2019-08-02 15:51] ericwinger commented on #468
I created our own find dialog as the Dolphin version was limited and non-intuitive. @LisaAlmarode You'll need to look at the dialog on your native windows host as I can't see the formatting problem in check box 1. The up doesn't seem to be broken (as we discussed) but if you can provide a reproduction case, I'll take another look. The new dialog also has a working wildcard expression using a simpl

[2019-08-02 17:58] LisaAlmarode commented on #460
It works pretty well, but you can't see when the replacement character ends so it's not reliably readable.  Some kind of separator (like () {} [] ) encasing the subbed hex would remove ambiguity.

For example, in topaz
classmethod Array
unclearExotic
^'Ȋc€'
%
commit

and in Oscar:

![image](https://user-images.githubusercontent.com/13142166/62389240-266a8800-b514-11e9-9908-8610959e89fe.png)

[2019-08-02 18:15] ericwinger opened #498 "Would like to be able to compile method in debugger when block frame selected"
If a block context is selected in the debugger's stack frame, you can't modify code. However, if the debugger was smart enough to select the home method frame and trim the stack before saving the method code, it could be done.

Each ``RowanFrameService`` would probably need it's home method selector as well as knowledge of whether it was the home method as well.

[2019-08-02 18:39] LisaAlmarode opened #499 "Rename class with method referencing class name errors (3.0.74)"
If you have a class that has a method that includes the name of the class, and you rename the class, it fails to compile that method in a rather unattractive fashion.

E.g., I had a class Yellowish with an instance method yellow ^Yellowish name asString.
and renamed Yellowish to Yello.

----
[code]

[2019-08-02 19:35] LisaAlmarode commented on #306
Found one fairly ugly problem reported as #499.

Also - minor but ought to be fixed - if you rename a purple extension class, it works just fine, but it doesn't update the classes pane correctly. You see both the old and new purple class names, and clicking on the old one causes an oop? to appear and methods have empty source.

In general though it seems very nice.

[2019-08-02 19:45] LisaAlmarode commented on #306
I do notice that the previous versions of the class (classHistory) appear to be gone after a rename.  This is probably also a bug since gemstone class names are not important in class history relationships.

[2019-08-02 19:52] LisaAlmarode commented on #487
I'm not entirely sure what the reproduction case is... something wasn't selected and then became selected, or was selected and selected something different.  Tried various combinations but did not find a case that the classes were not ordered correctly.
Closing and moving to retired; in case Dale sees it again and has more information.

[2019-08-02 19:52] #487 closed, assigned to dalehenrich

[2019-08-02 19:58] LisaAlmarode commented on #475
Eric, I cannot seem to deselect a class.  This is 3.0.74.  I can select a different package but that is hardly the same thing.  Am I suppose to be able to deselect?  Without deselect this bug is moot...

[2019-08-02 20:07] ericwinger commented on #475
@LisaAlmarode Assuming the class list is visible, try selecting below the classes in the class list.

[2019-08-02 20:09] LisaAlmarode commented on #424
I don't see anything white on the Sunit tab of the PB.  Just FYI - it looks good.

- [x] The class documentation tab does not turn green on edit.

- [x] in a method browser, the comparison tab backgrounds are white; they are yellow in the project browser.

Class compile errors are currently not working quite correctly, I think, but that's not part of this issue.

[2019-08-02 22:25] ericwinger commented on #498
Should be able to do this in 3.0.75.

[2019-08-02 22:25] #498 closed, assigned to LisaAlmarode

[2019-08-05 17:23] dalehenrich opened #500 "(Oscar-3.0.74) highlighting of multi-keyword selectors in senders/implementors browser is broken"
1. Select a keyword message in projects browser
2. Senders
3. Method list browser is opened but no highlighting is done of the selector in the source

Example - do senders of
![image](https://user-images.githubusercontent.com/623951/62482834-1698b100-b76b-11e9-8272-cfd7f4dc53a3.png)

[2019-08-05 23:00] ericwinger commented on #440
The status bar and auto commit tabs were in the scope of the browser, not the presenter (tab). Moved both to the presenter so that each tab has it's own unique status bar now. Might want to take an extra look to make sure that the auto commit button wasn't perturbed in the process as that had to get moved to the presenter as well.

[2019-08-05 23:00] #440 closed, assigned to LisaAlmarode

[2019-08-06 21:21] ericwinger opened #501 "Make defined package text into a clickable button"
A nice to have feature suggested by Dale would be to make the two ``Defined Package: ..." text fields be buttons that go to the defined package.  Not a bad idea.

In the attached picture, the text is ``Defined Package: RowanSample1-Tests``

![image](https://user-images.githubusercontent.com/36212516/62578135-4328f780-b855-11e9-86ec-f839687c2e6f.png)

[2019-08-06 22:43] ericwinger commented on #500
Fixed in 3.0.75.  Highlight should highlight the first characters before the colon when a keyword message sender list is shown. Also, took the opportunity to make sure senders & hierarchy senders were also using the first reference index sent back from the server.

[2019-08-07 18:09] LisaAlmarode commented on #78
In 3.0.74, if you execute Array new at: 4, and in the debugger select the Array >> at:  frame,  and browse frame method; it opens a dictionary browser.  Browse object class also opens a Dictionary Browser.

I think that it should open a project browser even on a non-rowanized method now.

[2019-08-07 19:24] LisaAlmarode commented on #328
The string search is good.

I'm finding flaws with the literal search, but they all seem to be coming from the Class organizer.  E.g., it apparently only finds literal integers that are >= 4096, except it does find any small integer that is in a literal array.

However, I do see that the find literals option is not on the method list (annoyingly for my testing).  But this resulted in further opini

[2019-08-07 19:32] LisaAlmarode opened #502 "method menu consistency between project browser and method list"
I was missing the find literal references on the method list menu.  However, this may be just an artifact of testing and not actually a desirable addition.

However, there is some cleanup needed for consistency; the left is the method list, the right is the project browser.

![image](https://user-images.githubusercontent.com/13142166/62652012-2bae4500-b90f-11e9-9089-7e68c56ff288.png)

My opinions:

[2019-08-07 20:20] dalehenrich opened #503 "(3.0.74) MNU on project browser update"
This is the second time I hit this this morning:
![image](https://user-images.githubusercontent.com/623951/62654729-4d122f80-b915-11e9-95e2-2404b211df1d.png)
The first time I had reloaded the st_launcher project form disk (load menu item) and the second time I was searching for `GsTonelOrderedDictionary`.

Here's the after picture:
![image](https://user-images.githubusercontent.com/623951/62654912

[2019-08-07 20:44] dalehenrich commented on #503
Got it again ... did 'load' in project browser, then clicked on package in package pane:
![image](https://user-images.githubusercontent.com/623951/62656615-7208a180-b919-11e9-9950-c00d5b95728e.png)

[2019-08-07 20:49] LisaAlmarode opened #504 "walkback when add method to class with missing superclass"
This is related to issue #442.

If you have removed the superclass of a class as described in 442, the class is fully operational in spite of a red-colored and oop-adorned superclass (e.g. my example is a test class and all tests pass, including the test method defined on the removed class).

The browser does not display method text for methods on the deleted class.  Since they run, this is a bit

[2019-08-07 20:50] ericwinger commented on #499
Believe the bug is in Rowan issue https://github.com/GemTalk/Rowan/issues/502. However, I'll add some code in Jadeite Oscar 3.0.75 to handle the error nicely.

[2019-08-07 21:06] LisaAlmarode commented on #378
While the tests aren't shown in the package...

Why is the package with only extension test methods in the list in the SUnit browser in the first place?

The Sunit browser only lists packages with classes that have test methods.  So it's not correct to include any package that has an empty set of classes.

[2019-08-07 21:20] ericwinger commented on #499
Closed.

[2019-08-07 21:20] #499 closed, assigned to LisaAlmarode

[2019-08-07 21:27] ericwinger commented on #503
@dalehenrich Are you sure you've got the latest tagged Oscar loaded? RowanBrowserService>>classHierarchy does exist.

![image](https://user-images.githubusercontent.com/36212516/62659113-543e3b00-b91f-11e9-8605-55d82ebf02f2.png)

[2019-08-07 21:31] ericwinger commented on #78
@LisaAlmarode Pretty sure that the dictionary browser references were removed in a commit subsequent to 3.0.74. Please check again in 3.0.75.
https://github.com/GemTalk/Jadeite/commit/9e315770ecccc44617e49b8fafb953a524d7d64e or https://github.com/GemTalk/Jadeite/commit/f453e0c4c69044a5dd1d2db3d499359c296a219e

[2019-08-07 21:31] #78 closed

[2019-08-07 21:39] LisaAlmarode commented on #481
I think this is fixed in 3.0.74.

[2019-08-07 21:55] ericwinger commented on #390
@LisaAlmarode The problem that two-stage commit solves was that method compilation failures were showing up in class definition source pane. Now, a method compilation failure gets a debugger per the comment. https://github.com/GemTalk/Jadeite/issues/390#issuecomment-491458022

The reproduction case I tried works as I would expect. Can you give me a reproduction case that shows the deviant behavior

[2019-08-07 22:06] ericwinger commented on #378
@LisaAlmarode I'm not seeing this.

![image](https://user-images.githubusercontent.com/36212516/62661055-b8afc900-b924-11e9-8691-217f95b8c147.png)

[2019-08-07 22:16] dalehenrich commented on #503
ah, good catch ... I'm on branch gs_360 (and I haven't merged 3.0.74 into it yet) ... meanwhile issue_308 where I was working before Allen started his work about a week ago):
![image](https://user-images.githubusercontent.com/623951/62661459-fbbe6c00-b925-11e9-845a-df9bbd1b77dd.png)
it's amazing that I've survived this long without additional issues.

[2019-08-07 22:16] #503 closed, assigned to ericwinger

[2019-08-07 22:27] ericwinger commented on #481
Closing per Lisa's comment.

[2019-08-07 22:27] #481 closed, assigned to LisaAlmarode

[2019-08-07 22:30] LisaAlmarode opened #505 "Senders list select doesn't always scroll exactly right (3.0.74)"
I have a method definition such that when you look at senders of another selector, and this is on the list, the highlighted/selected sender is not visible.  It's one line down such that you have to scroll to see it.  Sometimes you can see a few pixels of highlight, but not always.

The original method had a lot of complicated text, the text isn't important, but if I don't leave the white space it

[2019-08-07 22:45] LisaAlmarode commented on #390
It's not right, nor at all useful, to throw a method compilation failure walkback that says "a CompileError occurred (error 1001), compilation errors -- parameter 1 is error descriptor" and gives a long stack with classes like aRwGsMethodAdditionSymbolDictPatch on the list.
This is not a debugger situation, where I can edit something in the debugger and continue (at least not as far as I can see);

[2019-08-07 22:46] LisaAlmarode commented on #496
In 3.0.74, this does not reproduce.  Now it always fails.  Discussion about that is on issue 390, so we can close this.

[2019-08-07 22:46] #496 closed, assigned to ericwinger

[2019-08-07 22:50] ericwinger commented on #502
Fixed in 3.0.75. Choices - removed file out methods menu item and removed the line after Remove Method(s)

[2019-08-07 22:50] #502 closed, assigned to LisaAlmarode, ericwinger

[2019-08-07 22:54] dalehenrich commented on #390
in topaz you get a listing of the method with the little `^` pointing out the compile errors ... and this error string is actually on the stack in one of the CompleError frames ... so we could just display this (at a minimum) ... it used to be that pharo would pop up a dialog that allowed one to fix the compile error and continue on ... this would be nice to have in the long term ...

[2019-08-07 23:01] LisaAlmarode commented on #378
Did you try it with the specific case that is described in this bug?

The problem is pretty clearly related to having an extension method in this other package.

![image](https://user-images.githubusercontent.com/13142166/62663431-44792380-b92c-11e9-8b95-9e6f89f2f726.png)

[2019-08-07 23:07] LisaAlmarode commented on #475
I can deselect by clicking in the white space... thanks.

But only in the class list view, not in the hierarchy view.  But I won't reopen for that... the hierarchy view has bigger problems.

[2019-08-07 23:46] ericwinger commented on #378
Hmmm, maybe I'm missing something obvious but I don't see the problem in this picture.
![image](https://user-images.githubusercontent.com/36212516/62665074-c66c4b00-b932-11e9-8e46-2da86fef6bcf.png)

[2019-08-08 00:00] LisaAlmarode commented on #378
Notice that there are no methods?  You have to actually have an extension test method defined before the package shows up in the SUnit browser.

Create an instance method named test_test, on the class RowanSample1Test but in the RowanSample1-Extensions package.  I expect then you will see the RowanSample1-Extensions package show up in the left pane of the Sunit browser.

[2019-08-08 19:37] ericwinger commented on #378
I think I see the bug. If a test method is in an extension package and the test class has no other tests, the sunit browser does not show the test.

![image](https://user-images.githubusercontent.com/36212516/62732438-2ddcd600-b9d9-11e9-834c-f423062c66a4.png)

[2019-08-08 23:52] ericwinger commented on #505
Added a sender of ``ensureCaretVisible`` after the search in 3.0.75. Seems to do the trick in the example case.

[2019-08-08 23:52] #505 closed, assigned to LisaAlmarode

[2019-08-10 14:06] dalehenrich opened #506 "Useful to be able to copy a class ..."
Similar to rename except the original class is not removed ...

[2019-08-13 23:25] ericwinger commented on #424
Fixed in 3.0.75

[2019-08-13 23:25] #424 closed, assigned to LisaAlmarode

[2019-08-14 19:42] LisaAlmarode commented on #309
There's no inspect option as of 3.0.74, and the three browse menu items all, reasonably, say they can't browse.

[2019-08-14 19:42] #309 closed

[2019-08-14 19:54] LisaAlmarode commented on #234
As for 3.0.74, it says on the class doc tab after accept.

[2019-08-14 19:54] #234 closed, assigned to LisaAlmarode

[2019-08-14 19:56] LisaAlmarode commented on #137
Eric didn't mark it closed and I didn't notice.

[2019-08-14 19:56] #137 closed

[2019-08-14 20:50] LisaAlmarode commented on #233
This appears to be not a problem in 3.0.74

[2019-08-14 20:50] #233 closed, assigned to ericwinger

[2019-08-14 20:52] LisaAlmarode commented on #236
Pretty sure this isn't an issue in 3.0.74.

[2019-08-14 20:52] #236 closed, assigned to LisaAlmarode

[2019-08-14 21:05] LisaAlmarode commented on #221
I don't see the turning black after being red on a non-Rowan project.  Dale should verify if there is a problem with the shas in the handling of the Rowan set of projects.

[2019-08-14 21:08] LisaAlmarode commented on #303
I don't have a strong feeling - it's kind of gui-ish for rowan; Eric, you can close, defer, or fix as you feel appropriate.

[2019-08-14 21:11] LisaAlmarode commented on #289
I'm closing this, seeing as the feature has been gone for so long.  Presumably the improvements in the hierarchy tab has been sufficient.

[2019-08-14 21:13] dalehenrich commented on #221
I think that this ended up being a Rowan problem (GemTalk/Rowan#469) which was fixed back in February for v1.2

[2019-08-14 21:13] #221 closed, assigned to dalehenrich

[2019-08-14 21:14] LisaAlmarode commented on #143
Working fine in 3.0.74

[2019-08-14 21:14] #143 closed

[2019-08-14 21:15] dalehenrich commented on #289
Just because it has been gone a long time doesn't mean that it isn't still missed ... it was and still would be a useful feature ...

[2019-08-14 21:17] LisaAlmarode commented on #312
String inspectors were added a whiles back before 3.0.74.  There's not much to say about an integer but it does provide the oop

[2019-08-14 21:17] #312 closed

[2019-08-14 21:18] LisaAlmarode commented on #296
For consideration.  I don't feel this is missing, but with many tests it might be a thing.

[2019-08-14 21:23] LisaAlmarode commented on #201
As of 3.0.74, I can turn on Deprecation Error and login.  There might be issues but they should be reported elsewhere when found.

[2019-08-14 21:23] #201 closed, assigned to nobody

[2019-08-14 21:31] LisaAlmarode commented on #301
This is annoying. I was a little confused by what Dale meant: this is a double click on any word within the text of a method. When you double click it selects "the whole word".  Should the selection include a trailing colon : or not?   Dale is a colon-includer and I would agree.

This means fixing the way double click selects in the method list and the debugger.

Alternately, a colon-excluder woul

[2019-08-14 21:39] LisaAlmarode opened #507 "(NONE) package browsing invokes deprecated method (3.0.74)"
I had turned on deprecation error.  I was doing find in the rowanized world but going to the unpackaged side got me an error.  I think it was selecting a class.

Deprecated doErrorOnDeprecated
Deprecated doNothingOnDeprecated

a Deprecated occurred (notification 2746), Class>>description deprecated v3.1. Replaced by comment.
[code]

[2019-08-14 21:53] LisaAlmarode commented on #497
Rowan adds a certain number of methods to the base, unpackaged classes.
When the package that contains the extension method is selected, the base classes for which there are extension methods should be present in the classes list, and purple.

The classes are there (I think it wasn't once, but I can't find the example now), but they are definitely not purple.

Another example in 3.0.74 is Cypress

[2019-08-14 21:56] LisaAlmarode commented on #278
I believe this is the same as the problem reported as bug 497.  Closing this in favor of the more recent bug.

[2019-08-14 21:56] #278 closed, assigned to LisaAlmarode

[2019-08-14 22:03] LisaAlmarode commented on #299
The log is indeed a very lame window.  I think the menu name "log" is a bit off-putting.  It would be more likely to be used if it was "display git log" or something.  However, then the window would need to be un-lamed.   It is nice information if you are wondering what's going on with the git.

[2019-08-14 22:25] LisaAlmarode commented on #289
Retitling since it's a new feature now, since that pane over the method list was re-purposed and was a bit buggy, as I recall. Dale, since this is something you want, please adjust priority.

[2019-08-14 22:43] LisaAlmarode commented on #468
Note to self: testing per issue #397, in 3.0.74 if you select a text that includes an lf or perhaps it was a tab or something... the find dialog fails to find. Check in 3.0.75 when that's available. Either stripping off things that are not searchable on, or finding them, seem alternatives

[2019-08-14 22:46] LisaAlmarode commented on #397
Most find and find-and-replace features do not handle linefeeds.  VW is an exception and it's so handle that I use it for completely unsmalltalk related text processing in spite of the... basic... API.

If Jadeite chooses not to handle then stripping off the unsearchable-for text is a good idea and would apply to find as well as find-and-replace.

[2019-08-14 22:57] LisaAlmarode commented on #264
The example is still demonstrating the error, but it's a bit complicated.

Easy case:

1. Open a list browser on implementors of asString.
2. Select Boolean and BinaryFloat, and then the Comparison Tab.  See the distinctive asString methods.

3. Now select another class, such as Abstract Exception.  Click on the Comparison Tab.

Error: It's still showing the comparison between Boolean and Binary F

[2019-08-14 23:01] LisaAlmarode commented on #288
The given reproduction case, the methods are visible after clicking on class, in 3.0.74

[2019-08-14 23:01] #288 closed, assigned to ericwinger

[2019-08-14 23:03] LisaAlmarode commented on #364
Still broken in 3.0.74.

[2019-08-14 23:05] LisaAlmarode commented on #365
This case works correctly in 3.0.74

[2019-08-14 23:05] #365 closed, assigned to ericwinger

[2019-08-14 23:11] LisaAlmarode commented on #353
As of 3.0.74, there's a warning in the status bar for unused temps.  It's still an error dialog in the debugger.  Now I would prefer a warning status bar in the debugger.

Compile errors do appear in the status bar of the debugger so this is not impossible.

The debugger status bar does not go dark pink, it stays the simple gray.

[2019-08-14 23:14] ericwinger commented on #507
Fix was in Rowan. Will be in 3.0.75. Was sending ``canUnderstand:`` to a metaclass.  https://github.com/GemTalk/Rowan/commit/7528e0c92c9f625d3b9f4eb177dee0a42a7e4582

[2019-08-15 19:52] LisaAlmarode commented on #362
Closing since it's been so long.  Dale, reopen if you see it again.

[2019-08-15 19:52] #362 closed, assigned to dalehenrich, LisaAlmarode

[2019-08-15 21:23] ericwinger commented on #497
Should have a fix for this in 3.0.75.

[2019-08-15 21:23] #497 closed, assigned to LisaAlmarode

[2019-08-15 22:46] ericwinger commented on #378
Fixed in Oscar 3.0.75. (Actual fix in Oscar branch of Rowan project).  ``RowanPackageService>>testClasses`` was not accounting for test classes defined in the package correctly when only extension methods were present.

[2019-08-16 18:32] ericwinger commented on #299
To promote user happiness the log tool is now more like a workspace with Ctrl-F available and several other workspace like features. Fixed in 3.0.75.

![image](https://user-images.githubusercontent.com/36212516/63189664-4ff9d800-c019-11e9-8e1b-f00da4e18308.png)

[2019-08-16 18:32] #299 closed, assigned to LisaAlmarode

[2019-08-16 22:56] ericwinger commented on #301
No colon left behind! (colons now included in debugger double click) ...  Fixed in 3.0.75.

[2019-08-16 22:56] #301 closed, assigned to LisaAlmarode

[2019-08-19 17:24] LisaAlmarode commented on #156
Closing this.  The but itself is fixed; the ability to see the existence of siblings is still a problem in 3.0.74, but is probably quite effortful to deal with.  Will file a new, separate issue after discussion with Eric, next time I'm very annoyed.

[2019-08-19 17:24] #156 closed

[2019-08-19 17:29] LisaAlmarode commented on #188
It appears to update the display in the advanced tab, in 3.0.74; so this can be closed.

[2019-08-19 17:29] #188 closed

[2019-08-19 17:34] LisaAlmarode commented on #246
I'm not sure what I did to move this to done last October, but assume I was OK with the fixes, and finally close this.

[2019-08-19 17:34] #246 closed, assigned to LisaAlmarode

[2019-08-19 17:58] LisaAlmarode commented on #292
The class has a popup menu item browse class.  I suspect that this is a request to also have a browse class on the method menu.  I don't think it makes sense to have it both places, and it's logical to be on the class and not on the method pane menu.

[2019-08-19 17:59] #292 closed, assigned to nobody

[2019-08-19 18:04] LisaAlmarode commented on #331
Closing this as stale; Dale, reopen if you see it again.

[2019-08-19 18:04] #331 closed, assigned to nobody

[2019-08-19 18:05] LisaAlmarode commented on #332
This is pretty old, so closing it, optimistically.  Dale, reopen if you are still seeing this.

[2019-08-19 18:05] #332 closed, assigned to LisaAlmarode

[2019-08-19 18:07] LisaAlmarode commented on #196
As of 3.0.75, the classes pane as a browse class, and the methods pane has a browse methods.  The title is now Jadeite SUnit Browser.  So this is fixed.

[2019-08-19 18:07] #196 closed, assigned to nobody

[2019-08-19 18:14] LisaAlmarode commented on #244
I don't see the problem in a perhaps too simple test in 3.0.75, so optimistically say it's fixed.

[2019-08-19 18:14] #244 closed, assigned to LisaAlmarode

[2019-08-19 18:31] LisaAlmarode commented on #227
This does not produce a walkback in 3.0.75.  However, highlighting and setting breakpoints in a nested context still does not work correctly (looks light the server returns offsets relative to the block, while jadeite highlight from the method start).  Will check for a report (seems like there must be one), or create a more specific bug.

[2019-08-19 18:31] #227 closed, assigned to LisaAlmarode

[2019-08-19 21:13] LisaAlmarode commented on #291
This needs attention; still an issue and quite ugly.  I've created a new example that might make it easier to see and reproduce the problem.

As you can see, there are three breakpoints within the ensure block.  The debugger stops correctly.  But the highlights are on breakpoints in a different block and in the assert.

This is for any test class:

[code]

![image](https://user-images.githubuserco

[2019-08-19 21:54] LisaAlmarode commented on #392
We have these features:
   - double click on class name in debugger to highlight, and Browse Class is on popup menu
   - select receiver in variables pane and you have Browse Object Class on popup menu.

I think this means you can browse the class for anything related to the current frame...

[2019-08-19 21:54] #392 closed, assigned to ericwinger

[2019-08-19 21:57] LisaAlmarode commented on #351
I agree this is a handy feature.

[2019-08-19 22:00] LisaAlmarode commented on #369
No longer blue in 3.0.75

[2019-08-19 22:00] #369 closed, assigned to ericwinger

[2019-08-19 22:02] LisaAlmarode commented on #357
It doesn't error or walkback now: it quietly brings you to the existing category with that name. Open to debate as to if that's correct, but it's reasonable, so closing this.

[2019-08-19 22:02] #357 closed, assigned to nobody

[2019-08-19 22:11] LisaAlmarode commented on #507
Not fixed in 3.0.75; this time it was when selecting the Globals class Notification.

Eric, your comment is hard to figure out... I think canUnderstand: will return true for a deprecated selector and still throw an error if deprecated errors is turned on.

[code]

[2019-08-19 22:16] LisaAlmarode commented on #507
sending
   ```Notification comment```
does produce a comment.
The bug lies with how canUnderstand: is being sent to the class or metaclass.

[2019-08-19 22:20] LisaAlmarode commented on #368
I'm going to close this as stale, although it's still true.  We need to examine performance at some point and review and assess what's annoying at that point.

[2019-08-19 22:20] #368 closed, assigned to ericwinger

[2019-08-19 22:29] LisaAlmarode commented on #363
The scenario works for Rowan classes and you can't even get started with nonRowan classes, as best I can tell.  I'm not sure what "non migrated" means, but presumably some weird state that would not necessarily be espected to work.  Closing this as either probably fixed or possibly NAB.

[2019-08-19 22:32] LisaAlmarode commented on #339
Same as issue #507.  We could ignore the Dictionary Browser, but the same thing now happens in in the Project Browser.

[2019-08-19 22:32] #339 closed, assigned to dalehenrich, ericwinger

[2019-08-19 22:35] LisaAlmarode commented on #317
This still happens in 3.0.75.  Haven't been doing any git commits myself lately but it is still an alarming message.

[2019-08-19 22:37] LisaAlmarode commented on #315
I think this was fixed some time back; classes in other packages are now shown in purple.

[2019-08-19 22:37] #315 closed

[2019-08-19 22:40] ericwinger commented on #353
The status bar should now behave like the other browsers when compiler warnings & errors happen in the debugger. The pop-up is eliminated. 3.0.76.

[2019-08-19 22:40] #353 closed, assigned to LisaAlmarode

[2019-08-19 23:46] ericwinger commented on #317
Because the error occurs in rowan code, the best Jadeite can do is disable the ``Commit to Git ...`` menu item if the project is not dirty in both the project list & project browser. With luck, this will suffice. Fixed in 3.0.76.

[2019-08-20 00:01] LisaAlmarode commented on #225
I think eric claiming fixed in 3.0.76, otherwise ought not to be for review and assigned to me.

[2019-08-20 00:01] #225 closed, assigned to LisaAlmarode

[2019-08-20 00:07] ericwinger commented on #225
Yes, this is fixed in 3.0.76.  Ability to browse breakpoints and clear them ready for review.

[2019-08-20 00:10] LisaAlmarode commented on #78
In 3.0.75 it is bringing up the PB.

[2019-08-20 00:14] LisaAlmarode commented on #424
This is all consistent in 3.0.75.
I will say that the comparison tab's bright yellow highlights on the softer yellow is... well... not a particularly agreeable color combination.  But it seems like it would be functional and I'll leave it for someone who uses this feature to initiate further aesthetic discussion.

[2019-08-20 00:20] dalehenrich commented on #363
I think that @regkrock means an old version of a class (not the new version) ... I don't think it is fixed and it is a bug ... Jadeite (and Rowan) needs to do a better job handling class versions ... I know that @ericwinger and I have talked about this particular issue, but I'm not sure if we've got a a bug report for it or not ... right now Rowan doesn't distinguish between versions of a class an

[2019-08-20 00:22] LisaAlmarode commented on #468
In 3.0.75, I seem to be missing the wrap option - the find dialog appears to have reverted to the older version.  It doesn't have the little magnifying glass icon in the corner.  I like wrap, or at least search from beginning.

[2019-08-20 00:36] LisaAlmarode commented on #505
Works nicely!

[2019-08-20 00:50] LisaAlmarode opened #508 "senders lists get highlighting confused after opening a second senders list"
If you do "Browse Senders Of...", on foo, you get a list of methods, and then as you click down it highlights an occurrence of the selector foo.

Then do a Browse Senders Of...", on bar, this list will highlight the bars.

BUT... if you go back to the original method list, it now highlights selector bar if present in the method, and only highlights foo if there's no bar.

![image](https://user-ima

[2019-08-20 01:02] LisaAlmarode commented on #483
I created an infinite loop in server code, and neither of these techniques helps.  User interrupts show a dialog but don't effect the looping; and I can't get the browse processes to open anything.  Appears totally wedged.

[2019-08-20 01:07] LisaAlmarode commented on #483
The good news is that it actually did eventually put up an almost out of stack exception, which I closed, and no work was lost.  But "wait it out" might not be a preferred workaround.

[2019-08-20 01:07] LisaAlmarode commented on #451
Closing as somewhat stale.  Dale, reopen if you still see things like this.  We do have the requested debugging details now.

[2019-08-20 01:07] #451 closed, assigned to LisaAlmarode

[2019-08-20 01:20] LisaAlmarode commented on #168
This issue appears fixed, or at least much much better. I tried a couple of times to cause breakage in the inspector, and it just put errors in the inspector.  I got a whole series of walkbacks when I did direct call to recursion, and there were a lot; but it eventually displayed a dialog and while closing the walkbacks was tedious, my session was fine.

[2019-08-20 01:20] #168 closed

[2019-08-20 17:25] LisaAlmarode commented on #456
The error in this issue can be reproduced in 3.0.75 by inspecting:
[code]
When you click once on the dict instvar, it shows:
[code]
When you double click in dict, you get an error dialog, Invalid format for Number.

[2019-08-20 17:52] LisaAlmarode commented on #79
Step out is still apparently completely broken (i.e., just does a step) in 3.0.75.

[2019-08-20 17:57] LisaAlmarode opened #509 "Warning for unused temps should be grouped better (3.0.75)"
If there are multiple unused temps, it's not handled very pleasingly. At the very least, please add a space between.  This copied from issue #459.

I'd added
   | aa bb cc dd |
saved, got warning, then edited to remove the temps.

![image](https://user-images.githubusercontent.com/13142166/62101645-f6d52a80-b24a-11e9-929b-462527b39520.png)

Really, all unused temps ought to grouped and not reporte

[2019-08-20 17:58] LisaAlmarode commented on #459
Closing this and opened issue #509 for the unused temp warnings

[2019-08-20 17:58] #459 closed, assigned to ericwinger

[2019-08-20 18:05] ericwinger commented on #507
The server services code was unnecessarily complicated so I cleaned it up and you can no longer get this error. Added test that turns on deprecation warnings then selects classes while both Instance and Class tab selected. I reproduced the problem by turning on deprecations, then selecting a class with the Class tab selected. Fix in Rowan code. https://github.com/GemTalk/Rowan/commit/f511df48d9c5b

[2019-08-20 18:05] #507 closed, assigned to LisaAlmarode

[2019-08-20 18:15] LisaAlmarode commented on #387
- [x] In 3.0.75, it's a thin blue underline, still quite hard to spot.  Maybe the text could (also) be made bold?

- [x] Uunderlining obscures underlines in the method, which makes it harder to parse what the error might be (my case was an undefined variable, but it looked like a message send).  The underlining is sticky while you are editing the method which limits options to see it clearly.

- [

[2019-08-20 18:23] LisaAlmarode commented on #419
The final issue here is still behaving incorrectly in 3.0.75.  Probably need to close this issue and open a new one specific to inherited test cases.

[2019-08-20 18:33] ericwinger commented on #468
New Jadeite subclass of ``AdvancedFindDialog`` was getting stripped out image by Dolphin. Added ``JadeiteAdvancedFindDialog`` to list of classes in ``JadeImageStripper>>requiredClasses``

Fixed in 3.0.76.

[2019-08-20 20:46] LisaAlmarode commented on #363
Dale - how do you get/can you access to viewing an old version of a class in Jadeite in the first place?  If you can't, then this particular bug is moot and should be closed.

We do need a issue that covered the bad handling of class versions.

[2019-08-20 21:02] LisaAlmarode opened #510 "Need support for class versions (3.0.75)"
When you create a new version of a class, Jadeite displays with numbers such as (3/3).  However, these old versions of the class, and any methods on them are inaccessible in Jadeite and you can't remove the older versions, detect instances of any of the class versions, or do much at all from Jadeite.

If you have instances of the older class version, you can't do much with them.

I also see that a

[2019-08-20 21:19] LisaAlmarode commented on #463
I'm going to close this since a lot of work was done on getting close down to work smoothly (not sure when).  I'm not seeing problems lately, but I don't know how common it was before.  Please reopen with a more information if this this happens again.

[2019-08-20 21:19] #463 closed, assigned to ericwinger

[2019-08-20 21:25] LisaAlmarode commented on #318
In 3.0.75, there's an ugly parameter 1 is descriptor walkback. Otherwise, the same; this issue is pretty closely related to #390.

[2019-08-20 21:30] LisaAlmarode commented on #287
While I agree with this point, I've given up trying to make certain client application GUI developers handle block contexts as if they were the actual methods that you actually see.

[2019-08-20 21:33] LisaAlmarode commented on #226
I believe I saw some related problems in 3.0.75 when I was examining breakpoints within blocks - going back to the browser I wasn't able to get the menu items back.

[2019-08-20 21:34] LisaAlmarode commented on #335
Assign to myself for testing

[2019-08-20 21:36] LisaAlmarode commented on #476
This is fixed in 3.0.75

[2019-08-20 21:36] #476 closed, assigned to nobody

[2019-08-20 21:39] LisaAlmarode commented on #203
I think this is fixed.

[2019-08-20 21:39] #203 closed, assigned to nobody

[2019-08-20 21:41] LisaAlmarode commented on #300
I don't really know the priority but it seems like a possible value.

[2019-08-20 21:47] LisaAlmarode commented on #310
It is annoying to commit, then immediately exit and get the question.
However, it's not an actual problem and I'm used to being annoyed by this in GBS.
It gets a little more annoying if you have autocommit on.  Shouldn't it automatically commit if so?

However, I don't think this is necessarily worth a lot of effort.

[2019-08-20 22:40] LisaAlmarode commented on #218
While I don't think perfection has been achieved, it's reasonable.  Will defer further complaints.

[2019-08-20 22:44] LisaAlmarode commented on #378
Still the same behavior in 3.0.75.

[2019-08-20 22:52] LisaAlmarode commented on #500
Highlights on search has got some problems in 3.0.75.

I randomly selected servicePerform:withArguments: senders (in class RowanPackageService).
The list has six methods.  Three display correctly; three have highlights in other places.

Then I tried isDirty. the first 8 or so in the list were fine; then one had highlight in the wrong place, and the next one,  RwPackage >> isDirty

gives an error d

[2019-08-20 23:00] LisaAlmarode commented on #465
It doesn't walkback on rename, in 3.0.75.

However the method list browser that was left open does not get updated, and shows the old class name.

When I tried to right-click-pop up a menu on one of the methods in that list, I get a walkback.

[code]

[2019-08-20 23:13] jgfoster commented on #310
I believe that this dialog only comes up if there are unsaved changes. So, what changes happen behind the scenes after you do an explicit commit?

[2019-08-20 23:52] ericwinger commented on #264
The comparison tab was a little flaky probably because it hadn't been touched in a long time.
Needed to do a better job of resetting it when selecting a new method. Also, brought the method list browser's code in this area more in line with the project browser.

Believe I've fixed up the identified problems and a few more in 3.0.76.

[2019-08-20 23:52] #264 closed, assigned to LisaAlmarode

[2019-08-22 17:50] ericwinger commented on #465
This was a bit tricky to get right but I believe it's fixed  in 3.0.76 with the last work in progress commit.
The difficulty arose from the fact that class service equality is based on name so simply renaming the service objects after the server operation would leave the lists & tree views in an unstable state.

[2019-08-22 17:50] #465 closed, assigned to LisaAlmarode

[2019-08-23 17:18] ericwinger commented on #378
Although this commit https://github.com/GemTalk/Jadeite/issues/378#issuecomment-521823530 fixed one aspect of the problem, it became apparent that extension tests caused problems in the sunit browser as it is currently designed. Example - If you had a test class with test methods only defined in an extension package, to see it you would have to show the extension package in the list. But, if you a

[2019-08-23 18:10] ericwinger commented on #508
Should be fixed in 3.0.76.

 _Note to self - might be better to retain the first reference state in the browser instead of the method server._

[2019-08-23 18:10] #508 closed, assigned to LisaAlmarode

[2019-08-23 18:18] ericwinger commented on #306
@LisaAlmarode Is this part of your [comment](https://github.com/GemTalk/Jadeite/issues/306#issuecomment-517820137) fixed?

[2019-08-23 19:46] ericwinger commented on #306
@LisaAlmarode Regarding https://github.com/GemTalk/Jadeite/issues/306#issuecomment-517822950 ...
It appears that the classHistory is not retained after a rename.  Hard to show with pictures, but here is what I see after renaming class Aaa to Bbb
[code]

I'm going to close this issue. If you feel the renamed class should retain it's history the fix is probably in Rowan.

[2019-08-23 19:46] #306 closed

[2019-08-23 22:17] ericwinger commented on #500
First reference calculation was wrong in a couple ways. Fix in Rowan in 3.0.76.

[2019-08-23 22:17] #500 closed, assigned to LisaAlmarode

[2019-08-26 17:05] ericwinger commented on #479
I'm not sure it's worth rebuilding Jadeite for such an old pre-release tag.

[2019-08-26 17:05] #479 closed, assigned to ericwinger

[2019-08-26 17:27] ericwinger commented on #390
Instead of a walkback on a method compile failure, we now open a method list browser showing the method and as much information about the failure as possible.

Filed [feature request in Rowan](https://github.com/GemTalk/Rowan/issues/503) to show all the method recompiles instead of just one which would (with a little Jadeite work) allow the user more flexibility to handle failed method compiles af

[2019-08-26 17:27] #390 closed, assigned to LisaAlmarode

[2019-08-26 20:43] ericwinger commented on #300
Have a fix for this in 3.0.76. ``Browse Class References`` on transcript Browse menu. Can use ``*`` wildcard to avoid typing long class names.

[2019-08-26 20:56] ericwinger commented on #226
@LisaAlmarode I've visited the "magic spot" issue before and while it's probably worth exploring, it is a rather difficult problem. Since this but was created, I've added a ``Clear All Breakpoints" menu option. If you have just a single breakpoint, it should be functionally equivalent. Does this suffice?

![image](https://user-images.githubusercontent.com/36212516/63722999-45092980-c809-11e9-85cd-

[2019-08-26 21:03] ericwinger commented on #318
Believe this was fixed in the work to fix #390 in 3.0.76. https://github.com/GemTalk/Jadeite/issues/390#issuecomment-524950656

[2019-08-26 21:41] ericwinger commented on #419
@LisaAlmarode Perhaps I've lost the thread but in my simple tests, I'm seeing the correct test results. Can you file a new bug with the reproduction case?  Here is my "reproduction case":

- define new method in ``RowanSample1Test``
[code]
- Create Subclass of ``RowanSample1Test`` called ``SubTest``
- test passes when run in SubTest (as expected)
![image](https://user-images.githubusercontent.com/

[2019-08-26 23:04] ericwinger commented on #509
The warning string is a string returned from ``rwCompileMethod:category:`` sent from ``RowanClassService>>compileMethod:behavior:symbolList:inCategory:`` so there's not a lot I can do without adding some very brittle code. However, I was able to at least remove some of the heinous all-caps WARNINGs and format it a little more coherently without losing information as the example shows below.
![imag

[2019-08-26 23:04] #509 closed, assigned to LisaAlmarode

[2019-08-27 16:50] ericwinger commented on #79
Yes, it appears to effectively have executed stepOver instead of stepOut. I implemented a fix in 3.0.76 like this.

1. If you have the top frame selected, stepOut will step to the next highest frame (frame 2 in the stack).
2. If you have a different frame selected, it will stepOut to that frame.

This seems (to me) to be the most predictable and useful behavior for the user.

[2019-08-27 16:59] ericwinger commented on #483
@LisaAlmarode  Can you share the infinite loop code so I can reproduce your scenario?

Also, after you did a Ctrl-12 user interrupt to get control back, did you try using ``Soft Break`` or ``Hard Break`` on the ``My Session`` tab on the transcript?

[2019-08-28 16:40] ericwinger opened #511 "Need better caption for github Jadeite project"
Going to [the Jadeite GitHub](https://github.com/GemTalk/Jadeite) project for the first time, a user encounters this description:

``Jade is an Alternative Development Environment (IDE) for GemStone/S that runs on Microsoft Windows``

Seems like we can come up with something better. Or at least say Jadeite.

![image](https://user-images.githubusercontent.com/36212516/63875078-8fa8b400-c977-11e9-83

[2019-08-28 17:05] LisaAlmarode commented on #306
The class history thing is a separate issue, related to issue #510.  Otherwise rename is working fine, although at some point I'll complain about it telling me 0 methods were changed and the spurious double quote that appears within the recompile-failed dialog.

[2019-08-28 17:29] LisaAlmarode commented on #226
While the remove-all-breakpoints is helpful, it's not a fix, I'm afraid. And while you can remove breakpoints, you still can't see senders and implementors.

The breakdown of all functionality in method source is easy to reproduce.

1. go to a test method (I picked Rowan | AST-Kernel_tests-core | RBGemStoneNumberParserTest | tests | testNumberParser,

2. Add a  breakpoint.  I put it on the first r

[2019-08-28 17:46] LisaAlmarode commented on #483
[code]

It hangs again if I try to change focus to the my session tab.  So I tried controlF12 again.  And  I did manage to escape.  This is when executing the above code from the console workspace.

(1) control F12.
(2) close error dialog
(3) click on my session tab
(4) another control F12
(5) close error dialog
(6) press softbreak.  Nothing happens.
(7) bring up a popup-menu on the method pane of

[2019-08-28 18:13] LisaAlmarode commented on #318
It's better; functional, if not elegant.  But there's a recompile problem that is more serious.

non-ideal points:
(1) In the method list browser for the failed recompiled method, the method has the name "methodFailingRecompile".  I think this is okay since there's only one method...

(2) since, if you have two methods that fail recompile, it only shows one, and you have to try to save the class d

[2019-08-28 18:20] LisaAlmarode commented on #468
Alas, while it's back in 3.0.76, the layout tweaking was insufficient.

![image](https://user-images.githubusercontent.com/13142166/63881945-ce456b00-c985-11e9-9762-83153b3fdb08.png)

[2019-08-28 18:26] LisaAlmarode commented on #300
If you are on the console pane of the workspace, clicking on the new menu item brings up an error dialog with
   CodeSourcePresenter does not understand #selectedClassName

But it does work if you're on the projects pane.

[2019-08-28 19:23] LisaAlmarode commented on #79
It's much more out-stepish in 3.0.76.  Will leave it to someone who uses the debugger heavily to determine the correct behavior and if there are deviations therefrom.

[2019-08-28 19:39] LisaAlmarode opened #512 ""run selected" can get disabled after save in debugger (3.0.76)"
If you are running sunit tests from the project browser, and save a method in the debugger, when you come back to the project browser, for the method that you saved... the run selected test menu item is disabled in the method list.

- get to method RowanSample1Test >> test2
- put a breakpoint in
- use method menu run selected test.  See debugger.  add a space or something and save method.  use the

[2019-08-28 22:56] LisaAlmarode opened #513 "Class rename also updates method sends (3.0.76)"
If you have a method send within a method that is the same as the class name, the method name gets updated.

The class is named ``RenameTest``.
instance methods:
[code]

When I renamed ``RenameTest`` to ``NewName``,
the ``RenameTest`` method was unchanged.
the test method was updated:
[code]
which will fail since there's no method ``NewName``.
It would be more serious if it was likely that this oc

[2019-08-29 16:17] ericwinger commented on #513
Note - updated issue report for easier to read formatting

[2019-08-29 16:41] ericwinger commented on #513
Removed the dialog in 3.0.77 but the primary complaint is a Rowan issue as the recompiled method behavior is handled there. Closing.

@LisaAlmarode - Can you create a Rowan issue for the primary complaint?

[2019-08-29 17:56] ericwinger commented on #300
Menu item code inherited from Jade is inconsistent but this menu item should work properly in all console tabs in 3.0.77.  Some refactoring done as well.

[2019-08-29 17:56] #300 closed, assigned to LisaAlmarode

[2019-08-29 19:47] ericwinger commented on #349
I'm going to call this complete. One can turn on ``Logging`` in the transcript, then ``Browse Jadeite Logs``.

[2019-08-29 19:47] #349 closed, assigned to ericwinger

[2019-08-29 19:49] ericwinger commented on #319
Awhile back, I added an ``Add Accessors`` menu option on the ``Variables Tab``. Will let @LisaAlmarode review to see if feature is complete.  Closing, presumed complete.

[2019-08-29 19:49] #319 closed

[2019-08-29 23:06] ericwinger commented on #512
The instVar ``isTestMethod`` was not getting initialized correctly in RowanMethodService. Fixed in 3.0.77.

[2019-08-29 23:06] #512 closed, assigned to LisaAlmarode

[2019-08-29 23:47] ericwinger commented on #318
This has been reported as a rowan request: https://github.com/GemTalk/Rowan/issues/503

Need to look at this again if above gets changed.

Not sure if I quite understand. Might be worth pulling this into another issue with a more detailed reproduction case.

While most recompiles work, the following method fails recompile in the "methods failing recompile" method list browser. I added the instance

[2019-08-30 20:30] ericwinger commented on #483
In order to fix this issue, needed to override base method ``ProcessorScheduler>>userBreak:`` Dolphin (at least this version doesn't seem to have the concept of code overrides) throws a resumable error if you define a method in two packages.

To get around this annoying problem, I created a new package ``Rowan UI Base PreInstall`` whose sole job for the moment is to remove the base version of ``us

[2019-08-30 20:30] #483 closed, assigned to LisaAlmarode

[2019-08-30 23:06] ericwinger commented on #226
Was clearing the step points & break points at an inopportune time. Fix is in Rowan & Jadeite in 3.0.77.

Given the nature of the fix, it might be a good idea to find & review other issues where the break point set/clear is disappearing. I suspect some of these might be cleared up as well.

[2019-08-30 23:06] #226 closed, assigned to LisaAlmarode

[2019-09-03 16:46] ericwinger commented on #387
In addition to the current compiler error identification, the compile error range is selected which should provide better visibility (as well as put the user's selection on the problem code)

Example:
![image](https://user-images.githubusercontent.com/36212516/64192243-143f7a80-ce2f-11e9-893c-febd7ae966a3.png)

User is shown and taken to the first compile error:
![image](https://user-images.github

[2019-09-03 16:46] #387 closed, assigned to LisaAlmarode

[2019-09-03 18:12] ericwinger commented on #310
``JadeiteTranscript>>onCloseRequested`` did not send ``System>>needsCommit`` but does as of 3.0.77.

[2019-09-03 18:12] #310 closed

[2019-09-03 22:30] LisaAlmarode commented on #318
This was an existing method and was definitely compilable, oscar must have added the double quotes.   Try compiling this method:

[code]

[2019-09-03 22:36] LisaAlmarode commented on #319
Verified that you can select all variables in the tab and generate the lot of accessor methods at one time; so I agree this feature request is implemented.

[2019-09-03 23:29] ericwinger commented on #506
Got a feature implemented to try out in 3.0.77.

[2019-09-04 00:54] ericwinger commented on #482
Checked in a fix in rowan code to set the first reference of each method using server data.
@LisaAlmarode Could use a few more elaborate test cases though. Any suggestions are appreciated.

[2019-09-04 16:13] ericwinger commented on #318
@LisaAlmarode This is what I see after a compile (and adding LisaSet class) in unreleased 3.0.77. Looks ok to me. What am I looking for?

![image](https://user-images.githubusercontent.com/36212516/64272402-22a39a00-cef4-11e9-94f8-0455c89d4a59.png)

[2019-09-04 17:25] LisaAlmarode commented on #318
If you now try to add an instance variable "eggplant" to the class, you will get a conflict dialog, since the instance variable has the same name as a temp variable (per issue title).
In this dialog there will be doubled single quotes.  Turns out to be any string in the method, it isn't related to the blocks and what-not.

[2019-09-04 22:26] ericwinger commented on #501
This is fixed in 3.0.77. The buttons don't look like traditional buttons for aesthetic reasons, but they do have enough clues for a savvy user to deduce what they do.

[2019-09-04 22:30] ericwinger commented on #408
I've done quite a bit of work in this area in the past few months. Trying the example, it seems to work. Can you review again @LisaAlmarode?

[2019-09-05 05:47] LisaAlmarode commented on #511
I kind of don't think I have permission to change this - at least I haven't been able to track down any way to edit it.  I updated the readme part ages go, but never spotted this line...

[2019-09-06 17:10] ericwinger commented on #303
As of 3.0.77, should be able to send ``confirm:`` ``inform:`` and ``inspect`` and Jadeite will raise the appropriate dialog box or inspector.

![image](https://user-images.githubusercontent.com/36212516/64446766-806be980-d08e-11e9-8fa3-d3e0fe593afa.png)

[2019-09-06 17:10] #303 closed

[2019-09-08 16:54] dalehenrich opened #514 "(3.0.77) should breakpoint browser come up with the first breakpoint in method highlighted?"
In the picture below,the selected method in the project browser, shows that there is a breakpoint in the method. On the left is a freshly opened breakpoint browser ... would be nice to highlight and make visible the first breakpoint in the method:

![image](https://user-images.githubusercontent.com/623951/64491511-3154be80-d21e-11e9-93d6-41c3329f3464.png)

[2019-09-09 14:03] dalehenrich opened #515 "(3.0.77) clear all breakpoints menu item would be useful"
After a debugging session when I've set a bunch of breakpoints, I usually just want to clear them all ... it is tedious to have to visit each method and manually clear all of the breakpoints ...

[2019-09-09 17:05] dalehenrich commented on #515
... in the same vein, topaz has the ability to disable/enable breakpoints a ... and I would find that feature to be really useful right about now in Jadite:)

[2019-09-09 21:37] LisaAlmarode opened #516 "Deleting classes and project reload (3.0.77)"
There are a number of odd behaviors, most of which I can't get to repeat.  The following are, I think, incorrect behavior.  These are probably the result of underlying rowan issues, Eric, I'll let you manage that.

(1) Creating a class in a different package or a different project with the same name has the effect of moving the class to that package.  If the new definition has a different supercla

[2019-09-09 21:42] LisaAlmarode commented on #501
If I don't have a class selected, the button is present and clicking on it produces the error"
UndefinedObject does not understand #command:"

[2019-09-09 21:45] LisaAlmarode commented on #468
![image](https://user-images.githubusercontent.com/13142166/64568718-4dd12380-d310-11e9-9b51-4a5b52d39807.png)

I suppose you could use "dwn" and "wrap"...

[2019-09-09 22:20] LisaAlmarode commented on #482
There are a lot of imperfections in 3.0.77.  However, I suspect that most of these are failures in 3.2.15 and not Oscar's fault.

Literal references to 22
   A base gemstone timezone method is found; the highlighting in v3.0.77 is (in a literal array) on 222 (line 8), not 22 (in line 20).

Literal references to 3
   In many methods, eg Behavior >> changeStamp, where the hit is within a literal arr

[2019-09-09 22:31] ericwinger commented on #482
Without looking at any specific example listed closely, I'm not surprised. When I changed the code to use the first reference index given by the server, I started seeing odd results. Probably the best thing we could do is see what index topaz gives and if that same problem exists in 3.5.

I'm open to removing this "fix" until Jadeite is fully running on a later server version (which presumably has

[2019-09-09 22:31] LisaAlmarode commented on #387
The blue underline still obscures underlines; it's not clear what was done to support checking that box...?
However, the error is much more visible, and it scrolls, so we'll call this fixed.

[2019-09-09 22:32] ericwinger commented on #501
Have a fix in 3.0.78.

[2019-09-09 22:32] #501 closed, assigned to LisaAlmarode

[2019-09-09 22:36] LisaAlmarode commented on #513
I'm afraid we can't just close issues that show up in Oscar if we are waiting on a fix in Rowan.  They are still bugs.

[2019-09-10 17:48] ericwinger commented on #381
Have a fix in 3.0.78 ready to try out.

[2019-09-10 17:48] #381 closed, assigned to LisaAlmarode

[2019-09-10 21:12] ericwinger commented on #515
I can see how the clear breakpoints menu I implemented recently could be misinterpreted.

Reworked clear breakpoints in 3.0.78. When you Browse Breakpoints from the transcript window, there is an extra menu item in the Methods menu in the menu bar ``Clear All Breakpoints``. That will clear all breakpoints in the system. On the regular Method menu there is a menu option ``Clear Method Breakpoints``

[2019-09-10 23:31] ericwinger commented on #515
Implemented a toggle in the ``Transcript Jadeite`` menu to disable breakpoints. Fixed in 3.0.78

[2019-09-11 16:55] ericwinger opened #517 "Context of non-debugger source panes should be the class"
Currently, executing the commented text ``self methodDoSomething`` gets the walkback below. Need to change the context of project browser/method list source pane executions to be the class.
[code]
[code]

[2019-09-11 16:59] ericwinger commented on #291
Note to self - Look at step point highlighting while I'm in here.  @LisaAlmarode - Can you find any Jadeite issues relating to step point highlighting within blocks?

[2019-09-11 17:02] ericwinger opened #518 "Add method history"
In Dolphin, I can see the method changes in the current image using a nice little method change history browser. It would be nice if we have something like this in Jadeite - even if it's not quite as graphically appealing.

![image](https://user-images.githubusercontent.com/36212516/64718542-47ab8600-d47b-11e9-9b54-3b7210f3d71a.png)

[2019-09-11 17:06] ericwinger opened #519 "Expose method formatting options in Jadeite GUI"
The method formatter as currently implemented in Jadeite leaves a little to be desired but is functional. ``RBConfigurableFormatter`` has a number of formatting options available to a user to customize their formatted method source code. See ``RBConfigurableFormatter class>>initialize``

It would be nice to expose these options to the user.

[2019-09-12 22:37] ericwinger commented on #516
Note - Found this Rowan curiosity when compiling classes and reloading. Class history seems to increment unexpectedly.
https://github.com/GemTalk/Rowan/issues/506

[2019-09-12 22:48] ericwinger commented on #516
Aside from [the curious issue](https://github.com/GemTalk/Jadeite/issues/516#issuecomment-531033276), I believe this to be fixed in 3.0.78.

[2019-09-12 22:48] #516 closed, assigned to LisaAlmarode

[2019-09-12 23:17] dalehenrich opened #520 "(3.0.77) `browse senders`has inconsistent behavior"
Picking the `Browse Senders` menu item (n a workspace or inspector) produces a populated Senders browsers:
![image](https://user-images.githubusercontent.com/623951/64827283-6d6a8500-d578-11e9-8e53-f5b8d5c3ba7a.png)
However, selecting a multi-arg selector like `cloneSpecUrl:gitRootPath:useSsh:` results in an empty senders browser:
![image](https://user-images.githubusercontent.com/623951/64827329-

[2019-09-13 16:57] ericwinger commented on #520
Have a fix for this in 3.0.78. Can get senders/implementors in a variety of ways in workspace and inspector panes which are hopefully useful. Examples below.

![image](https://user-images.githubusercontent.com/36212516/64880221-80c73000-d60c-11e9-831f-a19dd38573fe.png)

![image](https://user-images.githubusercontent.com/36212516/64880238-90df0f80-d60c-11e9-9943-e642328dae17.png)

![image](https://

[2019-09-17 16:52] ericwinger commented on #517
Note that this is in a project browser. Same fix should apply to the method browser as well.

[2019-09-17 19:40] dalehenrich opened #521 "Jadeite version check"
Customer has requested that we institute a jadeite version check so that users won't be caught be surprise when using an outdated Jadeite ... I've recently used an older version of Jadeite (out of laziness) and discovered that the Jadeite allowed me to start using the project browser and do a little bit of work/browsing before hitting an error "that would not go away" (could not exit session witho

[2019-09-17 19:44] dalehenrich opened #522 "hook to open desired set of windows at startup"
Customer request. If out of scope for November then remove lable ... not a priority

[2019-09-17 19:46] dalehenrich opened #523 "CTL-SHIFT-t and CTL-SHIFT-f shortcuts for ifTrue: and ifFalse:"
Customer request ... not  a problem if out of scope for November release

[2019-09-17 19:47] dalehenrich opened #524 "autocompletion"
customer request, not a problem if out of scope for November release

[2019-09-17 19:48] dalehenrich commented on #519
customer request, but not required for November ....

[2019-09-17 21:10] ericwinger commented on #517
Fixed in 3.0.78.

[2019-09-17 21:10] #517 closed, assigned to LisaAlmarode

[2019-09-17 22:47] ericwinger opened #525 "Audit before and after Jadeite tests"
In order to catch Jadeite when it does bad things in Rowan, we should add a statement like
``self assert: (session executeString: 'RwPrjAuditTool new auditAll isEmpty'). ``
in ``JadeiteAbstractTestCase>>setUp`` and ``tearDown``

Note that the latest audit code has a different api but is not yet available in Rowan V1.2

[2019-09-17 22:51] ericwinger commented on #525
One caveat.  Jadeite currently has about 600 tests. We may want to leave this out if the audit code is slow. Currently, I see this kind of performance on korea (Ubuntu 16) with a server on portugal (Ubuntu 16) in the same location.
[code]

[2019-09-17 23:06] dalehenrich commented on #525
1. I suggest that you do something like the following for running audits:
[code]
   so that you can see what the audit failure was ... if it fails ...
2. I made this recommendation based on the assumptions that the tests that we were talking about were the services tests (of which there are fewer than 600). For the Dolphin-based tests, I would recommend that you run the audit for tests with unique

[2019-09-17 23:07] dalehenrich commented on #525
... The audit api isn't changing, however the contents of the audit result dictionary will change (at least in v2.0 for sure)

[2019-09-17 23:38] dalehenrich commented on #457
The new audit work was done by @alexkogan on the candidateV2.0 branch, so at this point I'm inclined to defer the `audit project` work until you begin work on the V2.0 support work ... out v1.2 customer is satisfied with the current state of affairs

[2019-09-18 16:00] ericwinger commented on #523
@dalehenrich do you think that the customer would accept a different ``Ctrl-Shift-`` key? Currently, ``Ctrl-Shift-F`` (& ``Ctrl-F``) are taken for class find (& method find).

Also note, I'll need to make these menu options as well because accelerator keys in Dolphin's ScintillaView class are frustratingly limited.

[2019-09-18 16:45] ericwinger commented on #522
@dalehenrich Is the request to open windows at image startup (i.e. clicking on the .exe file) or post-login?   Can I assume post-login?

[2019-09-18 16:47] ericwinger commented on #522
And do we know which windows?  Project browser? Inspector? Method list browser? other?

[2019-09-18 17:28] dalehenrich commented on #523
I would say that you can define whatever short cut keys make sense in the Dolhin environment

[2019-09-20 00:05] ericwinger commented on #522
Should have a fix for this in 3.0.78. Syntax looks like this currently:

[code]
# comments out.
Only methods understood by ``JadeitePreferences`` are run so adhoc commands cannot be setup.

Also, exposed the preferences file on the console's browse menu

[2019-09-20 00:05] #522 closed, assigned to LisaAlmarode

[2019-09-21 00:09] ericwinger commented on #523
Ctrl-Shift-D ``ifFalse:[]`` and Ctrl-Shift-F ``ifTrue:[]`` were added in 3.0.78.

[2019-09-21 22:09] LisaAlmarode commented on #521
Is this a check of Jadeite version vs. Rowan loaded version?  If I can't login with an unmatching jadeite, I won't be able to upgrade from inside Jadeite, right?  I don't know what the official process is but I would like to do everything from jadeite, I just don't have the ability to checkout on a tag.

[2019-09-22 16:05] dalehenrich commented on #521
@ericwinger and I talked about this bit and I was thinking that a warning dialog would pop up if you connected to an image with a Jadeite client that didn't "match" the Jadeite service method version ... my observation is that when you use a mismatched client you can get real work done for a period of time and then the system can lock up and your only alternative is to quit ... which would be a re

[2019-09-23 22:01] LisaAlmarode commented on #462
There is no way I'd notice the background turning red on the autocommit icon... especially when testing from a workspace that obscured that part of the dialog.  It seems still silent.

Reopen and reassign to Dale since he would have an opinion on how this should be indicated...

[2019-09-23 23:24] dalehenrich commented on #462
I agree with @LisaAlmarode, we need something a bit more obvious ... at a minimum I think that a dialog should come up with the information that the autocommit feature had a commit failure. The user should be given the option of doing an abort (and immediately forgetting the last unit of work) or turning off autocommit and giving the user the option of recovering their work before doing an abort.

[2019-09-24 17:09] ericwinger commented on #525
Note - ``Rowan projectTools audit auditAll isEmpty`` is proper api.  (Dale said https://github.com/GemTalk/Jadeite/issues/525#issuecomment-532435424 was not correct)

[2019-09-24 18:54] LisaAlmarode commented on #378
Testing in 3.0.77

 - [ ]  When I have the sunit browser showing the full set of test run results, and I also have a PB open, and I change from classes view to hierarchy view, I lose all my test result icons, but the upper red bar still shows the summary of test results.
First, I don't want to lose my results since I was trying to find the actual method that got the error.  Second, if you clear th

[2019-09-24 19:00] LisaAlmarode commented on #506
Copy seems to work fine.

Quibble:  If you have a target name that alrady exists, it puts up a debugger.
This ought to have an error dialog.

a UserDefinedError occurred (error 2318), reason:halt, There is already a class named 'Pink' in the system.

[2019-09-24 19:07] LisaAlmarode commented on #226
The specific problems with losing the breakpoints and senders/implementors after running in debugger is fixed.

While normally I would try to document all the places where these menu items go missing, given that so many of them are due to bad data from the server in this old server version, it's not really useful.

[2019-09-24 19:14] LisaAlmarode commented on #513
Opened rowan bug for Eric:
https://github.com/GemTalk/Rowan/issues/509

[2019-09-24 20:04] dalehenrich commented on #513
I refer you [this comment](https://github.com/GemTalk/Rowan/issues/509#issuecomment-534724450) ... the mistaken edit is occurring [right here](https://github.com/GemTalk/Rowan/blob/candidateV1.2/rowan/src/Rowan-Services-Core/RowanClassService.class.st#L815-L818) in RowanClassService code.

[2019-09-24 20:52] LisaAlmarode opened #526 "Inherited test cases that would fail are displayed as success"
Say you have a test case in a superclass, that depends on other class-specific protocol to determine if it will succeed or fail.  You run the tests in the superclass and they pass.
This is

If you run this test in the subclass, it will fail.  However, when you go to the subclass and the sunit tab, it displays successful results.

Example
Class named UpperTest has instance methods:

[code]
[code]

[2019-09-24 20:54] LisaAlmarode commented on #419
Filed issue #526 with simple and detailed reproduction case, see the WRONG for what the issue is.

[2019-09-24 20:54] #419 closed, assigned to LisaAlmarode

[2019-09-24 20:56] LisaAlmarode commented on #486
Can't reproduce; Dale reopen if it appears again.

[2019-09-24 20:56] #486 closed, assigned to LisaAlmarode

[2019-09-24 22:24] LisaAlmarode opened #527 "Multiple sessions can't keep console project list straight"
We don't fully support multiple sessions in one jadeite, but since we allow it, it can't be this broken.

I logged in as gemstone user Lisa, and tried to load a project; it contained a method referencing an class that wasn't loaded.  So I logged in a second time, as SystemUser, to remove that method.  But then my Lisa console displays the projects for SystemUser.

Go back to my SystemUser condole,

[2019-09-24 22:30] LisaAlmarode commented on #527
It goes downhill; the project browser gets confused too.  I was able to remove a method in one browser that said it was for SystemUser and showed Lisa's package, and I don't think the method was actually remove, but it's there and says Array does not understand #start.

[2019-09-24 22:38] dalehenrich opened #528 "(3.0.77) Invalid access to memory location on copy class"
I did a `copy class` and got this error after clicking on the okay button:
![image](https://user-images.githubusercontent.com/623951/65555273-08e8e780-dee1-11e9-9c86-f03c4d75e1bf.png)

Here's the vm stack:
[code]
I do have autocommit turned on (fortunately) ... so won't lose too much work

[2019-09-24 22:40] dalehenrich commented on #528
Yay! Autocommit, saved the result of the copy and then crashed on redisplay (presumably):
![image](https://user-images.githubusercontent.com/623951/65555439-8876b680-dee1-11e9-859e-89fb7fa06f0d.png)

[2019-09-24 22:42] LisaAlmarode opened #529 "Non-SystemUser can't browse Dictionaries"
Login as DataCurator, click on Dictionaries tab, then select a dictionary. boom.

a STONReaderError occurred (error 2710), Cannot resolve class named #'RowanDictionaryService'

[code]

[2019-09-24 22:49] dalehenrich opened #530 "(3.0.77) Go to containing dictionary ... doesn't"
BEFORE:
![image](https://user-images.githubusercontent.com/623951/65555940-d213d100-dee2-11e9-8745-7371aa2df378.png)
AFTER:
![image](https://user-images.githubusercontent.com/623951/65555965-e061ed00-dee2-11e9-9222-57ee86b6aa61.png)

[2019-09-25 03:51] LisaAlmarode commented on #488
I can login as non-System user in 3.0.77; but cf issue #529, which appears to have the same error, when browsing a symbol dictionary

[2019-09-25 04:18] LisaAlmarode opened #531 "debug-it on ad hoc expression not working"
I wanted to try out the debugger on some ad-hoc code that contained a block.  When I did debug-it, nothing happened.

It turns out that you cannot have leading whitespace before the first |.  This is perhaps a subset of issue #364, in which leading comments break debug-it; but disallowing white space seems unreasonable.  Surely we could add a trimSeparators.

the code that fails debug-it:

[code]

[2019-09-25 04:30] LisaAlmarode commented on #511
Dale, you're the github expert - if you get me access to that string I'll edit it.

[2019-09-25 04:34] LisaAlmarode commented on #335
There are several problems reported in this bug that I know we've seen and fixed previously.  In general the test results are consistent now.  In the absence of more detail, I'd say I'm pretty sure this has been fixed.

[2019-09-25 04:34] #335 closed, assigned to LisaAlmarode

[2019-09-25 16:27] dalehenrich commented on #511
@LisaAlmarode, I've given you and @ericwinger admin rights on this repository, so let me know if you can change the caption or not ..

[2019-09-25 17:24] LisaAlmarode commented on #511
Easy peasey now - thanks Dale!
However, @dalehenrich  and @ericwinger please take a look at how I describe it, it's a big change.

[2019-09-26 00:43] LisaAlmarode opened #532 "Can't compile class as DataCurator (3.0.77)"
Logged in as DataCurator, loaded RowanSample1.

Try to add or remove an instance variable from a class and it gives an error in the status bar:

ERROR: a SecurityError occurred (error 2116), An attempt was made to modify the object #'jadeiteCompileClassMethod'->nil in obje

I can copy a class... I just can't edit one, even one I just copied.

[2019-09-26 17:19] ericwinger commented on #521
Some thoughts:
- I think we'll need a "two-way" check. One from client -> server. The other from server -> client. Otherwise, there won't be a way to validate clients or servers that predated the check.  I'm not sure if there's a pre-existing server hook to catch an older client. Alternatively, we don't worry about that and just do a client-initiated check going forward. The latter is easier.
- Cu

[2019-09-26 18:14] ericwinger commented on #525
``JadeiteAbstractTestCase >> auditAll`` is created and sent by a couple tests but widespread use is not implemented yet because of performance concerns. Eventually need to address.

[2019-09-26 18:20] dalehenrich commented on #525
It isn't really necessary to auditAll ... an audit of the project that you are actually making changes should do the job of making sure that you don't use messages that you shouldn't to modify classes and methods ...

[2019-09-26 20:34] LisaAlmarode commented on #523
I think if we use control-shift-F  that really should be ifFalse, and control-shift D could be the other one (D is for derecha). The current choices are anti-mnemonic...

[2019-09-26 20:50] ericwinger commented on #523
Oh, sorry.  Ctrl-Shift-T is for ``ifTrue:[]``.  Ctrl-Shift-F is for class find, so shifting over one key to Ctrl-Shift-D, while anti-mnemonic, is easy for typing. Maybe we should say that it's "typonic"?

[2019-09-26 20:50] #523 closed, assigned to LisaAlmarode

[2019-09-26 20:51] LisaAlmarode opened #533 "Breakpoint browser seems muddled: method browser with duplicate methods"
There's browsing breakpoints, and then there's browsing a list of methods with breakpoints.  I think we lean toward the latter and otherwise muddle them together.

If I have three breakpoints in a method, it shows up in the list of methods with breakpoints (the alleged breakpoint browser) three times.  This isn't really useful, since it doesn't particularly highlight one or the other and if you re

[2019-09-26 21:01] LisaAlmarode opened #534 "Scope of Clear All Breakpoints is very confusing"
The only place I find the "Clear All Breakpoints" menu option in on the method menu in the Projects Browser.  This would intuitively apply to a selected method.

However, it does in fact clear all breakpoints anywhere in the system.

I think a "Clear all breakpoints everywhere" ought to be somewhere you might associate with the whole system, and not on the method menu.  Perhaps that should be on t

[2019-09-26 21:13] ericwinger commented on #534
I preemptively added a ``Clear All Breakpoints`` to the breakpoint browser in 3.0.78.

[2019-09-26 21:13] #534 closed, assigned to LisaAlmarode

[2019-09-26 22:53] ericwinger commented on #531
Fixed in 3.0.78. Should work for leading cr's & lf's too.

[2019-09-26 22:53] #531 closed, assigned to LisaAlmarode

[2019-09-26 22:55] ericwinger commented on #533
After talking with @LisaAlmarode, some of the work in unreleased 3.0.78 fixed the complaint with the exception of the duplicate methods. That is now also fixed.

[2019-09-26 22:55] #533 closed, assigned to LisaAlmarode

[2019-09-26 23:09] ericwinger commented on #529
Fixed in 3.0.78.  ``RowanDictionaryService`` needed to be added to ``RwGsPlatform>>serviceClasses`` for visibility of non-System User logins

[2019-09-26 23:09] #529 closed, assigned to LisaAlmarode

[2019-09-26 23:28] ericwinger commented on #532
Fixed in 3.0.78. Temp method ``#jadeiteCompileClassMethod``, uses for two-step compile was
not being put in ``SessionTemps current``. It was going to UserGlobals which
was incorrect.

[2019-09-26 23:28] #532 closed, assigned to LisaAlmarode

[2019-09-26 23:31] ericwinger opened #535 "Need better DataCurator tests"
Right now, the infrastructure is not in place for Jadeite to run tests as DataCurator. Need to make that happen sooner rather than later.

[2019-09-27 21:59] dalehenrich opened #536 "(3.0.77) format shortcut doesn't work in debugger text pane ..."
I didn't check whether or not the format menu item is present ... if it isn't, it should be and the shortcut should work

[2019-09-27 22:17] ericwinger commented on #535
There is a new test class ``JadeiteDataCuratorTestCase`` which logs out of SystemUser and into DataCurator before each test. I ported over a smattering of tests so that they can be run as DataCurator regularly. Added in 3.0.78

[2019-09-27 22:17] #535 closed, assigned to ericwinger

[2019-09-27 22:21] ericwinger commented on #536
Found and fixed that before issue was reported. Available in 3.0.78.

[2019-09-30 16:14] ericwinger commented on #530
The reason ``Go to containing dictionary`` didn't go anywhere was because the containing dictionary appears to be the empty string. On one hand, it's nice that there was no walkback. On the other, it's frustrating because it's not clear how the class's dictionary could be empty.

It's possible the class needed an update from the server, but without a reproduction case it's going to be difficult to

[2019-09-30 21:13] dalehenrich commented on #530
@ericwinger where is the code that defines the "containing dictionary"? is it in the Services code? If so, add a pointer to the place where you determine the containg dictionary and I shoul be able to provide you with a test case ... the problem reported above fails consistently, and it is in a private stone of mine:
![image](https://user-images.githubusercontent.com/623951/65917491-4db2c980-e38c-

[2019-09-30 21:18] ericwinger commented on #530
@dalehenrich  Take a look at ``RowanClassService>>setDictionary:``. See if that sheds any light.

[2019-09-30 21:18] dalehenrich commented on #530
Note that Rowan `knows` which dictionary the class is is (**Globals**), when it creates the class definition template:
![image](https://user-images.githubusercontent.com/623951/65917815-1d1f5f80-e38d-11e9-90ec-7cceb9bcba1b.png)

[2019-09-30 21:55] dalehenrich commented on #530
Looking at senders of `RowanClassService>>setDictionary:`, I see that both `RowanClassService>>basicRefreshFrom: ` and `RowanClassService>>minimalRefreshFrom:` **can** return the meta class and with a little bit of testing in my image, I see that `(Rowan image symbolList dictionariesAndSymbolsOf: GsQueryPredicate) first first name` produces`#'Globals'` ... which is the correct answer and `(Rowan i

[2019-09-30 22:02] ericwinger commented on #530
Ahh, you may have found it. Try this - If you click on the ``Class`` tab, I'll bet you don't see the dictionary. That would be a nice reproduction case.

[2019-09-30 22:08] dalehenrich commented on #530
Take a look at the final image in my previous comment ... I did select the 'Class' button ... howver, in the original report, the 'Instance' button is clearly selected, which is why I mentioned the the `metaClass` iv might default to `true` or you might be passing in a non-class object ...

[2019-09-30 22:09] ericwinger commented on #530
This image? The class side is selected.  ![image](https://user-images.githubusercontent.com/623951/65555940-d213d100-dee2-11e9-8745-7371aa2df378.png)

[2019-09-30 22:45] dalehenrich commented on #530
Exactly ... and as predicted ... the containing dictionary is empty ... it shouldn't be ... at a minimum this is wrong ... have you tried connecting to my stone? then you can do whatever experiments you need to do here ... AFAICT, both class tabs are already selected ... is there another class tab I am missing?

[2019-09-30 22:46] ericwinger commented on #530
The problem is the meta class that you pointed out. I've got a fix ready for 3.0.78 for you to try. ... Just needs tests

[2019-09-30 23:00] dalehenrich commented on #530
... your fix won't necessarily fix the original problem (or at best it will mask the problem) as in the original bug report the **instance** tab is clearly selected ... so I think it might be an initial condition problem as well ...

[2019-09-30 23:01] dalehenrich commented on #530
Now that I've been workin gin this project ... I've added two more packages and the problem does not reproduce (instance tab ending up with empty string for dictionary name) ... so there is clearly something else going wrong here ...

[2019-09-30 23:11] dalehenrich commented on #530
I am suspicious of this line of code:
[code]
if meta is nil, you will return the meta class for `theClass`, which is what I am seeing ... and the fact that you aren't using meta directly implies that in some circumstances meta will be set to a non-boolean value (`nil` perhaps) ... you've got an initialize method that sets meta to `false`, but the behavior that I'm seeing in my initial case, implie

[2019-09-30 23:22] ericwinger commented on #530
Yes, ``meta`` can legitimately be nil in some cases especially when the class service originates in Dolphin. e.g. Doing a find class doesn't yet know it's meta so it assumes false.

fyi - None of the images you've posted on this issue show the instance tab selected with the problem issue. If you can send me a picture of the instance tab selected & the problem dictionary I'll look into it further.

[2019-09-30 23:35] dalehenrich commented on #530
Ahh, I did not notice that ... I don't believe that I did anything other than open the project browser and select the class in question (without touching any of the class tabs) I assumed that I was looking at the instance side in my original bug report. So presumably there is another condition (closely related to my original bug report, which does not reproduce now:) where the class side of a clas

[2019-09-30 23:52] dalehenrich commented on #530
I see that the class tab **is sticky**:
![image](https://user-images.githubusercontent.com/623951/65924305-f5d28d80-e3a0-11e9-9ead-888eb61f9cfa.png)
... this is unexpected to me ... is this "stickiness" expected behavior?

Earlier today I wasted a fair amount of time writing code on the class side of a class when I thought I was on the instance side ... I couldn't understand why the project browse

[2019-10-01 00:02] dalehenrich opened #537 "(Oscar 3.0.77) dialog does not have focus"
![image](https://user-images.githubusercontent.com/623951/65924817-4814ae00-e3a3-11e9-82ac-f0671cd4c60c.png)
I just had a case where the focus was not taken by the dialog when I tried to do a load ... I logged out and tried again and got the same behavior (hitting CR did not select the 'Yes' button) ... I logged out again and now the issue won't reproduce ... for a very long time I have been in th

[2019-10-01 00:04] dalehenrich commented on #537
I just came back to the Jadeite window and the "lost focus" happened again ... I did another load and focus was handled

[2019-10-01 16:19] ericwinger commented on #530
The class tab "stickiness" is actually intended in some scenarios.

For example, if you have an open browser on a class with class tab selected then use Jadeite menu option ``New Projects Browser (Ctrl+N)``. It will open up the new browser on that class with the class tab selected. The assumption is that you want to open a new browser in the same place you are currently rather than starting from a

[2019-10-01 17:00] dalehenrich commented on #530
Well the case where I have observed the "stickiness" is when I switch to a different class in the same browserr ... I also did a `Find Class ...` earlier today and ended up with the class tab selected ... of course it didn't reproduce --- neither of these use cases fall under your "intentional Use case" ... so there does appear to be some more bugs in this area ...

[2019-10-01 17:03] dalehenrich opened #538 "(3.0.77) select class and method pane comes up empty ..."
I didn't take a picture, because I was trying to get work done so I clicked around and the methods reappeard... I've seen this happen several times in the last week or so ... naturally it does not reproduce ... but it has been quite a while since I've seen this behavior, which leads me to believe there's been a bit of a regression ...

[2019-10-01 18:14] dalehenrich opened #539 "(3.077) package not shown as dirty until it is reselected"
Here a picture of a freshly written package and classes:
![image](https://user-images.githubusercontent.com/623951/65988096-0c79f280-e43c-11e9-9947-56eecc1f892d.png)

After editing and saving the visible method (notice that I've added a comment and saved):
![image](https://user-images.githubusercontent.com/623951/65988166-30d5cf00-e43c-11e9-9e8e-7cc7bb57955a.png)
... the selected package is not it

[2019-10-01 21:02] dalehenrich opened #540 "(3.0.77) empty debugger panes ... no amount of clicking cures problem"
![image](https://user-images.githubusercontent.com/623951/66000158-b3b65400-e453-11e9-9685-8398ebb12885.png)

If I resize the debugger, the method pane **is** populated, however, a subsequent click returns to total emptiness:
![image](https://user-images.githubusercontent.com/623951/66000279-ef511e00-e453-11e9-92b3-6ba6ad682dd5.png)

[2019-10-01 21:15] dalehenrich opened #541 "(3.0.77) popup menu in debugger inspect/printString pane does not set focus; cannot do select all"
![image](https://user-images.githubusercontent.com/623951/66001159-cf225e80-e455-11e9-8fe1-5869b7e2357e.png)

[2019-10-01 21:21] dalehenrich opened #542 "(3.0.77) shortcut key for reformat source different than project browser, and it doesn't work"
`CTL-R` does not reformat source in debugger method pane ... in project browser `CTL-SHIFT-O' is the shortcut .... selecting the menu item does reformat source:
![image](https://user-images.githubusercontent.com/623951/66001513-7bfcdb80-e456-11e9-8ff9-8f95e4d2dd64.png)

[2019-10-01 22:04] dalehenrich opened #543 "(3.0.77) selected method not updating in project browser"
From the image below, you can see that the method source visible in the method pane does not match the selected method.
![image](https://user-images.githubusercontent.com/623951/66004035-8621d880-e45c-11e9-8791-76237223061e.png)
Note that there _is_ a debugger open and I do have auto commit enabled

[2019-10-01 23:52] ericwinger commented on #524
Should have a decent first-cut at this in 3.0.78. There is a menu option to disable it in the transcript if a user doesn't want it.

[2019-10-01 23:52] #524 closed, assigned to LisaAlmarode

[2019-10-02 17:42] ericwinger commented on #513
@dalehenrich is correct. Services is making the changes to methods and is responsible for updating renamed classes in method source properly. (Oversight / Faulty memory on my part)

I believe a fix is to look for references to the old class rather than the old class name in  ``RowanClassService>>renameClass:To:`` using ``ClassOrganizer>>referencesToObject:``. That will eliminate the immediate prob

[2019-10-02 17:52] dalehenrich commented on #513
@ericwinger I don't know of anyplace other than `ClassOrganizer` for doing references ... in the past I have written custom methods for tODE, but I don't think I've done anything quite like what you are looking for ... should be possible to write something that does that though

[2019-10-02 18:28] ericwinger commented on #513
I've improved the reference search to only search for references to the class, not the class name. https://github.com/GemTalk/Rowan/commit/b2074883f06323c3a6cf38524ec1bd5a5be4bdf6

@LisaAlmarode  Dale's suggestion to write up an object reference search with offsets is a good one. However, after reviewing the ``GsNMethod`` code, I think that's a bit outside the scope of our November release. If I'm

[2019-10-02 21:09] dalehenrich opened #544 "(3.0.77) refresh menu item would be useful in breakpoint browser"
I just got done disabling 3 or 4 breakpoints in the breakpoint browser, but without a refresh, I couldn't easily tell whether or not I had disabled all of the breakpoints I wanted to, so I had to close and reopen the breakpoint browser to see which ones were left ... it might make sense to automatically remove a method from the list that has had it's last breakpoint removed ... I think arguments c

[2019-10-02 22:13] dalehenrich opened #545 "first class breakpoint browser is desirable"
This is a follow-on to issue #544 ... apparently there are new features in 3.0.78 that allow the clearing, disabling and enabling of all breakpoints ... while these are good things to have, I think that it is important to be able enable, disable, clear each breakpoint individually as well as wholesale operations on all breakpoints ... I often have multiple breakpoints in a single method, so being

[2019-10-03 23:34] dalehenrich commented on #543
Just now, I had a similar problem ... in this particular case, when I clicked on a method the source would update but the method name in the method list would not be highlighed ... in both cases I have autocommit turned on ... also in both cases there was a debugger open ...

Today, when I closed the debugger, the project browser updated and the method name was correctly highlighted ...

Clearly t

[2019-10-04 20:13] ericwinger opened #546 "Walback while stepping through debugger. frameData implicated."
- Set a breakpoint at the ``with:with:with:`` step in method below.
- Execute method, open debugger, start stepping.
- When you have the ``do:`` highlighted, step one more time. Get walkback

The stack shows that
``RowanFrameData>>initializeProcess:level:organizer`` gets nil back when trying to get the frame data for level 1. Further digging shows that the in ``GsProcess>>_frameDescrAt:`` the ``ar

[2019-10-07 21:37] ericwinger commented on #291
Believe the case Lisa outlined is fixed in 3.0.78

[2019-10-08 16:57] ericwinger commented on #542
Fixed in 3.0.79

[2019-10-08 16:57] #542 closed, assigned to LisaAlmarode

[2019-10-08 17:08] ericwinger commented on #527
@LisaAlmarode  I wouldn't expect this to work at all and break badly.

Because it is a rather gross failure we can try to work around it and open a feature enhancement to allow multiple logins. One possible workaround is to disable the ``Login`` button after successful login and reenable it after logout.

If we do want to add the feature, we'll need a session browser. The feature request should id

[2019-10-08 17:12] ericwinger commented on #468
@LisaAlmarode Can you review in 3.0.78? I'm not sure which version [your comment](https://github.com/GemTalk/Jadeite/issues/468#issuecomment-529679660) is referencing.

[2019-10-08 17:53] ericwinger commented on #528
This frame tells me Dolphin's hierarchy view got in trouble.
[code]

However, the frame that threw the general protection fault is deep in the windows interface logic.
[code]

I'm inclined not to pursue this unless a reproduction case can be found. My feeble attempts to reproduce did not succeed. I tried with auto commit on /off, and copying various classes.

One thing that could be helpful is to